[2022-03-29 21:40] nirinchev opened #5364 "Opening a Realm with initialization_function that fails should delete it"
If the developer tries to open a Realm with `initialization_function` set to something that throws, we should delete the Realm file on error. This is because the next time the Realm is opened, the `initialization_function` must be invoked as the first failure should not have side effects. Pseudocode:

[code]

Currently, the first open will fail, but will create the Realm, which means that the seco

[2022-03-30 09:56] cmelchior opened #5365 "SyncSession::wait_for_upload_completion does not return error if session is invalid"
While trying to write some unit tests for Kotlin around waiting for upload and download I discovered something that looks like a bug.

1. Open a synchronized Realm
2. Restart Sync on the server using the Admin API, this correctly triggers a session error handler.
3. Attempt to call `SyncSession: wait_for_upload_completion` and `SyncSession::wait_for_download_completion`

Expected result: I would e

[2022-03-30 10:53] nirinchev opened #5366 "[C-API] SDK callbacks should be able to return error strings"
SDK callbacks, such as [realm_data_initialization_func_t](https://github.com/realm/realm-core/blob/4a4095fc9a153de4da9263182e12a68ae8fac47c/src/realm.h#L74) should be able to provide an error string along with the `false` value. The reason is that if an exception occurs in managed code, the SDK can return `false`, which will result in a generic exception being thrown by `Realm::get_shared_realm`.

[2022-04-01 16:46] mxmorris13 opened #5371 "Assertion failed: !client_destroyed_while_still_running"
#### SDK and version
SDK : Node.js
Version: 10.14.0

Platform: Windows 10 Pro
Electron 18.0.1
Node 16.14.2

#### Observations
Everything runs fine. When app is closed through normal window X behaviour, realm reports that it is closed after a realm.close() call, log reports that the connection is disconnected and then the application crashed

Connection[1]: Disconnected
C:\jenkins\workspace\realm_r

[2022-04-03 11:59] onelogapp commented on #5242
Hi, I finally managed to look at this again
I went a bit back in the stack trace, at `_ZN5realm12CascadeState25enqueue_for_nullificationERNS_5TableENS_6ColKeyENS_6ObjKeyENS_7ObjLinkE + 116`

[code]

The app was stopping at `src_table.get_object(origin_key).nullify_link(src_col_key, target_link);`
so I printed out `src_table.get_name().m_data` in the debug console which gave me the name of the obje

[2022-04-05 14:53] nirinchev commented on #5235
Related tickets:

[2022-04-07 12:03] #5348 closed

[2022-04-07 12:54] finnschiermer commented on #5360
Note: turns out the fix in #5360 is likely not addressing the real issue.

[2022-04-07 13:18] kraenhansen opened #5376 "Allow adding notifications while in write transactions"
#### Expected results
Users might want to add notification callbacks to collections and objects while in a write transaction.

#### Actual Results
[An exception](https://github.com/realm/realm-core/blob/master/src/realm/object-store/shared_realm.cpp#L584-L588) is thrown:
[code]

#### Steps & Code to Reproduce

1. Transition to a write transaction.
2. Try adding a listener.
3. Watch the world burn

[2022-04-07 13:42] cmelchior commented on #5376
I'm not sure I 100% understand the use case, and how it would work?

E.g. the listeners would not trigger here:

[code]

And other listeners would not trigger either:

[code]

So even if we technically could add the listener here, It would require a lot of documentation?

[2022-04-07 13:52] kraenhansen opened #5380 "Don't fire the object notification callback initially"
#### Expected results
I expect the object notifier to not be called initially, since it serves little purpose and makes implementation difficult for the `@realm/react` package.

#### Actual Results
When adding a notification callback to an object, it fires on the first advance of the database.

#### Steps & Code to Reproduce
[code]

#### Core version
Core version: 11.13.0

[2022-04-07 13:55] cmelchior commented on #5380
Note, that we are depending on this feature in Kotlin. But it should be easy to filter the first event in JS, no?

[2022-04-07 13:57] cmelchior commented on #5380
But it shouldn't trigger if there is no changes? 🤔

[2022-04-07 14:00] nirinchev commented on #5376
Yeah, I'm not sure the behavior here would be intuitive, especially when we consider transaction rollbacks. What happens to a listener you added in a transaction that was then rolled back - does it get unregistered or does it persist?

[2022-04-07 14:00] kraenhansen commented on #5376
I'm not looking for the listeners to fire immediately? But if the objects change in the future, they should fire and that would be useful?

[2022-04-07 14:01] kraenhansen commented on #5376
If should just not fire - ever.

[2022-04-07 14:01] cmelchior commented on #5376
What do you consider the future? After the write? As in the listener does nothing until _after_ the write completes?

[2022-04-07 14:03] tgoyne commented on #5380
The purpose of the initial notification is to tell you what the baseline is that you're now getting changes from. Adding a notifier is an async operation, and writes can happen between the call to addListener() and when the notifier is actually registered, which will not produce change notifications. Anything which does not use the initial notification to do something is almost certainly broken.

[2022-04-07 15:20] finnschiermer commented on #5360
New fix in progress here: https://github.com/realm/realm-core/pull/5375

[2022-04-07 17:09] kraenhansen commented on #5376
I would expect notifiers in your example would be fired if the object changed in the write transaction when the transaction gets committed just before exiting the call to write or on the next tick thereafter. If the transaction is cancelled the object never really existed and the listener should just be forgotten all together.

[2022-04-09 14:11] sync-by-unito[bot] opened #5385 "Improve write performance"

[2022-04-10 08:53] sync-by-unito[bot] opened #5386 "PBS: Assertion failed: from_link_ndx != to_link_ndx"
Discovered while fuzz testing Partition Based Sync. I will attach client/server/op logs, the offending realms, and a dump of __realm_sync. This is the stack trace:

[code]

cc [~mikeo@mongodb.com] [~tyler.kaye@mongodb.com]

[2022-04-10 08:57] jsflax commented on #5386
Upon initial investigation, operations.6252955910f0cf3802922b89.realm shows that the last operation was removing a `SwiftCollectionSyncObject`, which is the only object in the schema that has collection properties. Not sure that helps.

[2022-04-10 10:48] jsflax opened #5387 "Adding an object to a Set, deleting the parent object, and then deleting the previously mentioned object causes crash"
Crashes with `KeyNotFound(util::format("No object with key '%1' in '%2'", k.value, get_owning_table()->get_name()))`.

Simple repro case (from Swift SDK but I'm sure can be replicated in core):
[code]

<img width="540" alt="Screenshot 2022-04-10 at 11 46 31" src="https://user-images.githubusercontent.com/4356928/162614468-f8c3dc85-4dc0-4d38-99e8-6f86772f9226.png">

[2022-04-11 10:17] finnschiermer commented on #5360
Fixed by https://github.com/realm/realm-core/pull/5383

[2022-04-11 11:54] sync-by-unito[bot] opened #5388 "QBS: Bad sync progress received"
Using randomised testing + schema/object generation, so expect mangled names in the schema.

Attaching client/server/oplogs/offending realms.

[2022-04-11 12:01] Frans-L commented on #5360
Awesome to see that there's some progress here.

Is this also fixing this one: https://github.com/realm/realm-core/issues/5174 ?

[2022-04-11 13:46] jedelbo commented on #5351
@NZQN23 Not sure if we have seen exactly this before. Now that the error occurs during development, would there be any chance that you have the realm file that causes this trouble. And if so, would you be willing to share the file with us? It can be done privately.

[2022-04-11 13:59] NZQN23 commented on #5351
Hi @jedelbo, unfortunately I don't have the realm file anymore. The issue has not occured since but I still wanted to let you know. My assumption is that a write transaction happend in exact the moment, when the device was going through the hard reboot.

[2022-04-11 13:59] jedelbo commented on #5272
@tfe. Sorry for not getting back to you sooner. As long as we are not able to tell exactly what is wrong with the file, it is hard to say if this would be detectable or recoverable. Unfortunately I think there is too little information here for us to make further progress.

[2022-04-11 14:45] sync-by-unito[bot] opened #5389 "QBS: KeyAlreadyUsed exception thrown and not propagated"
The exception is thrown in Cluster::insert and then seems to be swallowed, so I do not have a stack trace outside of the attached photos.

Attaching client/server/oplogs/server dump/offending realms.

[2022-04-11 17:07] sync-by-unito[bot] opened #5390 "QBS: Bad Changeset Error Update: No such object: _ in class 'ObjectId{_}'"
Originally reported in https://jira.mongodb.org/browse/HELP-30200.

Repro'd again locally. Error:

`Update: No such object: SwiftPerson in class 'ObjectId{62545e2a6c98ed8b38fb132a}' (instruction table: SwiftPerson, version: 1339, last_integrated_remote_version: 1593, origin_file_ident: 5, timestamp: 229625898184)`

Attaching all things.

[2022-04-11 18:06] jsflax commented on #5389
Whelp, everyday's a school day.

[2022-04-12 07:28] jedelbo commented on #5389
Just looked into this. It is normal behavior to swallow this exception. It just means that we already have a tombstone for the object we are looking for. @jsflax What is the reason for creating this issue? What seems broken?

[2022-04-12 08:35] #5351 closed

[2022-04-12 13:57] #5389 closed

[2022-04-12 15:39] sync-by-unito[bot] opened #5396 "Crash in writeCopyTo"
### How frequently does the bug occur?
Sometimes

### Description
I have seen crashes in production when calling realm.writeCopyTo (see stacktrace).

This started happening in Realm 10.22.0 (which had a lot of issues), but I have since then upgraded to 10.24.0 and I am still seeing some crashes.

In this case it looks like there might be a loop in do_write_deep? The crash is repeated for the users

[2022-04-12 15:44] sync-by-unito[bot] opened #5397 "Null pointer crash in `create_object_with_primary_key` every time for certain DB"
### How frequently does the bug occur?
All the time

### Description
This started happening after updating from Realm 10.7.5 to 10.21.1 (and does not happen if I revert back to 10.7.5).

The database regularly gets into a state where any object creation will crash, every time. I've reduced the app down to the most minimal case, doing nothing upon launch but the following, and it still does it.

[c

[2022-04-12 19:14] cmelchior opened #5399 "[C-API] Sync Errors should expose underlying categories names for debugging purposes"
We want to retain as much information as possible when handling errors from Sync, as that will aid in debugging, but some information gets hidden.

E.g. we have SyncErrroCategory's defined here: https://github.com/realm/realm-core/blob/master/src/realm.h#L2893
But they hide information here: https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/sync.cpp#L214

So while having

[2022-04-12 19:22] cmelchior commented on #5399
The same applies to App Errors: https://github.com/realm/realm-core/blob/master/src/realm.h#L2512

[2022-04-12 19:28] fealebenpae commented on #5399
The enum cases already correspond to `std::error_category` instances you'll find in the C++ API's `std::error_code`s.

Out of curiosity, how does distinguishing between `std::system_category()` and `realm_basic_system_category` help? The later is a strict subset of the former, containing only the possible system errors that Sync's networking layer can generate. And ideally this entire category of

[2022-04-12 19:46] cmelchior commented on #5399
The goal is to be able to compose exception messages with as much detail as possible that will mirror the error from other SDK's like Java. End users will still just see something like this message `[realm.basic_system::21] Something went wrong`, but it is much easier to compare errors if they use the same category display as you don't need to have the mental overhead of figuring out how the C-API

[2022-04-12 19:47] cmelchior commented on #5399
Note, the categories currently exposed are probably fine for what we need. This issue is just about extending the error structs with the name of the error category as it is in C++.

[2022-04-12 19:54] fealebenpae commented on #5399
If you just need the string value of the `error_category` object's name in sync errors and app errors that'd be no problem at all. The way I read the issue description it seemed like there were categories not exposed at all in the C API, which would be a bug.

Mind you, exceptions are unfortunately a wholly different beast than errors in the C++ API, and exceptions sadly do not have the formal not

[2022-04-13 07:42] jedelbo commented on #5396
@sipersso I you are willing to share the corrupt realm file, you can send it to jorgen.edelbo@mongodb.com. Then we can possibly get a better understanding of what could have caused the corruption and if we would be able to give better error messages.

[2022-04-13 07:59] #5387 closed

[2022-04-13 13:51] nicola-cab commented on #5363
Yes indeed, it can also happen before that, so realm must be closed. And probably this is the reason behind why certain object store tests are not running correctly on windows. We could probably solve multiple problems fixing this issue, along with this one https://github.com/realm/realm-core/issues/5364

[2022-04-13 16:01] tgoyne commented on #5363
If an exception being thrown is resulting in a Realm which is never returned from get_shared_realm() remaining open, calling `close()` on it does not make sense as a solution, as that's just partially working around a memory leak. Do you have an example of code which results in the Realm being open when it shouldn't be? A basic test doesn't show it happening:

[code]

[2022-04-13 21:06] cmelchior opened #5402 "`ClientErrorCode::user_not_found` has ambiguous root causes"
In the Kotlin SDK we are trying to map Core errors to something more actionable and `ClientErrorCode::user_not_found` is causing   problems.

It is being used in a bunch of places:
- `switch_user` (as `IllegalArgument`)
- `remove_user` (as IllegalArgument`)
- `delete_user` (as IllegalArgument AND IllegalState)
- `link_user` (as IllegalArgument AND IllegalState)
- `refresh_access_token` (as Illegal

[2022-04-14 10:29] nicola-cab commented on #5363
@nirinchev  can you provide a sample of code that is leaking the realm? As per @tgoyne  request, he does not believe we should implement a fix for that inside core.
Also, I don't know if this could apply also to https://github.com/realm/realm-core/issues/5364, it seems a little different though.

[2022-04-14 15:41] jbreams commented on #5402
It looks like there are a few places where we should be using `ClientErrorCode::user_not_logged_in` in app.cpp rather than `ClientErrorCode::user_not_found`.

The two places I found where it seems like we're doing the wrong thing are here:
- https://github.com/realm/realm-core/blob/9bde3dc2e304d0161f61786697463e046a51d2ac/src/realm/object-store/sync/app.cpp#L651
- https://github.com/realm/realm-co

[2022-04-14 15:47] jbreams commented on #5399
We're looking to add the concept of categories to exceptions in the unification of error handling that @jedelbo is working on, which I think that should help here as well.

@cmelchior , is there anything else to be done here in the very short term (the next week or two) while @jedelbo is working error unification or will it suffice to fold this ticket into that work to make sure we expose categori

[2022-04-14 17:32] jbreams commented on #5328
We do not currently guarantee ABI stability in our C++ headers and - except where otherwise indicated - enums represent symbolic names only. Simply changing the ordering of enum values or the ordering of struct/class layouts should not be a breaking change for SDKs. If it is, I think that points to a design problem with how that SDK is interfacing with core.

The exception to all of this is the C

[2022-04-15 14:51] #5390 closed

[2022-04-16 20:22] nirinchev commented on #5363
Okay, after some further digging, this looks like awkwardness of the API when used by garbage collected languages. The specific test that I am looking at that triggers the issue is:

[code]

The reason why this fails is because we're adding a `Person` to the Realm before throwing. This will create an instance of a `Person` which holds a native `Object` instance, which holds a `std::shared_ptr` to

[2022-04-18 13:10] jbreams commented on #5242
@onelogapp - apologies for the late response - that behavior is indeed very frustrating and wrong and we should absolutely make that raise an error rather than crash. Can you say what kind of schema change were made to the table? I'd love to try to construct a minimal repro that we can add to our tests going forward.

[2022-04-18 13:18] sync-by-unito[bot] opened #5405 "Invalid prior_size (list size = 0, prior_size = 1)"
Fairly simple repro case. Here is the schema:

[code]

The repro code is fairly straightforward:

[code]

Spawning a bunch of threads, 3 users will randomly add, delete, or modify/add to the list property on SimplePrimaryKeyObject2. The test can repro the error with both lists of links or primitives.

Attaching client logs, server logs, and db dump. cc [~tyler.kaye@mongodb.com] [~mikeo@mongodb.com

[2022-04-18 20:02] tgoyne commented on #5363
Why can't you just call close() in your wrapper for initialDataCallback? You have a reference to the Realm there.

[2022-04-18 22:42] nirinchev commented on #5363
We can, it just doesn't seem semantically correct for the SDK to close a Realm instance it didn't create. We'll also need to do this in migration callbacks, which is fine as far as I can tell, but things get a little complicated when you factor in things like `should_compact_on_launch`. We don't have a reference to the realm there, yet the developer may do something silly like divide by zero or si

[2022-04-18 22:45] nirinchev opened #5406 "[C API] No way to propagate errors from `realm_should_compact_on_launch_func_t`"
As a general practice, all callbacks that invoke user code should have a mechanism to propagate errors. If a developer fat-fingers division by zero or something, we want opening the Realm to fail and a descriptive error to get propagated to the developer. Right now, the best we can do is return `false`, which will not compact the Realm but will also not notify the developer they did something wron

[2022-04-18 22:55] tgoyne commented on #5363
How is initialDataCallback getting called on a Realm instance that the SDK didn't create? We do have some places where we internally create Realm instances, but if any of those are making calls out to the SDK while creating them something has gone very wrong.

If there's a way for the SDK to have a reference to the Realm at the point where `should_compact_on_launch` is called then things are broke

[2022-04-18 23:18] tgoyne commented on #5363
I think my general objection to this idea is that it's complicating an already complicated part of the code (are we really sure that every single point during Realm opening which throws an exception leaves the Realm in a state where calling close() works?) and doesn't seem guaranteed to work (at the minimum, the `old_realm` parameter to migration blocks also needs to be closed). More broadly, the

[2022-04-18 23:59] nirinchev commented on #5363
I guess I wasn't particularly precise with my wording here. What I meant was that the lifetime of the Realm instances we're getting in the initialization and migration callbacks is managed by Core/OS. The fact that the SDK is allowed to close seems more like an implementation detail to me than something guaranteed by the API design. Hypothetically, the Core team may decide they want to store somet

[2022-04-19 10:15] nicola-cab commented on #5363
@tgoyne  what you are proposing seems to me something bigger in terms of code, and for sure will complicate the code, although it will surely work for `initialDataCallback`.
However, this callback seems the only place where we need to be careful, since we can  throw an exception in many other places in `Realm::get_shared_realm`.
It seems we will have to create a tmp realm and swap it with the curr

[2022-04-19 11:46] nirinchev commented on #5363
I think https://github.com/realm/realm-core/issues/5364 is related, but can probably be handled separately. For that one, the thing we need to ensure is that if we create a file and opening it fails, that file should be deleted and for that we don't really need to swap out Realms or stuff like that.

[2022-04-19 13:12] nicola-cab commented on #5363
Well, both fixes need to be placed in the same code path, we need to catch the exception thrown, close realm/delete the file and re-throw. https://github.com/realm/realm-core/issues/5364 is essentially a super set of this one.
I can extend my changes in order to delete the files, but essentially I will be fixing both cases.

[2022-04-20 07:23] rorbech opened #5408 "[C-API] Support for embedded objects"
#### Describe your problem or use case
The C-API need support for embedded objects.

#### Describe the solution you'd like
Don't have a clear suggestion, but I assume that embedded objects can't be created with the existing `realm_object_create` as it doesn't have any information about the parent object and parent property name.

[2022-04-20 10:32] sync-by-unito[bot] opened #5409 "RQL sent to server for links should use encoding that the server can understand"
Currently, if you set a subscription on a link in flexible sync, the following query will look like the following:

[code]

This is the internal realm object key and is not something that the server knows anything about. Ideally this would contain the _id field of the linking object (primary key) and perhaps the table name being linked to as well. Any idea if this is a big lift or is this somethin

[2022-04-20 10:51] nirinchev commented on #5366
This is needed for all callbacks, including migrations. Even better than error strings would be a way to provide the actual exception as a void* that is then somehow surfaced to the SDK.

[2022-04-20 13:21] kraenhansen commented on #5380
@tgoyne I heard this from @astigsen too, but isn't this the case for collections only? Is this also the case for object notifications?

[2022-04-20 13:48] cmelchior commented on #5402
yes, those two places are the problematic ones, but it is slightly more convoluted.

The `if` statement is this:

[code]

To better improve the error handling splitting like this would be ideal:

[code]

That would allow us to treat `user_not_found` as a `logic_error` or `IllegalState` while `user_not_logged_int` could correctly be turned into an `IllegalArgumentException`.

But if that was fixed,

[2022-04-20 13:50] cmelchior commented on #5402
Actually, I'll just create a PR for this, as that seems to be enough for this.

[2022-04-20 13:59] kraenhansen commented on #5380
Seemed we found a suitable workaround on the JS side 👍

[2022-04-20 13:59] #5380 closed

[2022-04-20 13:59] kraenhansen commented on #5376
Seemed we found a suitable workaround on the JS side 👍

[2022-04-20 16:07] tgoyne commented on #5380
Object notifications are just a special case of collection notifications. Neither of them will produce notifications for things like sync applying changes in the window between when addListener() returns and when the notifier thread produces the Initial notification.

[2022-04-20 16:19] nirinchev opened #5414 "[C API] Expose obj.to_string"
We mostly need this for testing purposes to ensure that the values in Core match the values surfaced by the SDK.

[2022-04-20 17:22] sync-by-unito[bot] opened #5416 "SDK Feature/Enhancement Requests"
- [x] [Implement RefreshAsync at core level](https://github.com/realm/realm-core/issues/5246)
- [x] [Automatic handling of backlinks when migrating to EmbeddedObject](https://github.com/realm/realm-core/issues/4729)
- [x] [Allow anonymous users to be logged in without reusing existing ones](https://github.com/realm/realm-core/issues/4607)
- [ ] [Realm instances should have a complete view of their

[2022-04-20 18:35] sync-by-unito[bot] opened #5417 "Implement Logging at Core Level"

[2022-04-20 21:30] nirinchev opened #5419 "[C API] Expose User.refresh_token/access_token"

[2022-04-21 07:59] edualonso opened #5420 "[C-API] Missing catch for `AppError` in `ErrorStorage::assign`"
`realm_app_switch_user` throws an `AppError` when trying to switch to a user that isn't logged in. However, said exception isn't propagated properly as `ErrorStorage::assign` doesn't catch it and gets translated into a generic `RLM_ERR_UNKNOWN`.

[2022-04-21 10:19] nicola-cab commented on #5366
I have few questions about this:
1) c-api already catches the exception thrown most of the time and fails with some return `false`, what if the exception happens before to run the callback? Do you want more info in general or just in case something in the callback fails/throws?

2) Narrowing the exception into some `void*` although appealing, I don't think will match well with all the sdks (how do

[2022-04-21 10:46] nirinchev commented on #5366
The C API can't catch errors that occur in managed code. Perhaps I'm misunderstanding you first question, but the intent here is that when an exception occurs in user code, that will get propagated correctly through Core.

Regarding 2. it's up to the SDK to decide how they represent the managed exception. The benefit of passing in an actual exception is that it preserves the stacktrace - e.g. a nu

[2022-04-21 15:19] jsflax commented on #5366
So why doesn't this already work with `realm_get_last_error`?

[2022-04-21 15:27] nicola-cab commented on #5366
Because, when the callback (`realm_data_initialization_func_t`) throws, the sdk should catch the user code exception and return true/false based on success/failure.

Then core will throw a generic `CallbackFailure` exception without adding any other information in case of failure.

Effectively, losing stack trace, and not even indicating what the root cause for this error was.
I guess the bare min

[2022-04-22 01:07] #5414 closed

[2022-04-22 04:59] BlueCobold opened #5810 "Decryption failed - page zero has wrong checksum"
### How frequently does the bug occur?

Seen once

### Description

A customer of my app reported suddenly being unable to launch my app. It terminates on first access of the database and it turns out that it is broken for some reason.

It might have broken during a realm migration, but this is uncertain. Newly created files work just fine. I might possibly be allowed to share the db file to a dev

[2022-04-22 06:33] cmelchior opened #5421 "[C-API] Duplicate protocol error codes are breaking enum semantics"
In the protocol error codes, there are two entries with the same error number: https://github.com/realm/realm-core/blob/master/src/realm/sync/protocol.hpp#L231

[code]

Which is also present in the C-API: https://github.com/realm/realm-core/blob/master/src/realm.h#L2981

This is causing issues for downstream consumers which expect that error codes are unique and can be used to identify a single er

[2022-04-22 07:00] nirinchev commented on #5421
Why are we even exposing deprecated error codes to consumers?

[2022-04-22 07:12] cmelchior commented on #5421
Yup, very good point. I don't know exactly what deprecated means, but if there is no longer a chance of these codes showing up, we might as well remove them completely.

[2022-04-22 08:35] sync-by-unito[bot] opened #5422 "Implement Compensating Writes"

[2022-04-22 08:39] sync-by-unito[bot] opened #5423 "Need error message for object creation before subscription"

[2022-04-22 09:59] nirinchev opened #5424 "[C API] Expose ObjectStore::rename_property via the C API"

[2022-04-22 10:01] nicola-cab commented on #5421
I am not sure if we can assume that those codes are never going to be sent by the server. @jbreams can we assume that?
However, I don't see a valid reason for keeping them both.

[2022-04-22 10:16] cmelchior opened #5425 "[C-API] Client Resets are not supported"
Currently SyncErrors are reported through this struct: https://github.com/realm/realm-core/blob/master/src/realm.h#L3019

However, this doesn't have information about whether the error is a ClientReset which requires special handling. This makes it impossible for SDK's to know when we should trigger ClientReset flows instead of just normal error handling.

In the C++ API there is a special method

[2022-04-22 10:19] cmelchior commented on #5425
Futhermore, we cannot run manual client resets as `SyncManager::immediately_run_file_actions()` is not available either.

I haven't looked into whether the new `DiscardLocal` mode is supported either, but I would guess that is missing as well

[2022-04-22 10:28] cmelchior commented on #5294
I also just hit this in Kotlin in the C-API.

The logs are super informative:

[code]

While the exception message, both in the SyncErrorCode and the `detailedMessage` gives no hint at all about what could be up:

[code]

Sending the underlying reason in the error message would be quite valuable.

[2022-04-22 11:30] jedelbo commented on #5397
@tfe I assume you were able to get to this error situation when using a debugger? Could you perhaps tell which pointer is null? I wonder if this has something to do with a bug that surfaced in v10.21.1. It could be interesting to know if the problem exists in v10.21.0.

[2022-04-25 08:40] Frans-L commented on #5360
Hey! Do you have some updates / educated guesses on whether this has been really fixed or not? This issue is still open and most of the linked issues also.

I know that no one has been able to reproduce this bug reliably. So, I understand that it's difficult hard to know whether this has been fixed or not.

However, do you have some estimation of whether this is really fixed, or was the "fix" just

[2022-04-25 09:37] #5360 closed

[2022-04-25 09:47] #5190 closed

[2022-04-25 09:47] #5332 closed

[2022-04-25 11:11] #5408 closed

[2022-04-25 13:16] #5424 closed

[2022-04-25 14:47] #5215 closed

[2022-04-25 19:16] nirinchev opened #5430 "[C API] Methods that populate arrays should bail if the SDK array is too small"
The behavior of `realm_get_class_keys` and `realm_get_class_properties`. Typically, when we have C methods that populate SDK-allocated arrays, they should not write any data to the array if the native elements are more than the size of the array. Instead, what both methods do is they fill in the entire array with as many elements as can fit and then report `out_n` that is equal to `max`. This forc

[2022-04-25 19:19] nirinchev commented on #5430
I just noticed `realm_app_get_all_users` behaves the same way and there, this is a legitimate bug. While the schema can't change on a different thread, the users array can, so in the time between invoking `realm_app_get_all_users(app, nullptr, ...)` and `realm_app_get_all_users(app, actual_array, ...)`, the array may have changed and we may be missing a user.

[2022-04-25 19:33] nirinchev opened #5431 "[C API] Expose an alternative of `realm_sync_subscription_set_insert_or_assign` that takes a results"
SDKs work with Results not queries and don't randomly hold references to the `realm_query_t` handle. The native results already hold a reference to their query, so Core can take it from there.

[2022-04-26 07:55] #5402 closed

[2022-04-26 13:29] #5185 closed

[2022-04-26 14:57] cmelchior commented on #5399
It can wait for Unified error handling to land 👍

[2022-04-26 16:11] sync-by-unito[bot] opened #5435 "Random Realm crashes"
### How frequently does the bug occur?
Sometimes

### Description
We just rarely receive crash reports in the Crashlytics

### Stacktrace & log output
The app was in the background for 20 minutes and then received some time to run in the background or was moving to the active state and crashed. One log also had `Reading failed: Premature end of input` and `Connection[1]: Connection closed due to e

[2022-04-26 16:24] nicola-cab commented on #5425
@cmelchior  I think we need to expose the whole callback flow here.
The sdks will have to register a function ptr that will be called in case of client reset errors.
We will have to expose:
`SyncError::is_client_reset_requested() `and `SyncManager::immediately_run_file_actions()`.

Also, do we want to expose only manual client reset?

[2022-04-26 16:30] cmelchior commented on #5425
No, we also need DiscardLocal which had some callbacks associated with it...also recovery mode, but that is not in master yet.

[2022-04-26 16:37] nicola-cab commented on #5419
@nirinchev, `refresh_access_token` is a private method, would `refresh_custom_data` work for you? I think it does what you want.

[2022-04-26 18:38] nirinchev commented on #5419
I realize the title may be misleading - apologies about it. What I meant was exposing the `access_token` and `refresh_token` properties on the user:

https://github.com/realm/realm-core/blob/c3304e2a3b390c7456b007865edfced400fa7189/src/realm/object-store/sync/sync_user.hpp#L258-L260

[2022-04-27 09:01] #5421 closed

[2022-04-27 11:07] onelogapp commented on #5242
No worries. I'll give you full old and new schemas this weekend. I can say before that that the changes were indeed destructive and sizeable. I'm aware of best practices around that however since the app is still in development I didn't bother with versioning and making changes additive as I wanted the app to have the first "live" schema as close to future proof as possible. Changes were made beca

[2022-04-27 11:30] nicola-cab commented on #5406
I think we discussed this already @nirinchev, probably regarding `init_data_callback` when you open a realm.
There is a simple solutions here:
 - add a new c api that sdks can use to store a temporary string that will be added as a property of `CallbackFailure`

Or A more complicated one:
- add a new c api that skds can use to store a generic `void*` ptr representing the exception itself and use t

[2022-04-27 12:10] nirinchev commented on #5406
The issue here is slightly different than other callbacks (though the solution may be the same for both). They expose a way to return a boolean indicating whether the callback succeeded or not, but do not expose a way to propagate the actual exception.

On the other hand, `should_compact_on_launch` uses the boolean return argument as an indication whether the Realm should be compacted or not, but

[2022-04-27 22:24] ironage commented on #5435
@anton-plebanovich thanks for reporting this! It looks like an assertion failure, is there an assertion message captured from stderr on these devices that you can share? Getting a reproduction case for this would be ideal, but I understand that may be difficult to obtain.

Guessing about the network thread sent to the background sounds promising. Maybe it is an edge case that we have not handled c

[2022-04-28 00:17] anton-plebanovich commented on #5435
@ironage Sadly, there is only `crash_info_entry_0: abort() called` entry attached to the crash report. I doubt I can have easy to reproduce steps because we have a lot of users and they for sure background the app often but amount of crashes is few.

[2022-04-28 02:57] dhananjaysimuwatt opened #5443 "Observing crash when opening synced realm"
#### SDK and version
SDK : Realm Javascript
Version: 10.16.0

#### Observations
* How frequent do the crash occur? - Every time when we are opening app with initial sync
* Does it happen in production or during dev/test? - It is happening in production environment only
* Can the crash be reproduced by you? - Yes
* Can you provide instructions for how we can reproduce it? - I am trying to open sync

[2022-04-28 05:17] cmelchior opened #5444 "[C-API] All properties on Subscription are not available"
It looks like only SubscriptionSet and MutableSubscriptionSet API's were added to the C-API. None of the properties for a single subscription are available: https://github.com/realm/realm-core/blob/master/src/realm/sync/subscriptions.hpp#L42

[2022-04-28 05:44] Shubhashree97 opened #5445 "Crashed: Realm notification listener, SIGABRT ABORT 0x00000001f9cd9b78"
#### SDK and version
SDK : RealmSwift (Cocoa)
Version: 10.5.2

#### Observations
* How frequent do the crash occur? - 2 crashes for 2 user
* Does it happen in production or during dev/test? - in production
* Can the crash be reproduced by you? - No
* Can you provide instructions for how we can reproduce it? - No

#### Crash log / stacktrace

Key : crash_info_entry_0 - abort() called

Crashed: Real

[2022-04-29 08:41] sync-by-unito[bot] opened #5448 "SyncSocketProvider eventloop migration"
Once the `DefaultSocketProvider` has been created, this task is to migrate everything to use the Service event loop in the `DefaultSocketProvider` and move the Service thread from `SyncClient` into that class.

Things to consider - the flx_harness uses `Client` directly and calls `run()` on its own thread as well as stopping the Sync Client. This will need to be reworked, since the event loop will

[2022-04-29 08:41] sync-by-unito[bot] opened #5449 "Tests for Custom Network Layer [Core]"
Update the ssl/networking compile out test to use a "real"-ish SyncSocketProvider implementation to verify the Sync Client can be run without the default components compiled in.

[2022-04-29 08:41] sync-by-unito[bot] opened #5450 "Create DefaultSocketProvider class"
Tasks

* Create DefaultSocketProvider to update EzSocketFactory to be a subclass of the SyncSocketProvider class (include additional functions to prevent changing the "world" at this point, e.g. keep the EzSocketObserver and create additional structure to pass SyncConfig items into connect() function)
* Move service from ClientImpl into DefaultSocketProvider
* Move random from ClientImpl into EzSo

[2022-04-29 09:00] sync-by-unito[bot] opened #5451 "toJson serialization behaves incorrectly for dates on Windows, Linux, and Android"
We're testing round-tripping date properties in the dart SDK and noticed that json serialization behaves inconsistently. For example, the date `-0001-01-01 00:00:00` - I.e. year 1 BCE is encoded as `-001-01-01 00:00:00` on Apple platforms, but as empty string on Windows (looks like all dates equal to or below 0000-01-01 00:00:00 get encoded as empty on Windows).

The date 0000-01-01 00:00:00 gets

[2022-04-29 23:08] #5288 closed

[2022-04-30 01:02] #5289 closed

[2022-05-03 15:00] #5222 closed

[2022-05-03 22:21] ironage commented on #5445
Hi @Shubhashree97 thanks for reporting this!
Swift version 10.5.2 is using Core version v10.4.0 (2021-02-09). Are you able to update your app to the latest version of Realm?
Are you able to send us the Realm that is crashing by any chance?

[2022-05-03 22:52] ironage commented on #5443
Hi @dhananjaysimuwatt thanks for reporting this. Does the client write any initial data to trigger this, or is it only a first time sync that is pulling down data from the server? Do you know roughly how big the Realm is at the point of the assertion failure? Would you be willing to privately share your server app id and some user credentials that we could use to try to reproduce this ourselves?

[2022-05-04 10:19] dennis-fritsch opened #5458 "Azure Storage TLS CA changes"
Good day and first of all, thank you for the great open source library.

Currently we are using Version "10.20.0-beta.5" of realm in react-native.

https://techcommunity.microsoft.com/t5/azure-storage-blog/azure-storage-tls-critical-changes-are-almost-here-and-why-you/ba-p/2741581

We received this information from Microsoft Azure and found the "Baltimore CyberTrust Root" CA in the "root_certs.hpp

[2022-05-04 10:47] #5431 closed

[2022-05-04 13:52] Friscxion opened #5459 "Assertion failed: size < (1 << section_shift)"
#### SDK and version
SDK : NodeJS
Version: 10.4.1

#### Observations
* How frequent do the crash occur?
Always occured now but never before
* Does it happen in production or during dev/test?
Production and dev
* Can the crash be reproduced by you?
Each time I push data on realm DB

#### Crash log / stacktrace
 C:\jenkins\workspace\realm_realm-js_master\vendor\realm-core\src\realm\alloc_slab.cpp:20

[2022-05-04 15:10] #5419 closed

[2022-05-04 20:32] #5425 closed

[2022-05-06 00:45] #5290 closed

[2022-05-06 14:24] nielsenko commented on #5444
Fixed

[2022-05-06 14:24] #5444 closed

[2022-05-06 17:18] nicola-cab commented on #5459
Hello, thanks for reporting this, there is something odd either with your realm or a possible bug. Can you please share how you ended up in this situation?
Your code is "crashing" because a basic assertion is failing, thus the memory cannot be allocated in order to accommodate your data.

[2022-05-06 17:25] nicola-cab commented on #5458
It should be fine, I think you do not need to do anything else, @jbreams  am I right?

[2022-05-07 08:44] Friscxion commented on #5459
Hello, I solved my problem by changing completely the schema of my database.
I think my database was too big.
I had 8 million objects and when I deleted some of them, my database was working again.
Thanks you, sorry for the inconvenience

[2022-05-07 08:44] #5459 closed

[2022-05-08 10:44] blagoev opened #5467 "[C-API] String not copied when populating user identities"
The string here needs to be copied to the output array. Right now I believe the string is released when it gets out of scope. Not sure how. I suspect the vector of identities is being copied locally.
https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/app.cpp#L738

[2022-05-09 11:16] nicola-cab commented on #5459
No problem. Thanks for letting us know.

[2022-05-09 12:44] nicola-cab commented on #5467
I'll have a look

[2022-05-09 13:19] nicola-cab opened #5469 "Realm Sync client should not set _id field if not needed"
#### Expected results
Trying to insert into a collection that does not support pk alterations should not fail using Rules.

#### Actual Results
Since sync client tries to always set pk field _id, if the schema does not support alternation of the pk, the insertion will fail.
Eg this schema does not allow _id alternations, thus insertion will always fail (since we are setting _id in the sync client)

[2022-05-09 15:01] jbreams commented on #5469
So on the mongodb side, `_id`'s are always completely immutable. There is no support for changing them and you can only set that field when you create the object. I'd be very surprised if core/the sync client is setting the `_id` field outside of the CreateObject instruction. Do we have a test case or a reproduction where we're seeing that behavior?

[2022-05-09 15:43] nielsenko opened #5470 "Cannot erase and find subscriptions by results set on C-API"
_Originally posted by @nirinchev in https://github.com/realm/realm-dart/pull/496#discussion_r865823722_

[2022-05-09 15:46] nicola-cab commented on #5470
Let me have a look, good point. I should have added these overloads as well.

[2022-05-09 19:53] sync-by-unito[bot] opened #5472 "Sync client prior_size tracking bug"
We've had a number of customer reported issues without a reproducible root cause where some sequence of writes will result in creating a changeset with an invalid `prior_size`. This is a tracking bug for those issues.

[2022-05-09 23:28] nirinchev opened #5473 "An overly strict name file name assertion in get_existing_realm_file_path"
`SyncManager::path_for_realm` allows SDKs to specify `custom_file_name` if they wish to overwrite whatever Core uses as default for the file name:

https://github.com/realm/realm-core/blob/e55c09d85ecbffcb39abf3701a988030c35f3a3e/src/realm/object-store/sync/sync_manager.cpp#L576-L585

However, that eventually calls into `SyncFileManager::get_existing_realm_file_path` that asserts that the name is

[2022-05-09 23:32] nirinchev commented on #5208
I'm still able to reproduce the access violation crash. This is the .NET test:

[code]

This roughly translates into:

[code]

[2022-05-10 00:16] nirinchev commented on #5208
Apologies, I translated the C# code too sloppily.

[code]

So yes, I'm reassigning subs to the return value of `mut_subs.commit()` and I'm getting state change notification on `subs` that now holds the returned `SubscriptionSet` from `commit`.

[2022-05-10 09:18] #5308 closed

[2022-05-10 12:12] cmelchior opened #5475 "[C-API] API's for deleting a single anonymous subscription has not been exposed"
In the C++ API there are methods for deleting a single subscription using an iterator: https://github.com/realm/realm-core/blob/master/src/realm/sync/subscriptions.hpp#L238

This capability has not been exposed in the C-API making it impossible to delete a single subscription.

For named subscriptions, we can just use: https://github.com/realm/realm-core/blob/e55c09d85ecbffcb39abf3701a988030c35f3a

[2022-05-10 16:04] #5399 closed

[2022-05-10 16:06] #5231 closed

[2022-05-11 10:54] nicola-cab commented on #5467
I had a look at the code, yes. We have a local instance for the vector of identities that goes out scope, we can't just return a ptr to the string. I suggest we change the signature of the function to match: `realm_app_get_all_users`

[2022-05-11 14:01] #5475 closed

[2022-05-11 15:21] nirinchev opened #5478 "[C API] Expose an API to get the app from user"
SDKs need to be able to expose the `App` instance on `User` classes. This is fairly easy for users created by the SDK but it's not possible for users that we get from Core - e.g. `realm_sync_session_get_user`. We should expose an API to get the app from the user. This is what we have in the .NET SDK and we should be able to port it to the C API:

[code]

[2022-05-11 16:23] nicola-cab opened #5480 "Add tests in the C API for app interface"
#### Describe your problem or use case
All the functions exposed in this file: https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/app.cpp
must be tested for the C API

#### Describe the solution you'd like
Add tests in order to verify https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/app.cpp

#### Additional context
N/A

[2022-05-12 12:25] jedelbo commented on #5467
Another approach would be to turn the interface around like this:
[code]
So `realm_user_get_all_identities` would return an opaque pointer to a structure holding the identities. The client would have to `realm_release` this structure. Perhaps this approach could be used for similar cases. That would also solve the discussion in #5471. You can see a possible implementation in branch `je/user-identi

[2022-05-12 12:30] jedelbo commented on #5467
The above comment should have been on the PR

[2022-05-16 18:36] nirinchev opened #5486 "[C-API] `realm_app_sync_client_get_default_file_path_for_realm` should not have app as an argument"
`realm_app_sync_client_get_default_file_path_for_realm` currently requires both the app and the sync config as arguments which is unnecessary. We can get to the sync manager via the config user and we do know that the user must be set on the config because it's used by `path_for_realm`. I suggest that we remove the app argument and simplify the method to something like:

[code]

[2022-05-16 19:49] sync-by-unito[bot] opened #5487 "Ensure compensating write errors are correctly sequenced"
Errors for compensating writes need to be surfaced to the client after the DOWNLOAD message containing them has been received and processed. Otherwise, it's possible - if you disconnect/reconnect in the right order - to surface a compensating write error for a compensating write that will never actually arrive.

[2022-05-17 07:25] desistefanova opened #5490 "[C-API] Missing user account deletion API"
We are missing exposed function in realm.h for user account deletion. Related to #4945

[2022-05-17 12:49] nielsenko opened #5493 "SyncManager::unregister_session called after destructor"
I believe the issue is that during shutdown the order of finalizers is unpredictable. In particular in this test: `realm_app::~realm_app()` which destroys the `SyncManager` is called before `realm_sync_session::~realm_sync_session()` which tries to unregister from said manager.

This is illustrated by the following lldb session:
[code]

_Originally posted by @nielsenko in https://github.com/realm/

[2022-05-18 12:19] #5430 closed

[2022-05-18 14:12] #5467 closed

[2022-05-18 15:00] #5486 closed

[2022-05-18 17:29] #5478 closed

[2022-05-18 18:11] ironage opened #5501 "Hang in test: "flx: interrupted bootstrap restarts/recovers on reconnect""
The hang is waiting on a notification that is never fulfilled [here](https://github.com/realm/realm-core/blob/master/test/object-store/sync/flx_sync.cpp#L344).

Upon investigation, it appears that there is a race on which subscription store instance has the notification added vs which one has handles the commit to change the state to complete. This depends on the timings of shutting down the sync

[2022-05-18 18:37] ironage commented on #5501
The prints can be found in this branch: https://github.com/realm/realm-core/tree/js/debug-hang-prints

[2022-05-18 19:38] #5490 closed

[2022-05-19 06:17] cmelchior opened #5504 "Subscriptions should not strip Query Descriptors silently"
From https://mongodb.slack.com/archives/C01D1TX1VHD/p1652885821201679

It looks like Core is silently stripping query descriptors when creating subscription queries. I assume this is done because the Server does not support these (yet).

This is problematic for two reasons:

1) There is a mismatch between what the user created and what gets sent to the server, which can cause confusion.

2) I thou

[2022-05-19 06:23] nielsenko commented on #5504
From the discussion on slack yesterday, I would like to highlight a comment from @nirinchev :

I guess what we are asking for is for an error to be raised if there is an associated `DescriptorOrdering`.

[2022-05-19 07:03] nirinchev commented on #5504
Additionally, I think this only applies to the LIMIT component of the DescriptorOrdering - I think the client should still strip the sort clause as that is meaningless to the server. We can just throw an error on the client if a LIMIT is applied.

[2022-05-19 07:12] svrzii opened #5506 "iOS App crash: Assertion failed: from_link_ndx != to_link_ndx"
#### SDK and version
SDK : iOS
Version: 10.25.2 (RealmSwift)

#### Observations
* It happens on every run now
* It can be reproduced by me
* I upgraded my cluster now and it's the same, restarted the sync

#### Crash log / stacktrace
[realm-core-11.15.0] Assertion failed: from_link_ndx != to_link_ndx
0   Realm                               0x0000000106d96a28 _ZN5realm4utilL18terminate_internalERNS

[2022-05-19 07:19] cmelchior commented on #5504
I don't have that strong of an opinion on whether to strip on the client or not, but I do feel rather strongly that we shouldn't do it silently. If the user gave a wrong query, we should fail with an error somehow.

Also, the result of LIMIT / DISTINCT will change depending on the sorting, so if the server eventually supports these it would also need to (partially) support SORT.

[2022-05-19 07:33] svrzii commented on #5506
I now downgraded my SDK to 10.17.0 and enabled Development mode. On downgrading it first crashed again. But on enabling Development mode it started to work. Can you maybe explain why is this happening?

[2022-05-19 08:26] svrzii commented on #5506
Still getting this with 10.17.0, but it dont crash

Sync: Connection[1]: Session[1]: Failed to parse, or apply received changeset: ArrayInsert: Invalid prior_size (list size = 3, prior_size = 0) (instruction target: RealmPlay[ObjectId{6175264f91e379e5607d6a41}].players[0], version: 13702, last_integrated_remote_version: 1, origin_file_ident: 2, timestamp: 232872915462)
Exception backtrace:
0   Rea

[2022-05-19 12:01] edualonso opened #5507 "[C-API] - Add `SyncSession::OnlyForTesting::handle_error`"
In Java we use the `SyncSession::OnlyForTesting::handle_error` for faking sync errors in our test suite. Having this function simplifies enormously the writing of our tests so it would be a big advantage to have it exposed in the C-API.

[2022-05-19 12:59] sync-by-unito[bot] opened #5508 "NONE BETWEEN has incorrect behavior"
In RQL, you are allowed to use the array operators <ALL/NONE/ANY> with BETWEEN. The way RQL parses the BETWEEN operator is to make it into a >= AND <=. For example, *x BETWEEN {0, 10}* gets parsed to {*}x >= 0 AND x <= 10{*}. This presents issues in conjunction with the NONE operator, since a query like **NONE x BETWEEN {0, 10}** will get parsed to {*}NONE x >= 0 AND NONE x <= 10{*}, which does no

[2022-05-19 16:05] jbreams commented on #5504
To be clear, the subscriptions code doesn't do anything special with the query. It just calls `get_description()` on it and takes whatever the `Query` class returns as the canonical string form of the query. i.e. the `Query` class is not including descriptors in its output. @jedelbo, is this expected?

[2022-05-19 16:36] ironage commented on #5504
A core Query has the ability to store the descriptors, and if they are set they will be part of the description. So I think the issue here is about the C API not calling `Query::set_ordering`

[2022-05-19 16:48] nicola-cab commented on #5504
A `realm_query_t` object can be constructed only with ordering, probably we are loosing some bit in some place.

[code]

The C API just does this:

[code]
We should not have to set the ordering or pass it in here, right?

[2022-05-19 20:39] nirinchev commented on #5507
cc @desistefanova

[2022-05-20 05:27] #5473 closed

[2022-05-20 15:05] jbreams commented on #5365
Does the callback return successfully or does just calling `wait_for_download_completion` return successfully and the callback never gets called? If the latter, I think this works as designed. Or at least I think this works as its always worked.

[2022-05-22 11:42] cmelchior opened #5519 "[C-API] Missing SyncSession error codes related to Flexible Sync"
It looks like all the error codes related to Flexible Sync are missing from the C-API.

They are here:
https://github.com/realm/realm-core/blob/master/src/realm/sync/protocol.hpp#L266

But missing here:
https://github.com/realm/realm-core/blob/master/src/realm.h#L3261

Side note, it is pretty critical if these enums are not kept in sync. Is there a way to guarantee that this doesn't happen going f

[2022-05-23 07:45] bmunkholm commented on #5519
We have to use one to define the other.

[2022-05-23 12:00] blagoev opened #5522 "[C-API] Compare Users and Subscriptions is missing"
It seems `User` comparison is not working correctly. Two users with the same id are reported not equal by `realm_equals`
Support for Subscription comparison is also missing.

[2022-05-23 16:35] sync-by-unito[bot] opened #5525 "Exception when deleting object that has a link to itself"
[code]

I've attached the messages file that causes this. Human readable instructions:

[code]

The schema is randomly generated by the sync server fuzz harness, I've also attached a json file that includes the schema

[2022-05-23 20:12] blagoev commented on #5522
I have a test case where two different users have the same id. Core returns false for these. https://github.com/realm/realm-dart/blob/master/test/user_test.dart#L73
Currently we implemented the equals operator on User object to skip calling Core but compare the id's of the two users.
The expected check is done here https://github.com/realm/realm-dart/blob/master/test/user_test.dart#L92.
Ideally th

[2022-05-23 20:14] blagoev commented on #5522
@nicola-cab please ping me if the test logic is not clear or need some more info.

[2022-05-23 23:19] sync-by-unito[bot] opened #5526 "OT may fail when receiving bootstrap download messages"

[2022-05-24 11:07] nirinchev commented on #5208
Apologies for the delay here - I've been swamped with other stuff, so didn't have time to come back to this. Here's the stacktrace

[code]

So I think this may be due to the design of the .NET SDK. My overly simplified translation is missing key details. In reality, we're using pointers, not values and when the Realm gets closed, we delete the pointer to the subscriptions. I guess a more realistic

[2022-05-24 12:56] ianpward commented on #5525
@kmorkos is out for awhile - maybe @tkaye407 or @mpobrien can comment

[2022-05-24 13:18] tkaye407 commented on #5525
Hi, I believe the original comment by him is using the realm-apply-to-state tool, so he is able to reproduce it. I would suspect though that he is using an old version of the tool (I am at least), so perhaps it is something that was fixed?

[2022-05-24 15:06] #5507 closed

[2022-05-24 17:36] nicola-cab commented on #5364
@nirinchev  I am looking at these tasks around Realm init failures. Since right now you have a way to retrieve errors that are happening inside callbacks, do you still want to pursue this root deleting realm files automatically?

[2022-05-24 17:40] cmelchior commented on #5364
Kotlin has the same use-case. IMO, deleting the Realm if something happens inside this callback should be the responsibility of Core. I don't see a use-case the the SDK's would ever want to retain the (broken) Realm.

[2022-05-24 19:50] #5526 closed

[2022-05-24 23:09] scourgy opened #5529 "iOS app crash"
#### SDK and version
SDK : iOS
Version: 10.25.0

#### Observations
* It happens on almost every run
* Production
* Could not reproduce
* No steps to reproduce available.

#### Crash log / stacktrace
Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Exception Note:  EXC_CORPSE_NOTIFY
Triggered by Thread:  0

Kernel Triage:
VM - pmap_enter failed with resou

[2022-05-25 03:44] #5157 closed

[2022-05-25 09:14] #5525 closed

[2022-05-25 14:32] Vortec4800 commented on #5317
I just went to update Realm via SPM and am running into this same issue. I can try your branch and see if that fixes things, but I don't know if it's still valid given it's from a couple months ago now.

[2022-05-26 09:41] #5522 closed

[2022-05-26 21:46] Vortec4800 commented on #5317
FWIW I did try that test branch and it did fix the build issue.

[2022-05-26 21:46] Vortec4800 commented on #5317
@dianaafanador3 FWIW I did try that test branch and it did fix the build issue.

[2022-05-30 10:41] finnschiermer commented on #5529
Realm-swith vs 10.25.0 was based on Core 11.13.0 which still had https://github.com/realm/realm-core/issues/5360.
This was fixed in Core 11.14.0 so the fix is already included in later releases of realm-swift.
Please let us know if you still see this issue with a later release.

[2022-05-30 10:42] #5529 closed

[2022-05-30 12:11] cmelchior opened #5542 "Need way to close a synchronized Realm and all underlying file resources"
This is a slightly different use case than https://github.com/realm/realm-core/issues/5364

All SDK's have a public method for deleting Realms: https://github.com/realm/realm-core/blob/master/src/realm/object-store/shared_realm.hpp#L421.

However, for synchronized Realms this method has race conditions (that in many cases) prevent it from being used correctly. The reason is that the SyncClient kee

[2022-05-30 12:20] nirinchev commented on #5542
If you're using `SessionStopPolicy::Immediately` and you're not holding references to sync sessions, the resources should be released as soon as you close the realm file.

[2022-05-30 16:25] nicola-cab commented on #5542
Isn't this already covered by this? https://github.com/realm/realm-core/pull/5540
We miss:
1. Exposure in the C API
2. Async version.

[2022-05-30 17:56] nielsenko opened #5543 "Realm is not refreshed after sync session upload/download callback"
When awaiting download/upload completion the realm is not refreshed after the callback fires. This can cause odd races, where the recently downloaded data is not available when reading the realm.

_Originally posted by @nirinchev in https://github.com/realm/realm-dart/pull/619#discussion_r884902064_

[2022-05-30 18:09] fealebenpae commented on #5543
I think that's by design. `SyncSession::wait_for_upload()` doesn't know about any Realm instances that might represent the same file and it can't be influenced by them. To be clear, the sync client does fire a notification on the realm when new data is received, it's just that realm instances aren't guaranteed to have advanced to the latest read transaction inside the `wait_for_upload` callback. I

[2022-05-30 18:46] nielsenko commented on #5543
If we had the option of awaiting a refresh asynchronously we could fix this on the dart side.

[2022-05-30 19:22] cmelchior commented on #5543
It is by design...you can just manually call `SharedRealm::refresh()` after it completes (which would make sense for threads that only exist on one thread). This is e.g. what Kotlin does.

On multi-thread SDK's like Java, you cannot do that as it risk updating in the middle of a thread execution

[2022-05-30 19:29] cmelchior commented on #5542
@nirinchev

Are you sure that is true? My understanding was that since the SyncClient is operating on its own thread. You cannot release resources that way? Especially since `SessionStopPolicy::Immediately` isn't really "immediate".

@nicola-cab Not exactly, #5540 does most of what we want, true, but there are other API's that require that the Realm isn't opened by anyone and if people cannot rely

[2022-05-30 19:58] nielsenko commented on #5543
Also, it will blog my thread. We really need the async version.

[2022-05-30 20:01] cmelchior commented on #5543
Couldn't you just use indefinite progresslistenesr as a proxy for upload/download? And then call refresh when `uploaded = uploaded`?

[2022-05-30 22:23] nirinchev commented on #5543
In my original comment, I meant we should file a ticket in the dart SDK. I don't believe Core can do anything about it because the sync client doesn't know which one is the "main thread" Realm to refresh it. It invokes the completion on its own thread and then it's up to the SDK or the framework to dispatch the continuation on the original Realm thread at which point Sync is no longer involved.

R

[2022-05-30 23:33] nirinchev commented on #5542
Almost. So based on what we've seen in dart and .NET, calling `SharedRealm::close` and releasing all `shared_ptr`-s for the sync session does result in the file being closed and delete-able. The only issues we've seen so far are with Dart on Windows, where the delete may fail because "something" is holding the file open and we need to retry. In the case of Windows, it doesn't appear to be an issue

[2022-05-31 07:04] cmelchior commented on #5542
Ah, didn't realise there was a `SyncSession::shutdown_and_wait()`. That looks like that might due the trick, but yes, that is needed in the C-API.

[2022-05-31 09:17] PavelKandratsyeu opened #5544 "Crash on the first read"
The crash occurs on the first read from the realm with this configuration, when it should have been created. No other calls to realms with the same configuration are made concurrently.

iOS version: 14 (not reproduced on 15).
Framework version: 10.27.0 via cocoapods.
We are using the local database only.
Encryption isn't used.
Crashes occur on both main and non-main threads.
The crash is reproduce

[2022-05-31 09:20] fealebenpae commented on #5542
I advise against using `SyncSession::shutdown_and_wait()` because that blocks until _all_ sync sessions are closed and the sync client is shut down.

[2022-05-31 10:12] bmunkholm commented on #5544
Thanks for posting this @PavelKandratsyeu! It seems to be about the Swift SDK, so would you mind creating this issue in realm-swift repo instead (using the template there)? (I could move this for you too, but you wont be the issue creator and wouldn't get any notifications).
Thanks!

[2022-05-31 10:44] PavelKandratsyeu commented on #5544
Ok, thanks. Created the issue https://github.com/realm/realm-swift/issues/7815.

[2022-05-31 10:44] #5544 closed

[2022-05-31 11:27] cmelchior opened #5545 "Core should validate Sync Schemas"
It looks like ObjectStore doesn't account for the schemas not supported by the Server, i.e. Lists of nullable primitive values are not supported, but Core will happily create the schema anyway (because they are supported for local Realms).

But this then result in a BadChangeset when connecting to the server, which contains a very unhelpful error message.

[code]

Ideally, Core should catch this d

[2022-05-31 13:21] #5422 closed

[2022-05-31 16:39] runloop commented on #5317
I'm running into this issue as well. I've tried the branch mentioned above and it does resolve the issue. It's clear that the below conditions in the master to cover the necessary cases:

https://github.com/realm/realm-core/blob/master/src/realm/impl/simulated_failure.cpp

[code]

whereas the conditions in the branch do:

[code]

[2022-05-31 16:42] nielsenko commented on #5365
The callback never gets called. Problem is we can have users hang forever on fx. `await waitForUpload()`, if a fatal sync error happens, such as a user writing to a realm with no subscriptions.

It gets logged, and an  error is send back via callback/handler passed to `realm_sync_client_set_error_handler`, but the callback behind `await waitForUpload` is not called with an error, causing that part

[2022-05-31 16:45] nielsenko commented on #5365
Sorry, if I might be on the wrong issue here.

[2022-06-01 08:02] nicola-cab commented on #5542
OK so it seems we have 2 different issues:

1) close and delete for good everything if init data callback fails (we don't need to expose this). I think that a failure in the init callback during the initialization phase, that takes a little longer to close, makes sense. Also, because we are not inside a critical path.

2) Expose for the C-API consumers `SyncSession::shutdown_and_wait() `, however,

[2022-06-01 08:07] cmelchior commented on #5542
A few modifications:

1. Is also unrelated to initialization. I agree that Core should do it automatically if initialization fails, but SDK's also need a manual method for doing it.

2. The important use case is that we need a method that can close a Realm and release file locks. If that can be done through `SyncSession::shutdown_and_wait` that is fine, but isn't a strict requirement.

[2022-06-01 10:02] nicola-cab commented on #5365
It seems to me that it is either this:

https://github.com/realm/realm-core/blob/d0bcfc0a9ee53a5678b80c08815e7ea66b082409/src/realm/object-store/sync/sync_session.cpp#L947

or this:
https://github.com/realm/realm-core/blob/d0bcfc0a9ee53a5678b80c08815e7ea66b082409/src/realm/object-store/sync/sync_session.cpp#L956

That is causing the problem, we should probably just invoke the callback with some er

[2022-06-01 10:11] cmelchior commented on #5365
Note, it is for all errors, not just subscriptions, i.e. this also happens if the server sends a Client Reset

[2022-06-01 10:37] edualonso opened #5550 "[C-API] - modify `realm_sync_session_handle_error_for_testing` to receive the error info instead of a pointer to a C struct"
Follow up from https://github.com/realm/realm-core/issues/5507

It would be even more convenient for the Kotlin SDK to pass the information needed to simulate a Sync error, rather than having to create the struct from Kotlin, thus I would suggest changing the function from
[code]
to
[code]

[2022-06-01 14:29] #5550 closed

[2022-06-02 07:53] #5232 closed

[2022-06-02 10:38] #5480 closed

[2022-06-03 16:58] nirinchev opened #5560 "Investigate if schema validation correctly detects table type changes"
We got a report that when the server and the client disagree on the type of the table (top-level vs top-level asymmetric), that change is not detected by the schema validation in Core. (see [slack thread](https://mongodb.slack.com/archives/C03C5S1T0RH/p1654272453960689) for more details).

Sync appears to have validation for this: https://github.com/realm/realm-core/blob/master/src/realm/sync/tran

[2022-06-06 15:09] jbreams commented on #5543
Hi all, can you see if this behavior works as expected now? We fixed an issue related to bootstrap's not auto-refreshing properly here https://github.com/realm/realm-core/pull/5553 - it was released in v12.1.0 - and I'd like to see if that was the underlying cause of this issue too.

[2022-06-07 13:02] sync-by-unito[bot] opened #5565 "Asymmetric sync does not work with embedded objects"

[2022-06-08 07:52] sync-by-unito[bot] opened #5567 "Make OS tests run with encryption enabled"

[2022-06-08 07:59] tallada opened #5569 "Crash on iOS app: [realm-core-11.15.0] Assertion failed: end <= sz [3029, 2999]"
#### SDK and version
SDK : RealmSwift
Version: 10.25.2

#### Observations

* How frequent do the crash occur?
Always

* Does it happen in production or during dev/test?
Both

* Can the crash be reproduced by you?
Yes, with a user provided realm file

* Can you provide instructions for how we can reproduce it?
Yes

#### Crash log / stacktrace

09:41:11.669347+0200 Wikiloc[9629:10679573] /Users/roge

[2022-06-08 08:00] nielsenko opened #5570 "Allow SDKs to disable app caching"
The userdata passed to `realm_dart_http_transport_new` is not guaranteed to be thread safe, hence caching the app that hold a reference to this is unsafe, at least for some SDKs (Dart being one).

[2022-06-08 09:54] nirinchev opened #5571 "Assertion failure: `m_state == SyncUser::State::LoggedIn` in sync_user.cpp:315"
#### SDK and version
SDK : .NET
Core Version: 12.1.0

#### Observations
* How frequent do the crash occur?
  * Very rarely
* Does it happen in production or during dev/test?
  * Saw it on CI
* Can the crash be reproduced by you?
  * Haven't tried

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce
Looking at the code in the stacktrace, I don't believe this assertion is correct or a

[2022-06-08 10:00] nirinchev commented on #5571
For some extra context, I don't believe it's particularly easy to trigger that crash - one really has to try or be very unlucky. So it's not the highest priority in the world, but probably a good idea to audit the relevant code and make sure it's free of race conditions.

[2022-06-08 10:40] #5357 closed

[2022-06-08 10:59] PavelKandratsyeu opened #5586 "Column name must be unique crash"

[2022-06-08 11:53] #5567 closed

[2022-06-09 21:49] sync-by-unito[bot] opened #5576 "Exception with ArrayMove instruction on list of links with dangling links"
Our fuzz tests are triggering an exception in the realm apply-to-state tool that is related to ArrayMove instructions on lists of links with dangling links

Here's the output:

[code]

I've attached the messages file that causes this, as well as a json file that includes the schema. It's worth noting that if I remove the erase instruction that results in the dangling link, the ArrayMove is success

[2022-06-10 12:54] sipersso opened #5585 "Crashes when using writeAsync"
### How frequently does the bug occur?

Sometimes

### Description

Since starting to use the new writeAsync feature I am getting crashes when writing to realm. I have not been able to reproduce it, but do get crashes in crashlytics. Attaching stacktrace here. Firebase tells me that the crashes are repetitive and occur more than once for each user.

### Stacktrace & log output

[code]

### Can you

[2022-06-10 17:11] nicola-cab opened #5578 "Add client reset test into the C API"
#### Describe your problem or use case
C API client reset functionalities are lacking some testing.

#### Describe the solution you'd like
We need to add some basic testing around the client reset functionality in the C API

[2022-06-13 11:22] jedelbo commented on #5569
There are clearly some inconsistencies in the file provided. Is there any way we can get more information about the events that lead to this situation?

[2022-06-14 07:02] chenjinpiao opened #5581 "Assertion failed: r == 0 && "File::unlock()" with (r, (*__errno())) = [-1, 38]"
#### SDK and version
SDK : 12 (Cocoa, Java, etc)
Version: 29

#### Observations
* How frequent do the crash occur?
* Does it happen in production or during dev/test?
* Can the crash be reproduced by you?
* Can you provide instructions for how we can reproduce it?

#### Crash log / stacktrace

E/REALM: /tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1028: [realm-

[2022-06-14 15:13] Oscarworld opened #5583 "Crash on iOS. Assertion failed: prev->next == this"
#### SDK and version
SDK : Cocoa (iOS)
Version: 10.25.2

#### Observations
* How frequent do the crash occur? - Reproducible in 100% of cases in a specific case
* Does it happen in production or during dev/test? - Prod and dev
* Can the crash be reproduced by you? - Yes

#### Crash log / stacktrace
0	0x000000011b4a200e in __pthread_kill ()
1	0x000000011b3b61ff in pthread_kill ()
2	0x000000011b2226

[2022-06-14 16:04] tallada commented on #5569
Unfortunately, not much more. From our app's log file it seems like the problem may be related to a version update. The first time he ran the app after updating it to our latest release it worked fine. However, the second time he launched this version, the problem started occurring.

Some information about the version update that may be helpful:

- There was no migration in the update, it's the sa

[2022-06-14 16:42] ericjordanmossman commented on #5586
I moved to realm-core repository because of insert column in stack trace.

@PavelKandratsyeu Could you provide more context team on how this crash occurs? A reproduction zip would be extremely helpful, if possible.

[2022-06-14 18:38] sipersso commented on #5585
Hi @ericjordanmossman.

How is that possible? Shouldn't the realm be retained during the write transaction when I use writeAsync? It would be good if that was clarified in the docs. I am not sure how I can be absolutely sure that the realm is retained during all calls to writeAsync unless I block the UI during the transaction and wait for complete, but doesn't that defeat the purpose of writeAsync

[2022-06-15 03:50] KimiChiu opened #5587 "Crashed when calling Realm()"
#### SDK and version
SDK : iOS 15.4.1, Swift 5, Xcode 13.4.1, Realm 10.26.0, iPhone 12 Pro
Version:

#### Observations
* How frequent do the crash occur?
Every time at startup.

* Does it happen in production or during dev/test?
Develop.

* Can the crash be reproduced by you?
Yes.
* Can you provide instructions for how we can reproduce it?
Yes.

#### Crash log / stacktrace
/Users/realm/workspace/r

[2022-06-15 08:28] jedelbo commented on #5586
Moved to realm-swift - in core we are just checking if the name is unique.

[2022-06-15 08:44] jedelbo commented on #5585
It should be ok to deallocate the realm while a transaction is not committed. I will try to see if I can reproduce the error.

Internal note: It looks like we have some inconsistencies in our internal state as we perform a rollback although `m_write_transaction_open` is false.

[2022-06-15 08:54] sipersso commented on #5585
Thanks for confirming @jedelbo

[2022-06-15 08:56] sipersso commented on #5585
@jedelbo I have seen some other related bugs as well. I get crashes that I can't start write transactions from an oncomplete callback (which I don't think I do). And now I see that there is just a boolean check in shared realm m_is_running_async_commit_completions. Not sure if these two are related, but I will submit another bug for that one.

[2022-06-15 10:51] jedelbo commented on #5576
@ironage you are right that this kind of change could not be created by a realm client, but we should of course be more defensive as the change could come from elsewhere. I made a small PR.

[2022-06-15 14:18] blagoev opened #5591 "High CPU usage on Windows"
We are witnessing a high CPU usage on Windows for some time now. The problem was first noticed on our CI which runs on GH Actions and two core VMs. We managed to reproduce it locally by setting an affinity of the process to only two cores (simulating the environment on GH Actions) and this is the profile information we managed to capture.

This seems the offending function
[code]
the code with hig

[2022-06-15 16:00] nirinchev commented on #5591
Note that if this turns out to be difficult to fix, we can also just prioritize platform networking for data and get rid of our custom networking implementation altogether.

[2022-06-16 07:17] #5137 closed

[2022-06-16 08:40] #5576 closed

[2022-06-16 09:15] jedelbo commented on #5585
@sipersso Would you be able to share some sample code showing how you use AsyncCommit? Something in the stack trace does not add up.

[2022-06-16 09:40] sipersso commented on #5585
@jedelbo I have converted all commits to async, and the stacktrace doesn't give me any clues on which is which. But I have wrapped the writeAsync call in my own extension that will make it easier to identify the origin after next update. Hopefully I will be able to get back to you when I have identified the origin.

[2022-06-17 08:06] #5578 closed

[2022-06-17 10:55] nicola-cab commented on #5583
This does not seem a realm-core related bug, but something related to the realm cocoa sdk. I am going to re-assign this issue.

[2022-06-17 13:17] nicola-cab commented on #5581
Hello, thanks for reporting this. Would you be able to share the realm file with us?
Also, would you be able to give us some indications about how you ended up in this crash?
Also, have you tried to update to the latest realm? You are running a version that is significantly older than the most updated one.

[2022-06-20 03:14] m-sugawara opened #5611 "Assert while trimming history."
### How frequently does the bug occur?

Sometimes

### Description

We noticed some crash happened in our app from Firebase Crashlytics.
This crash has occurred repeatedly by a small number of users only.
We can’t reproduce this in both of development and production app.
Does anyone have any idea from the stack trace?

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

#

[2022-06-20 14:26] #4650 closed

[2022-06-20 14:31] sync-by-unito[bot] opened #5609 "[C-API] Expose the Remote MongoDB Client to the C API"

[2022-06-22 01:40] m-sugawara commented on #5611
Thank you so much!

[2022-06-22 22:38] ironage commented on #5611
Swift version 10.25.0 uses core v11.13.0. From the stack trace, I can see that this happens during commit, while trimming the continuous transaction history. There appears to be some kind of invalid ref while freeing up this space during this operation. This does not look like anything I have seen recently. Without more information or a reproduction, it is going to be very difficult to guess how t

[2022-06-23 06:40] m-sugawara commented on #5611
@ironage
Thank you for the response!
But, unfortunately, we have not yet able to reproduce this crash.

Btw, our app is using [Hydra](https://github.com/malcommac/Hydra).
I think this might be related to this crash.

Our implementation is like this:
[code]

[2022-06-23 20:25] jbreams commented on #5543
@nielsenko - has this been resolved in v12.1.0?

[2022-06-23 20:30] sync-by-unito[bot] opened #5613 "Run baas integration tests on windows"

[2022-06-24 23:25] #5291 closed

[2022-06-24 23:37] #5148 closed

[2022-06-25 00:17] theoks opened #5618 "Fatal error: 'try!' expression unexpectedly raised an error: Error Domain=io.realm Code=9 "mmap() failed: Cannot allocate memory size: 55672832 offset: 335544320""
#### SDK and version
SDK : realm-swift
Version: 10.28.0

#### Observations
* How frequently does the crash occur?

The crash happens 4-5 times for each of our users per day (the app is used throughout the day)

* Does it happen in production or during dev/test?

We cannot reproduce it deterministically on a dev environment, although it happens during development occasionally too.

* Can the crash

[2022-06-27 10:43] sync-by-unito[bot] opened #5619 "prep and decouple multiprocess encryption"
Prepare an internal API change to be used for multiprocess encryption

[https://github.com/realm/realm-core/pull/5595](https://github.com/realm/realm-core/pull/5595)

[2022-06-27 12:22] sync-by-unito[bot] opened #5620 "Sync client error handling v2"
The client should be capable of sending errors to the server.

Moreover, the sync client should use the extra information the server sends alongside errors (i.e, action to take).

[2022-06-27 14:17] #5098 closed

[2022-06-27 14:22] xiles opened #5621 "Cluster column has invalid length"
#### SDK and version
SDK : Swift
Version: Realm 10.28.1, RealmDatabase 12.1.0

#### Observations
One of the class(HLAsset) has more than 123000 items.
.realm file size is 46.4MB
When I open a .realm file in Realm Studio and scroll down in a class, sometime it says "Invalid time value".
And sometimes, some field value looks broken characters or null (a field cannot be null)

[code]

#### Crash log

[2022-06-27 19:24] astigsen opened #5623 "Support notification when transaction has been synced to server"
When committing a transaction on a synced realm, it is sometimes critical to know if and when it has been uploaded and acknowledged by the server. Today this is pretty hard do (you can track progress using `SyncSession`, but it is really hard to match that up to a specific transaction).

It would be really useful if you could get a transaction specific callback when the sync completes (similar to

[2022-06-28 08:36] sync-by-unito[bot] opened #5624 "Calling Transaction::rollback() fails with assertion"
This is an umbrella issue used to track the resolution of several issues we have seen including "Transaction::rollback" in the  stack trace. These are (please update if more are found):
#5585
[https://github.com/realm/realm-swift/issues/7788 (now closed)](https://github.com/realm/realm-swift/issues/7788)

[2022-06-28 09:28] sync-by-unito[bot] opened #5625 "iPad app is crashing while we are syncing due to illegal rollback"

[2022-06-28 09:46] #5560 closed

[2022-06-28 13:52] danieltabacaru commented on #5621
Hi @xiles. Thank you for reporting this. We are looking into it. It would help if you could share your realm file with us, either here, or privately at [realm-help@mongodb.com](mailto:realm-help@mongodb.com).

[2022-06-28 15:36] #5543 closed

[2022-06-28 15:51] nicola-cab opened #5626 "Nightly Builds for realm-core"
#### Describe your problem or use case
Allow nightly builds for realm-core in order to verify and validate last status of master every night.

#### Describe the solution you'd like
Change the Jenkins file in order to support nightly builds for realm-core.
Allow Jenkins to trigger a core build that generates artifacts.

#### Additional context

[2022-06-28 16:08] danieltabacaru commented on #5623
Hi @astigsen. Thank you for reporting this. We will discuss it within the team.

[2022-06-28 19:34] astigsen opened #5629 "TTL for Flexible Sync subscriptions"
The most problematic part of using subscriptions is the lifetime management. Especially when you have apps that are repeatedly shut down and restarted (as happens with many mobile apps). You often end up with a lot of "orphan" subscriptions, where on restart it can be hard to manually judge if they should be unsubscribed or kept around because they could be needed again later.

It would be really

[2022-06-28 22:19] #5626 closed

[2022-06-28 23:35] ironage opened #5631 "Re add file shrinking on open"
https://github.com/realm/realm-core/pull/5601 was reverted in https://github.com/realm/realm-core/pull/5630 due to failing tests. This issue tracks fixing the tests and adding this change back in.

[2022-06-29 02:35] ironage opened #5632 "Sporadically failing test: Sync_FailingReadsOn(Server/Client)Side"
The test `Sync_FailingReadsOnServerSide` in the sync test suite fails occasionally ([example](https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-core/detail/release%2F12.3.0/3/tests)), with an assertion failure:

[code]

[2022-06-30 09:00] danieltabacaru commented on #5621
Thank you. We'll take a look.

[2022-07-01 06:25] sync-by-unito[bot] opened #5640 "Fix flakey "flx: asymmetric sync - dev mode" test"

[2022-07-01 06:25] sync-by-unito[bot] opened #5641 "Fix flakey "flx: bootstrap batching prevents orphan documents" test"

[2022-07-01 12:30] rajrbol opened #5642 "Error while generating a DocC based documentation for a Swift Package"
#### Expected results
I want to generate a DocC documentation for an internal Swift Package with the help of SwiftDocC plugin using the following command:

The internal framework uses `realm-core` and `realm-cocoa`.

`$ swift package --disable-sandbox preview-documentation --product InternalFramework`

#### Actual Results
If I build the DocC files via Xcode the build documentation is generated. Bu

[2022-07-04 16:17] #5570 closed

[2022-07-05 15:53] sync-by-unito[bot] opened #5648 "Reconstruct app url after a migration"
To be able to write e2e tests for this feature, we'll need to wait for BAAS-13163 to be released.

With BAAS-11596, customers will be able to change the deployment model and/or region of their apps.

The Realm SDK team will need to add retry logic on the client URLs to reconstruct the correct URL once the migration is over. This will lead to a better user experience, especially for mobile develope

[2022-07-05 19:05] #5079 closed

[2022-07-06 09:47] senorezi opened #5649 "Invalid ref translation entry"
#### Expected results
Read contents from a Realm file and export out a CSV upon parsing

#### Actual Results
Error when attempting to open Realm file. Not sure what the error means from the log from Realm library...

#### Steps & Code to Reproduce
The follow code was ran:
[code]
Please see the logging from the Realm library.
![image](https://user-images.githubusercontent.com/65371233/177522370-ef2

[2022-07-06 15:51] astigsen commented on #4266
This should also work with the left hand hand side being a list property. I that case it will be equivalent to: `ANY fruits == 'apple' || ANY fruits == 'orange'`

[2022-07-06 17:32] nicola-cab commented on #5364
@nirinchev, I think it is basically impossible, as per current object store design, we have a cyclic dependency and closing realm cannot be achieved without the risk of blowing out other processes that are using the same realm file.
Core cannot keep track of all the Shared Realms that might be floating around, since most of them might even be outside the control of core (floating around in some fr

[2022-07-06 17:42] molind opened #5651 "realm::Allocator::translate_critical crashes"
#### SDK and version
SDK : realm-core 12.3.0 + realm-swift 10.28.2

#### Observations
* How frequent do the crash occur? - every time
* Does it happen in production or during dev/test? dev
* Can the crash be reproduced by you? yes
* Can you provide instructions for how we can reproduce it? Signed in user with jwt token. Then trying to create realmConfigurationForUser:.

#### Crash log / stacktrace

[2022-07-07 14:58] nicola-cab commented on #5587
Hello, thanks for reporting this. I tried to open the realm files you sent to us.
The file `default.realm` appears to be corrupted, however, I am able to open and visualize the content of `default.v20.default.backup`.

Without more context or information around the crash, for example, was the app committing things to the database? Did it crash in the middle of this commit? etc... to understand the

[2022-07-07 17:00] #5651 closed

[2022-07-08 08:09] finnschiermer commented on #5649
@senorezi This is new. Are you able to reproduce?

(the backtrace not supported is just informative - the real error is the invalid ref translation)

[2022-07-08 08:11] finnschiermer commented on #5581
@chenjinpiao Are you still seeing this after an update?

[2022-07-08 08:32] finnschiermer commented on #5651
@molind out of curiosity - why was this closed again? did you solve it? if so, I'd love to know the root cause

[2022-07-08 08:38] molind commented on #5651
@finnschiermer That's was my fault. I've configured realm-core as a swift package and haven't generated config.h. Defines was added manually into xcconfig. This crash happened because allocator was compiled with different defines in realm-swift and in realm-core. One with encryption and another without it. sizeof 56 and 40. And it created ref_translation_ptr with size 56 and tried get second objec

[2022-07-08 08:45] finnschiermer commented on #5651
@molind Thx a lot for clearing that up.

[2022-07-08 09:07] LaPeste opened #5655 "`notify_after_client_reset` callback is executed even if an existing `RealmCoordinator` is not available"
If [local_coordinator](https://github.com/realm/realm-core/blob/7b5282f8bd99328ec774c632e94e435a40358daf/src/realm/object-store/sync/sync_session.cpp#L674) is not available we should not call the `notify` cb. Otherwise an empty `frozen_before` and `active_after` will be passed to [notify_after_client_reset](https://github.com/realm/realm-core/blob/7b5282f8bd99328ec774c632e94e435a40358daf/src/realm

[2022-07-08 12:54] finnschiermer commented on #5618
Potential mitigation/fix in progress: https://github.com/realm/realm-core/pull/5645

[2022-07-09 16:37] cristianoccazinsp opened #5657 "Random Crash with "please report this issue in github realm realm core""
### Description

I'm unable to get the actual code that crashed from XCode, so the following is all I've got. However, the message is interesting. There seems to be a user having consistent crashes with Realm and the following (see next section) is some of the info I'm able to get.

### Stacktrace & log output

[code]

[code]

Device info:
iPhone 12 Pro Max (iPhone13,4)
"reactNative": "0.67.4",
"r

[2022-07-11 08:19] finnschiermer commented on #5010
This will be fixed by https://github.com/realm/realm-core/pull/5645, as it for the above scenario only cause allocation of the minimum number of mappings.

[2022-07-11 08:21] #5619 closed

[2022-07-11 09:01] #5585 closed

[2022-07-11 12:01] finnschiermer commented on #5649
A "ref" is our name for a pointer, only on disk. "ref translation" is the mechanism by which a "ref" is translated into a real pointer, allowing us to access a piece of data in memory. An "invalid ref translation" is a failed internal consistency check made on the data structure we use to implement this "ref translation" process.

[2022-07-11 12:05] finnschiermer commented on #5649
@senorezi Can you share the realm file in question?

[2022-07-12 10:41] #5318 closed

[2022-07-12 10:47] #5609 closed

[2022-07-12 12:20] fealebenpae commented on #5246
We still need a way to ask Core to asynchronously advance to latest and deliver notifications without locking up the calling thread - `RefreshAsync()` is unfortunately a public API and we need to either fix it, or deprecate it.
The discarded .NET implementation works by calling `RealmCoordinator::on_change()` from a background thread, the same way the `ExternalCommitHelper` which drives the notifi

[2022-07-12 13:27] nicola-cab commented on #5246
OK, but core cannot know which thread it is that would be calling `RefreshAsync`. I'll talk to @tgoyne in order to understand his proposal.

[2022-07-12 13:47] fealebenpae commented on #5246
It doesn’t have to be a particular thread. The discarded .NET implementation called `RealmCoordinator::on_change()` from a worker thread, like the C++ `std::async`. `on_change()` is by definition thread-safe.

[2022-07-12 14:16] #5307 closed

[2022-07-12 16:27] tgoyne commented on #5246
Er, `on_change()` is absolutely not thread-safe in the slightest. It relies on the fact that it is always called on the single dedicated worker thread for it and explicitly calling it will do very broken things.

The entire concept of `RefreshAsync` doesn't make much sense to me. The point of `refresh()` is specifically to do the refresh in a blocking manner. If you want the refresh to happen asyn

[2022-07-12 20:18] fealebenpae commented on #5246
Then I was very lucky 😅

We have users in .NET who need to programmatically advance to the latest read version, but wouldn't like to pay the price for waiting for the notification listeners to fire (see https://github.com/realm/realm-dotnet/discussions/2775). In .NET the difference between `Refresh()` and `RefreshAsync()` is essentially this, except that the current implementation of `RefreshAsync

[2022-07-12 20:27] tgoyne commented on #5246
Not blocking until notifications are ready would completely break using notifications for pretty much anything. That discussion is starting from a very strange place: "Calling Realm.Refresh from the main thread is basically a requirement of using realm". Not only is calling refresh from the main thread not a requirement, but it's very much an antipattern that should be avoided as much as possible.

[2022-07-12 22:26] fealebenpae commented on #5246
tl;dr We need an API like `Realm::refresh(std::function<void(bool did_refresh, std::exception_ptr error)> callback)`, where where when the callback is called the realm instance will have advanced to the latest version, and notifications will have been delivered, but calculating the notification payloads would have happened on another thread. Mixing and matching with `Realm::refresh()` can follow t

[2022-07-12 22:53] tgoyne commented on #5246
Determining why your `BindingContext::did_change()`-based approach did not work is very important, because something built on the logic for that that is exactly how I'd implement that function.

[2022-07-12 22:58] tgoyne commented on #5246
Oh, the obvious problem is that you need a check to see if you've actually made it up to the desired version yet. Conceptually you want something like:

[code]

[2022-07-13 01:28] senorezi commented on #5649
Hi @finnschiermer, unfortunately I cannot share this file. This is a occurrence is a rarity so we will keep track on the number of failures we find. Thanks for giving the explanation!

[2022-07-14 15:40] nicola-cab commented on #5657
Hello, thanks for reporting this:
Looking at the stack trace and trying to match what happened in the code.

The error has been triggered by some data that got deleted (all good here).
After deletion, an Array (which is how we store most of the data, an array of bytes) has been identified as a possible candidate to move. Essentially, moved into some more suitable location in memory.
One of the ass

[2022-07-14 15:45] #5649 closed

[2022-07-14 16:50] cristianoccazinsp commented on #5657
@nicola-cab thanks for looking into it.

I have honestly not being able to reproduce this, and this only happened to one single device (although it happened consistently after the first time for that device, forcing a full app reinstall).

None of our models use arrays, they are all int or string, although they do have indexes.

Could this be similar to https://github.com/realm/realm-js/issues/453

[2022-07-15 02:33] chennian opened #5664 "Assertion failed: get_wtype_from_header(get_header_from_data(m_data)) == wtype_Bits [2, 0]"
#### SDK and version
SDK : realm-core
Version: 11.13.0

#### Observations
* Occurs when there is a large amount of data
* happens during the test
![WechatIMG76](https://user-images.githubusercontent.com/12868392/179134448-25c4c78b-1110-4ff0-865f-227b96f87a6f.jpeg)
![771657852159_ pic](https://user-images.githubusercontent.com/12868392/179134918-fe315843-6062-4b56-800f-731fca0026d2.jpg)

When the a

[2022-07-15 08:37] nicola-cab commented on #5657
@cristianoccazinsp  thanks for the feedback. All those timers are unlikely to cause an issue like that.
A corruption is likely the root cause of the crash.

What I meant with `Array` is how the database stores the data internally, which is essentially an `Array` of bytes.
I am trying to reproduce it myself, in case of success, most probably I will have a fix for it.
Otherwise,  I might close this

[2022-07-15 11:00] FSI-Takahiro-Ooki opened #5666 "Crash with "Assertion failed: index < m_local_max_entry""
Hi, Our APP has Assertion happening in Realm-core.

#### Description
We think that  this issue is caused by our APP misusing Realm API usage.
However, we don't know the reason for this assertion, so I can't fix it correctly.

Please let me know this assert reason, and we hope your support.

#### SDK and version
SDK : Swift
realm-cocoa:10.25.2
realm-core:11.15.0

#### Observations
* Can the crash b

[2022-07-15 16:36] #5469 closed

[2022-07-15 23:38] #5655 closed

[2022-07-18 08:05] finnschiermer commented on #5666
It is something else, it's not about the file growing. The assert indicates an attempt to refer to a part of the lock-file (not the database/realm file) which does not exist. @FSI-Takahiro-Ooki are you doing anything to the lock-file? I assume you are not, and in that case it looks like a bug in our version management. Are you running in a multi-process scenario by any change?

Anyhow, the relevan

[2022-07-18 10:54] FSI-Takahiro-Ooki commented on #5666
Thanks for your quick respose.

Is lock-file ".realm.xxx" files?
we don't touch there.

My application is using Realm with multi thread.
As a test, I modified to use Realm to dispatch specific thread.
Looks like this assert did not occure. (i am testing more.)

Is this action correct?

It does not have any meaning.
I can not infometion this assert on the any web site.
So, i think that this assert

[2022-07-19 06:57] chennian commented on #5664
The file is 9.4M, we just write data in the sub-table, and suddenly the program crashes after writing to a certain extent, I don't know why

[2022-07-19 07:22] chennian commented on #5664
[demo.realm.zip](https://github.com/realm/realm-core/files/9138522/demo.realm.zip)
这是realm 文件

[2022-07-22 03:19] #5664 closed

[2022-07-22 06:46] simonboots opened #5670 "Crash in `(anonymous namespace)::has_duplicate_values(realm::Array const&, realm::ClusterColumn const&)`"
#### SDK and version
SDK : Swift
Version: 10.28.0

#### Observations
* How frequent do the crash occur?
Multiple times a day but only for a single user

* Does it happen in production or during dev/test?
Production

* Can the crash be reproduced by you?
Unfortunately not

* Can you provide instructions for how we can reproduce it?
N/A, Crash received via New Relic

#### Crash log / stacktrace
Inci

[2022-07-22 08:14] finnschiermer opened #5671 "Realm accessed from incorrect thread reported during testing"
The thread sanitizer reported something of potential significance:
[code]

This is reported on a test run for https://github.com/realm/realm-core/pull/5440, but that PR should not change anything with respect to threading.

[2022-07-25 14:46] molind opened #5673 "config.disable_download_compaction don't disable compaction of a download message"
#### Expected results
When disable_download_compaction is set server shouldn't compress download message at:
https://github.com/realm/realm-core/blob/b35dcd91e084ff760cb2b8b07e83a767a7aa36f5/src/realm/sync/noinst/server/server.cpp#L2908

#### Actual Results
It compresses it anyway. And there is no way to disable it.

#### Steps & Code to Reproduce
It's always reproduces.

#### Core version
Core ve

[2022-07-25 15:01] molind opened #5675 "config.pong_keepalive_timeout shouldn't drop connection during long active download"
#### Expected results
During initial sync on slow connection downloading single `DOWNLOAD` message could take significant amount of time. And client should respect active download and don't drop connection.

#### Actual Results
It drops connection due to `PONG` timeout at: https://github.com/realm/realm-core/blob/b149e54c8df64bf5232ae60398ea4eb6eb16da99/src/realm/sync/noinst/client_impl_base.cpp#L

[2022-07-25 15:31] molind commented on #5675
Or `PING` message should be sent only during idle connection.

[2022-07-26 15:13] tomkrikorian opened #5679 "Crash on Realm.Remove"
#### SDK and version
SDK : .NET
Version: 10.14.0

#### Observations
* How frequent do the crash occur?
Always
* Does it happen in production or during dev/test?
Both
* Can the crash be reproduced by you?
Yes.
* Can you provide instructions for how we can reproduce it?
Using Realm.Remove makes the app crash.
We are using a PartitionSyncConfiguration for our realm. Sync is enabled without developer

[2022-07-26 16:41] NZQN23 opened #5680 "Assert while trimming history (2)"
Hi,

I'm experiencing this crash with some users:

[code]

The method for initialization is as follows:

[code]

I'd be thankful if you could look into this issue.

Thanks

/Felix

[2022-07-26 20:22] DrirEmilius opened #5682 "Kotlin SDK does not run with R8/Proguard enabled"
#### SDK and version
SDK : Kotlin Realm
Version: 1.0.1 (library base)

#### Observations
* How frequent do the crash occur? - Reproducibly
* Does it happen in production or during dev/test? Test
* Can the crash be reproduced by you? Yes
* Can you provide instructions for how we can reproduce it? Build app with R8/Proguard minify enabled

#### Crash log / stacktrace
2022-07-26 22:05:30.770 E/REALM:

[2022-07-27 07:49] jedelbo commented on #5670
We have not seen this particular error before, so it is very difficult for us to say how we can end in this situation. If you analysis is correct that the node has a size of zero, then it will probably continue to have this value and this is why the customer keeps getting the same error. Unfortunately I think the only solution here and now is to reinstall the application so we can get a fresh star

[2022-07-27 07:54] jedelbo commented on #5673
@jbreams assigned to you as you seem to be involved already

[2022-07-27 08:23] jedelbo commented on #5680
Seems to be a duplicate of #5611

[2022-07-28 03:21] marcuswu0814 opened #5687 "Randomly crash when init Realm instance"
#### SDK and version
SDK :  `RealmSwift`
Version: `10.28.1`

#### Observations
* How frequent do the crash occur? `Random, but always if happened in specific device`
* Does it happen in production or during dev/test? `Production`
* Can the crash be reproduced by you? `No`
* Can you provide instructions for how we can reproduce it? ```Not sure, but in this case just init a **Realm()** instance.```

[2022-07-28 03:30] marcuswu0814 opened #5688 "Randomly crash when append objects to list in write transaction"
#### SDK and version
SDK :  `RealmSwift`
Version: `10.28.1`

#### Observations
* How frequent do the crash occur? `Random, but always if happened in specific device`
* Does it happen in production or during dev/test? `Production`
* Can the crash be reproduced by you? `No`
* Can you provide instructions for how we can reproduce it? ```Not sure, but in this case just append some object into list.```

[2022-07-28 04:20] simonboots commented on #5670
Thanks @jedelbo!
I don't think we can get the customer's realm database. For the next version of our app, we've implemented a check that will delete the realm files if the app crashed during schema migration (which I think is the case here). That should hopefully get this user out of this loop.

[2022-07-28 15:07] nicola-cab commented on #4584
I am reading through this thread, it seems to me that each SDK has it own way of interacting with core in order to fix the issue of having a different schema on disk in respect of what the user has specified.
What do we require implementing in Core exactly? Is this issue still valid?

[2022-07-28 15:54] nicola-cab commented on #4607
@nirinchev what are the APIs that would be impacted by this request?
Because in the C-API there is already:
[code]
Which seems to return anonymous credentials.

[2022-07-28 16:18] sync-by-unito[bot] opened #5691 "Asymmetric objects can be created in partition based sync"
For the time being, if partition based sync is used, a user should not be able to create asymmetric objects. The sync client should throw an exception instead.

[2022-07-28 18:58] nirinchev commented on #4607
The issue is not about returning anonymous credentials at all. The problem is that you can't log in multiple anonymous users right now. Once you login an anonymous user, every time you call `log_in` with anonymous credentials, you'll receive the same user. This is a problem for the C++ API, not just the C API.

[2022-07-28 19:02] nirinchev commented on #4584
As far as I remember, the issue is that `realm->schema()` returns whatever the user specified rather than the real schema of the Realm file. In most cases those would be the same, but with Sync they can diverge and we should always return the complete schema.

[2022-07-28 19:11] tgoyne commented on #4584
Returning the complete schema would break the swift SDK and it would not be a trivial change to adapt to.

[2022-07-29 06:26] #5310 closed

[2022-07-29 06:26] #5317 closed

[2022-07-29 07:47] nicola-cab commented on #4584
OK, so what about an extra getter that returns the schema on disk to be used by the SDK if needed? Otherwise, we will have to close this.

[2022-07-29 07:53] nicola-cab commented on #4607
Ok so you want basically this check gone:
[code]

Should we not limit the number of anonymous users we allow? Maybe 1 is to restrictive, could we extend to 3 maybe?

[2022-07-29 11:00] nirinchev commented on #4607
Why would we have a limit? What are we trying to guard against?

[2022-07-29 13:16] nirinchev commented on #4584
As mentioned in https://github.com/realm/realm-core/issues/4584#issuecomment-814050543, without realm->schema() returning the right thing, creating an object instance of a type that the SDK doesn't know about is impossible. Having an extra getter will not resolve that case and the general issue that mixed columns currently require a lot of custom SDK handling.

[2022-07-29 16:29] tgoyne commented on #4584
We handle that by dynamically allocating a ObjectSchema that is stored separately from the Realm's schema, which ended up being surprisingly little code but is sort of gross. I think having the Realm's schema include all of the object types in the Realm wouldn't be a problem for us; the major thing we're relying on is that the properties in the ObjectStore schema match the properties in the obj-c

[2022-08-01 06:31] hamzasohail opened #5697 "Mutexes should not be implemented with dispatch semaphores due to risk of priority inversions"
There was a report from a user who observed a "Hang Risk" runtime issue in Xcode when running their app when using the Realm SDK.

https://www.mongodb.com/community/forums/t/hang-risk-thread-warning-on-xcode/177869

There is explicit guidance by Apple about the risk associated with this primitive. Upon examination, it seems realm implements mutexes (realm-core/src/realm/util/interpocess_mutex.cpp)

[2022-08-01 09:54] #5670 closed

[2022-08-01 11:00] nirinchev commented on #4584
Do you rely on those being an exact collection match or that the order of the properties in the OS schema matches the order of the subset contained in the obj-c schema? If it's the latter, then we can just make sure that any extra properties (coming from the on-disk schema) are appended at the end of the vector after the properties specified by the SDK.

[2022-08-01 11:18] jedelbo commented on #5688
@marcuswu0814 How many instances have you seen with this exact stack trace? You have also just reported #5687 - have you seen a sudden increase in number of error reports and can you relate that to a recent upgrade to a newer Realm version?

[2022-08-01 11:30] jedelbo commented on #5687
This is at least related in time to #5688. The probability that both issues are caused by the same underlying problem is high. We will treat this as a duplicate until we know more.

[2022-08-01 11:37] nirinchev commented on #5246
I guess "refresh" here is probably misleading terminology - a more precise name would probably be `notify_when_advanced_to_latest` or something similar. I would still rather see that functionality built into Core to avoid duplication of effort and make it possible to be used by C-API based SDKs (e.g. dart where a Realm is being populated in a separate isolate and we'd like to continue with a metho

[2022-08-01 11:43] nirinchev commented on #5364
Per @tgoyne's [comment](https://github.com/realm/realm-core/pull/5540#discussion_r892590955), it seems he expects the test case outlined at the top of this issue to just work. That was not the case when I implemented the initialization function mechanics in dart. I will try to re-run it to verify if it still fails. Ultimately, that is the problem we try to solve and if deleting the Realm is not th

[2022-08-01 11:47] #5687 closed

[2022-08-01 11:58] marcuswu0814 commented on #5688
Did you mean how many `Realm()` instances I used in this thread?

[2022-08-02 14:59] jedelbo opened #5700 "Reenable 'flx: interrupted bootstrap restarts/recovers on reconnect'"
The test was commented out because is was frequently causing a hang in checkLinuxDebug_Sync unit test

[2022-08-02 15:19] tgoyne commented on #5246
I don't have an objection to a one-shot refresh notification which notifies only when the refresh is to the version which was latest at the time when the notification was added. I think refresh_async might be a misleading name for it internally, but the functionality makes sense (and the more I think about it the more I think `await realm.refresh()` is the natural thing to have in Swift for it, wh

[2022-08-03 01:54] simonboots commented on #5670
@jedelbo It looks like deleting the realm files and letting Realm create new ones helped this particular user. Thanks again!

[2022-08-03 09:26] #4607 closed

[2022-08-03 13:50] sync-by-unito[bot] opened #5705 "Sync client should wait for MARK message before marking subscriptions complete"
Due to a recent change on the server, we may not receive all changes when bootstrapping a flx realm, so a subscription may be prematurely marked as complete. We should probably send a MARK when sending a QUERY message to make sure we wait for all objects matching the subscription before marking it complete.

This has several slack threads associated with it:

https://mongodb.slack.com/archives/G01

[2022-08-03 14:04] n-doton opened #5707 "'Assertion failed' - Fatal crash when initialising Realm"
When initialising flexibleSync with a realm schema object, our app crashes unexpectedly with the following stacktrace:
[code]

We're initialising Realm using the following:
[code]

The crash seems to occur after the first run of the app from a restart or sleep cycle of my machine. No logs are displayed in the App Services logs section. I understand that the stacktrace instructed us to post the rep

[2022-08-03 14:25] nirinchev commented on #5364
@nicola-cab I verified that Thomas is right and the initialization function does indeed get invoked the second time we try to open the Realm. I'm not sure why that test was failing before, but it works just fine now. We can probably close this issue.

[2022-08-03 14:44] nicola-cab commented on #5364
OK this is perfect, because as per current design it basically impossible to delete the realm files while the coordinator is still holding up a reference to it, besides there could be multiple processes sharing the same realm file or just sync that needs to be torn down as well.
I'll close the issue.
Regarding this https://github.com/realm/realm-core/pull/5646, we could leave it open for now, wait

[2022-08-03 14:44] #5364 closed

[2022-08-04 03:14] Zanchee commented on #4994
@pavel-ship-it @ericjordanmossman any updates on this issue being addressed?

This is related to (this realm-swift issue)[https://github.com/realm/realm-swift/issues/7493]

[2022-08-04 08:25] #4266 closed

[2022-08-04 09:31] n-doton commented on #5707
The issue still persists with SDK version 2.18.0-271.4. The app ran fine the first time I ran it this morning. Subsequent runs suffer the same crash in the original post.

[2022-08-04 10:06] astigsen opened #5709 "Allow Flexible Sync to work with in-memory mode"
Currently the configuration will not allow you to combine Flexible Sync and in-memory mode.

Sometimes you need to run the SDK in places that do not offer persistent storage like lambdas or docker containers (or in the browser 😉), so it would be really useful to be able to specify that you do not need persistence.

[2022-08-04 10:33] molind commented on #5675
It's quite interesting. When client starts connection it schedules ping message

https://github.com/realm/realm-core/blob/b149e54c8df64bf5232ae60398ea4eb6eb16da99/src/realm/sync/noinst/client_impl_base.cpp#L710

While data is downloaded in `websocket.cpp` or `ez_websocked.cpp` and `websocket_*_message_received` called only when message is downloaded completely. Client sends `ping` and waits for po

[2022-08-04 11:27] leemaguire opened #5711 "Add flexible sync support to `Realm::convert`"
#### Describe your problem or use case
Currently converting a local realm to a synced realm is only supported when using PBS. When trying to use the `Realm::convert` feature with flexible sync you get errors in the sync logs stating `"cannot write to table \"SomeObject\" before opening a subscription on it"`

e.g:
[code]

#### Describe the solution you'd like
There is a discussion on slack with po

[2022-08-04 15:37] nielsenko commented on #5707
@n-doton Thank you for trying it out with dart 2.18, but we believe it is an issue in `realm-core`. We will get back to you.

[2022-08-04 18:09] jbreams commented on #5707
Hi, @n-doton, yes I think this is a bug in realm-core. I think there's an exception integrating state from the server that's getting applied before the sync client is able to connect to the server and the logic for handling disconnects due to an error is not being called appropriately. If you turn on trace level logging in the sync client, you may be able to see what the error while applying state

[2022-08-04 18:23] nielsenko commented on #5707
@n-doton To turn on the trace @jbreams is talking about, you can do:
[code]
before opening the realm

[2022-08-04 18:28] jbreams commented on #5675
I'm not sure we can know the websocket state when we're deciding if a pong message has timed out. The processing of the timeout occurs on the same thread and in the same event loop as the actual network I/O that would be receiving the message, so it's very possible that when the sync client is deciding to time out, the websocket implementation hasn't actually started receiving/buffering any data y

[2022-08-04 19:00] molind commented on #5675
@jbreams That's could make sense indeed. Disable pong timeout, start initial sync, when it's over, set default value again. But there is no way to set this configuration variable from swift or kotlin AFAIK.

[2022-08-04 19:45] molind commented on #5675
IMHO The task of keeping the connection alive is not the client's task. It has to process the data messages. Perhaps this code should be placed in websocket itself.

[2022-08-05 11:16] n-doton commented on #5707
@nielsenko After some trial and error, I managed to get the following in the console:

[code]

[2022-08-05 11:27] cmelchior opened #5713 "Realm::convert does not check if file already exists"
It looks like `realm_convert_with_config` does not check if a file exists at the target location, which results in weird errors. I.e. I was seeing this:

[code]

It is invalid use of that method to call it with a configuration that point to a path where a file already exists, so ideally Core should check this and throw an appropriate `logic_error` if a file already exists instead of failing like t

[2022-08-05 12:07] jedelbo commented on #5611
@m-sugawara I know that this is now a while ago, but would you know if this crash happened just after the user updated the app? Are you still seeing these crashes?

[2022-08-05 12:36] jedelbo commented on #5680
@NZQN23 could you please inform about the version of Realm, you are using? Do you know if the error occurs in relation to a new version taken into use?

[2022-08-05 14:17] nielsenko commented on #5707
Hmm.. it looks as if your are subscribed 6 times to the logger. Could you structure your code, so that the listen call is not called repeatedly? Also, could you increase the log level to `RealmLogLevel.trace`?

[2022-08-05 15:47] n-doton commented on #5707
It was firing 6 times in my previous post, sorry about that! That was the last trace before the app exited. I'm unable to get the logger to log anymore after several attempts. The app exists with nothing in the stacktrace other than the stack in the original post.

Please could you confirm that the logger in the correct place, as shown in this example?
[code]

Thanks in advance.

[2022-08-05 22:07] dotjon0 opened #5716 "Device Sync enable/disable selectively over Realm local DB collections/models"
#### Describe your problem or use case
Selectively enable 'Device Sync' (App Services) for Realm local DB models/collections. For example, you may want to queue API requests when 'offline' which is stored in a Realm local DB model/collection and then have 20 x other Realm local DB models/collections which are hooked up to 'Device Sync' (App Services).

#### Describe the solution you'd like
Selecti

[2022-08-05 22:16] dotjon0 commented on #5716
sorry wrong repo

[2022-08-05 22:16] #5716 closed

[2022-08-06 11:40] NZQN23 commented on #5680
Hi @jedelbo, this crash occurred using Realm 10.28.2. As I have not released any new version, I cannot say if a newer Realm version solved this problem.

[2022-08-08 08:35] jedelbo commented on #5680
@NZQN23 and before upgrading to 10.28.2, which version did you use then?

[2022-08-08 08:45] NZQN23 commented on #5680
@jedelbo 10.28.1

[2022-08-08 08:50] jedelbo commented on #5680
So you have used 10.28.2 a couple of weeks before seeing this crash?

[2022-08-08 08:54] NZQN23 commented on #5680
Exactly.

[2022-08-08 09:43] AlexIzh opened #5717 "Crash when using Realm for both iOS and Kotlin Multiplatform projects (update app)"
#### SDK and version
iOS SDK: 10.28.4, KMP SDK: 12.1.0

#### Observations
* How frequent do the crash occur? **Always**
* Does it happen in production or during dev/test? **During development**
* Can the crash be reproduced by you? **Yes, always**
* Can you provide instructions for how we can reproduce it? **Yes**

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce

1. Configure iO

[2022-08-08 09:48] AlexIzh opened #5718 "Crash when using Realm for both iOS and Kotlin Multiplatform projects (new app)"
#### SDK and version
iOS SDK: 10.28.4, KMP SDK: 12.1.0

#### Observations
* How frequent do the crash occur? **Always**
* Does it happen in production or during dev/test? **During development**
* Can the crash be reproduced by you? **Yes, always**
* Can you provide instructions for how we can reproduce it? **Yes**

#### Crash log / stacktrace
[code]

Log:
[code]

#### Steps & Code to Reproduce

1.

[2022-08-08 14:11] sync-by-unito[bot] opened #5720 "C-API - realm_query_find_first does not respecting ordering"
C-API method `realm_query_find_first` does not apply any order set by the query.

[2022-08-08 17:14] horatiu1921 opened #5728 "Crash on inserting Decimal128 value"
### How frequently does the bug occur?

Sometimes

### Description

Following realm/realm-swift#7868 I have another issue while saving Decimal128 values. Sometimes, the app crashes when inserting a Decimal128 value that has large significant digits. I noticed that it happens for quotient values less than 100.

For example, app crashes using the same values from the referenced issue:

[code]

I ran

[2022-08-08 21:11] ironage commented on #5700
This will be fixed by https://github.com/realm/realm-core/pull/5715

[2022-08-09 07:35] tacohoekwater opened #5722 "Crash under xamarin forms (promote_to_write aborts)"
The crash happens when I try to update a user object:

`                        await _uiRealm.WriteAsync(() => {
                            appUser = _uiRealm.All<AppUser>().FirstOrDefault();
                            appUser.ServerVersion = value;
                        });
                        _currentFrozenUser = appUser.Freeze();
`

[crash.txt](https://github.com/realm/realm-core/files

[2022-08-09 08:51] rorbech opened #5723 "Query parse error for field name `desc`"
#### Expected results
Allow queries on data models with field name `desc`.

#### Actual Results
When the model contains a field name with name `desc` the query parser will throw an exception when trying to filter on `desc`.

Originating from https://github.com/realm/realm-java/issues/7705

#### Steps & Code to Reproduce
See https://github.com/realm/realm-java/issues/7705

#### Core version
Core ve

[2022-08-09 12:36] #5723 closed

[2022-08-09 15:30] nicola-cab opened #5727 "Restore `TEST_CASE("app: app destroyed during token refresh", "[sync][app]")` once it gets fixed."
#### Expected results
Test should pass reliably, otherwise it could block the release process.

#### Actual Results
Test fails most of the time, it seems something related to timing and how things are initialized.

#### Steps & Code to Reproduce
N/A

#### Core version
N/A

[2022-08-09 17:23] sync-by-unito[bot] opened #5729 "Add testing for sync being paused/resumed at the server level"

[2022-08-09 21:56] ironage commented on #5713
The exception `Class 'Child' must have a primary key` indicates that in order to do a merge with existing data, all classes must have a primary key. I am adding a parameter in https://github.com/realm/realm-core/pull/5730 to allow you turn on or off the merge behaviour.

[2022-08-09 22:19] ironage commented on #5722
Thanks for reporting this @tacohoekwater.
The stack trace shows an assertion in `realm::_impl::RealmCoordinator::promote_to_write(realm::Realm&)` which is likely `    REALM_ASSERT(!realm.is_in_transaction());`. This seems to indicate that there is already an ongoing write transaction.

Are you able to reproduce this? What version of realm swift are you using?
Can you double check that you are not

[2022-08-09 22:39] jbreams commented on #5675
Isn't this what you want to adjust the PongTimeout? https://www.mongodb.com/docs/realm-sdks/objc/latest/Classes/RLMSyncTimeoutOptions.html#/c:objc(cs)RLMSyncTimeoutOptions(py)pongKeepaliveTimeout that gets set here https://www.mongodb.com/docs/realm-sdks/objc/latest/Classes/RLMSyncManager.html#/c:objc(cs)RLMSyncManager(py)timeoutOptions.

I agree it'd be nice if the websocket ping/pong messages co

[2022-08-10 00:19] ironage commented on #5717
Related to https://github.com/realm/realm-core/issues/5718.
This is a crash during file format upgrade. @AlexIzh which Realm version are you upgrading from?

[2022-08-10 05:13] AlexIzh commented on #5717
@ironage initially I tried to upgrade from swift SDK 10.7.7 (core 10.7.2). But I can try to upgrade version by version to find where is the problem appears

[2022-08-10 06:55] tacohoekwater commented on #5722
I have since deduced the same thing. It was not clear from my stacktrace because the double entry that seemed to be happening was from within a property setter (MVVM), but I rewrote the code until the problem went away.

What bothered me was the straight abort(). I could have easily worked around an exception.

Realm 10.15.0 nuget package.

Perhaps I was, sorry. To be honest, I am not all that use

[2022-08-10 11:04] molind commented on #5675
@jbreams Thanks a lot. It should do the trick on iOS. I still can't see similar setting on Android, could you help?

[2022-08-10 14:19] #5631 closed

[2022-08-10 15:21] iprabin opened #5731 "Realm crashes when app is in the background"
#### SDK and version
SDK : realm-js
Version: 10.19.5

#### Observations
* How frequent do the crash occur?
The crash is happening on background after 15 mins
* Does it happen in production or during dev/test?
Dev
* Can the crash be reproduced by you?
Yes
* Can you provide instructions for how we can reproduce it?
Start realm sync when app is launched. We generate some data and start inserting data

[2022-08-10 17:32] #5713 closed

[2022-08-10 23:03] nirinchev commented on #5722
I believe this is a legitimate bug though and should be investigated. There's no way to share Realm instances across threads as all public API on the `Realm` class in native are guarded by `verify_thread`. The crash is happening in `Realm::run_writes`, which is in Core and outside of the control of the user/SDK.

It's quite hard for me to reason about the transaction code, but it looks like there

[2022-08-11 07:30] leemaguire commented on #5718
Hi @AlexIzh I would not recommend mixing these two SDK's together, for the reason being that the Realm Core versions they use are misaligned.

[2022-08-11 08:52] kneth commented on #5731
@iprabin

Thank you for reporting. I have a couple of questions:

* Do you only observe the crash on iOS (and not Android)?
* If you don't put the app in the background, do you observe the crash?
* If the app has been in the background for less 15 minutes (say 1 minute), do you still observe the crash?

If you only observe it on iOS, I am very interested to know if [enabling background tasks](http

[2022-08-11 14:43] kneth opened #5735 "Query parsing of lists of strings produce incorrect results"
#### Expected results
A query like `ANY {"555-1234-567", "123-4567-890"} IN phones` (`phones` is an array of string) leads to incorrect query results.

#### Actual Results
`len` is expected to be 2 and not 0.

#### Steps & Code to Reproduce
[code]

#### Core version
Core version: 12.5.0

[2022-08-11 16:03] iprabin commented on #5731
@kneth

Thank you for your response.

1. Yes, the crash is only happening on iOS but We are not testing as heavily on android
2. No, The app does not crash if its on the foreground
3. We have not tested this case yet, but I will test it and update it here

Couple of things I want to clarify as well:

1. We are using a BLE device and we need the app to run on the background
2. The app is running fo

[2022-08-11 23:21] ironage commented on #5722
The relevant stack from the attached file is:

[code]
@jedelbo  since this is likely related to async write, does this look familiar?

[2022-08-12 07:12] #5735 closed

[2022-08-12 07:36] kneth commented on #5731
When investigating https://github.com/realm/realm-js/issues/4525 we tried to simulate the above (the reporter's app is similar to what you describe). Unfortunately we were never to provoke a crash. We didn't implement the Realm Swift trick as it highly speculative without a reproduction case. If the trick improves the situation for you, we can implement it in Realm JavaScript and document when to

[2022-08-12 09:54] #5707 closed

[2022-08-12 16:32] n-doton commented on #5707
Hi, I'm guessing this fix will be available in the next release. Is it possible to get an ETA on when this might be live? Thanks in advance.

[2022-08-12 16:42] nielsenko commented on #5707
We normally don't give ETAs, but the release of realm-core version 12.6.0 (which includes this fix) is tentatively scheduled for Monday. For you to benefit we need to roll a release of the Flutter SDK as well, which I guess will happen Wednesday. But remember, these are not promises, more like wishful thinking on a Friday afternoon.

[2022-08-14 17:58] sv-coderepo opened #5745 "/Users/cm/Realm/realm-java/r"
#### SDK and version
SDK : ? (Cocoa, Java, etc)
Version: ?

#### Observations
* How frequent do the crash occur?
* Does it happen in production or during dev/test?
* Can the crash be reproduced by you?
* Can you provide instructions for how we can reproduce it?

#### Crash log / stacktrace

#### Steps & Code to Reproduce

[2022-08-15 08:24] bmunkholm commented on #5745
@sv-coderepo You seemed to miss adding any information. So I'm closing :-)

[2022-08-15 11:42] astigsen commented on #904
Duplicate of #4269

[2022-08-15 11:42] #904 closed

[2022-08-15 18:32] #5745 closed

[2022-08-15 19:10] jbreams commented on #5675
After talking with @cmelchior over on the Kotlin team, it doesn't look like Kotlin exposes this configuration option yet, but the work for adding this support is being tracked in https://github.com/realm/realm-kotlin/issues/971.

[2022-08-16 09:18] #5246 closed

[2022-08-16 09:52] nirinchev commented on #5246
Just to be clear - this is not implemented, right? It's exposed in the C API, but consumers of the C++ API will need to implement it themselves using the blueprint laid out in #5704?

[2022-08-16 09:53] nicola-cab commented on #5246
yes @nirinchev ...

[2022-08-16 18:54] #5700 closed

[2022-08-16 19:47] nirinchev opened #5752 "Crash in SyncManager::unregister_session"
#### SDK and version
SDK : .NET
Version: 10.15.1
Core: 12.5.0

#### Observations
* How frequent do the crash occur?
  * Rarely
* Does it happen in production or during dev/test?
  * dev/test
* Can the crash be reproduced by you?
  * Occasionally
* Can you provide instructions for how we can reproduce it?
  * No, there's no consistent pattern

#### Crash log / stacktrace

[code]

#### Steps & Code

[2022-08-17 08:03] marcuswu0814 commented on #5688
Hi @jedelbo,

1. The crash happen after update from  `10.24.0`  to  `10.28.1`.
2. I'm not major in English, so can't sure what did you mean about first question, currently have 10 device (about 1%) facing the same crash with same stack trace. And the number is increasing.

If any missing info that I can provide, feel free to tell me, thanks.

[2022-08-17 15:05] sync-by-unito[bot] opened #5754 "Implement online compaction in Core"

[2022-08-17 19:38] jbreams commented on #5752
What kind of crash happens in pthread_mutex_lock? Does it segfault or abort or something else? I suspect things are just not being torn down in the right order somewhere. Would it be possible to use the thread sanitizer when reproducing this? That would almost certainly show us what's being destroyed in the wrong order, but I have no idea if/how you'd use it with .NET.

[2022-08-17 22:02] nirinchev commented on #5752
It's a segfault as far as I can tell. I'm also not sure how to use the thread sanitizer, but will see if @fealebenpae can help.

[2022-08-18 02:58] m-sugawara commented on #5611
@jedelbo
Sorry for the late reply.

Yes, this crash has still happened.

Sorry, I couldn't know about this from our log. We will update our log later.

By the way, I noticed that the stack traces of the crashes that occurred recently are different than before.
I hope this helps.
[code]

[2022-08-18 07:21] marcuswu0814 commented on #5688
Here is another crash stack trace, it crash at same file and line, but got different stack trace:

[code]

[2022-08-18 12:25] woutergoossens opened #5758 "Crash while consolidating freelist (2)"
#### SDK and version
SDK : Cocoa/Swift
Version:  v10.25.1

#### Observations
* How frequent do the crash occur? 25 crashes
* Does it happen in production or during dev/test? production
* Can the crash be reproduced by you? No
* Can you provide instructions for how we can reproduce it? No

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce

[2022-08-18 18:14] kachalo opened #5767 "Signed integer overflow runtime exception"
### How frequently does the bug occur?

All the time

### Description

After updating to the latest version of RealmSwift, Xcode constantly breaks at runtime exception stating about signed integer overflow.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

Enable "Undefined Behavior Sanitizer" in Scheme Settings
Add all runtime issue breakpo

[2022-08-18 18:54] jbreams commented on #5758
This looks like it could be related to #5300 - @jedelbo, what do you think?

[2022-08-18 20:33] jbreams commented on #5688
@marcuswu0814 , what does the schema of the list you're inserting into look like? Is this a list of embedded objects? Do you have default values for some of columns of the object being inserted? It looks like from the two stacktraces there's a crash while populating a Timestamp field and/or a String/Binary field. When you say it happens "Random, but always if happened in specific device", do you m

[2022-08-19 08:04] marcuswu0814 commented on #5688
Hi @jbreams, thanks for your help, the following code is my Realm Object (swift code):

Parent:
[code]

Child:
[code]

*NOTE

After replace `@objc` with property wrapper refactoring, the line is missing and the field in db is not exist.
I'm not sure if this mistake declare caused this bug, but I change this line to `@Persisted private var _state = State.upload.rawValue` now, but the new version no

[2022-08-19 10:35] nirinchev commented on #5752
We also saw that in a [dart CI run](https://github.com/realm/realm-dart/runs/7916325929?check_suite_focus=true):

[code]

[2022-08-19 10:58] michalrentka opened #5761 "Crash when setting value to an existing object"
#### Expected results
App shouldn't crash when setting value to existing object.

#### Actual Results
App crashes when accessing existing object and setting value to it.

#### Steps & Code to Reproduce
I can't reproduce this issue myself, but I can see multiple reports of this on TestFlight. The app has a background sync of data from our server. This issue happens when I want to update an existing

[2022-08-19 13:34] nirinchev commented on #5752
We also got a user report of this: https://github.com/realm/realm-dart/issues/858

[2022-08-19 13:50] nirinchev commented on #5752
I tried downgrading to various versions all the way to Core 11.14 and it seems the issue still exists. As far as I can tell, it happens when we destroy the .NET session while an upload is in progress. It destroys the shared_ptr to the native session and the crash occurs.

[2022-08-19 21:40] rajspatel1297 commented on #2812
Hi all,

I'm facing similar kind of issue with Realm integration in Node.js. My application is totally offline based. Here is my code:

**Test 1: Creating a global connection and use it in the app**

[code]
I'm getting following error:

[code]

I checked my heap usage and memory usage. The heap usage is stable and memory is slowly increasing. After 4 days of running it, it restarts due to the erro

[2022-08-21 05:51] kneth commented on #5731
@iprabin Did you have a chance to try the Realm Swift trick? If so, did it improve the stability of the app?

[2022-08-22 12:44] edualonso opened #5763 "C-API: expose `Obj::add_int`"
In Realm Java we support conflict-free replicated increments on longs via `MutableRealmInteger` - see https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/java/io/realm/MutableRealmInteger.java.

We are planning on implementing the same functionality for the Kotlin SDK. In java, increments are implemented calling
[code]
so we need this function to be added to the C-API as w

[2022-08-22 13:04] nicola-cab commented on #5763
I can have a look at adding this.

[2022-08-22 13:09] jedelbo opened #5764 "Change Dictionary implementation to not use hash key"
There are several reasons to changes the representation of a dictionary in the file:
 - The implementation using hash generated values as keys in a cluster tree is rather complicated. In particular due to the handling of hash collisions.
 - The benefit of using a hash value as key is a slight performance gain, but that gain is only observable if the dictionaries are rather large.
 - Specializing t

[2022-08-22 14:56] iprabin commented on #5731
@kneth, I did implement the realm swift trick and i am not able to reproduce the crash anymore. I will let you know if anything else changes in the next couple of weeks. For now, I will close the issue as well. Thank you for your help.

[2022-08-22 14:56] #5731 closed

[2022-08-22 16:58] nirinchev opened #5765 "Freeze or disable autorefresh for old_realm inside a migration"
The `old_realm` instance that Core hands to SDK during a [migration callback](https://github.com/realm/realm-core/blob/1647eb2367c2835c13b606627beffea4c6845179/src/realm/object-store/shared_realm.cpp#L448-L449) should be frozen or have autorefresh turned off since there's no expectation that notifications from `old_realm` will be useful, especially when the schema is modified. We ran into a crash

[2022-08-22 18:15] tgoyne commented on #5697
We do wait on a mutex where possible. There's two scenarios where we don't:

1. InterprocessMutex, as the name suggests, implements a mutex which is shared between all processes which open a given Realm file. Apple's implementation of process-shared mutexes doesn't actually work (FB5978435), so we have to emulate it with IPC mechanisms that do work.
2. Async writes let you acquire the write lock a

[2022-08-22 19:22] nirinchev opened #5766 "C-API: Missing API to remove table during migration"
When migrating, if the user supplies a subset of the current Realm schema, Core will not automatically delete tables not present in the new schema. Not only that, but it will not delete objects in those tables either. This may be counterintuitive to users as they will expect that by removing a type the file size will decrease. We should expose a mechanics to delete leftover tables similarly to wha

[2022-08-23 02:20] hamzasohail commented on #5697
Hmmm, if you look at this report here, you seem to be causing an inversion which the app developer doesn't have a way to avoid. I'd suggest looking at ways to avoid such inversions. At the end of the day, the users of the app may see UI responsiveness issues because of them.

https://github.com/realm/realm-swift/issues/7902

[2022-08-23 07:27] kneth commented on #5731
@iprabin Great news. Can I get you to describe what you did? I mean, which files did you modify, etc. It will be valuable for the next app developer who runs into the same problem.

[2022-08-23 14:39] leemaguire commented on #5767
Closed via https://github.com/realm/realm-core/pull/5665

[2022-08-23 14:39] #5767 closed

[2022-08-23 15:14] finnschiermer opened #5768 "Improve transparency of the realm file."
Idea to improve our ability to analyze realm files after a crash:

1. Add a signature to the top array, allowing us to identify top-arrays of earlier commits if present.
2. Add a link to the top array pointing to the top array of the previous commit, thus forming a chain of past commits. The link cannot be an ordinary ref, since it will not always be valid.
3. Add the "last reachable version" numb

[2022-08-23 16:07] iprabin commented on #5731
@kneth I am modifying the whole directory created by realm when we first open realm sync. We no longer have the crash even when the app is running in the background for over half of the day.

Here is the swift code:

[code]

Here is the react-native code:

[code]

[2022-08-23 16:40] nicola-cab commented on #5763
@edualonso how do you intend to call this?
Do you already have:
1. `obj_key`
2. `col_key` (called `property_key` in the C API)

Or do you want this to be something like this:
`realm_object_add_int(realm_object_t*, property_key, int64_t)` ?

In this case, you'd need to have already a valid ptr to `realm_object_t*`.

[2022-08-23 16:46] nirinchev commented on #5705
I believe this is causing issues with automatic client reset for flexible sync. I have not reviewed the actual reset code, but if it's relying on subscription synchronization without waiting for download, this would explain some timing issues we're seeing in our tests.

[2022-08-23 18:01] edualonso commented on #5763
That's fine. I would expect it to be like `realm_set_value` and `realm_get_value`, which is what you are suggesting 👍

[2022-08-23 18:10] ironage commented on #5705
Download a fresh FLX Realm during client reset just waits for a [completed](https://github.com/realm/realm-core/blob/master/src/realm/object-store/sync/sync_session.cpp#L394) subscription set so yes, it is a problem there as well.

[2022-08-23 18:43] nicola-cab commented on #5763
OK, have a look at the PR https://github.com/realm/realm-core/pull/5770 whenever you have time.

[2022-08-23 18:44] nirinchev opened #5771 "C-API: missing write_async API"
We need the API for `begin_write_async` and `commit_async` exposed via the C API.

[2022-08-23 18:45] nicola-cab commented on #5771
I can have a look..

[2022-08-24 11:22] finnschiermer commented on #5758
Yes, likely same root cause as #5300

[2022-08-24 11:23] finnschiermer commented on #5758
@jedelbo assigning this one to you, since you're already assigned to #5300.

[2022-08-24 11:37] finnschiermer commented on #5761
This looks like a corrupt file.
@jsflax any swift expert who can take a look at this .. most notable the swift code referenced at the top of the issue?
@michalrentka can you share a realm file associated with this crash?

[2022-08-24 11:38] #5657 closed

[2022-08-24 11:38] nicola-cab commented on #5632
Can we close this, I haven't seen this happening any more. @ironage and @jbreams

[2022-08-24 11:45] finnschiermer commented on #5764
Re "It would be natural to expect that if you insert values in a Set and use the same values as keys in a Dictionary, then the order of these values when you iterate the collections would be the same."

It would be even better if the order was left unspecified/implementation dependent where possible.

[2022-08-24 12:27] michalrentka commented on #5761
@finnschiermer unfortunately all reports of this that I can find are submitted by anonymous user(s). So I can't ask them to provide the realm file to me.

[2022-08-24 13:14] leemaguire commented on #5761
@michalrentka I've been going through the repo and I've found this:
[code]
If all actions are running through a serial queue then at what point would `self.realm.isInWriteTransaction` be true? I wonder if any writes that hit that branch are terminated too early would leave the Realm file in an invalid state. @finnschiermer would that be possible at the Core level?

[2022-08-24 13:22] michalrentka commented on #5761
@leemaguire I noticed this behaviour a long time ago, when I didn't have all realm requests running on background serial queues. So this was a quick workaround to an issue I didn't know about - realm shouldn't run on concurrent queues. Then I re-read the docs and moved all requests to serial queues. I left this in, just in case.

Anyway realm requests can be performed from multiple background seri

[2022-08-24 13:59] jbreams commented on #5705
Hi @nirinchev , I will drop everything to work on this right away so your tests pass! Thanks!

[2022-08-24 15:04] #5666 closed

[2022-08-24 16:07] sync-by-unito[bot] opened #5775 "Query Parser: Modulo"
The query parser supports arithmetic, but is currently missing the modulo operator (%). This operator would be very useful for relatively common use cases like matching all even or odd values.

[2022-08-25 08:07] #5720 closed

[2022-08-25 09:02] #5763 closed

[2022-08-25 13:05] nielsenko commented on #5752
https://github.com/realm/realm-dart/runs/8016215106?check_suite_focus=true#step:8:440 seems related.

[2022-08-25 13:15] jbreams commented on #5752
@danieltabacaru, can you take a look? It seems like we have more than a few instances here. Maybe we can add more logging here to try to track down what's getting destroyed in the wrong order here.

[2022-08-25 17:00] nicola-cab commented on #5771
@nirinchev is this what you need exposed?
`Realm::async_begin_transaction`
`Realm::async_commit_transaction`

[2022-08-25 17:06] nirinchev commented on #5771
Yes and we probably need to modify `realm_is_writable` to something like `(*realm)->is_in_transaction() || (*realm)->is_in_async_transaction();`

[2022-08-25 17:06] nirinchev commented on #5771
Oh, we also need `async_cancel_transaction`.

[2022-08-26 07:37] peppy opened #5789 "[Bug]: `SessionException: Inappropriate ioctl for device` on ExFAT file system"
### What happened?

As reported by a user (https://github.com/ppy/osu/issues/19948), when opening a realm file from an ExFAT disk, an error is thrown.

Weirdly, I cannot reproduce this in [an isolated test](https://gist.github.com/peppy/6117ce7af1a1dd7f6fadfd3044234bec). I'm not precisely sure how this is happening, but I can reproduce in our game 100%.

### Repro steps

- Move a working realm fil

[2022-08-26 08:00] jedelbo commented on #5764
@finnschiermer the order is still left unspecified.

[2022-08-26 08:27] #5386 closed

[2022-08-26 11:59] #5727 closed

[2022-08-26 12:01] #5397 closed

[2022-08-26 12:04] finnschiermer commented on #5272
@tfe Is the issue still there? Do you have any new information to add that might bring us closer to understanding the problem (if it is still relevant) ?

[2022-08-26 12:44] #5581 closed

[2022-08-26 12:47] #5396 closed

[2022-08-26 12:48] #5624 closed

[2022-08-26 12:54] finnschiermer commented on #5761
@michalrentka Sorry but I got confused by your last comment. Is the bug gone or still there?

[2022-08-26 12:59] michalrentka commented on #5761
@finnschiermer the bug is still there. I was just trying to explain how the piece of code mentioned above was created. I don't think it has anything to do with the reported crash and the `if self.realm.isInWriteTransaction {` should always be `false` now. But if you think otherwise I can try to get more reports from users.

[2022-08-26 12:59] finnschiermer commented on #5506
@svrzii Sorry for the missing response here. Is the issue still present?
@jbreams Has this perhaps been fixed?

[2022-08-26 23:27] tfe commented on #5272
@finnschiermer This hasn't reoccurred, as far as I know. Fine with me to close. I only reported it in the first place because it said to in the stack trace. :)

[2022-08-28 09:42] SyedSaifAli opened #5787 "[realm-core-11.14.0] Assertion failed: ObjectWrap<ParentClassType>::s_ctor"
#### SDK and version
SDK : Cocoa
Version: [realm-core-11.14.0]

#### Observations
* How frequent do the crash occur?
Happens on reload(when triggering `RCTTriggerReloadCommandListeners`)
* Does it happen in production or during dev/test?
Happens on production only, and not on dev.
* Can the crash be reproduced by you?
Reloading the app can reproduce this issue
* Can you provide instructions for ho

[2022-08-29 05:35] xiles commented on #5621
Any update on this?
I got this error again from another user.

SDK: Swift
Realm 10.28.6
RealmDatabase 12.5.1

attached the database file.

[default.realm.zip](https://github.com/realm/realm-core/files/9441762/default.realm.zip)

[2022-08-29 06:09] xiles opened #5788 "Object has been deleted or invalidated."
#### SDK and version
SDK : Swift
Version:
Realm: 10.28.6
RealmDatabase: 12.5.1

App crashes when this code runs.

[code]

App was working well (database was OK).
Added some objects to database. (nothing special)
Exited an app.
App runs => crash

<img width="680" alt="CleanShot 2022-08-29 at 13 13 46@2x" src="https://user-images.githubusercontent.com/906821/187130515-f6ebf413-799a-4fa2-a251-e69f709

[2022-08-29 06:09] xiles opened #5809 "Object has been deleted or invalidated."
#### SDK and version
SDK : Swift
Version:
Realm: 10.28.6
RealmDatabase: 12.5.1

App crashes when this code runs.

[code]

App was working well (database was OK).
Added some objects to database. (nothing special)
Exited an app.
App runs => crash

<img width="680" alt="CleanShot 2022-08-29 at 13 13 46@2x" src="https://user-images.githubusercontent.com/906821/187130515-f6ebf413-799a-4fa2-a251-e69f709

[2022-08-29 08:17] #4729 closed

[2022-08-29 08:22] nirinchev commented on #3898
@nicola-cab was this closed by accident? I'm not sure the linked PR addresses the parent API.

[2022-08-29 08:31] nicola-cab commented on #3898
No, it is wanted. Why do you need to get all the backlinks? Why don't you try to let core handle that, instructing core with the new configuration? Especially because the algorithm for migrating tables from top to embedded is quite complicated, surely not something to write in the SDK.
Besides, a schema violation exception will be thrown way before to be able to react in the migration callback and

[2022-08-29 08:38] nirinchev commented on #3898
This request is not related to migrations - it's a convenience API for obtaining the parent of an embedded object. It was part of the [scope/design](https://docs.google.com/document/d/1zOsXpLEFI7wvpSWWZCnrDRso60sSvZwb-o1OK4KMQEM/edit#heading=h.2s9zdv6a57gn) of EmbeddedObjects but was not implemented due to lack of time.

[2022-08-29 08:40] nicola-cab commented on #3898
OK, then reopen it, but why do you need such API? For checking if the embedded object has a parent? for checking if the migration would succeed? All this is now handled in core..

[2022-08-29 08:48] nirinchev commented on #3898
No, it's needed to be able to delete an embedded object (among other reasons that I have forgotten since it was 2 years ago). Since we decided to disallow direct deletion of embedded objects (e.g. `realm.Remove(myEmbeddedObject)`), we figured we should expose an API to get the parent and use that to delete the object - `(myEmbeddedObject.Parent as SomeParent).Child = null`.

Additionally, it is us

[2022-08-29 09:09] jedelbo commented on #5451
@ironage @nirinchev Are we going to fix this any time soon or can we close this as a non-issue?

[2022-08-29 09:13] jedelbo commented on #4605
@fealebenpae @nirinchev is this still relevant?

[2022-08-29 10:14] #5771 closed

[2022-08-29 10:57] nirinchev commented on #5789
Transferred to Core as it looks like it would be in your domain of expertise.

[2022-08-29 11:12] jedelbo commented on #5722
Sorry for not getting back to this until now. @tacohoekwater if I read your comments correctly then you have moved forward on this? Based on the information we have here, I am not sure we can get closer to the root cause to what you have experienced, but if you are able to construct a reproduction case, then you can re-open the issue and we can have a renewed look.

[2022-08-29 11:12] #5722 closed

[2022-08-29 11:32] jedelbo commented on #5077
The function in question here is "average". I think it makes must sense to return `null` here as asking about an average values in zero cases does not make sense. I agree that you could say that the sum of zero values would be 0, but the you will have to divide by 0 ...

[2022-08-29 11:49] jedelbo commented on #5077
The result of "avarage" on a TableView has always been just a double. So it would be a breaking change to change that. I am not sure how this would affect the SDK's. @nirinchev , @cmelchior , @kneth , @tgoyne ?

[2022-08-29 11:56] BlueCobold commented on #5788
I can confirm I have seen this kind of crash-report in a similar use-case as well.

[2022-08-29 12:00] BlueCobold commented on #5768
This could help locating issues more easily and to restore old data in a corrupt file a lot. On the other hand, actually being ACID would help more.

[2022-08-29 12:09] jedelbo commented on #5569
I am sorry to close this issue, but I don't see how we can progress based on the information we have here. The file clearly has some corrupt entries, but how we got here is not possible to say.

[2022-08-29 12:09] #5569 closed

[2022-08-29 14:16] #5625 closed

[2022-08-29 14:28] jedelbo commented on #5789
The `FallbackPipePath` was introduced in order to be able to put the realm files on ExFat file systems. If it does not help to specify a path where it is possible to create pipes, then it must be something else that is not supported. Unfortunately the exception information does not tell exact what kind of operation that is inappropriate. @peppy would it be possible to get more detailed information

[2022-08-29 14:32] peppy commented on #5789
In our case, just opening the file (via `Realm.GetInstance`) seems to be enough to trigger it, although as I mentioned, I haven't been able to reproduce the issue in an isolated project, so I'm at a bit of a loss as for why it's happening in our main project..

Do you have any suggestions for how I can better track down the responsible operation?

[2022-08-29 15:05] ironage commented on #3898
@nirinchev we have `Obj::get_path()` and `Obj::get_fat_path()` which return the entire path to an embedded object, the top object will be the first element in the returned list. Does this satisfy the need here or do you want something else?

[2022-08-29 15:15] jedelbo commented on #3898
@ironage I just made support for this

[2022-08-29 16:05] nicola-cab commented on #4584
I want just to double-check the concept, which seems wrong to me:
For example, if we do a migration for an object in which we remove a property (e.g we remove "value").

[code]

[code]
The last assertion will fail, because I am copying the just erased property back into the vector.... how do we intend to handle this case?

[2022-08-29 16:47] tgoyne commented on #4584
This is only applicable to Additive mode.

[2022-08-29 17:03] nicola-cab commented on #4584
Ah OK, now this makes sense to me... it seemed such a big breaking change .so the implementation must change as well. We need to be a little bit more conservative and only do this if the schema mode is set to "Additive"

[2022-08-30 06:39] peppy commented on #5789
Thankfully, I think I might have something you can work with. I can reproduce this same issue using realm studio (12.0.0):

[code]

https://user-images.githubusercontent.com/191335/187367105-bdd8f73e-8e5c-4695-af7d-b205e115abb2.mp4

Realm file:
[client_24.realm.zip](https://github.com/realm/realm-core/files/9450312/client_24.realm.zip)

[2022-08-30 07:15] sync-by-unito[bot] opened #5792 "Support compensating writes error info in C API"

[2022-08-30 07:52] #5272 closed

[2022-08-30 08:08] jedelbo commented on #5789
@ironage can you have a look at this? This is not happening on (my) Linux, but a colleague with a Mac confirmed that this is indeed reproducible.

[2022-08-30 08:26] finnschiermer commented on #5768
I can't disagree with that observation.

[2022-08-30 08:34] jedelbo commented on #5718
@leemaguire Using different core versions should not result in this kind of error. Is this somehow reproducible by you? I would like to know why this fails.

[2022-08-30 08:43] #5675 closed

[2022-08-30 10:35] tanukijs commented on #5766
bump
_I know its only been a week but i'm really waiting for this feature for realm-dart's migrations_

[2022-08-30 11:02] rorbech commented on #5718
Hi @AlexIzh. Can you shed some light on the realm usage in the app? What realm files are involved and how/when are they accessed?

Further, what is the KMP part of the app doing? We don't have a version 12.1.0 of the Realm Kotlin SDK, so what are you referring to.

[2022-08-30 11:42] #5241 closed

[2022-08-30 11:52] jedelbo commented on #5621
In the last file, the column `_mediaType` in table `classHLAssert` has a length of 222 when it should be 223. This could very well cause the app to crash when a too short array is found.

[2022-08-30 12:52] #4162 closed

[2022-08-30 15:57] nicola-cab opened #5793 "checkiOSSimulator_Debug fails 99% of times while running object store tests."
#### Expected results
The build should pass and make the whole CI green. Or at least pass reliably and do not fail constantly like it does.

#### Actual Results
Most of the time, we have failures that are either:
1) audit.cpp assertions that are not passing
2) hangs, not clear where and why.

#### Steps & Code to Reproduce
Running the test locally will eventually make the failure reproducible.
Ess

[2022-08-30 16:03] nicola-cab opened #5794 "Spurious crash while running object store tests against baas server v2022-08-30"
#### Expected results
No assertion should have been triggered.

#### Actual Results
An unexpected sync error was caught by the default SyncTestFile

#### Steps & Code to Reproduce
Just run object store tests (with sync enabled) against the latest baas server.

#### Core version
Core version: ?

![image](https://user-images.githubusercontent.com/1497069/187485637-0ff3ac2f-4749-4796-8130-f2cbfedd64f

[2022-08-30 23:40] nirinchev opened #5798 "Throw an error if we try to call `Realm::convert` on a flexible sync Realm"
Apparently, this is not supported yet, so we need to alert the user that this is the case.

[2022-08-31 06:10] GitMurf opened #5825 "Realm query using CONTAINS with [c] case insensitive crashes Realm when an emoji is in search string"
### How frequently does the bug occur?

All the time

### Description

It is pretty straightforward explaining the bug. If you query with `CONTAINS` but ONLY when you use the case insensitive flag `[c]` it crashes Realm if there is an Emoji in the string. It does NOT crash if you do not use the `[c]` flag (as seen in my Loom below). My hunch is whatever methods are being used to compare insensitiv

[2022-08-31 08:57] NZQN23 opened #5800 "Multiple crashes: realm::Node::do_copy_on_write(unsigned long)"
Hi,

I am currently experiencing multiple crashes with Realm 10.28.6. They are all happening on iOS 16.

Crash stack is mostly similar to his one:

[code]

I'd be very grateful if you could give any advice on how to deal with this issue.

Thank you!

[2022-08-31 12:57] jedelbo commented on #5800
Hi @NZQN23 . Thank you for reporting this. Could you give other examples? Do they all have `memmove` on the top of the stack?

[2022-08-31 13:00] NZQN23 commented on #5800
Hi @jedelbo , yes. They all have the identical first two lines "platform_memmove" and "realm::Node::do_copy_on_write(unsigned long)" on top of the stack.

[2022-08-31 13:07] nicola-cab opened #5802 "Enable `app: app cannot get deallocated during log in`"
#### Expected results
Test should pass reliably and do not fail spuriously.

#### Actual Results
The test fails spuriously.

#### Steps & Code to Reproduce
Run the test locally should suffice.
Alternatively, this is the Jenkins run that has failed:
https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-core/detail/master/1745/pipeline/

#### Core version
Core version: ?

[2022-08-31 14:08] #3898 closed

[2022-08-31 14:58] nicola-cab commented on #5802
Closing this because it is not 100% clear if this is the actual curlprit

[2022-08-31 20:01] sync-by-unito[bot] opened #5804 "History can diverge in FLX sync if writes occur during bootstraps"
In FLX sync we apply changesets in bootstrap download messages across several different write transactions and update our progress cursors at the end in the last write transaction. If a modification occurs on an object that has come into view during an applied bootstrap changeset, but before all bootstrap changesets have been applied/integrated, the resulting state will end up being correct, but t

[2022-08-31 23:28] sync-by-unito[bot] opened #5807 "Performance tuning of multiprocess encryption"
Compare our CRUD performance tests with and without encryption.

Compare our CRUD performance tests before and after multiprocess encryption for one process. Optimize for any low hanging fruit here.

Estimate how performance scales when increasing the number of writer processes.

[2022-09-01 08:21] sikkar opened #5808 "Invalid Table top array when opening realm file"
#### SDK and version
SDK : RealmSwift SPM
Version: 10.28.2

#### Observations
* How frequent do the crash occur? random
* Does it happen in production or during dev/test? production
* Can the crash be reproduced by you? cannot be reproduced is totally random
* Can you provide instructions for how we can reproduce it? no, sorry

#### Crash log / stacktrace
See crash log attached
[2022-08-31_04-25-4

[2022-09-01 08:32] #5728 closed

[2022-09-01 09:06] jedelbo commented on #5800
@NZQN23 Thanks - we will investigate

[2022-09-01 09:15] jedelbo commented on #5808
@sikkar Thank you for reporting. Can you inform if you are using encryption in your application?

[2022-09-01 09:23] BlueCobold commented on #5809
Why got this issue closed? It's analysed, but not fixed.

[2022-09-01 09:43] sync-by-unito[bot] opened #5811 "Encrypted pages are nullified"
We have received a realm file from a customer where 2 pages in the encrypted file are filled with zeroes. This makes it of course impossible to use the file.

[2022-09-01 09:54] nirinchev commented on #5409
A constructor can also be viewed as a function and is in line with types such as objectId and uuid where the query syntax is `oid(...)/uuid(...)`. I don't have strong opinions, but I think @ironage's suggestion with `obj(table, key)` would be most consistent with the current syntax.

[2022-09-01 09:58] jedelbo commented on #5810
There seems to be two kinds of problems related to this issue. One is that some refs are not updated correctly. This is probably happening above the encryption layer. Another problem is that an encrypted page is written in wrong location resulting in that the first page in the decrypted file contains data that should have been somewhere else.

[2022-09-01 10:30] BlueCobold commented on #5810
Sounds like some serious issue with multithreading then and/or with internal reference/pointer handling in realm_core. Doesn't it?

[2022-09-01 12:22] sledderGIT opened #5812 "[Bug]: Getting crash on iPhoneSimulator"
### What happened?

Occasionally getting crash on iPhoneSimulator 13 ios 15.5. From the report it says please_report_this_issue_in_github_realm_realm_core.
So doing that:)

### Repro steps

Basically I'm writing into the same collection simultaniously from several threads.

### Version

Xamarin.iOS 15.12.0.2

### What SDK flavour are you using?

Local Database only

### What type of application is

[2022-09-01 15:09] tgoyne commented on #5697
https://github.com/realm/realm-core/pull/5799 doesn't fully fix this, but it will eliminate the most common case where the main thread waits on a condition variable rather than a mutex.

[2022-09-01 17:20] sync-by-unito[bot] opened #5813 "MP Encryption: idea verification"
Stage one idea verification that refetching pages which have hit a torn write while a reader is advancing versions is a viable solution for multiprocess encryption. At this stage, we refresh all pages when advancing versions, which is not an optimal long term solution.

[2022-09-01 17:23] sync-by-unito[bot] opened #5814 "MP Encryption: a suite of unit tests"
This is tracking testing for multiprocess encryption. Test cases can include:

* A Realm large enough to use more than the first page to store encryption IVs. Make sure that the correct IV page is being refreshed when the associated page hits a torn write.
* An intentionally corrupted encrypted Realm throws DecryptionFailed.
* Using the wrong encryption key throws DecryptionFailed.
* A reader adva

[2022-09-01 17:39] sync-by-unito[bot] opened #5816 "MP Encryption: compute which pages an advancing reader should refetch"
[code]

[2022-09-01 18:55] nirinchev commented on #5812
@sledderGIT what version of the Realm SDK are you using?

Internal note: This may be related to https://github.com/realm/realm-core/issues/5624, but that issue seems fixed, so we're either dealing with an old version of the SDK or something that looks similar to it.

[2022-09-02 06:41] sikkar commented on #5808
Hi @jedelbo , no we are not using any type of encryption on the app.

[2022-09-02 09:09] jedelbo commented on #5298
Another example of a similar crash:
[code]

[2022-09-02 11:51] jedelbo commented on #5812
@sledderGIT  I would like to wait for the realm SDK version used before digging further into this.

[2022-09-02 12:16] jedelbo commented on #5808
Relevant stack trace:
[code]

[2022-09-02 18:24] beachcitiessoftware opened #5818 "Assertion failed: m_size > 0"
#### SDK and version
SDK : Cocoa / RealmSwift
Version: Realm - 10.28.3 / RealmDatabase - 12.3.0

#### Observations
* How frequent do the crash occur?
First time I've encountered it.
* Does it happen in production or during dev/test?
This was in dev.
* Can the crash be reproduced by you?
First time I've encountered it.
* Can you provide instructions for how we can reproduce it?
No

#### Crash log /

[2022-09-02 19:15] jbreams commented on #5705
The long-term fix for this requires new testing infrastructure on the server side. However, I've merged a stop-gap fix for how FLX sync client resets are handled so that client resets with recovery mode always wait to be fully synchronized with the server before doing any of their recovery work. Hopefully this will unblock @nirinchev's client reset work while we build out the infrastructure to tes

[2022-09-02 19:20] peppy commented on #5789
Thank you for the fix!

[2022-09-05 01:28] bdkjones commented on #2343
Any updates on this? It's been 4.5 years and I'm running into this issue. I have 200,000 objects to insert into a Realm. That already takes a handful of seconds when done in a single write transaction, so I'd rather not break up the process into smaller transactions that will decrease performance even further.

I understand that I can manually compact the Realm. But unfortunately, that's only poss

[2022-09-05 08:17] finnschiermer commented on #2343
@bdkjones Yes, work on online compaction is in progress, see https://github.com/realm/realm-core/pull/5755.
This will reduce problems coming from fragmentation.

[2022-09-05 13:27] jedelbo commented on #5809
Internal note: The database has invalid entries in the following clusters:
[1, 2, 2, 4, 204]
[1, 2, 2, 4, 206]
[1, 2, 2, 4, 207]
The keys array at [1,2,2,4] is also invalid.

[2022-09-05 13:42] jedelbo commented on #5818
@beachcitiessoftware thank you for reporting this. Since this was found in development, is there a chance that you could/would share the realm file that produced this behavior?

[2022-09-05 13:48] jedelbo commented on #5688
@marcuswu0814 you can send the file to [realm-help@mongodb.com](mailto:realm-help@mongodb.com.)

[2022-09-06 09:12] #5794 closed

[2022-09-06 09:31] nielsenko commented on #5493
Yes.. or at least something similar:
https://github.com/realm/realm-dart/issues/858
https://github.com/realm/realm-core/issues/5752

I have not seen it on 12.6.0 yet

[2022-09-06 09:48] nielsenko commented on #5493
I think this is the oldest

[2022-09-06 11:02] nicola-cab commented on #5752
This is a duplicate of https://github.com/realm/realm-core/issues/5493. Going to close 5493 and use this issue to track both.

[2022-09-06 11:27] kneth commented on #5825
@GitMurf As you can see we have identified a bug in the unicode handling in Realm Core. @jedelbo is working on a fix.

[2022-09-06 11:32] sync-by-unito[bot] opened #5826 "Realm query using CONTAINS with [c] case insensitive crashes Realm when an emoji is in search string"
### How frequently does the bug occur?
All the time

### Description
It is pretty straightforward explaining the bug. If you query with `CONTAINS` but ONLY when you use the case insensitive flag `[c]` it crashes Realm if there is an Emoji in the string. It does NOT crash if you do not use the `[c]` flag (as seen in my Loom below). My hunch is whatever methods are being used to compare insensitive

[2022-09-06 12:52] nicola-cab commented on #4050
Hello, this is a quite old thread. Do we have some way to reproduce this? Do we know if there was a migration that could have changed things? We some vague idea of how this could have happened, I could try to reproduce it in my environment. @Bodnar-Dan ...

[2022-09-06 13:13] GitMurf commented on #5825
Awesome, thanks to you both @kneth and @jedelbo ! Appreciate the quick response and activity on this :) Just curious if you have any sort of timeline estimate on how long it will take before a fix is implemented and then pushed out as a new version to the public? No pressure but just wondering is it closer to a couple weeks or a couple months? Trying to update my team on the progress and a potenti

[2022-09-06 15:29] nicola-cab commented on #5802
Reopening the issue because we observe an instance of the problem on a CI run.

[2022-09-06 15:38] nielsenko commented on #5365
@jbreams I agree. This particular case is no longer a problem.

[2022-09-06 16:39] nicola-cab opened #5829 "DeadLock `SyncSession::wait_for_upload_completion()`"
#### Expected results
On average, 1/2 times we have hangs on CI. I think this is due to this deadlock. I am not sure if this is also a problem in production, but we are hitting this constantly during our CI runs.

In particular, this happens when we wait on the conditional variable. We call this method:

[code]
 And we acquire the `m_state_mutex` for the current sync session.
This is the implement

[2022-09-06 20:27] ianpward commented on #2343
@bdkjones even though the compaction API today is named `compactOnLaunch()` that isn't exactly true - you can call it anytime you want, not just when first launching the app. Were you aware of that?

[2022-09-06 20:37] bdkjones commented on #2343
@ianpward I was not! But the Realm can't be open when I call it, correct? For example, I couldn't dispatch a background thread to go compact the Realm while it's open on the main thread to power the UI?

[2022-09-06 23:17] ianpward commented on #2343
That's correct - you need to close all realm references, similar to your app teardown procedure and then call compact() - not ideal which is why we are looking to improve it but other apps do implement this successfully.

[2022-09-07 02:32] marcuswu0814 commented on #5688
Hi @jedelbo, I sent the file yesterday. 🙏 Did you received that?

[2022-09-07 09:31] #4050 closed

[2022-09-07 15:06] nicola-cab commented on #5688
Hi @marcuswu0814 I had a look to the realm file you sent. I am a bit confused since I can't see neither `UploadObject ` nor `RecordObject` among the classes listed in the realm file you sent.
The database does not seem corrupted.
Could a migration have broken your schema?

[2022-09-07 15:30] jedelbo commented on #5688
@marcuswu0814 Sorry about the late reply. I had a look at the file too, and I found it to be somewhat inconsistent. We are not currently able to tell how it ended up like this, but having the file will hopefully help us to prevent it from happening in the future.

[2022-09-07 16:10] sync-by-unito[bot] opened #5831 "Surface integration errors to the user in case user gets disconnected"
When an integration error is discovered by the sync client, it is surfaced to the user through the error handler. If the client disconnects, the error handler may not be called. We could surface the error when the session gets destroyed.

[2022-09-09 08:53] michalrentka commented on #5761
@leemaguire @finnschiermer I've got an update from the user. He is still able to reproduce the issue and I was able to get the realm file from him. I can't open the file in Realm Studio, so it's most likely corrupted. But the crash report changed a bit and it looks more like #5344 which I reported some time ago.

Link to the database: https://mega.nz/file/w1AXAACJ#c0exEdAP4njaGgKRu_pRXaz2Gk-Ii-lwJ

[2022-09-09 10:13] nielsenko opened #5836 "Expose conversion of collections to results on C-api"
Currently it is not possible to convert a list to a results on the C-api. This feature is available in C++.

It is useful for doing aggregates like min, max, average on lists, since these methods are only exposed on results

[2022-09-09 11:17] nirinchev opened #5837 "[C-API] Expose realm_object_get_parent"
https://github.com/realm/realm-core/pull/5790 added `Obj::get_parent`. We'd like to get that surfaced through the C API.

[2022-09-09 11:24] nielsenko opened #5838 "List.query does a query on table instead"
#### Expected results

This test should pass:
[code]

I was looking at the implementation of:
[code]
which surprisingly uses `list->get_table` to pass into `parse_and_apply_query`. Inspired me to do the above test.

#### Core version
Core version: 12.6.0 (and I guess all previous versions)

[2022-09-09 11:59] nielsenko opened #5839 "Subqueries don't work on results"
#### Expected results
This should work:
[code]

Similar to #5838

[2022-09-09 12:23] rorbech commented on #5838
Seems to be an issue for queries on a result too ... https://github.com/realm/realm-kotlin/pull/998

[2022-09-09 12:32] bmunkholm commented on #4514
Assumed fixed, so closing.

[2022-09-09 12:33] #4514 closed

[2022-09-09 12:43] nielsenko commented on #5839
Maybe I should qualify that the cpp we hit is:
[code]
and not `realm_query_append_query` which does seem to work

[2022-09-09 12:44] rorbech commented on #5839
There is already a specific method to do a sub-query on an existing query with [`realm_query_append_query`](https://github.com/realm/realm-core/blob/master/src/realm.h#L2272), but seems like the above code would hit the [realm_query_parse_for_results](https://github.com/realm/realm-core/blob/master/src/realm.h#L2307) which indeed doesn't seem to take the initial result into account.

[2022-09-09 13:25] sync-by-unito opened #5840 "Log the co_id of sync connections at the info level for easier debugging"

[2022-09-09 13:32] nirinchev commented on #5839
This sounds like a bug to me - `realm_query_parse_for_results` should not ignore the query the results were created with.

[2022-09-09 13:50] nicola-cab commented on #5839
Well, so why are we passing the query as input to this function? I think we can't do both in the same API... we either take the query from results or we use the query passed as parameter

[2022-09-09 14:43] nielsenko commented on #5839
@nicola-cab Does not compute. You are passing the `table` to `parse_and_apply_query`.. basically you are disregarding the `results` parameter.. I guess one way to implement `realm_query_parse_for_results` correctly, would be to get the `query` from `results` and call `realm_query_append_query`.

[2022-09-09 15:05] nicola-cab commented on #5839
Yes, this makes sense. It does not seem difficult to fix, however I will add more testing around this area, since it seems to me we are lacking some testing. A bug like this should have been caught

[2022-09-09 17:27] nirinchev opened #5842 "[C-API] Expose `realm_list_find`"
Similar to `realm_set_find`, we should have `realm_list_find`.

[2022-09-12 10:19] #5620 closed

[2022-09-12 13:12] #5839 closed

[2022-09-12 15:40] nicola-cab commented on #5842
Do you need just `realm_list_find` or also other operations to be exposed? For `sets` we do expose much more than that.

[2022-09-12 15:42] nicola-cab commented on #5842
Also, isn't this `RLM_API bool realm_list_get(const realm_list_t* list, size_t index, realm_value_t* out_value)` what you are looking for?

[2022-09-12 15:43] #5836 closed

[2022-09-12 15:56] nicola-cab commented on #5842
Sorry, you want to search by value. The method above allows to get a value at the particular index.

[2022-09-12 18:40] nirinchev commented on #5842
I think the set operations don't make sense on a list, so `find` is the only one I've noticed missing. And yes, search by value is what we need in order to implement operations like `contains` and `indexOf`.

[2022-09-13 13:40] nielsenko opened #5849 "realm_results_get should support non-object results"
[code]
note the // FIXME

This implementation is basically pointless, as you would use `realm_results_get_object` in that case.

[2022-09-14 09:42] #5838 closed

[2022-09-14 11:22] #5793 closed

[2022-09-14 13:56] #5837 closed

[2022-09-14 17:41] #5691 closed

[2022-09-14 19:37] nirinchev opened #5858 "[C-API] Expose `results_find` and consolidate `results_get` and `results_get_object`"
Similarly to https://github.com/realm/realm-core/pull/5848, it would be nice to have a quick way of checking if a results collection contains an object/value or not (note that for results, `find` is called `index_of`).

Additionally, it might be a good idea to consolidate `get` and `get_object` since both seem to be doing the same thing.

[2022-09-14 19:51] #5842 closed

[2022-09-14 21:09] #5765 closed

[2022-09-15 11:08] rserentill opened #5859 "Crash: `REALM_ASSERT_DEBUG(ndx < m_size);` assertion failed"
#### SDK and version
SDK : Cocoa - RealmSwift (iOS)
Version: 10.28.0

#### Observations
* How frequent do the crash occur?
We are seeing this on production with several users (~2%). Hard to reproduce on our side.
* Does it happen in production or during dev/test?
In production
* Can the crash be reproduced by you?
Very hardly, we managed to reproduce it once. Seems to happen when different objects

[2022-09-15 13:47] #5766 closed

[2022-09-15 13:59] #5409 closed

[2022-09-15 14:47] nielsenko commented on #5858
Note the FIXME in `results_get` .. it should actually support all values, otherwise it will not work with primitives. See #5849

[2022-09-15 15:14] #5825 closed

[2022-09-15 17:21] michael-wb opened #5862 "Update baas scripts to go 1.18.6"
#### Describe your problem or use case
With the impending update of baas to use go 1.18.6 the evergreen/install-baas.sh script needs to be updated to use the new go version. A preliminary testing shows that the existing baas will work fine with go 1.18.6 even before baas has been updated for the new version (baas is still using the older go libs, so it looks like no new changes are needed before t

[2022-09-16 10:53] nicola-cab commented on #5858
That `FIXME` is really odd. How do SDK consume results that contain primitive types?

[2022-09-16 10:55] nielsenko commented on #5858
Dictionaries fx.

[2022-09-16 10:57] nielsenko commented on #5849
We need this for dictionaries

[2022-09-16 12:07] nielsenko opened #5867 "realm_sync_subscription_set_erase_by_class_name missing from C-api"
In order to remove all subscriptions for a given realm object type, we need this functionality exposed on the C-api.

[2022-09-16 16:01] #5798 closed

[2022-09-17 21:23] nirinchev commented on #5858
Looks like the API to get the keys and values collections of a dictionary is missing from the C API. I don't think we should add them as part of this ticket, but definitely something that we should look into.

[2022-09-18 03:36] #5862 closed

[2022-09-19 09:56] nirinchev commented on #5363
We agreed that we can't delete the Realm, but we can definitely close it.

[2022-09-19 10:43] nicola-cab commented on #5363
If I recall correctly, the main problem in calling explicitly `close()` at ObjectStore level is that you cannot do that safely in regard to multiple processes that might be using the same realm file. I will have a look again.

[2022-09-19 13:15] nicola-cab commented on #5858
@nirinchev add another ticket if you require them, I will take care of adding support in the C API.

[2022-09-19 15:02] #4860 closed

[2022-09-19 15:02] #5764 closed

[2022-09-19 15:03] #5316 closed

[2022-09-19 15:43] nirinchev opened #5874 "Expose a way for SDKs to set class/property keys when creating the schema"
#### Describe your problem or use case
Currently we have an API to get collections by `TableKey` and properties by `ColKey` (exposed as `realm_class_key_t` and `realm_property_key_t` in the C API). The issue with this API is that those values are only available at runtime, so SDKs are forced to construct the schema, then query Core to map the `TableKey`/`ColKey` to our local data models. This is t

[2022-09-19 15:45] nirinchev commented on #5874
cc @nielsenko as this is something that came up in our conversations.

[2022-09-19 16:14] tgoyne commented on #5363
We can close the specific Realm instance which we were opening. The thing we can't guarantee is that that'll actually result in the file being closed.

[2022-09-19 19:44] nirinchev commented on #5363
So this is hopefully going to become less of an issue for dart as we're introducing reference tracking for child objects (lists, results, objects) obtained from a Realm during a Core-originating callback (i.e. migrations, and initialization). While we're not going to explicitly close the Realm at the end of such callback, we'll make sure to release all objects owned by that Realm, so there should

[2022-09-20 08:50] nicola-cab commented on #5363
@nirinchev I am not sure if this is a T-bug (or something to keep in the core backlog), a Realm instance at object store level is just keeping track of who is using the file, and in case all the references are gone, we then release automatically the resources held. I think this is the current design and implementation we have.

[2022-09-20 10:17] #5858 closed

[2022-09-20 10:49] #5849 closed

[2022-09-20 12:48] sync-by-unito[bot] opened #5879 "Support Email Reset"

[2022-09-20 13:38] nicola-cab commented on #5874
I am not sure if I understand what you are requesting @nirinchev.
I am not sure `1` or in general any index can/will be viewed as a compile time constant (at least not at core level), also what if there are changes to the schema, `id=1` would not necessarily mean the same thing, or the same property. Especially because you don't have the whole OS schema exposed at SDK level.
Are you looking to hav

[2022-09-20 14:07] nirinchev commented on #5874
Yes, those could also be viewed as indexes. Essentially, it's a way for SDKs to deterministically assign an id/index to tables and columns, the same way they assign names, then use those ids everywhere where a TableKey/ColKey can be used. The ids themselves don't need to be persisted in the schema and can change every time the app is launched, but should be stable for the lifetime of the app.

[2022-09-20 14:57] nicola-cab commented on #5859
Hello, thanks for reporting this.
From the stack trace, it seems like you said that the Node that was inspected (called `Array` because of how we store data internally) was basically empty, thus that assertion triggered.

I'll try to reproduce the issue myself, but without a clear list of steps, it is going to be hard.
You said that you were able to reproduce the issue:

1) How did you save 2 obje

[2022-09-20 15:13] nicola-cab commented on #5874
OK. Still no so sure if this is a good idea. Because I am not sure what would happen if a second app or process opens the same realm file and migrates the schema.
Using a name, most probably, can get the client code out of trouble, since in the worst case scenario, that property won't longer be found.
But using an index, can allow you to mix properties or classes, or retrieve something that has di

[2022-09-20 15:37] tgoyne commented on #5874
I don't think SDKs setting the actual ColKey and TableKeys used in core is viable. It could work in very simple cases, but as soon as migrations, sync, or multiple processes are involved it would be extremely complicated.

The C API appears to already expose what you need to do this in the same way as is done with the C++ API. `realm_get_property_keys()` sets the keys in the same order as the prop

[2022-09-20 15:48] nicola-cab commented on #5812
@sledderGIT as per @nirinchev this seems an instance of this bug, https://github.com/realm/realm-core/issues/5624 (which got fixed).
Can you provide which Realm SDK version did you use?
Most probably, this bug has already been fixed.

[2022-09-20 15:52] nicola-cab commented on #5718
Hello @AlexIzh any update on this issue?

[2022-09-20 16:10] AlexIzh commented on #5718
Oh sorry, we decided to move to Sqlite on KMP part since seems like Realm doesn't support to be used on both side at the same time. We are just migrating our codebase from iOS/Android parts to use some shared library (KMP) that contains database storage.
In IOS app we just use it like a regular database. KMP part of the app stores different information in the other dates file (we used different re

[2022-09-20 16:35] rserentill commented on #5859
Hello @nicola-cab, thank you for your answer!
1. Yes, we are accessing the database from different threads and concurrent threads might be writing to the database at the same time. Let me try to summarise what are we doing:

We have a class `Repository` which has a variable `database`:
[code]

NOTE: `configuration` should never be nil, that would mean `try Realm()` threw an exception while creatin

[2022-09-20 17:32] nicola-cab commented on #5718
Hello @AlexIzh, thanks for your response. It should be absolutely fine to use realm from 2 different applications or SDKs and be able to share data via the database, provided the 2 SDKs are not using completely incompatible file formats, and they share the same schema.

In your case, I don't believe this is the case, IOS SDK is using realm core 12.4.0 and Kotlin SDK is using 12.1.0, which use the

[2022-09-20 18:05] nirinchev commented on #5874
Okay, I realize I didn't do a particularly good job at explaining the request. Let me try to clarify a few things and provide a code example. So, here I'm not talking about the SDK supplying fixed values for TableKey/ColKey or even touching the Core schema at all. I'm suggesting all of this to be handled at OS/C API. Also, originally I was talking about ids to avoid being prescriptive, but let's l

[2022-09-20 18:13] tgoyne commented on #5874
The order of the classes is not preserved; we sort by class name in Schema so that we can binary search it when looking up by name. I'm not sure when you'd ever need `realm_get_object_by_class_index()` though. How are you getting an object key without also having the table key? When following links or reading from a collection the thing you're reading from knows the target table (unless it's a Mix

[2022-09-20 18:30] nirinchev commented on #5874
Yeah, `realm_get_object_by_class_index` was just a random API I picked from realm.h to illustrate the point - I don't believe we're using it. In any case, if the object schema order is not preserved, then that approach will not work for object schemas - it's a fairly centralized codepath (at least in the dart/.NET SDKs), so we can just keep a `Map<Type, TableKey>` (or similar) and look up the tabl

[2022-09-20 20:04] #5648 closed

[2022-09-20 21:36] #5501 closed

[2022-09-21 02:34] sync-by-unito[bot] opened #5880 "SyncManager::wait_for_sessions_to_terminate() does not wait for uploads to complete"
Based on the example in test/object-store/audit.cpp, if you call `close()` on the SyncSessions with a `SyncConfig::stop_policy` of `AfterChangesUploaded`, the session starts to wait for upload, but a subsequent call to `sync_manager->wait_for_sessions_to_terminate();` does not wait for the upload operation to complete and shuts down all the sessions.
[code]

[2022-09-21 05:57] #5345 closed

[2022-09-21 08:29] blagoev commented on #5874
Why is this a problem? What we are trying to optimize for. Have we identified this is really a performance bottleneck in any of the SDKs?

[2022-09-21 09:19] nicola-cab commented on #5718
Also, @AlexIzh if you have a code sample to provide in order to help us to reproduce the issue, please share this with us. It would help us a lot. Thank you.

[2022-09-21 09:29] nicola-cab commented on #5874
I am still not convinced that we can do that safely for properties… If this PR goes in: https://github.com/realm/realm-core/pull/5784/files ... the unmatching persisting properties will be appended to the end of the array.  The meaning of any index could change at runtime if there is migration or sync kicks in... @nirinchev and @tgoyne

[2022-09-21 10:16] nirinchev commented on #5874
@nicola-cab this should not be a problem - appending properties beyond the schema known by the SDK will not affect its ability to access the properties it knows about by index. Local migrations should also be handled correctly as the schema of the pre-migration Realm is fully dynamic from the SDKs perspective and is accessed via the dynamic API. The post-migration schema should order properties co

[2022-09-21 10:23] nicola-cab commented on #5874
OK @nirinchev, I can add what it is needed to the C API.

[2022-09-21 12:03] #5506 closed

[2022-09-21 18:24] #5829 closed

[2022-09-22 14:09] sync-by-unito[bot] opened #5882 "Run sync-related object store tests in their own task on evergreen"

[2022-09-22 14:21] xiles opened #5883 "Assertion failed: has_refs()"
#### SDK and version
SDK : Swift
Version:
Realm 10.30.0
RealmDatabase 12.7.0
Xcode 14.0.1

#### Observations
* Not very often but it happens
* Happened in production

#### Crash log / stacktrace

Thread 1 Queue : com.apple.main-thread (serial)
#0	0x00000001ae50fe60 in __pthread_kill ()
#1	0x00000001ae5623c0 in pthread_kill ()
#2	0x0000000114258e38 in abort ()
#3	0x0000000102dbd924 in ::please_repo

[2022-09-22 15:38] nicola-cab commented on #5883
Hello, thanks for reporting this and sharing the realm file with us. To answer your question, unfortunately there is no way to restore a broken realm file.
We are aware of this uncommon file corruptions, and we are working in order to fix these issues.

Most probably the corruption has happened before, looking at your stack trace it seems like we were opening the file, thus either starting the app

[2022-09-22 15:55] nicola-cab commented on #5859
Hello @rserentill thanks for sharing the code with us, I am not an expert with Swift. But it seems to me that your code should not cause any harm or in general be responsible for corrupting the file. If you find a way to reproduce the issue and or you get a realm file, please share with us. We are trying to find the root cause and fix this bug.

[2022-09-22 23:47] xiles commented on #5883
Not exact but a database file is broken after updating an app from App Store.

- Added some realm objects.
- An app goes to background.
- An app is updated from App Store.
- Open an app => crash (database file is broken)

I've been using realm for a long time. It's very fast and easy to use.. but broken database file is too critical... for database. It keeps happening. And once it is broken, there

[2022-09-23 07:14] jedelbo commented on #5883
@xiles Unfortunately we are seeing an uptake in the number of issues like this reported by users of the Swift SDK. It is of course high on our priority list to find the root cause of these issues. Thank you for sharing the file - it might bring us new insights into what could be wrong.

[2022-09-25 05:37] BlueCobold commented on #5883
The file still contains a regular header structure and the top-refs do not that bad either. Manual reconstruction could still be tricky, and probably not *all* the data can be restored. I have modified versions of the dump- and browser-tools and in case that file is super important to restore, I could try to take a closer look. Please not, however, that I am not part of the realm team with dedicat

[2022-09-25 11:38] xiles commented on #5883
@BlueCobold Could you help to restore the broken file? All user's data is super important. A user have built those data for a long period and with many effort. Thanks in advance.

[2022-09-25 12:18] Sonisan opened #5889 "Assertion failed: list.get_realm() == _realm->_realm"
#### SDK and version
SDK : Swift
Version: Realm 10.30.0, RealmDatabase 12.7.0

#### Observations
* How frequent do the crash occur? -> First time happening.
* Does it happen in production or during dev/test? -> During dev
* Can the crash be reproduced by you? -> No
* Can you provide instructions for how we can reproduce it? -> the error point to the following line in my code: 	@ObservedRealmObject

[2022-09-25 12:55] BlueCobold commented on #5883
@xiles I can't make any promises, but I can take a look to check what might be salvageable.

[2022-09-26 00:51] nirinchev opened #5890 "[C-API] Http transport doesn't correctly preserve the request body"
When strings are small, they will be allocated on the stack rather than the heap, which means that a pointer to their `.data()` will become invalid when the string is moved. This seems to be what's happening after https://github.com/realm/realm-core/pull/5743 started preserving the request in the completion callback.

https://github.com/realm/realm-core/blob/52b297a54ec68f36f5324f87eb2d8ac435a5aca

[2022-09-26 00:53] nirinchev commented on #5890
cc @michael-wb - I've been chasing this for a while in dart and this is the best explanation I could come up with. My understanding of C++ is rather superficial though, so there may be something else at play.

[2022-09-26 01:52] michael-wb commented on #5890
@nirinchev - I am reworking this area due to requests from @RedBeard0531, so I will look into this issue as part of that.

[2022-09-26 03:57] xiles commented on #5883
@BlueCobold Of course, I totally understand.

[2022-09-26 09:50] RedBeard0531 commented on #5890
@nirinchev's analysis is correct. You need to either copy the request into the CompletionData, or create the CompletionData *first*, and have the c request refer into its `request` members.

[2022-09-26 10:28] #5889 closed

[2022-09-26 10:29] nicola-cab commented on #5889
Moved to: https://github.com/realm/realm-swift/issues/7971

[2022-09-26 15:07] michael-wb opened #5891 "Revisit GenericNetworkTransport interface updated for Reconstruct App URL changes"
#### Describe your problem or use case
The SDK teams didn't prefer the update of the `GenericNetworkTransport::send_request_to_server()` that requires both the request and the response to be passed to the callback function.

#### Describe the solution you'd like
Update the callback function to incorporate the request object and pass it back to the callback without requiring the SDK to keep track o

[2022-09-26 18:39] jbreams commented on #5458
Sorry for the very late response here. You should not have to do anything else. Do you need any more info here?

[2022-09-27 05:51] BlueCobold commented on #5883
@xiles How many tables should the file have? Because it's trying to load 10, where I can only see 7 (+1 internal). Do you by chance have an empty example file to compare the broken file to?

[2022-09-27 06:00] xiles commented on #5883
@BlueCobold Here is the normal database file.
The broken file is have been migrated from old versions and there could be tables not using anymore.
(HPPrivateAssetCollection, HPPrivateTag, HPTag)

Here is the realm configuration using in a current version.
[code]

[default.realm.zip](https://github.com/realm/realm-core/files/9652051/default.realm.zip)

[2022-09-27 06:02] #4802 closed

[2022-09-27 07:01] kraenhansen opened #5894 "Throw meaningful exception when declaring `dict` of `mixed` (missing `nullable`)"
#### Expected results

A meaningful error message, hinting to the fact that dicts of mixed has to be declared as nullable.

#### Actual Results

I hit a debug assertion and no meaning full error message.

#### Steps & Code to Reproduce

When opening a Realm with an object property schema declaring a dict of mixed (type = 521):

[code]

I hit [this debug assertion](https://github.com/realm/realm-co

[2022-09-27 07:15] BlueCobold commented on #5883
@xiles Can you check if this file makes any sense? It might be an old or outdated version of the file's content, because I just simply used one of the old "commits", but I have no idea if this makes any sense. There are various versions of the data in the file, does your application make heavy use of parallel transactions?
I could possibly export *all* working old "commit" versions of the file for

[2022-09-27 07:17] BlueCobold commented on #5883
@xiles: Since the given file is still kind of "broken", I don't recommend using that file for further productive use. So in case you want to give it to your customer, I would recommend reading all entries from this file and write them to a fresh new realm, so that no bad references remain which could damage the file again straight away.

[2022-09-27 07:46] xiles commented on #5883
@BlueCobold I'm not sure there are data losses or not but at least the file is opened and tables look ok.
I'll recreate the data file and check with a user.
An app doesn't perform parallel transactions.. but there are codes using `try! realm.write { .. }` in a loop.
Does this count as parallel transactions?

I really really appreciate you doing this for me and my user.

By any chance, could you te

[2022-09-27 08:25] BlueCobold commented on #5883
@xiles That's not parallel, that's sequential access. Parallel would be if you used multiple async blocks to read/write your realm. If that's true, it would mean the issue is not related to multi-threading, which I hoped to solve my making all my transactions sequential in a single thread - and so far it seemed to be mostly solving my corruption issues.

About what I did to the file, it is basical

[2022-09-27 08:43] BlueCobold commented on #5883
@xiles If more users are affected, I'm afraid the corruptions might be very different for each one and may require different approaches. Sometimes the references are invalid, sometimes memory areas are overwritten and unrecoverable. Depending on what happened, other references can be used or entries can only partly be read with specifically changed tools/code to export the columns that still exist

[2022-09-27 08:57] xiles commented on #5883
@BlueCobold You are super!!! Thanks for your explanation in detail. I'll try what I can do.

PS:
Do you use iPhone or iPad?
I know that it's not enough for your help but I would like to give you a redeem code of my app as a token of appreciation.
let me know your email If you want to try. It's a photo manager app for iOS.

[2022-09-27 09:35] clementetb opened #5895 "C-API - Add backlink support"
#### Describe your problem or use case
We like to be able to query backlinks using the C-API without using the query subsystem.

#### Describe the solution you'd like
We like to have something along the lines:

[code]

[2022-09-27 09:50] rserentill commented on #5859
Hi @nicola-cab, thank you for answering! sure, we will send you guys the file if we are able to reproduce the issue again on our end.

[2022-09-27 10:13] BlueCobold commented on #5883
@xiles I just develop for iOS, I am mainly using Android. But thanks for the offer ;)

[2022-09-27 10:41] nicola-cab commented on #5895
@clementetb I am going to look at adding this

[2022-09-27 17:05] danieltabacaru commented on #5255
@nirinchev A lot has changed since this issue was filled. We now have seven categories of errors based on the action the server sends: https://github.com/realm/realm-core/blob/master/src/realm/sync/protocol.hpp#L215-L221. Some of the errors have a different behavior (see example above). I propose we close the issue unless you object.

[2022-09-27 23:06] nirinchev commented on #5255
Yes, that's likely no longer relevant, let's close.

[2022-09-27 23:06] #5255 closed

[2022-09-28 10:02] bmunkholm opened #5902 "ignore - testing"

[2022-09-28 11:39] fealebenpae opened #5903 "Upgrade to OpenSSL 3"
Make sure Core builds cleanly with OpenSSL 3, and bump the default required version.

- [ ] Fix any test failure or deprecation warning related to the upgrade
- [ ] Cache prebuilt version of OpenSSL 3 for Linux, Android, and Windows on our CDN

[2022-09-28 15:10] astigsen opened #5905 "Synchronous Transactions for Flexible Sync"
Current transactions are asynchronous in the sense that they will commit synchronously (and full ACID) to the local storage, but they will asynchronously be applied to the serve, and at that point they will be merged into the history based on our deterministic merge rules.

This is great for performance, connectivity tolerance, and it means that a transaction can never fail (other than from fatal

[2022-09-28 18:44] nirinchev commented on #5874
Hm... perhaps the issue wasn't explicit enough or the example I gave was misleading, but the request is not only for "get property by index". For this to work, we need to be able to completely replace all API usage where `realm_property_key_t` is used with API that take in property indices instead. This is `realm_set_value`, `realm_set_embedded`, `realm_get_linked_object`, `realm_object_changes_ge

[2022-09-28 21:51] #5894 closed

[2022-09-28 21:53] sync-by-unito[bot] opened #5907 "Query Parser: Add missing aggregate operators"
We currently support the following aggregate operators in queries: count, sum, avg (mean), min, max.

There are a lot of other aggregate operators that are used, especially in the context of analytics and data science:

* median
* std
* valueCount
* kurtosis