[2022-09-28 23:46] michael-wb opened #5908 "Update test in test_lang_bind_helper.cpp to disable global page reclaimer during test"
#### Expected results
Update the operation of the LangBindHelper_ImplicitTransactions_InterProcess test (line 3110) in test_lang_bind_helper.cpp to disable the global page reclaimer during the test.

#### Actual Results
A task run on Ubuntu 20.04 ARM64 experienced a hang during the `test_lang_bind_helper.cpp` test:
[code]

From the core dump, it looks like it was determined that the mutex was pote

[2022-09-29 07:51] nicola-cab commented on #5874
OK, this was not clear to me. It is a much bigger undertake.

[2022-09-29 09:01] #5895 closed

[2022-09-29 18:55] #5908 closed

[2022-09-30 07:39] sereivoanyong opened #5912 "Crash when modifying linked objects of observed sectioned result"
#### SDK and version
SDK : Cocoa
Version: 10.30.0

#### Observations
* How frequent do the crash occur? Always
* Does it happen in production or during dev/test? All
* Can the crash be reproduced by you? Yes
* Can you provide instructions for how we can reproduce it?

I have 2 classes `Transaction` (contains `date: Date`, `account: Account!`) and `Account` (contains `name: String`).

I got a `List

[2022-09-30 09:23] astigsen opened #5913 "Investigate if we could benefit from using madvise to optimize our mmap usage"
Memory mapping can be prone to overfetching. We should investigate if there could be a performance benefit to start using [madvise](https://linux.die.net/man/2/madvise).

Using MADV_RANDOM for small reads and MADV_SEQUENTIAL for large reads, could potentially improve the read pattern and lead to both higher performance and less overfetching. The challenge is if we have enough information to differ

[2022-09-30 10:41] #5752 closed

[2022-09-30 13:36] nirinchev opened #5914 "Incorrect user provider being recorded for server api key users"
When we persist the user in the metadata Realm, we use the string representation of the provider but we have the same representations for `apiKey` and `serverApiKey`:

https://github.com/realm/realm-core/blob/7b087008a19773f1bb92324d410f9e70db17fca9/src/realm/object-store/sync/app_credentials.cpp#L33-L34

Is this intentional? This has the unpleasant side effect that:

[code]

And if you log in a u

[2022-09-30 14:13] #4553 closed

[2022-09-30 14:16] #5709 closed

[2022-09-30 15:30] cmelchior commented on #4431
Well, I agree it is a duplicate, and by the sounds of it it has been fixed. Having progress notifications every 1 MB sounds fine to me. If that is what is happening now.

[2022-09-30 16:00] #4431 closed

[2022-09-30 21:12] nirinchev commented on #5914
Interesting, I guess it doesn't make sense to expose different provider types for new SDKs then. cc @cmelchior if you haven't exposed the server api key credentials yet, you may want to opt for a single api key credential type.

[2022-10-01 00:06] ironage commented on #5912
Thanks for reporting this @sereivoanyong.
The assertion is not immediately reproducible from the information you provided. Are you doing anything else in the transaction that updates the linked object? Are you able to provide a minimal runnable reproduction case?

[2022-10-01 00:09] ironage commented on #5912
Internal note, here's the test I tried which succeeded:

[code]

[2022-10-01 03:35] sync-by-unito[bot] opened #5916 "Allow conditional compilation of openssl/ssl library"
Add a compile-time flag that conditionally compiles out the default websocket implementation and the use of the openssl/ssl library in realm core sync.

[2022-10-01 03:38] sync-by-unito[bot] opened #5917 "Create c_api implementation for custom websocket"
Work with the SDK teams that use the c_api to develop a custom websocket implementation that fits within their needs to replace the default websocket and conditionally compile out the openssl/ssl library.

Based on the `SyncSocketProvider` interface class, the c_api definition should be relatively straightforward to implement. A "custom" implementation of `SyncSocketProvider` will need to be creat

[2022-10-02 11:41] #5458 closed

[2022-10-02 15:47] sereivoanyong commented on #5912
@ironage Hi. Here's the full crash-reproducible code in Swift.
[code]

[2022-10-02 15:55] sereivoanyong commented on #5912
It always crashes when updating any accounts linked to observed **sectioned** transactions.

[2022-10-03 16:38] ironage commented on #5632
Another failure:
[code]

https://ci.realm.io/blue/organizations/jenkins/realm%2Frealm-core/detail/PR-5918/1/pipeline/93

[2022-10-03 17:52] #5890 closed

[2022-10-03 17:52] #5891 closed

[2022-10-03 21:43] blagoev commented on #5874
I find this problematic
[code]

How can you guarantee that each time the generator will generate the exact same value for this property.
The first example ((listed below) ) will always work regardless of the order of the properties while this one seems order dependent.
[code]

Meaning people can break their apps by just reordering properties and reading an old realm file.

[2022-10-03 21:46] nirinchev commented on #5874
The property order is not persisted in the schema, so it can change every time you restart the app. The schema is created and maintained at runtime for each Realm instance independently. So you can even run multiple apps accessing the same Realm file that have different schema orders.

[2022-10-03 23:16] ironage commented on #5912
@sereivoanyong thanks for that, I am able to reproduce this now.

[code]

[2022-10-04 05:53] blagoev commented on #5874
Then I guess the sample code is misleading. It should be
[code]

[2022-10-04 06:21] nirinchev commented on #5874
The property-index mapping can be resolved at compile time. It can change as the models change or the code is regenerated, but we don't need the name.

Think of an example of our generated code for the schema:

[code]

We know that `foo` is at index 0 because it's the first element in the schema array. That will not change until the model is recompiled, so we can just use `0` everywhere where we w

[2022-10-04 08:17] blagoev commented on #5874
Yes indeed the mapping should be done beforehand. then it should work.

[2022-10-04 13:41] sync-by-unito[bot] opened #5922 "Trying to setup an event trigger configuration issue"
Using Terraform to call realm API to attach event trigger having challenges getting correct configuration to work
https://github.com/mongodb/terraform-provider-mongodbatlas/issues/858

[2022-10-05 14:59] anama777 opened #5942 "Crush on Realm.delete"
### How frequently does the bug occur?

Sometimes

### Description

We get a lot of crash reports from Sentry. Below I attach the stack trace itself and the code of our function in which the crash occurred. If you need any additional information about the bug, we are ready to provide it.

Our function:
open func remove(_ objects: [Object], realm: Realm? = nil) {
        guard let realm = realm ??

[2022-10-06 01:58] #5922 closed

[2022-10-07 03:42] m-sugawara commented on #5611
We resolved this problem in our app.

I don’t the details but removing Firebase Performance worked well.
We thought that ISA Swizzling is used in Firebase Performance and it made crash happens.
referenced comment: https://github.com/firebase/firebase-ios-sdk/issues/8321#issuecomment-900321941

Anyway, our problem has gone so let me close this issue.

Thanks for the comments.

[2022-10-07 03:42] #5611 closed

[2022-10-07 13:01] JacobOscarGunnarsson opened #5928 "[C-api] Expose realm_query_parse_for_set"
Currently these methods exposed in the C-api

`RLM_API realm_query_t* realm_query_parse_for_list(const realm_list_t* target_list, const char* query_string, size_t num_args, const realm_query_arg_t* args);`
and
`RLM_API realm_query_t* realm_query_parse_for_results(const realm_results_t* target_results, const char* query_string,
                                                     size_t num_args, c

[2022-10-07 13:25] jedelbo commented on #5680
@NZQN23 are you by any chance using Firebase Performance in your app?

[2022-10-07 13:26] NZQN23 commented on #5680
No, I do not.

[2022-10-07 13:32] nicola-cab commented on #5928
I can have a look...

[2022-10-07 15:24] DavideCeresola opened #5947 "Crash on app startup"
### How frequently does the bug occur?

Sometimes

### Description

Our app seems to crash on startup due to realm.
We are performing some deletions with the filter operator at the app startup in a background thread that seems to cause the crash.
We are not able to reproduce it at the moment but some users is complaining about it.

### Stacktrace & log output

[code]

### Can you reproduce the bug

[2022-10-07 15:33] JacobOscarGunnarsson commented on #5928
Appreciate it!

[2022-10-10 14:59] sync-by-unito[bot] opened #5932 "update install_baas to point to new stitch support library"
The current ubuntu stitch support lib was referencing an artifact on evergreen that has been archived and our tests are now failing due to `install_baas.sh` not being able to download the archive.

Update the stitch support library to download the library from long term storage.

[2022-10-12 07:14] NZQN23 opened #5941 "Crash on Realm.write"
### How frequently does the bug occur?

Sometimes

### Description

My app crashes in production during write operations

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

_No response_

### Version

10.31.0

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, not using encryption

### Platform OS and vers

[2022-10-12 13:59] michalrentka opened #5937 "Realm.init crash on `realm->_realm = Realm::get_shared_realm(config);`"
#### SDK and version
SDK: Realm-Swift
Version: 10.32.0
Core: realm-core-12.9.0

#### Observations
User reported a startup crash in their app. I'm including their DB files in a comment below. I can reproduce the issue in the app when I replace my db files with theirs.

The crash happens when I try to perform a write soon after app launch: https://github.com/zotero/zotero-ios/blob/90c7c31c806b80ed2b

[2022-10-12 14:00] michalrentka commented on #5937
[db.zip](https://github.com/realm/realm-core/files/9765518/db.zip)

[2022-10-14 02:55] #5932 closed

[2022-10-14 09:09] shepelroman opened #5953 "Crash on open Realm"
### How frequently does the bug occur?

Seen once

### Description

The app starts crashing during opening Realm object.

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Not yet

### Reproduction Steps

Code sample:

`internal let RealmAuxilaryQueue = DispatchQueue(label: "realm-auxilary-background", qos: .background)`

[code]

[code]

[code]

### Version

1.29

### What SDK f

[2022-10-17 11:10] finnschiermer commented on #5937
Potential duplicate of https://github.com/realm/realm-core/issues/5808

[2022-10-17 11:17] #5812 closed

[2022-10-17 11:34] nicola-cab commented on #5818
Closing this because we have got no more info around this bug, this can be a duplicate of some corruption bugs we observed in the past or something different (some memory limit the user hit during development).

[2022-10-17 11:34] #5818 closed

[2022-10-17 11:45] finnschiermer commented on #5344
@jedelbo Could this be an earlier instance of https://github.com/realm/realm-core/issues/5808 ?

[2022-10-17 18:05] NZQN23 commented on #5937
I also experience these crashes in my app.

[code]

[2022-10-17 18:16] sedwo commented on #5937
I currently get this crash to occur every time with my specific realm DB file from a client.

Runtime: iOS 16.0 (20A360) - DeviceType: iPad mini (6th generation)
Occurs on real device and simulator.

[code]

Seems to crash internally when I call `Realm(configuration: realmConfig)`

**[realm-core-11.15.0] Assertion failed: top_size > 2 && top_size <= 6**

Release crash info:

[code]

MongoDB Realm

[2022-10-17 18:39] ericjordanmossman commented on #5942
@jedelbo
I'm going to move this to realm-core because this crash appears to be an issue with freeing up memory while deleting in an array. Since realm-swift is making a call to `realm::Obj::remove()`, I'm not sure we can make a fix in realm-swift alone.

I did notice that this bug has occured from at least [5.5.0](https://github.com/realm/realm-swift/issues/7010). There's also this [case](https://

[2022-10-18 11:33] jedelbo commented on #5942
Unfortunately we can't see exactly which assertion inside SlabAlloc::do_free that is hit. The property we are trying to delete seems to be of Binary type. @anama777 I hope this agrees with the schema in use? Unfortunately there is not much we can do to solve this issue if we cannot get a reproduction case. If you are able to get the actual realm file that causes this behavior, then it could be hel

[2022-10-18 11:36] sync-by-unito[bot] opened #5946 "IN query on list of links fails on .NET SDK"
This fails with an IN query on a list of links. We ran this on version 10.17 of the .NET SDK.

The error message we get is "Realms.Exceptions.RealmException : Unsupported comparison between type 'typedLink' and type 'link'"

Here is an example of what we did to produce this:

[code]

Schemas for the objects:

[code]

[2022-10-18 11:41] jedelbo commented on #5941
@NZQN23 If you have several crash reports, could I ask you to check if all stacktraces show a crash on `realm::ArrayBigBlobs::insert`?

[2022-10-18 11:46] NZQN23 commented on #5941
@jedelbo yes, all of them have this line.

[2022-10-18 11:53] jedelbo commented on #5941
... and the rest of the call stack does also look the same?

[2022-10-18 12:00] NZQN23 commented on #5941
Mostly. Would you prefer if I send all logs per email?

[2022-10-18 12:02] jedelbo commented on #5941
Yes, that would be great. You can send them to me: jorgen.edelbo@mongodb.com.

[2022-10-19 07:47] jedelbo commented on #5937
@sedwo We would very much appreciate if you could share the realm file with us. Please send to realm-help@mongodb.com

[2022-10-19 09:38] #5946 closed

[2022-10-19 09:52] jedelbo commented on #5947
Internal note: Error when erasing entry in StringIndex

[2022-10-19 12:55] sedwo commented on #5937
@jedelbo sent!  👍

[2022-10-19 13:57] desistefanova opened #5954 "[C-API] Need to know if `realm_async_commit` and `realm_async_begin_write` are succeeded?"
#### Expected results
We need to know whether `realm_async_commit` and `realm_async_begin_write` are succeeded or not. Is it possible they to return `bool` instead of `int` and the actual result (int value) to be passed as an out parameter?
We need to know whether to get the last error and to throw it or not.

#### Actual Results
 Methods `realm_async_commit` and `realm_async_begin_write` return `

[2022-10-19 13:59] nirinchev commented on #5954
The issue here is that there's no way to distinguish a valid return value from the error case - the `AsyncHandle` being returned starts at 0 and in case an error occurs, the returned value is also 0.

[2022-10-19 14:00] jedelbo commented on #5953
@shepelroman seems like you have just upgraded the Realm library. Which version did you upgrade from?

[2022-10-19 14:02] jedelbo commented on #5937
@sedwo thanks!

[2022-10-19 15:28] nicola-cab commented on #5954
I can have a look...

[2022-10-19 22:11] dotjon0 commented on #3860
+1

[2022-10-19 23:15] #5912 closed

[2022-10-20 12:05] rorbech opened #5958 "[C-API] Align notification/callback registration mechanism in the C-API"
#### Describe your problem or use case

There are still different ways to unregister various callback mechanism throughout the C-API.

Previously `realm_add_realm_changed_callback` and `realm_add_schema_changed_callback` have been updated in https://github.com/realm/realm-core/issues/5217 to follow the C-API managed approach of returning a token object that could be released through `realm_release

[2022-10-20 17:39] nicola-cab commented on #5958
I haven't looked into all the APIs, but what I was thinking is to reuse is something like `struct NotificationToken {` ...

[2022-10-20 18:12] sync-by-unito[bot] opened #5959 "Add realm core version to app login request"
To assist with the future PBS->QBS app migration feature, add the realm core version to the BSON data in the body of the app login request (where the platform and SDK version info is provided) so the server can provide information to the user regarding how many clients are still using an older (unsupported) version of the client that does not support PBS->QBS migration. It can also be added to the

[2022-10-21 13:44] desistefanova opened #5962 "Implement InitialSubscriptionsCallback on opening a realm."
#### Describe your problem or use case
When we open a synced realm, there is no option to add subscriptions initially, right after the file is created and before the realm to be returned.

#### Describe the solution you'd like
There should be a place where the users can add subscriptions for synced Realm, before the realm to be fully downloaded. The SDK that provides Realm.openAsync implementation

[2022-10-21 14:44] sedwo commented on #5937
Hi @jedelbo, any insights into this?
Just so that I can communicate an update to my clients as well.

[2022-10-21 18:41] #5209 closed

[2022-10-21 19:14] #5959 closed

[2022-10-21 20:20] #4432 closed

[2022-10-22 13:44] cmelchior opened #5966 "[C-API] Expose BindingCallbackThreadObserver so the JVM can correctly shut down"
On JVM platforms we need a way to attach the Sync Client C++ thread to Java in order to communicate with it and detach it afterward in order to correctly shut down the JVM. Realm Kotlin accidentally did attach it in some other code, but detaching is currently impossible.

In ObjectStore this global variable exists https://github.com/realm/realm-core/blob/master/src/realm/object-store/binding_callb

[2022-10-24 09:08] nicola-cab commented on #5966
I can have a look...

[2022-10-24 15:54] nicola-cab commented on #5962
Is this something specific to Dart? Aren't the other SDKs all implementing this on their own?

[2022-10-24 16:29] nirinchev commented on #5962
All SDKs are implementing it on their own, but that should move into Core. The reason we didn't do it initially is because we didn't have anyone available on the Core team to work on it. That being said, there are bugs and inconsistencies in the implementation of different SDKs which will be resolved if we move the API in Core.

[2022-10-24 17:17] nicola-cab commented on #5962
OK, can you provide an example of this implementation for .net for example? Thanks.

[2022-10-24 20:44] #5641 closed

[2022-10-24 22:49] nirinchev commented on #5962
This is the entrypoint for that code: https://github.com/realm/realm-dotnet/blob/859a3ce9bc7c0feba00cb60102a4da795336edbc/Realm/Realm/Configurations/FlexibleSyncConfiguration.cs#L91-L108

It's a little convoluted, but the tl;dr is it's hooking into the initial data callback to be notified that the Realm is created for the first time, then it's invoking the user-supplied callback to populate initia

[2022-10-25 02:21] sansamit opened #5970 ".net realm crash"
D:\a\realm-dotnet\realm-dotnet\wrappers\realm-core\src\realm/util/interprocess_mutex.hpp:386: [realm-core-12.9.0] Assertion failed: b
<backtrace not supported on this platform>!!! IMPORTANT: Please report this at https://github.com/realm/realm-core/issues/new/choose

#### SDK and version
SDK : ? (Cocoa, Java, etc)
Version: ?

#### Observations
* How frequent do the crash occur?
* Does it happen in

[2022-10-25 10:30] nicola-cab commented on #5970
Hello @sansamit thanks for reporting this.
However, without a full stack trace, it is basically impossible for us to try to understand and/or reproduce the issue.
It seems there is a problem with this assertion `REALM_ASSERT_RELEASE(b);` in `interprocess_mutex.hpp`. Which might be a serious issue, a race condition in our code, or it might just be related to the fact that the handle for the `mutex`

[2022-10-25 14:22] FadyAckad opened #5972 "Crash when initializing Realm caused by `realm::Array::init_from_ref(unsigned long)`"
#### SDK and version
SDK : Swift
Version: 10.28.4
Core: realm-core-12.4.0

#### Observations
* How frequent do the crash occur?
  - Quite frequent.
* Does it happen in production or during dev/test?
  - Production.
* Can the crash be reproduced by you?
  - No, but we got the crash report from a user.
* Can you provide instructions for how we can reproduce it?
  - The crash seems to happen during R

[2022-10-25 15:11] nicola-cab commented on #5972
Hello, thanks for reporting this.
Realm Core is not throwing an exception in this case, but just terminating your application.
The reason why this is happening is most probably because the database got corrupted in the previous run.

Unfortunately, we are seeing an increase of these reports (on IOS). We are trying to get at the bottom of these issues and fix the problem.

In the meantime, if you c

[2022-10-25 19:23] shepelroman commented on #5953
Sorry for the delay. 10.15.1 to 1.29

[2022-10-26 07:13] NZQN23 commented on #5941
Hello @jedelbo, do you have any updates on these issues?

[2022-10-26 13:32] jedelbo commented on #5941
Unfortunately not. But I can assure you that several people are working on it.

[2022-10-26 13:38] jedelbo commented on #5937
I have spent quite amount of time trying to figure out why the a realm file could end up like the one I received. Unfortunately it did not point in a specific direction. Can I ask you if you continue to get issues from new users?

[2022-10-26 15:47] michalrentka commented on #5937
@jedelbo unfortunately I don't have other crash reports now. From time to time similar crash report from Realm pops up from our users, but not quite the same. I'll update this ticket when I have database and report from more users.

In my case, the database is shared with share extension via app group shared folder. The share extension can be used quite often and it also includes background upload

[2022-10-26 18:23] #5365 closed

[2022-10-27 15:04] sedwo commented on #5937
@jedelbo Is it possible for the app to somehow recover any data from this DB state?

[2022-10-28 11:16] owenzhao opened #5976 "Realm Crashed With `realm.delete`"
### How frequently does the bug occur?

All the time

### Description

I got logs with `realm.objects`. Then delete. However, the realm crashed.

[code]

[code]

### Stacktrace & log output

[code]

### Can you reproduce the bug?

Yes, always

### Reproduction Steps

_No response_

### Version

10.32.1

### What SDK flavour are you using?

Local Database only

### Are you using encryption?

No, no

[2022-10-28 11:47] sledderGIT opened #5975 "Got crash removing object"
#### SDK and version
.NET Xamarin
Version: 10.17.0

#### Observations
Saw it first time

#### Crash log / stacktrace
Users/runner/work/realm-dotnet/realm-dotnet/wrappers/realm-core/src/realm/array_backlink.cpp:108: [realm-core-12.9.0] Assertion failed: int64_t(value >> 1) == key.value [272, 16]
0   realm-wrappers                      0x000000010e548ffc _ZN5realm4utilL18terminate_internalERNSt3__11

[2022-10-28 12:46] jedelbo commented on #5937
We now have the hypothesis that some pages are not written to the file system - probably caused by the phone somehow crashing. So, as we are lacking some data, there is no way to recover. Our design is meant to guarantee that data is written in the order expected, but it seem like that is not achieved on iOS. We expect to have a solution soon.

[2022-10-28 12:57] jedelbo commented on #5941
@NZQN23 You say that the problems started mid-september. Can you relate that to a change in the Realm version used?

[2022-10-28 13:03] NZQN23 commented on #5941
No, it was the same (10.29.0). It explicitly checked this. Maybe something with iOS 16?

[2022-10-28 13:09] jedelbo commented on #5941
Yes, we are beginning to suspect that there has been a change in the platform.

[2022-10-28 13:23] nicola-cab commented on #5975
Hello, thanks for reporting this. It seems like the object that was deleted was linked to another object, while we were deleting this relationship we ended up with a value different from what we expected.
`Assertion failed: int64_t(value >> 1) == key.value [272, 16]`
I need some more digging in order to understand better the how to reproduce this issue.

[2022-10-28 14:35] ericjordanmossman commented on #5976
This appears to the same crash as [here](https://github.com/realm/realm-core/issues/4773#issuecomment-934400255) starting at `_ZN5realm11ClusterTree5erase`.

[2022-10-28 14:45] nicola-cab commented on #5976
Hello, thanks for reporting this. I believe this is the same problem we have been chasing down for a while, the database got corrupted. We have a theory for this, and it seems an IOS specific bug. During a transaction, the order in which data is flushed into the disk is not preserved, thus this could lead to some corruption, in some cases.
We still don't have a clear way to reproduce this, but we

[2022-10-28 14:57] ericjordanmossman commented on #5976
@nicola-cab One thing to note, is the hyperlinked issue happened with core 11, prior to iOS 16.

[2022-10-28 15:19] nicola-cab commented on #5976
To be honest, I am starting to think that it is IOS related and not necessary confined to IOS 16 and/or only to recent versions of core. But I have got no proof of this right now.

[2022-10-28 15:36] RedBeard0531 opened #5977 "Include HTTP code and body in message for fatal http errors"
This code produces an `AppError` for a fatal HTTP error code, but it includes neither the body or the code in the message. The code is included as a field, but that may not show up when logging the error, so it would be good to include it in the message as well. And the body is just discarded, even if it may have useful information. Making these changes should make it easier to debug fatal HTTP re

[2022-10-28 17:48] NZQN23 commented on #5680
Hi @jedelbo, I have checked all crash reports and the first time I had anything with "please report this issue" dates back to January. Since I had crash reports with "please report..." in almost every release. Used SDK back then was 10.21.1

[2022-10-29 13:50] greenafrican opened #5981 "Crash on RN 11 with Hermes"
#### SDK and version
SDK : React Native
Version: Realm 11.0.0 and @realm/react 0.4.0

#### Observations
* Every time I open my app
* In the simulator and on device via xcode
* Yes, every time I open the app
* Can you provide instructions for how we can reproduce it? Not sure. I added a schema to the sync and this happened

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce
Not sure

[2022-10-29 13:56] greenafrican commented on #5981
Issues resolved when I remove new schema. Will investigate further on my side and close in the meantime.

[2022-10-29 13:56] #5981 closed

[2022-10-29 14:07] owenzhao commented on #5976
I wanted to point out that mine was a macOS app instead of iOS. My app crashed under macOS Monterey 12.6.1.

[2022-10-30 10:43] NZQN23 opened #5982 "Crash create_object_with_primary_key"
#### SDK and version
SDK : cocoapods-1.11.3
Version: 10.32.0

#### Observations
* How frequent do the crash occur? Sometimes
* Does it happen in production or during dev/test? Production
* Can the crash be reproduced by you? No
* Can you provide instructions for how we can reproduce it? No

#### Crash log / stacktrace
[code]

Not sure if there is context to https://github.com/realm/realm-core/issu

[2022-10-30 10:53] NZQN23 commented on #5941
Hi @jedelbo, I have just checked the latest crash reports for last ten days. So far I have 84 crash reports of which 36 reference to https://github.com/realm/realm-swift/issues/7999, 13 seem to be the issue with ArrayBigBlobs, 24 seem to be the initialize issue and 7 are new within the last day for a slightly different stacktrace, I have opened https://github.com/realm/realm-core/issues/5982 for t

[2022-10-31 10:56] jedelbo commented on #5220
@takameyer @nirinchev @ironage Just so I understand what is required: We already have an interface where you are called before the transaction is advanced. Why can't that be used here?

[2022-10-31 11:16] takameyer commented on #5220
@jedelbo I wasn't aware of this.  Is it implemented in object store?  Currently we are using `add_notification_callback` from `object_store/sectioned_results.cpp`.  There doesn't seem to be an implementation for `before` or `after` here.

[2022-10-31 11:29] jedelbo commented on #5220
I'll check the sectioned_results case.

[2022-10-31 12:08] takameyer commented on #5220
In any case, I think it would be a cleaner interface for our users to not have to manage their state between two listeners.  I think a single listener with more information in the callback function would be more valuable and easier to work with.

[2022-10-31 13:57] jedelbo commented on #5220
I just became aware that the `before()` method is not called for async notifiers.

[2022-10-31 14:06] #5813 closed

[2022-10-31 14:07] #5816 closed

[2022-10-31 14:12] sync-by-unito[bot] opened #5983 "Update logger references in classes to use shared_ptr"
Due to the lifetime of the logger references in Sync, the logger is being destroyed too soon in the teardown of sync with the updated websocket implementation for platform networking.
Migrate the logger reference member variables in Sync to be shared pointers, so ownership of this object is shared across all the components that use the logger.

This can also benefit the binding generator as well.

[2022-10-31 15:09] tgoyne commented on #5220
You wouldn't want to expose the before notification to users. You'd want to take care of that and do something like:

[code]

There's a whole bunch of other things to handle (e.g. types with no PK or PK isn't an object id).

Reporting the frozen previous version is simpler. It'd just be something like:

[code]

Note that this currently causes significant version pinning problems if you subscribe t

[2022-10-31 17:50] edualonso opened #5985 "C-API: `check_value_assignable` reports type mismatch for `Mixed` columns"
It seems `check_value_assignable` doesn't take into account `Mixed` columns when checking for the type:
[code]
When working with `Mixed` columns this condition will always yield a type mismatch, e.g. when calling `realm_set_values` in the C-API.

[2022-11-01 08:31] jedelbo commented on #5220
Thank you for your comments @tgoyne. I presume that you think this could all be done in the SDK's?

[2022-11-01 10:13] edualonso commented on #5985
For more context, commenting out the line that does the validation in `realm_set_values`
[code]
allows me to save `realm_value_t`s in `Mixed` columns correctly.

[2022-11-01 12:36] jedelbo commented on #5754
Fixed by #5755

[2022-11-01 12:36] #5754 closed

[2022-11-01 13:40] NZQN23 commented on #5982
Nope. As with the other issues mentioned I was never able to reproduce them but receive huge amounts of crash reports.

[2022-11-01 15:52] nirinchev commented on #5571
Can we prioritize fixing this or is there a workaround we can apply for our tests? We're seeing this show up more and more often on CI. I don't believe we've made changes to C# code exercising this codepath, so not sure why it's happening more often.

[2022-11-01 16:06] tgoyne commented on #5220
It might make sense to push the implementation into OS just for the sake of sharing the code between SDKs, but it should be fully implementable at the SDK level. My inclination would be to implement it in one SDK first and have them hash out all the little details to ensure it supports the API they want to expose, and then push it down to core.

[2022-11-01 16:26] nirinchev commented on #5220
While this approach will work, I'm worried about the number of frozen versions being generated this way, especially in SDKs where data binding is very common. Considering that for notifications to be able to deliver the before state, we typically need just the version prior to the advance, we could instead have the Realm instance freeze a version prior to advancing to a new version, then have noti

[2022-11-01 19:16] nirinchev commented on #5220
Right - can't we freeze the version when the write transaction starts, then look up the objects/collections that will receive notifications in that frozen version? I'm sure there are many intricacies to take care of, but conceptually, we shouldn't need more than one realm-wide frozen version at a time.a

[2022-11-01 23:05] ironage commented on #5632
Another failure [from](https://ci.realm.io/blue/rest/organizations/jenkins/pipelines/realm/pipelines/realm-core/branches/PR-5602/runs/20/nodes/93/steps/907/log/?start=0) next-major:

[code]

[2022-11-02 18:09] #5705 closed

[2022-11-02 18:34] sync-by-unito[bot] opened #5989 "Update install_baas stitch library to 4.4.17"
BAAS was updated to use the stitch-support library v4.4.17. Update the `install_baas.sh` script to use this version.

[2022-11-02 19:40] sync-by-unito[bot] opened #5990 "Subscriptions on timestamps should use millisecond precision"
There is an oddity at play in that MongoDB has millisecond precision and Realm uses nanosecond precision. This means that when we receive a query from Realm on a timestamp that has non-zero nanoseconds we can't safely convert that into a MongoDB date time query in such a way that we could guarantee the same results we send is what a local realm query would return.

I am not sure what the best rout

[2022-11-02 19:44] #5989 closed

[2022-11-03 02:14] aehlke commented on #5941
is this a widespread issue?

[2022-11-03 11:46] #5977 closed

[2022-11-03 11:50] astigsen opened #5991 "Support creating realms in "pure" in-memory mode"
Currently Core supports an in-memory mode, but it still temporarily uses a backing memory mapped file (it just never explicitly syncs it to disk). It does this so that multiple processes can concurrently work on the same in-memory dataset.

This is generally a good thing, but for running under wasm, memory mapped files become very problematic, and there is no need for multi-process support there a

[2022-11-03 13:32] fronck commented on #5981
@greenafrican Thanks for the follow-up.
For future reference, [realm-js](https://github.com/realm/realm-js) is probably the best entry point for issues related to RN / Hermes :)

[2022-11-03 13:41] #4183 closed

[2022-11-03 13:56] jedelbo commented on #5941
This is probably not due to a change in the platform. We are close to have found the root cause.

[2022-11-03 16:34] #4182 closed

[2022-11-03 17:06] sledderGIT commented on #5975
Ok I think I've figured out how it's happening. I'm capturing the collection of items in one async method and trying to remove some of the same items from another async method.

[2022-11-03 18:19] sync-by-unito[bot] opened #5994 "Index Query Improvements"
Queries of the form `field = $0` when run on a Timestamp column (or Bool column) do not improve in performance when an index is added. We'd expect the speedup to be approximately equal to that of an integer column.

* TimestampNode and BoolNode should have special handling if an index is available.
* We should support Indexing all other column types (aside from links or collections).

[2022-11-04 09:55] andersfredlund commented on #1845
And now two years later, still no bandwidth to look into this?

[2022-11-04 09:55] jedelbo commented on #5220
I think it will make sense to try to solve the problem in realm-js first and then figure out what potentially could be moved to Core. @takameyer would you be prepared to work together with me on this?

[2022-11-04 11:56] sedwo commented on #5937
Hi @jedelbo, any update to this?

[2022-11-04 14:19] blagoev opened #5997 "Compaction space file not deleted on compact"
This happens on Windows

[2022-11-04 14:27] #4048 closed

[2022-11-04 14:29] jbreams commented on #5673
As I said in the PR this isn't something we release or support anymore. In fact, I'll go ahead and remove this parameter completely in a separate PR. If you've having an issue with our current device sync offering please reach out to support.

[2022-11-04 14:29] #5673 closed

[2022-11-04 14:44] nirinchev commented on #5997
I think the real issue is that it doesn't get deleted after `compact` completes. It should not need to be handled by `DB::delete_files`.

[2022-11-04 14:47] blagoev commented on #5997
updated title

[2022-11-04 16:57] nicola-cab commented on #5975
Obviously, there is something in the async flow that is causing this. However, it seems to be triggered by the fact that you are trying to remove the same object from the same collection in 2different threads. I'll double-check if this is reproducible in core.
Thanks.

[2022-11-05 11:25] NZQN23 opened #6000 "Crash on translate_critical"
#### Expected results
App does not crash

#### Actual Results
App crashes

#### Stack trace
[code]

#### Core version
Core version: happens since Realm Swift 10.32.2

[2022-11-07 03:15] EBusch opened #6001 "Assertion failed: m_has_write_mutex"
#### SDK and version
SDK : Xamarin/DotNet
Version: 10.18.0

#### Observations
* How frequent do the crash occur?
Seemingly every launch
* Does it happen in production or during dev/test?
Dev environment
* Can the crash be reproduced by you?
Yes
* Can you provide instructions for how we can reproduce it?
Unsure. I am on VS for Mac 17.3.8, the iOS simulator is running 16.1.

#### Crash log / stacktr

[2022-11-07 15:14] NZQN23 commented on #5941
There might be something interesting here: in my latest release I have integrated 10.32.0 and have removed a particular string attribute from one object. Since then, I never had any of this issue or of the issue from https://github.com/realm/realm-swift/issues/7999. And yes, it was the _workoutUUID_ attribute.

[2022-11-07 19:57] ironage commented on #6000
Thanks for reporting this. It appears related to https://github.com/realm/realm-core/issues/5972 which is something we are currently tracking down.
Internal note: Swift 10.32.2 is using core version 12.11.0.

[2022-11-07 20:04] ironage commented on #6001
Thanks for reporting this.
@jedelbo this appears to be an issue with async writes, can you take a look?

[2022-11-08 08:43] jedelbo commented on #6001
@EBusch I think I a little more context. You say it happens at every launch, but could you provide a bit more of the stack trace? Can you explain what is supposed to take place in your application when this occurs?

[2022-11-08 13:45] clementetb opened #6006 "test - ignore"
#### Expected results

#### Actual Results

#### Steps & Code to Reproduce

#### Core version
Core version: ?

[2022-11-08 13:55] bmunkholm commented on #6006
thanks!

[2022-11-09 08:53] jedelbo commented on #5937
We will probably make a release later today with a possible fix. You can follow the progress here: #5993.

[2022-11-09 08:55] NZQN23 commented on #5937
Will this only prevent this particular behavior in the future or will it also fix apps with already corrupted database?

[2022-11-09 09:01] jedelbo commented on #5937
Unfortunately we cannot automatically fix already corrupted databases.

[2022-11-09 11:11] nicola-cab commented on #5976
@owenzhao this is interesting, we have a fix for the problem (https://github.com/realm/realm-core/pull/5993), but we did not manage to find a way to reproduce the same issue on macOS (which can help us in order to provide better testing).
The root cause of the database corruption is that in some particular conditions, parts of the file that were memory mapped and modified were not flushed to disk.

[2022-11-09 11:37] nicola-cab commented on #5975
This is a duplicate of https://github.com/realm/realm-core/issues/5299... which is due to database corruptions. For which we have a fix cooking at https://github.com/realm/realm-core/pull/5993

[2022-11-09 12:31] owenzhao commented on #5976
I would love to share my story. However, as my knowledge, I really didn't know if this would help. But I can promise that story was what happened as far as I can remembered.

I am using an iMac 5K 2014 late, which only supported by Apple up to macOS 11. I wanted to use Monterey, or even Ventura. So I had to install OCLP first. That was called installing macOS on unsupported Macs. After Ventura rel

[2022-11-09 16:07] nicola-cab commented on #5976
OK, so you upgraded the platform from macOS11 to Ventura and downgraded again because your toolchain was not working.
This is interesting, it might be that the problem is after all coming from the platform and our guarantees are somehow violated. We found a suitable fix for the problem, but the database file will be unfortunately lost.
The fix will only prevent this to be happening in the future.

[2022-11-09 18:27] #5972 closed

[2022-11-09 18:27] #5859 closed

[2022-11-09 18:27] #5976 closed

[2022-11-09 18:27] #5970 closed

[2022-11-09 18:27] #5975 closed

[2022-11-09 18:27] #5758 closed

[2022-11-09 18:27] #5761 closed

[2022-11-09 18:27] #5298 closed

[2022-11-09 18:27] #5299 closed

[2022-11-09 18:27] #5810 closed

[2022-11-09 18:27] #5941 closed

[2022-11-09 18:27] #5811 closed

[2022-11-09 19:36] BlueCobold commented on #5810
@nicola-cab
The release notes in realm-core say the PR fixes an issue which exists since v11.8.0. However, this bug-report was already made in v10.10.0. So either the commit doesn't fix it or the release-notes are incorrect.

[2022-11-09 19:52] owenzhao commented on #5976
I would like to use that fix. However, I have something concerned. To apply the fix, I surely will upgrade Realm/RealmSwift. Is that enough? Do I have to manually remove my current Realm database or RealmSwift will do it itself?

[2022-11-10 00:40] sync-by-unito[bot] opened #6009 "Update Logger level threshold to be atomic"
Update the Logger level threshold to be atomic so it can be modified in a thread-safe manner.

Also, update the level threshold isn't truly shared between logger instances like it should be. This was somewhat achieved by using the LevelThreshold class reference that was used in the original Logger and subclasses before the changes. This would be a good instance to use a `bind_ptr` to share the lev

[2022-11-10 04:56] ahoang opened #6010 "Crash when upserting User's `customData`"
#### SDK and version
SDK : RealmSwift
Version: 10.28.5

#### Observations
* How frequent do the crash occur? Every Time
* Does it happen in production or during dev/test? Dev
* Can the crash be reproduced by you? Yes
* Can you provide instructions for how we can reproduce it? Trying to upsert a user's `customData`. When the document does not exist (i.e. should be insert), it will successfully inse

[2022-11-10 09:59] nicola-cab commented on #5976
You need to delete your database. We are going to release a new version of core and then there will be a new version of swift, upgrading to that release will be all you need.

[2022-11-10 14:34] sync-by-unito[bot] opened #6012 "Consider doing away with double logger variables"
For [PR 5980](https://github.com/realm/realm-core/pull/5980/files), the primary classes that owned a reference to the Logger were updated to hold a `shared_ptr` instead of a reference to the logger held as a `unique_ptr` by the SyncManager. This improved the predictability of the lifetime of the logger, but also introduced a lot of changes.

To minimize some of the changes, two variables are used

[2022-11-10 18:33] sync-by-unito[bot] opened #6013 "Fix failing "app destroyed during token refresh" test"
The "app: app destroyed during token refresh" test is sometimes failing, since the websocket tries to connect to the server, but an app doesn't really exist. This leads to a 404 error response from the server, which is caught by the default error handler and the test fails:

[code]

Update the test to add a custom error handler that prints out but does not fail when a websocket error occurs.

[2022-11-11 07:53] NZQN23 commented on #5937
Hi @jedelbo when will a new Swift version will be released that contains this fix? The changelog for the new release seems not to contain it: https://github.com/realm/realm-swift/releases/tag/v10.32.3

[2022-11-11 08:15] desistefanova opened #6015 "[C-API] Unknown error category when no connection."
#### Expected results
Allowing users to know when their realm is out of sync due to a connection issue. Could we have some special error category and codes that to be given to the users when the connection is not available?

#### Actual Results
When there is a connection problem we receive:
`"GeneralSyncError message: Host not found (authoritative) category: SyncErrorCategory.unknown code: 1"`
on

[2022-11-11 12:59] sync-by-unito[bot] opened #6019 "Add dictionary support"

[2022-11-11 12:59] sync-by-unito[bot] opened #6021 "- Add asymmetric sync support"

[2022-11-11 13:35] sync-by-unito[bot] opened #6024 "Add iOS & Android integration apps"
Example apps for both testing and examples

[2022-11-11 13:35] sync-by-unito[bot] opened #6025 "Improve QT examples"

[2022-11-11 13:36] sync-by-unito[bot] opened #6026 "Improve testing of types"
Improve the test suite by adding more complex tests for every type.

[2022-11-11 14:39] #6013 closed

[2022-11-11 22:20] #5571 closed

[2022-11-12 07:26] AsifAliJohari opened #6028 "Crash on android 12 on take backup of database"
#### SDK and version
SDK : java kotlin ? (Cocoa, Java, etc)
Version: 10.9.0

#### Observations
* How frequent do the crash occur?
* When i click on create backup on android 12 with no new change in code which already tested on android 10 it crash
* Does it happen in production or during dev/test?
* development
* Can the crash be reproduced by you?
* yes
* Can you provide instructions for how we ca

[2022-11-13 09:05] owenzhao commented on #5976
The "default.realm.lock" must be deleted with realm file as well. Or sometimes the host app may crash.

[2022-11-14 09:38] JacobOscarGunnarsson opened #6029 "Normalize sync connection parameters"
SDKs are aligning on client information to send once they connect to a sync server. For that to work, core must add support for the new format that is sent. The following fields must be supported:

- deviceId
- sdk
- sdkVersion
- platform (if possible, newer versions should send to “os” instead, but depends on if we can merge “os” and platform together)
- platformVersion (as above, if possible we

[2022-11-14 15:29] sync-by-unito[bot] opened #6030 "Support in-memory Realm"
Support creating a Realm without access to a filesystem. Ideally we should be able to build a stripped down version of the library where the file support code is not even linked in.

[2022-11-14 15:59] ironage commented on #6010
HI @ahoang, thanks for reporting this. I think this one was recently fixed. See https://github.com/realm/realm-core/issues/5345. Can you try updating the Swift SDK to 10.31.0 or later?

[2022-11-14 17:11] ironage commented on #6028
Hi @AsifAliJohari thanks for reporting this. What kind of file system is the external storage directory located on? Does the code work if you use a different file system?
@cmelchior do you see any problems in the provided code sample?

[2022-11-14 17:25] cmelchior commented on #6028
@AsifAliJohari It looks like you are hitting the new security restrictions introduced in Android  11 which require you to use the Scoped Storage API's: https://developer.android.com/about/versions/11/privacy/storage

These API's prevent Realm from opening and using Realm files on external storage directly.

This was also reported here https://github.com/realm/realm-core/issues/4777 and here https:

[2022-11-14 19:50] #5826 closed

[2022-11-14 21:58] AsifAliJohari commented on #6028
Sorry for the late reply. But file copy to that path where i want to copy
means in my backup dirctory ..
i open it in realm studio. so why it crash?
if its problem of android, file should not be copy in my output path .
scope storage  issue . given code  you can use to reproduce crash .

On Mon, Nov 14, 2022, 10:26 PM Christian Melchior ***@***.***>
wrote:

[2022-11-15 09:56] bolshedvorsky opened #6031 "Crash on open Realm (iOS)"
#### SDK and version
SDK : Swift
Version: Realm 10.30.0, Realm Core 12.7.0

#### Observations
* How frequent do the crash occur?
Ocasionally, on app launch

* Does it happen in production or during dev/test?
Happens in production

* Can the crash be reproduced by you?
No

* Can you provide instructions for how we can reproduce it?

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce

[2022-11-15 16:16] nicola-cab commented on #6031
Hello, thanks for reporting this, we are aware of this problem, and we have fixed in here: https://github.com/realm/realm-core/commit/495dfb4f6b64f7439e0a9ef6070a11b6b3a8e040 ... there will be soon a new Swift SDK that supports that fix.
Unfortunately, the database file got corrupted, and I am afraid you won't be able to use it any more. You need to delete the old database (including lock file, et

[2022-11-15 16:29] edualonso opened #6034 "Add some form of query validation again"
I can see `query.validate` was removed - see https://github.com/realm/realm-core/commit/6b043981ac92537ce7ec6e29d1d47374e8a31208#diff-f635cbd3382d46174a9185c4dc677d0ef78267a958becde735479aaac4a2ff91L1830. Not having access to some form of validation makes it impossible to send valid predicates using the Java SDK's fluent query interface under some circumstances.

In this particular case we could a

[2022-11-16 16:05] ironage commented on #5632
Another [failure](https://ci.realm.io/blue/rest/organizations/jenkins/pipelines/realm/pipelines/realm-core/branches/PR-6002/runs/9/nodes/104/steps/839/log/?start=0) observed on master.
[code]

[2022-11-17 00:26] #5220 closed

[2022-11-17 01:12] sync-by-unito[bot] opened #6037 "Remove need to expose core headers"
Don't expose the core headers in the c++ SDK.

[2022-11-17 01:12] sync-by-unito[bot] opened #6038 "Assertion failure on query error"
If multiple query messages are sent in succession to the server, an error on any of the queries but the last one will produce an assertion failure.

[2022-11-17 07:23] AsifAliJohari commented on #6028
I resolve issue by copy realm to cache then write in to backup path .

  if ((Build.VERSION.SDK_INT > Build.VERSION_CODES.Q)) {
                val tempFile = File(context.cacheDir, exportRealmFileName)
                tempFile.delete()
                realm.writeCopyTo(tempFile)
                copyToSharedDir(tempFile, exportRealmFile)
            } else
                realm.writeCopyTo(exportR

[2022-11-17 08:17] #6030 closed

[2022-11-17 08:24] jedelbo commented on #5300
Closed by #5993

[2022-11-17 08:24] #5300 closed

[2022-11-17 08:25] jedelbo commented on #5800
Closed by #5993

[2022-11-17 08:25] #5800 closed

[2022-11-17 08:26] jedelbo commented on #5688
Closed by #5993

[2022-11-17 08:26] #5688 closed

[2022-11-17 08:26] jedelbo commented on #5680
Closed by #5993

[2022-11-17 08:26] #5680 closed

[2022-11-17 08:26] jedelbo commented on #5953
Closed by #5993

[2022-11-17 08:26] #5953 closed

[2022-11-17 08:27] jedelbo commented on #5808
Closed by #5993

[2022-11-17 08:27] #5808 closed

[2022-11-17 08:27] jedelbo commented on #5937
Closed by #5993

[2022-11-17 08:27] #5937 closed

[2022-11-17 08:28] jedelbo commented on #5947
Closed by #5993

[2022-11-17 08:28] #5947 closed

[2022-11-17 08:28] jedelbo commented on #5621
Closed by #5993

[2022-11-17 08:28] #5621 closed

[2022-11-17 08:29] jedelbo commented on #5344
Closed by #5993

[2022-11-17 08:29] #5344 closed

[2022-11-17 08:31] jedelbo commented on #5883
Closed by #5993

[2022-11-17 08:31] #5883 closed

[2022-11-17 08:33] jedelbo commented on #5942
We assume this could be fixed by #5993

[2022-11-17 08:33] #5942 closed

[2022-11-17 08:38] jedelbo commented on #5982
We assume this could be fixed by #5993

[2022-11-17 08:38] #5982 closed

[2022-11-17 08:43] jedelbo commented on #6031
We assume this could be fixed by #5993

[2022-11-17 08:43] #6031 closed

[2022-11-17 09:28] #5671 closed

[2022-11-17 11:38] #6034 closed

[2022-11-17 16:55] #5954 closed

[2022-11-17 18:12] #5966 closed

[2022-11-17 20:00] #5997 closed

[2022-11-18 12:11] jedelbo commented on #5985
Fixed by #6042

[2022-11-18 12:11] #5985 closed

[2022-11-18 15:18] #4814 closed

[2022-11-18 15:19] #5023 closed

[2022-11-18 15:51] #6038 closed

[2022-11-18 21:05] #5983 closed

[2022-11-20 07:32] #5809 closed

[2022-11-21 18:07] nicola-cab commented on #4994
I am going to have a look at this issue.

[2022-11-21 19:12] nirinchev opened #6050 "SyncManager::run_file_action ignores delete result"
When we call `SyncManager::imediately_run_file_actions` during manual client reset recovery while someone is holding a lock for the file (e.g. open the Realm with Studio on Windows), Core will report the action as successful even if it fails. The reason is that when the action is DeleteRealm, the result from `remove_realm` is ignored and we always return `true`:

https://github.com/realm/realm-cor

[2022-11-21 19:14] sync-by-unito[bot] opened #6051 "Client goes into a loop trying to transform a bad changeset"
When the client fails to transform a server changeset, it sends an error and closes the connection. It then goes into a loop: reconnect -> download changeset -> transform changeset -> fail.

We could consider this a fatal error or a client reset. In the latter case, upon sending the error to the server, the server can issue a client reset.

[2022-11-21 23:04] nirinchev opened #6052 "Assertion failure when closing a Realm immediately after opening it"
This is a bit vague, but we've seen assertion failures pointing to the sync client destructor:

https://github.com/realm/realm-core/blob/165bb205de58ce87a900fff4e42de4c7d64b61cc/src/realm/sync/client.cpp#LL393

I've been able to reduce it as much as possible and it seems to be happening when we open a Realm, then immediately close it and tear down the app and the user. This may be causing a race c

[2022-11-21 23:37] nirinchev opened #6053 "Read access violation in `SessionWrapper::on_new_flx_subscription_set`"
We're seeing sporadic crashes with the following stacktrace:

[code]

When I inspect `this`, it looks like it's pointing to garbage memory:

<img width="1324" alt="Screen Shot 2022-11-22 at 00 32 56" src="https://user-images.githubusercontent.com/2315687/203178991-93232e73-d499-407a-bba1-f3f05177668d.png">

Unfortunately, I don't have more details about how to repro this as it appears to happen sp

[2022-11-21 23:53] nirinchev commented on #6053
This may be related to https://github.com/realm/realm-core/issues/6052 as the workaround of introducing a 1s delay for all our tests seems to make it go away.

[2022-11-22 13:34] #5958 closed

[2022-11-22 15:54] sync-by-unito[bot] opened #6056 "Logged in user is not redirecting properly after region/server migration"
The 301 redirect support was added for when a user tries to log in to the old server after a server or deployment region was changed on the cloud. Unfortunately, if the user is already logged in, the websocket receives a 301 redirect from the old server location and receives a 301 redirect and the redirect is not handled properly. This is treated as a non fatal error and the sync connection will c

[2022-11-22 18:33] nirinchev commented on #6056
I may be misunderstanding something, but this sounds like the wrong behavior. We shouldn't be logging people out because of a 301 redirect. Instead, we should handle this by updating the server location in the metadata table. Particularly, if we log an anonymous user out, they can't possibly log in again (a new user will be created instead), which means they'll lose all their data.

[2022-11-22 19:19] michael-wb commented on #6056
Updated to indicate the refresh tokens are invalidated if a redirect occurs.

[2022-11-23 16:25] jedelbo commented on #6028
It seems like there is little we can do to solve this. @AsifAliJohari not sure why you closed and reopened. Do you have further questions before we close this issue?

[2022-11-24 05:16] keerthika-priya commented on #5809
@bmunkholm Can you tell which realm swift version fixes the issue?

[2022-11-24 05:58] AsifAliJohari commented on #6028
No, it doesn't.

On Wed, Nov 23, 2022, 9:25 PM Jørgen Edelbo ***@***.***>
wrote:

[2022-11-24 06:01] keerthika-priya commented on #5976
@nicola-cab can you update if the version is released or as soon as it releases?

[2022-11-24 06:04] AsifAliJohari commented on #6028
I first copy to cashe dir , then copy to Android/media directory.  yes ,
you need to work on it .
Actually, I  closed it , mistakenly it reopen .it smilar to other above
mention issue. seniaro  diff .

On Thu, Nov 24, 2022, 10:58 AM Asif Johari ***@***.***> wrote:

[2022-11-24 08:27] keerthika-priya commented on #5688
Can you please tell the realm-swift version to be used for fixing this error? @jedelbo

[2022-11-24 09:40] nicola-cab commented on #5976
I don't think there is a swift sdk yet. Core has been released, a new version of Realm Studio needs to be released first, and then each sdk will eventually follow.

[2022-11-24 09:44] keerthika-priya commented on #5976
@nicola-cab Would a patch release be possible soon, since this issue has been affecting iOS greatly?

[2022-11-24 11:55] BlueCobold commented on #5809
@keerthika-priya
It's not relased yet. The fix/pr is in realm-core 12.12.0, which is not yet included in a released realm-swift version:
https://github.com/realm/realm-swift/blob/master/CHANGELOG.md

[2022-11-24 16:49] keerthika-priya commented on #5809
Do you know when the release can be expected for this issue?

[2022-11-24 17:00] BlueCobold commented on #5809
@keerthika-priya No. I'm not working for Realm/Mongo and I'm waiting for that release myself.

[2022-11-25 09:18] jedelbo commented on #6028
Ok, I will then close this issue. You can open another, if you have a different problem.

[2022-11-25 09:18] #6028 closed

[2022-11-25 10:14] dianaafanador3 commented on #5809
@BlueCobold @BlueCobold We sure gonna do a release next week.

[2022-11-28 15:33] ironage commented on #6010
I haven't heard back, so I will assume that this issue has been resolved. If this is not the case, feel free to reopen or create a new issue.

[2022-11-28 15:33] #6010 closed

[2022-11-28 15:40] ironage commented on #5717
@AlexIzh do you have any new information to share about this issue? If there is no sensitive data, are you able to send the Realm (pre-upgrade) to `realm-help@mongodb.com` for us to try to reproduce this?

[2022-11-29 14:57] cmelchior opened #6069 "BadVersion being thrown in the notification mechanism on Core 13"
After upgrading Kotlin to Core 13 and running tests on AWS Device Farm, we saw this exception. It looks like versions might be reclaimed too soon, but we are still investigating if this can be reproduced

[code]

[2022-11-29 15:15] nicola-cab commented on #6069
What is the test doing? Maybe we can try to reproduce this writing, the same test.

[2022-11-29 15:17] nicola-cab commented on #6069
OK, if we are sure about this, maybe we can close the issue :-)

[2022-11-29 15:24] cmelchior commented on #6069
I would not close this issue until we are more sure this isn't serious

[2022-11-29 15:43] cmelchior commented on #6069
From what I can tell, it was a set notification that failed. The `asFlow` wraps a changelistener on a Set

[code]

[2022-11-29 15:48] nicola-cab commented on #6069
ok, @finnschiermer will have a look. I thought you were saying that it failed just once, spuriously. It seems a real issue and probably we need more testing around that area in core

[2022-11-29 16:54] edualonso opened #6070 "`Assertion failed: !referenced` thrown when triggering a Client Reset Event using a FLX app."
In one of our tests we are checking the callbacks set via `realm_sync_config_set_before_client_reset_handler` and `realm_sync_config_set_after_client_reset_handler` are being called after triggering a client reset event. The test passes when we run it using a PBS app but fails when using a FLX app.

[code]

[2022-11-29 17:19] nicola-cab commented on #6070
I think, this has been the normal behaviour for a while now. I think client reset was/is just not supported for FLX sync. Is this still the case @jbreams and @ironage? In core, we are only running client rest tests for PBS and not FLX.

[2022-11-29 17:30] jbreams commented on #6070
This is not the case. Client resets should be supported in FLX in all modes. I think looking at the crash, we're crashing inside of the low level commit during backdating - I don't think this is sync-related:
[code]

[2022-11-29 17:42] nicola-cab commented on #6070
OK, it seems related to the logic for reclaiming intermediate versions... more work for @finnschiermer :-)

[2022-11-29 17:42] edualonso commented on #6070
I forgot to mention it, just in case it is useful, we are using `RLM_SYNC_SESSION_RESYNC_MODE_RECOVER_OR_DISCARD`.

[2022-11-30 09:56] cmelchior commented on #6069
Another crash in the same test:

[code]

[2022-11-30 10:47] PrzemyslawCholewaDev opened #6071 "SIGABRT Crash when accessing or changing the date"
#### SDK and version
SDK : iOS
Version: Realm 10.32.3, RealmDatabase 12.11.0

#### Observations
So I get a crash every 3rd time I try to write into Category.dateOfLatestRecording or sometimes when I write into UserSettings.lastSessionDate properties. They are @Persisted properties or realm objects. The issue seems to be only with dates. Sometimes it crashes in place where it checks for seconds and

[2022-11-30 11:58] nicola-cab commented on #6071
Hello, thanks for reporting this.
We have had a lot of issues related to database corruptions, that we fixed in core 12.13 (for which there should be a swift release soon as well). I think this might be one of those. However, I'd need to see the database file before to tell you if it got corrupted.
If you can share the file with us, this would be great.

[2022-11-30 13:19] finnschiermer commented on #6070
This is an internal consistency check which fails during commit. Does the test involve a rollback (shortly) before the commit in question?

[2022-11-30 13:34] finnschiermer commented on #6069
Exactly same crash, actually.

[2022-11-30 13:49] PrzemyslawCholewaDev commented on #6071
Sure @nicola-cab, can you give me your email? :)

[2022-11-30 15:25] #6000 closed

[2022-11-30 15:43] nicola-cab commented on #6071
Send it to nicola.cabiddu@mongodb.com .. thanks.

[2022-11-30 16:56] PrzemyslawCholewaDev commented on #6071
done @nicola-cab

[2022-11-30 17:10] nicola-cab commented on #6071
I haven't received anything.

[2022-11-30 17:32] PrzemyslawCholewaDev commented on #6071
sorry, try now

[2022-11-30 18:10] blagoev opened #6075 "Refresh callback not invoked if the realm is already at the latest version"
`realm_add_realm_refresh_callback` should check and call the `refresh callback` if the realm is already at the latest version.

Also this test seems off and not testing correctly https://github.com/realm/realm-core/blob/master/test/object-store/c_api/c_api.cpp#L1137

[2022-11-30 18:19] nicola-cab commented on #6071
No, the database looks good, this is a different issue, I'll keep you posted, I need to investigate more and understand how to reproduce it.

[2022-11-30 18:39] PrzemyslawCholewaDev commented on #6071
I can send you code definitions of realm classes if that helps. Steps to reproduce it is to change the date for every category from code.