[2021-05-17 10:49] simonboots commented on #4600
@ianpward @finnschiermer After upgrading to Realm 10.7.6 I was no longer able to reproduce the crash locally on my machine. We'll continue to test and plan to ship version 10.7.6 with our next release. We will closely monitor crash reports and let you know about the outcome.
Thank you for your help! We very much appreciate it!

[2021-05-17 14:25] meismyles commented on #4522
I believe this issue is affecting us when updating - having to remain on an old version for now. Any idea on a timeframe to resolve?

[2021-05-18 08:45] LejaStu opened #4696 "Realm notification listener (13): signal SIGABRT"
#### SDK and version
SDK : XCode Version 12.5(Swift)
Realm Version 10.6.0

#### Observations
* How frequent do the crash occur? - Constantly
* Does it happen in production or during dev/test? - It happened during dev/test
* Can the crash be reproduced by you? - Yes
* Can you provide instructions for how we can reproduce it?

Will attempt to recover by breaking constraint
<NSLayoutConstraint:0x2823

[2021-05-18 11:57] finnschiermer commented on #4624
New datapoint. Just got the following from an address sanitizer run on Core:
[code]
Unfortunately no further information.

[2021-05-18 14:53] jsflax commented on #4601
@finnschiermer any ideas on this one?

[2021-05-18 21:23] ironage commented on #4696
Hi @LejaStu thanks for reporting this. It is a known [issue](https://github.com/realm/realm-core/pull/4530) that has a fix released in cocoa version 10.7.3, please try updating to the latest version to try it out. I will close this assuming it is fixed, but if you have further problems, feel free to reopen this or create a new issue.

[2021-05-18 21:23] #4696 closed

[2021-05-21 04:24] Yoshiaki-Morino commented on #4693
As an additional note, when I checked with the cocoa version 10.1.4, the crash did not occur.

[2021-05-22 22:42] igorvoytovich commented on #4601
Hello,

We also see a large number of similar crashes. More details can be found here: https://github.com/realm/realm-cocoa/issues/7175

[2021-05-25 12:18] Tolsi commented on #4683
principle yes, if it is really someone reads. Perhaps it would be more meaningful to do it if we break the interface in the next version and make 2 different parameters. People will then read the documentation or the update description for sure and fix it (or just split their key by two in the worst case)

[2021-05-26 14:45] leemaguire opened #4711 "Crash when observing a Realm and deleting objects related to Dictionary"
#### SDK and version
SDK : Cocoa
Branch: py/dictionary

#### Observations
- The crash happens when we query a dictionary property on an object, find all the objects related to that query, and then delete each object. All of the prior is happening while we are observing a Realm instance.

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce
- Clone Cocoa and switch to branch `py/dicti

[2021-05-26 23:12] ironage commented on #4711
can you try your test against this experimental branch https://github.com/realm/realm-core/tree/js/nullify-dict

[2021-05-27 11:54] leemaguire commented on #4711
@ironage That also results in the process terminating, only this time it terminates without throwing an exception

[2021-05-27 13:08] jedelbo commented on #4711
@ironage I created #4715 with a more appropriate fix than the one I pushed on your branch. I assigned this issue to you as you are our Mac owner. Please notify me if you think I can help.

[2021-05-27 14:26] leemaguire commented on #4711
[code]
in table_ref.cpp is where the problem is happening

[2021-05-27 14:46] #4600 closed

[2021-05-27 15:18] jedelbo commented on #4711
@leemaguire can you try #4715 again?

[2021-05-28 00:54] Yoshiaki-Morino commented on #4693
I'm sorry to contact you often.
We verified with the version difference between 10.1.4 and 10.7.6.

The version at the time of verification is as follows.
#### Realm Version
- 10.7.6
- 10.6.0
- 10.5.2
- 10.4.0
- 10.3.0
- 10.2.0
- 10.1.4

#### Results
10.5.2 and later versions: A crash has occurred. (About 10%)
Versions prior to 10.4.0: No crash occurred.

[2021-05-28 08:29] nirinchev opened #4718 "Metadata Realm should not crash app"
We should make sure that under no circumstances something in the metadata Realm is crashing the app. Users have little to no visibility into what this Realm is and what it's used for, so getting random crashes caused by it are next to impossible to debug.

Currently, I have it crashing my app because the metadata Realm file format version is 21 and it's hitting this assertion: https://github.com/r

[2021-05-28 09:48] jedelbo commented on #3134
No activity for a year now -> closing

[2021-05-28 09:48] #3134 closed

[2021-05-28 13:59] sync-by-unito[bot] opened #4720 "SetInsert/SetErase need merge rule with Clear"
The rules for SetInsert/SetErase merging with Clear should not be a no-op but rather it should discard SetInsert / SetErase instructions if the path is the same. This may have been overlooked because for arrays we use the nested merge rule for clear, but for sets collections, the path length is the same for SetInsert / SetErase and Clear's to that set, so we need the normal merge rule to be in cha

[2021-05-28 14:37] #4720 closed

[2021-05-31 10:07] #1101 closed

[2021-05-31 10:51] papafe opened #4724 "Exception in E2E tests with mixed field containing an object"
I am working on the E2E tests using the JS SDK.
In one of the tests I am creating an object with a mixed property in mongo, adding an object as the value of mixed (as DBRef in particular) and then I am waiting for it to be synchronised back to realm. Then I am checking that the object pointed by the mixed property in realm has the same properties as the one in mongo. The problem is that the test s

[2021-05-31 10:53] papafe commented on #4724
@jbreams Hey! Nikola was saying that you probably should have already the E2E tests setup done, so maybe you want to give a look? :)

[2021-06-01 11:14] DominicFrei commented on #4424
@nirinchev This is now (partially) fixed with https://github.com/realm/realm-core/pull/4701. I didn't see this issue before merging the PR otherwise I would have flagged it before.

It does however, if I understand correctly, not yet fully satisfy your requirements for synced Realms anyway I suppose?

[2021-06-01 14:05] #4522 closed

[2021-06-01 14:43] #4682 closed

[2021-06-01 14:44] jedelbo commented on #4711
#4715 fixed this

[2021-06-01 14:44] #4711 closed

[2021-06-01 14:46] #4718 closed

[2021-06-02 10:56] DominicFrei opened #4729 "Automatic handling of backlinks when migrating to EmbeddedObject"
## Summary

Migrating a table from non-embedded to embedded is not really easy and obvious in the user-facing SDKs.
This could be improved by automating the main problems and making the migration easier for the user.

## Motivation

When migrating a table from non-embedded to embedded users do struggle to get it right because they have to deal with two cases:
- orphaned objects (no backlinks at al

[2021-06-02 14:33] #4032 closed

[2021-06-03 07:35] jedelbo commented on #4355
I am not sure if this issue is still "alive". The assertion represents an invariant that it should not be possible to break in this context, so we would need some more information on what has happened leading up to this. Eg. has the object we are trying to access just been updated? Does this happen in a write transaction? Should you come across this again, we would be very interested in the underl

[2021-06-03 10:49] #4666 closed

[2021-06-03 13:30] cmelchior opened #4732 "Compiler warning: [dtor-name] Destructors not in same scope as name before"
[code]

This causes building for Android to fail as we treat warnings as errors.

[2021-06-03 13:56] fealebenpae commented on #4732
@RedBeard0531 is this related to your recent gcc11 change?

[2021-06-03 14:06] RedBeard0531 commented on #4732
Probably. Lovely that they take conflicting views on what ISO C++ requires...

Basically all of name lookup in the spec was recently rewritten because it turned out that if you looked closely enough it made no sense and was self contradictory. It is possible that gcc11 picked up some of the changes there. I'll dig in and figure out what is going on and how to fix it.

In the mean time. If this is

[2021-06-03 14:06] cmelchior commented on #4732
I just added `Wno-dtor-name` to the Android compiler flags for the time being

[2021-06-03 14:46] RedBeard0531 commented on #4732
Sounds good. Do you opt-in to `-pedantic`? I don't see this error on clang without it.

For maximum fun it seems like gcc 10 and clang 10 are happy with both `~Map` and `~Map<T>`, but as of gcc11/clang11, they require the opposite form https://godbolt.org/z/fMTPxWjd3. FWIW, icc (which uses the same parser as Visual Studio intellisense, and tends to be by-the-book) has always rejected `~Map<T>`, so

[2021-06-03 14:57] RedBeard0531 commented on #4732
I've emailed the committee to confirm and clarify what the "correct" answer is. But that won't actually help us since we need to support the actual compilers do. So the easy fix is to just define these destructors directly in their class rather than out of line.

[2021-06-03 14:58] cmelchior commented on #4732
Interesting, we actually do. Not exactly sure why. Probably just to be as "correct" as possible. But if it isn't something we want to support I can just disable it.

[2021-06-04 08:18] RedBeard0531 commented on #4732
So it turns out that a strict reading of the published standard *does* in fact require you to write `File::Map<T>::Map::~Map()` here. (The middle `Map` is the [injected class name](https://eel.is/c++draft/class.pre#def:injected-class-name) that is implicitly declared in the scope of every class). I won't bore you with the details of what in the wording made that the correct way to declare it. Also

[2021-06-04 08:26] cmelchior commented on #4732
I'll just disable the flag. Feel free to close the issue :)

[2021-06-04 08:33] #4732 closed

[2021-06-04 09:28] jedelbo opened #4737 "Clearing Dictionary will send out wrong notifications"
If you have a change listener attached then the indices sent out will be wrong and if you use key based notifications, the program will crash.

[2021-06-04 15:13] sync-by-unito[bot] opened #4740 "Object::set_property_value does not sync embedded objects correctly with CreatePolicy::UpdateAll"
If an embedded object with an array gets updated via an SDK, like this:

[code]

The object at bar will be replaced with a new embedded object with a new array, and the sync instructions will reflect that. However, there's nothing in the sync instructions to clear the object that was there previously. This leads to uploading corrupted changesets to the sync server with prior_sizes that look as tho

[2021-06-07 10:46] cmelchior opened #4744 "Dictionary deletions crash change listener with "transaction_ended""
![image](https://user-images.githubusercontent.com/406066/121003766-2f6eb500-c78e-11eb-9198-5fbb79cbc857.png)

Java has a unit test checking that the deletion key changes work correct, but there seem to be a crash in the internal notifier that looks lifecycle related.

I haven't been able to create a minimal repo case yet (the unit test is fairly advanced), but the error is 100% reproducible and I

[2021-06-07 11:32] cmelchior commented on #4744
The cause of the error seems to be that I'm closing the Realm inside the changelistener, but this worked in the past.

More correctly, it crashes, in the Java JNI layer when returning from our notifications: https://github.com/realm/realm-java/blob/support-new-datatypes/realm/realm-library/src/main/cpp/io_realm_internal_OsSharedRealm.cpp#L141

That raises a few interesting questions:

1) Why doesn

[2021-06-07 14:12] #4189 closed

[2021-06-07 14:23] #4680 closed

[2021-06-07 15:46] ironage commented on #4737
fixed by https://github.com/realm/realm-core/pull/4738

[2021-06-07 15:46] #4737 closed

[2021-06-07 22:12] nirinchev commented on #4615
After running tests multiple times on CI, we're again seeing a segfault related to `refresh_custom_data`:

[code]

This appears to be different than the previous stacktrace, but it's in the same code area. I'll try and get more meaningful stacktrace, but it only reproduces on CI on Linux, so I might need some help.

[2021-06-07 22:41] nirinchev commented on #4615
Built in debug, the stacktrace appears to be identical to the original one:

[code]

[2021-06-08 08:16] pavel-ship-it opened #4745 "Handle error 401 Unauthorized"
#### Expected results
Fail on 401 during refresh token request

#### Actual Results
The app is still trying to refresh a token

#### Steps & Code to Reproduce
I use iOS Realm example app Task Tracker
1. Login
2. In web panel for that Realm app "Revoke all sessions" for the user
3. in iOS app try to sync (tap "Projects")

4. User should be Unauthorised
Actual> The app getting 401 and trying to refr

[2021-06-09 07:17] cmelchior commented on #4744
The above isn't correct, I was misreading the logs apparently.

It looks like it is related to change listeners, but the behaviour is a bit curios

1. This fails

[code]

2. This works
[code]

3. This fails

[code]

Especially case 3 is interesting and is pointing to some resources not being cleaned up even if you "follow the contract", but even case 1 work for other types of listeners.

[2021-06-09 12:56] jedelbo commented on #4744
1. must fail. The listener must be destroyed before the file is deleted.
@cmelchior are you sure that the token returned by `add_key_based_notification_callback` is destroyed when calling `removeAllChangeListener`?

[2021-06-09 13:41] nirinchev commented on #4744
I think this is going to be hard to enforce in the real world. Most users will expect that calling `realm.close()` is sufficient to release all resources associated with the Realm and then be able to delete it.

[2021-06-09 13:58] jedelbo commented on #4744
I appreciate this.

[2021-06-10 00:08] simonboots commented on #4600
@ianpward @finnschiermer We have rolled out a new version of our app and we have not seen a single Realm crash so far. Thanks again for your help!

[2021-06-10 10:07] DominicFrei commented on #4424
@nirinchev To add to that: `DB::call_with_lock` will return `false` which means `Realm::delete_files` will throw. Is that the desired behaviour and sufficient? If so, we can indeed close this issue.

[2021-06-10 10:51] nirinchev commented on #4424
Yeah, I think it's fine. The previous behavior was a crash due to sync attempting to write to the non-existent file. An exception that can be caught and reports a meaningful error message is sufficient and we can't really do more about it without turning the DeleteRealm method into an async method that waits for uploads.

[2021-06-10 11:19] DominicFrei commented on #4424
Alright. I'll go ahead and close this one as the original intent is satisfied.

Regarding the aync option: is this something that would be used and is worth adding though?
For example as an additional parameter: `bool shouldWaitForUpload`?

[2021-06-10 11:19] #4424 closed

[2021-06-10 15:01] #4740 closed

[2021-06-10 17:57] nirinchev commented on #4424
Waiting for upload is inherently asynchronous, so if we wanted to wait for upload, that would make file deletion asynchronous as well (i.e. a boolean argument wouldn't work as we would need a different return type altogether).

[2021-06-11 10:43] Vijayakumar-KA opened #4754 "Android Realm issue with Android SDK R and above"
/tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1023: [realm-core-10.7.0] Assertion failed: r == 0 && "File::unlock()" with (r, (*__errno())) =  [-1, 38]

[2021-06-14 08:13] cmelchior opened #4759 "Changing nullability of Primary keys causes "Table is target of cross-table link columns" error"
This unit test in Java: https://github.com/realm/realm-java/blob/support-new-datatypes/realm/realm-library/src/androidTest/java/io/realm/RealmMigrationTests.java#L1170

Causes this error on latest v11 commit:

[code]

The Realm file being migrated is this one: https://github.com/realm/realm-java/blob/support-new-datatypes/realm/realm-library/src/androidTest/assets/default-notnullable-primarykey.re

[2021-06-14 10:12] jedelbo commented on #4744
Fixed by #4746

[2021-06-14 10:12] #4744 closed

[2021-06-14 10:48] #4759 closed

[2021-06-15 10:36] DominicFrei opened #4762 "Sync crash when deleting Realm files"
#### Expected results
Core (Sync) does not crash when deleting a Realm if Sync is still running (or hasn't run yet at all).

#### Actual Results
One of the .NET tests (https://github.com/realm/realm-dotnet/blob/master/Tests/Realm.Tests/Sync/SynchronizedInstanceTests.cs#L246-L255) running on an actual device showed a race condition when opening and Realm, closing it immediately and then deleting it

[2021-06-15 13:33] #4615 closed

[2021-06-15 17:34] dianaafanador3 opened #4763 "Change `Core` target name to a less generic name"
#### Describe your problem or use case
One of the changes introduced to v10.8.0 included some changes to the Package.swift file in Core, one of them is the renaming of the target Storage to Core, which is causing some conflicts with other libraries which have `Core` as a product name
![Screenshot 2021-06-15 at 19 12 39](https://user-images.githubusercontent.com/5484247/122097833-67ba6700-ce10-11eb

[2021-06-15 18:19] nirinchev commented on #4762
@finnschiermer reading the code of `DB::do_open`, I'm not convinced it's sync that is Sync that's the root of all problems 😛

We create the `management` dir on line 769: https://github.com/realm/realm-core/blob/2a67b996faf9e0b5d47ac402c4d3926713f99418/src/realm/db.cpp#L769

But then we only lock the file on line 814: https://github.com/realm/realm-core/blob/2a67b996faf9e0b5d47ac402c4d3926713f99418

[2021-06-16 15:41] jedelbo commented on #4754
Seems like `flock` is not implemented: @cmelchior can you shed some light on this.

[2021-06-16 21:41] #4745 closed

[2021-06-17 06:49] Stefanos65535 opened #4767 "crash on RealmList<RealmAny> updates observing"
#### SDK and version
SDK : io.realm:realm-gradle-plugin
Version: 10.6.0

#### Observations
* How frequent do the crash occur? - always
* Can the crash be reproduced by you? - yes
* Can you provide instructions for how we can reproduce it? - yes

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce

[code]

`
open class TestEntity(
    @PrimaryKey
    var id: Long = 0,
    var items:

[2021-06-17 13:23] flowbe opened #4769 "Crash when counting items"
#### SDK and version
SDK : Cocoa
Version: 10.7.6

#### Observations
* Happened during tests
* Not sure if it's always reproducible, it just happened

#### Crash log / stacktrace

0   kDriveCore                          0x0000000104864f64 _ZN5realm4utilL18terminate_internalERNSt3__118basic_stringstreamIcNS1_11char_traitsIcEENS1_9allocatorIcEEEE + 28
1   kDriveCore                          0x0000000

[2021-06-17 14:33] jedelbo commented on #4769
We will be looking into this. @jsflax does this ring a bell? I remember seeing crashes like this before, but did we find a cause. Is there anything suspicious about the above code?

[2021-06-17 19:58] ironage commented on #4767
@Stefanos65535 thanks for reporting this, there is a fix underway.

[2021-06-21 11:08] #4541 closed

[2021-06-21 11:21] blazejkrupa opened #4773 "Realm Memory Crash"
#### SDK and version
SDK : CocoaPods / Swift
Version:
 - Realm (10.5.2):
- RealmSwift (10.5.2):
- xCode Version 12.5 (12E262)

#### Observations
* How frequent do the crash occur? - 2-3/10 runs
* Does it happen in production or during dev/test? - on dev/test.
* Can the crash be reproduced by you? - yes it can be
* Can you provide instructions for how we can reproduce it?
1. Run app save eg objects

[2021-06-21 13:24] #4762 closed

[2021-06-21 14:57] bmunkholm commented on #4355
Sorry @HoffofAllTrades since you were not the one creating this issue, you likely didn't get the ping above. Have you seen this again or has it disappeared?

[2021-06-21 15:33] fealebenpae commented on #4773
Hey @blazejkrupa, is it possible to attach a repro project that triggers this so we can debug it, or at the very least post some more snippets of your code?

[2021-06-21 15:45] fealebenpae commented on #4657
I hope no news is good news :)

Please reopen if you're still experience this, @YoavGro.

[2021-06-21 15:45] #4657 closed

[2021-06-22 21:16] nirinchev opened #4774 "Assertion failure when using Set::clear/List::clear with Mixed holding an object"
#### SDK and version
SDK : .NET
Core version: 11.0.3

#### Observations
* The .NET tests consistently crash with an assertion failure on macOS (interestingly enough, I haven't seen this on Windows/Linux, but I haven't looked very deeply into it).
* Happens only for Set<Mixed>/List<Mixed> on the same test input - `Mixed{True}` and `Mixed{Object}`

The test opens 2 realms with 2 different users and

[2021-06-23 09:27] nirinchev opened #4775 "SyncUser profile is not fetched from the metadata Realm upon app restart"
The only time `SyncUser::m_user_profile` is set is when `SyncUser::update_user_profile` is called which only happens after login. This means that after the app restarts, the user profile data is never re-fetched - either from the local database or from the server. We should
1. Read the stored user profile data when instantiating an existing user.
2. Find opportune times to refresh the profile data

[2021-06-23 12:33] fealebenpae commented on #4596
We haven't been able to figure out what caused the original crash, but we fixed quite a few issues introduced in the 6.x upgrade in the last months. Have you been able to upgrade to a newer version of SDK, and do you still see reports of this issue?

[2021-06-23 12:41] fealebenpae commented on #4773
Thinking about this some more, it also sounds like we're running out of virtual address space (it's a known issue on iOS that the system won't allow us to memory map large files). Can you find out the size of the realm file in question?

[2021-06-23 12:59] leemaguire commented on #4693
Where does the Realm instance that is used inside of `Entity` live? Can you try to use local instances of a Realm inside the `get/set` of `Entity.a_param` and see if that helps?

[2021-06-23 14:19] RedBeard0531 opened #4776 "Dictionary code shouldn't assume that keys' hash values are unique"
Currently the code for the Dictionary data type does lookups by hashing the key, then doing a lookup for the hash value. It does not check if the actual key matches the requested key. I was unable to quickly tell what happens when you try to insert keys with colliding hashes, but if that doesn't already have support for handling the collision, it will also need to be added.

[2021-06-23 14:50] nirinchev commented on #4774
This might be related to https://github.com/realm/realm-core/issues/4724.

[2021-06-23 15:41] manuelplazaspalacio opened #4777 "App crashing when starting Realm"
#### SDK and version
SDK : Java (Cocoa, Java, etc)
Version: 10.6.0

#### Observations
* How frequent do the crash occur?
* Allways I open the app and run the code  `Realm.getDefaultInstance()`
* Does it happen in production or during dev/test?
* It happens alway in production and developing when using Android version 11
* Can the crash be reproduced by you?
* Yes
* Can you provide instructions for

[2021-06-23 17:58] sync-by-unito[bot] opened #4778 "Search indexes for Mixed do not handle collisions"
Search indexes on Mixed columns store the hash of the Mixed value. If there is a collision with an inserted hash value, the functions that use on the index can return incorrect results.

[2021-06-23 17:59] sync-by-unito[bot] opened #4779 "Hash function for Decimal128 returns different hashes for the same value"
Because the current implementation of the Decimal128 std::hash specialization just xor's the high/low 64-bit integers together, it's possible that two instances that have the same value but different encodings will return different hash values.

[2021-06-23 20:54] ironage commented on #4774
@nirinchev this is likely fixed by https://github.com/realm/realm-core/pull/4770
Are you able to test against the latest v11 or do you need a release for that?

[2021-06-23 22:04] nirinchev commented on #4774
I can test against latest v11 - I'll update this tomorrow.

[2021-06-23 22:08] ironage commented on #4774
Great, thanks! I would at least expect the List<Mixed> to be fixed, but grant that the Set<Mixed> might be something totally different. Either way, it would be helpful to know if anything is fixed on the latest to make sure we're tracking down the right thing.

[2021-06-23 23:36] nirinchev commented on #4774
With the latest Core v11, I get this for the List which appears similar to the original Set issue.

[code]

[2021-06-23 23:57] ironage commented on #4774
possibly related to https://github.com/realm/realm-cocoa/issues/7305

[2021-06-24 06:55] cmelchior opened #4782 "[C-API] Support for new SchemaMode::HardResetFile"
Currently Java (and later Kotlin) has support for a configuration mode called `RealmConfiguration.deleteRealmIfMigrationRequired()`. This mode is intended during development as an easy way to iterate on schemas without manually deleting the Realm file.

This logic is currently implemented in Java as ObjectStore only has partial support for this. The closest ObjectStore has is this

[code]

Which o

[2021-06-24 11:12] nguyencongbinh opened #4783 "Crash: /tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1023: [realm-core-11.0.2] Assertion failed: r == 0 && "File::unlock()" with (r, (*__errno())) = [-1, 38]"
#### SDK and version
Build SDK 29, Java, run on Android 12.
Version: 10.6.0

#### Crash after call **backup** method
[code]

#### Crash log / stacktrace
2021-06-24 18:06:09.395 11325-11325/com.abc.example E/REALM: /tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1023: [realm-core-11.0.2] Assertion failed: r == 0 && "File::unlock()" with (r, (*__errno())) =  [-1,

[2021-06-24 11:52] nirinchev commented on #4774
Okay I have a simplified repro for this:

[code]

I tried to add comments about what's going on, but the gist of it is - we add an item with a specific Id to a realm with partition1. Then we add an item with the same Id to partition2 and add it to a List<Mixed>. Then we call Clear on the List<Mixed>. Finally, when the Sync Server creates a corrective erasure (as the same object cannot exist in mul

[2021-06-24 12:06] blazejkrupa commented on #4773
i will try to debug it one more time, for question about sample sdk, i cannot prepare it for you, sensitive data

[2021-06-24 12:18] nirinchev commented on #4774
Simpler repro without sync:

[code]

Here's the crash stack:

[code]

[2021-06-25 11:51] blazejkrupa commented on #4773
Hi, here is realm size:
94,404,608 bytes (101.7 MB on disk)

[2021-06-27 15:33] igorvoytovich commented on #4601
@markusfi

Hello,

Have you found a solution?

[2021-06-28 10:09] #4778 closed

[2021-06-28 12:42] jedelbo commented on #4774
Fixed by #4785

[2021-06-28 12:42] #4774 closed

[2021-06-29 09:10] herisulistiyanto opened #4788 "Android Crash with DexGuard enabled"
#### SDK and version
SDK : Java
Version: 10.6.0

#### Observations
* How frequent do the crash occur?
  100% Crash at App Start (Fresh Install & Migration Scenario)
* Does it happen in production or during dev/test?
  It happen in dev obfuscated with DexGuard 9.1.5
* Can the crash be reproduced by you?
  Yes, it is 100% reproduce-able
* Can you provide instructions for how we can reproduce it?
  B

[2021-06-30 08:23] #4783 closed

[2021-06-30 08:24] dianaafanador3 commented on #4763
Fixed by https://github.com/realm/realm-core/pull/4772

[2021-06-30 08:24] #4763 closed

[2021-07-01 07:32] Stefanos65535 commented on #4767
any updates?

[2021-07-02 12:52] jedelbo commented on #4218
@gongzhang Sorry about the delay in getting back to you. I don't know if you are still seeing this problem. I would be interested to know how the file generated by `Realm.writeCopy(to:)` is used in your application.
Anyway - the file you generate with writeCopy must begin with something that matches this pattern:
[code]
and end with something matching this:
[code]
The last eight bytes must be exac

[2021-07-02 15:33] fealebenpae opened #4798 "Use a constant for the current file format version"
Otherwise every time we need to bump the file format we need to change a number literal in a bunch of places. See #4797.

[2021-07-02 16:05] gongzhang commented on #4218
@jedelbo Thank you for your reply! This information is very useful.

My app has a main database which works on the main thread. Also, I have a background queue that takes snapshots of the database periodically, using `Realm.writeCopy(to:)`. At some later point, the app will open these snapshots to read the past data and compare with the current data in the main database. The crash happens when a c

[2021-07-05 10:13] sync-by-unito[bot] opened #4800 "Move Public interfaces to the realm namespace"
Move all APIs not intended for outside use into sub-namespaces and make sure all public APIs are in the top-level namespaces. Organize the folder hierarchy to match the namespace hierarchy for better readability.

[2021-07-06 09:05] DominicFrei opened #4801 "Consolidation of write_copy_without_file_id and write_copy"
#### Expected results
`write_copy_without_file_id` and `write_copy` are consolidated into one function.
From a .NET perspective there is no need to copy the `file id` in any case.

If there is a need for this in other SDKs than the alternative goal would be:
`write_copy_without_file_id` behaves like `write_copy` with regards to which changes are copied.

`write_copy` does copy all changes, even un

[2021-07-06 09:09] nirinchev commented on #4801
A clarification here: No SDK should ever need to copy the file Id as that is fundamentally wrong and will result in inconsistencies and very likely, crashes should both files try to synchronize.

We should never expose two functions that do the same thing, so `write_copy_without_file_id` should be folded into `write_copy` and may behave differently depending on whether it operates on a local or sy

[2021-07-06 21:41] ironage commented on #4767
Hi @Stefanos65535 the fix has been released in realm-java 10.6.1. Please try it out and let us know if you have any further issues.

[2021-07-06 21:41] #4767 closed

[2021-07-06 21:53] sync-by-unito[bot] opened #4802 "Stop storing downloaded changesets in history"
We currently store an encoded form of the final transformed version of each downloaded changeset in history during history integration. That means that for large changesets - especially the ones sent during initial sync that are 8MB each, we can end up holding 4 copies of each changeset and writing each changeset to disk at least twice as part of download integration. This can lead to significant

[2021-07-07 05:15] Stefanos65535 opened #4803 "crash N5realm15InvalidTableRefE"
#### SDK and version
SDK : io.realm:realm-gradle-plugin
Version: 10.6.1

#### Observations
* How frequent do the crash occur? always
* Does it happen in production or during dev/test? dev branch on production app
* Can the crash be reproduced by you? yes
* Can you provide instructions for how we can reproduce it? yes

#### Crash log / stacktrace
[code]

looks same
https://github.com/realm/realm-ja

[2021-07-08 10:26] nirinchev opened #4804 "Crash in SyncManager::unregister_session"
#### SDK and version
SDK : .NET
Version: 10.3.0
Core: 11.0.4

#### Observations
Observed this on macOS where it crashed the Unity editor. It's not reproducible - I was just editing stuff and Unity was recompiling assemblies when it eventually crashed. It appears to be happening during finalization of a ThreadSafeReference holding a synchronized Realm obtain during [`GetInstanceAsync`](https://gith

[2021-07-08 14:25] kraenhansen opened #4805 "ObjectStore: Accessing an invalidated dictionary will throw a confusing error message"
#### Expected results

Error messages that would help me debug the SDK or an endusers app. In particular if accessing a dictionary which is no longer in the database, I would like the error message to contain the noun "Dictionary" instead of "List".

#### Actual Results

A collection subclass will throw an error message when accessed after it has been removed from the database:

See https://github

[2021-07-11 18:22] adamek314 opened #4806 "Crash on initial asyncOpen"
#### SDK and version
SDK : Cocoa Swift
Version: 10.9.0

#### Observations
* How frequent do the crash occur? Once during initial launch. It worked on second launch.
* Does it happen in production or during dev/test? Development.
* Can the crash be reproduced by you?
* Can you provide instructions for how we can reproduce it?

#### Crash log / stacktrace
Foody23[2466:32312] /Users/adamek/Library/De

[2021-07-14 12:43] rorbech opened #4808 "Throw an error when updating primary key field"
#### Expected results
I don't think it should be possible to update a primary key field of an object. So I would expect the C-API to throw an error if doing so. If it should be possible to update it, I would at least expect a check that you are not creating duplicate primary keys when setting it.

#### Actual Results
In realm-kotlin I am able to define a schema with a primary key and after creatin

[2021-07-15 02:20] nguyencongbinh opened #4810 "/tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1022: [realm-core-11.0.3] Assertion failed: r == 0 && "File::unlock()" with (r, (*__errno())) = [-1, 38]"
#### SDK and version
SDK : rub on Android 12 beta (Pixel 4A), target SDK 29
**Manifest**: android:requestLegacyExternalStorage="true"
**Version**: Realm 10.6.1

Please note that NO CRASH on Android 9 and Android 10, only happen on Android 12. (Not tested with Android 11 yet). Maybe android:requestLegacyExternalStorage="true" is the point?

#### Observations
* How frequent do the crash occur?

[2021-07-15 13:04] Stefanos65535 commented on #4803
do you plan to fix it?

[2021-07-15 14:02] fealebenpae commented on #4803
Hey @Stefanos65535,

I'm sorry for not replying earlier, but we'll need more information to try and figure out what the problem is before we fix it. Is it possible to describe the steps leading up to the crash, share your schema, or code snippets of the write transaction leading up to the notifier thread crashing?

[2021-07-15 14:09] cmelchior commented on #4810
Unrolled stack trace:
[code]

[2021-07-15 14:16] fealebenpae commented on #4810
Hey @nguyencongbinh, thanks for the stack trace and repro!

Unfortunately it looks like it's a known issue - https://github.com/realm/realm-java/issues/6893. Basically with Android 11 the security model of external storage seems to have been beefed up enough that acquiring file locks is not possible. The workaround I can offer is to write the file to your app's internal storage, and then move it t

[2021-07-15 14:25] fealebenpae commented on #4806
Hey @adamek314,

This looks like a weird bug in our networking stack. I'm not sure if there's something weird going on when building for Catalyst, but it's difficult to tell just from looking at the error and stack trace. Would it be possible to upload a small repro Xcode project that triggers this? You don't have to include credentials or an app id since this is sync-related - I can just plug my

[2021-07-15 14:31] #4810 closed

[2021-07-16 17:50] ironage commented on #4776
Fixed by #4784

[2021-07-16 17:50] #4776 closed

[2021-07-16 19:24] sync-by-unito[bot] opened #4814 "Decode changesets lazily during downloads"
Currently we parse changesets from download messages all at once into a std::vector of Instructions. This means that we loose a lot of the benefits of the highly space-efficient encoding of changesets during integration which can cause memory pressure on clients. We should make decoding of changesets lazy, so that we decode instructions as needed while iterating changesets, with a cache for intern

[2021-07-17 13:56] Stefanos65535 commented on #4803
use that snippet to reproduce this bug

[code]

[2021-07-18 06:55] adamek314 commented on #4806
12.0 Beta (21A5284e)

[2021-07-19 15:03] #4420 closed

[2021-07-20 07:13] Stefanos65535 commented on #4803
@fealebenpae is it enough?

[2021-07-20 13:13] finnschiermer commented on #4777
@cmelchior does this make sense to someone with deeper knowledge of the Android platform?

[2021-07-20 13:28] fealebenpae commented on #4803
Hey @Stefanos65535. I've asked for help from the Android SDK to run your repro.

[2021-07-20 14:43] edualonso commented on #4777
Unrolled stacktrace:
[code]

[2021-07-20 15:29] finnschiermer commented on #4777
@edualonso Thx for the stacktrace. I was more thinking about the description. It is supposed to be easily reproducible. The description states:

* Can you provide instructions for how we can reproduce it?
* Run an app in Android 11 and execute Realm.getDefaultInstance(). I´m using a Galaxy tab A7, SM-T505, Version ONE UI Core 3.1, Android version 11

I'd imagine it takes a bit more than opening an

[2021-07-20 15:29] fealebenpae commented on #4777
I think this is the same `flock` issue we saw in https://github.com/realm/realm-java/issues/6893. @edualonso, where does `Realm.getDefaultInstance()` store the default realm file on Android, could it be happening inside scoped storage?

[2021-07-20 15:33] finnschiermer commented on #4777
@fealebenpae good observation!

[2021-07-20 19:00] sync-by-unito[bot] opened #4819 "App cache should not be a singleton"
There is an implicit global singleton cache of App's created in/from object store. This means that while Apps are managed by std::shared_ptr, they will never be destroyed during regular operation and their lifetimes get extended in tests unless the global cache is explicitly cleared. We should make the lifetime of the cache explicit so that SDKs and tests have control over the lifetime of cached a

[2021-07-21 09:34] edualonso commented on #4777
That's a plausible scenario. Starting with Android 11 calls to `Environment.getExternalStoragePublicDirectory` should not be used anymore as the directory returned by this function will no longer be accessible - unless an explicit opt-out is declared (see https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage).

@manuelplazaspalacio what is the target SDK version you

[2021-07-21 12:09] #4777 closed

[2021-07-23 02:05] duncangroenewald opened #4824 "Realm core crash"
#### SDK and version
SDK : RealmSwift
Version: 10.11.0

#### Observations
Once so far testing just started

#### Crash log / stacktrace
2021-07-23 12:00:01.277076+1000 MakeSpace2[35437:776372] <UI>AssortmentVersionListViewControllerv2.didRemove(_:)[340]: "Remove an assortment version"
/Users/duncangroenewald/Library/Developer/Xcode/DerivedData/MakeSpace-calwjidkoiigdoeyshinupoknxse/SourcePackages/

[2021-07-23 02:16] duncangroenewald commented on #4824
I can reproduce this crash when deleting objects that are in an observed Results set.  Tested on two different collections and both crash when deleting object while running in DEBUG mode using SPM.

More testing required to confirm this is always the case and I will also test using the prebuilt binaries.

Cheers

[2021-07-23 18:33] tgoyne commented on #4824
The crash is inside [ObjectNotifier::do_add_required_change_info()](https://github.com/realm/realm-core/blob/master/src/realm/object-store/impl/object_notifier.cpp#L43), so this is related to an individual Object being observed rather than a collection. The stack trace indicates that the notifier has run at least once previously, and some time after that first run a callback was added or removed.

[2021-07-23 21:06] duncangroenewald commented on #4824
@tgoyne - any idea why this is only crashing when running in debug mode with SPM ?

[2021-07-23 21:11] tgoyne commented on #4824
Debug+SPM is the only configuration where you'll actually have a debug build of realm-core, as the other installation methods always use a release build of it. Debug builds of core are significantly slower than release builds, so if a bug requires a specific timing to hit (which is quite likely here as there's multiple threads interacting in complicated ways) you'll often only hit it in either deb

[2021-07-23 21:18] duncangroenewald commented on #4824
@tgoyne

Ah - timing - ok so it probably is still lurking there in the release build.

Re removing notification from the delete notification - that could be I will check since we remove the wrapper object containing a reference to the deleted object - so could be invalidating the notificationToken when the wrapper object deinit() is called.

Is it not necessary/bad idea to invalidate notification

[2021-07-23 22:01] duncangroenewald commented on #4824
Another observation of the events around the crash is that the object can be deleted and everything appears to be fine - the app does not crash until the users selects another object - which would result in another observer being created for that new object.  In some cases deleting one object will result in another one automatically being selected by the app and resulting notifications set up in w

[2021-07-23 22:11] tgoyne commented on #4824
As long as it's cleaned up at some point it's not necessarily important that you invalidate the NotifierToken for a deleted object immediately. Not doing so will waste a small amount of memory but not slow things down. Invalidating it in response to the object being deleted shouldn't be causing any problems, though.

[2021-07-23 22:24] duncangroenewald commented on #4824
OK well is does seem that the delete is not causing the crash but that subsequent realm activity is causing the crash - presumably creating an observer for the next object that is selected.  I will keep debugging to see if I can find the exact call that is triggering the crash.

BTW I have no idea what the m_table and m_table_key that you mentioned are - that's way too deep for me but if there is

[2021-07-23 23:17] tgoyne commented on #4824
Please try pointing SPM at the `tg/callback-lock` branch for realm-core and retesting the steps that hit the crash. You can do this by explicitly adding realm-core as a dependency in your app and selecting that branch, and it'll override the version specified by realm-cocoa's package. This branch (probably?) doesn't fix the bug, but I think it might make it impossible to hit without using the not-

[2021-07-23 23:20] duncangroenewald commented on #4824
Sure - can you give more specific instructions for adding the realm-code branch - where do I specific the dependency and select  the branch ?

[2021-07-23 23:26] tgoyne commented on #4824
Just the RealmCore library. The other libraries are separate targets specifically because we don't use them in the Swift SDK.

[2021-07-23 23:28] duncangroenewald commented on #4824
Nope still crashes

[2021-07-24 00:15] tgoyne commented on #4824
Is the stack trace for the crash identical, or has it switched to crashing in a different spot?

[2021-07-24 00:16] duncangroenewald commented on #4824
/Users/duncangroenewald/Library/Developer/Xcode/DerivedData/MakeSpace-calwjidkoiigdoeyshinupoknxse/SourcePackages/checkouts/realm-core/src/realm/object-store/impl/object_notifier.cpp:51: [realm-core-11.1.1] Assertion failed: m_table
0   MakeSpace2                          0x0000000101f77118 _ZN5realm4utilL18terminate_internalERNSt3__118basic_stringstreamIcNS1_11char_traitsIcEENS1_9allocatorIcEEEE

[2021-07-25 15:02] Stefanos65535 commented on #4803
any updates? sorry but looking forward to this fix

[2021-07-26 01:37] duncangroenewald commented on #4824
@tgoyne - hi just wondering what the plan is to track this issue down.  While we're not seeing it in the release build it would be good if we can get it resolved before we go live with this version as it may still occur under the right conditions in production.

If there is anything I can do to help please let me know.  Replicating this in a sample app is unlikely to be feasible but if necessary w

[2021-07-26 13:13] jedelbo commented on #4218
So, if you open the file in ReadOnly mode, you will not experience a crash?

[2021-07-26 18:13] tgoyne commented on #4824
If you are able to give us access to your code that'd be wonderful, but otherwise I will continue trying to figure out what could be going wrong based on your description of the steps that leads to the crash.

Yes, that's correct. Short of a hardware error or you doing something like writing through an invalid pointer and accidentally overwriting memory used by something else an assertion failure

[2021-07-26 19:21] tgoyne commented on #4824
I think I've found the bug. It is a very stupid c++ thing.

[2021-07-26 20:17] tgoyne commented on #4824
If you update to the latest version of the tg/callback-lock branch (File -> Packages -> Update to Latest Package Versions) this should now be fixed.

[2021-07-26 22:03] duncangroenewald commented on #4824
Great, I will test it now

[2021-07-26 22:10] duncangroenewald commented on #4824
@tgoyne - yes it does appear to be fixed.  Thanks.

[2021-07-26 22:22] duncangroenewald commented on #4824
Closing as testing indicates issue is resolved

[2021-07-26 22:22] #4824 closed

[2021-07-27 10:39] fealebenpae commented on #4803
I'm happy to say that we reproduced the issue and found a fix. We can make a realm-core release within the next week and then realm-java can follow.

[2021-07-28 11:20] gongzhang commented on #4218
Yes. Open with `readOnly` flag prevent crash.

[2021-07-29 06:50] #4801 closed

[2021-07-29 06:51] #4805 closed

[2021-07-29 11:24] jedelbo commented on #4808
This cannot be done in a non-breaking way as we actually allow primary key values to be changed during migration to a new schema. As we at the Core level does not know when we are at this stage, then we don't know if it is legal or not.

[2021-07-29 15:56] #4624 closed

[2021-07-30 16:42] #4803 closed

[2021-08-01 20:46] duncangroenewald commented on #4681
Yes this is an issue when opening a synced realm the first time if you are not using asyncOpen() because if you do so from the main thread it will block the main thread while the migration is performed.

As a workaround to this we always make the first call to Realm() on a background thread and wait for that to return - displaying a message to the user until the call returns.  At least that way th

[2021-08-02 02:04] chrisk414 commented on #1954
I desperately need c++ interface to make it work for UnrealEngine.  Is there any progress on this? There is no question that it's is very useful and there are enough interests. Thanks.

[2021-08-02 12:52] fealebenpae commented on #1954
We don’t have plans for a C++ SDK, or otherwise supporting a C++ API for public consumption from the Core database. We’re focused on supporting the Realm SDKs for higher level languages.

[2021-08-03 07:29] sync-by-unito[bot] opened #4834 "Allow a single DB object for both app and sync client"
We want to have a single DB object in use for both an app running on top op objectstore, and the sync client itself. Because

* It is a prerequisite for the webasm effort (which will rely on a single DB object in use)

* It also eliminates/makes it possible to eliminate code which will help reduce binary size

As part of it, it makes sense to get rid of two components of the sync client:

* The cl

[2021-08-03 14:00] cmelchior commented on #4803
@Stefanos65535 Realm Java 10.7.1 has been released with a fix. It should be available on Maven Central shortly.

[2021-08-04 13:48] DominicFrei opened #4835 "Adjust error messages containing schema mode"
One of the HELP tickets (https://jira.mongodb.org/browse/HELP-26266) showed that the error descriptions containing schema modes are hard to understand for users since we don't really expose schema modes on the SDK level.

One example:
[code]

We should adjust those messages to something that a user can understand better and possibly act on to fix whatever the problem in those cases was.

Further d

[2021-08-04 20:23] sync-by-unito[bot] opened #4836 "Log failed object when an exception is thrown by InstructionApplier"
See

https://github.com/realm/realm-core/blob/11c00518162104f719cd839bae3b5174a75b663f/src/realm/sync/instruction_applier.cpp#L607

It would be very helpful for users to know exactly what object caused the failure.

[2021-08-06 09:19] miklselsoe opened #4840 "Crash in Realm notification listener"
This is an issue reported from the field, so I don't know how to reproduce it. However I noticed at the top of the stack trace, it asked me to create an issue, so here you are. :)

`please_report_this_issue_in_github_realm_realm_core`

#### SDK and version
SDK : Realm-Cocoa
Version: 10.12.0

#### Observations
* How frequent do the crash occur?
_Looking at my crashreporter, It only happened once th

[2021-08-06 19:32] cmelchior opened #4841 "Refreshing the access token goes into infinite loop"
Reported by Realm Java here: https://github.com/realm/realm-java/issues/7501

Repo project is here: https://github.com/mohit-sharma-87/RChatApp

Steps to reproduce :
1.  Run the above application
2. Sign up with any user name or email and press sign up.
3. Stay on the empty "Home" screen, leave the app open
4. Wait for 30 minutes.
5. Observe that no automatic attempt was made to refresh the access

[2021-08-06 19:36] cmelchior commented on #4841
One observation:

The refresh seems to be triggered here:

[code]

It seems to pass in the access_token, but the code for refreshing calls it m_refresh_token. It looks like we are passing in the wrong token? /cc @ironage

[2021-08-09 06:22] cmelchior commented on #4841
Using the refresh token instead of the access token seems to fix it, but I'm still verifying it.

[2021-08-09 07:46] cmelchior commented on #4841
I can also reproduce the issue just using Postman, so the issue looks to be server-side. I created https://jira.mongodb.org/browse/REALMC-9954 to verify.

But it is a bit concerning that:
- 1) We don't have tests for this.
- 2) That we don't actually automatically refresh after 30 minutes. I'm not 100% sure about the implications, because Sync seems to still be able to ping/pongs successfully. Whi

[2021-08-09 07:52] nirinchev commented on #4841
Sync only needs a valid token to establish the connection. As long as the connection is not interrupted, it can keep sending and receiving changes forever.

[2021-08-10 16:27] jumilla opened #4842 "C-API for collection (Set/Dictionary) can't used"
I'm trying to use the C-API from Swift with via RealmFFI module.
A link error occurred when calling realm_set_xxx(), realm_dictionary_xxx() defined in src/realm.h.

<img width="383" alt="スクリーンショット 2021-08-11 1 02 32" src="https://user-images.githubusercontent.com/4950710/128896398-0d1da574-ec50-45f1-a264-83552f2ab2b6.png">

I can't find the API implementation in sources of the repository.
Are ther

[2021-08-10 16:35] bmunkholm commented on #4842
Hi @jumilla!
The realm-core database is not intended to be used directly by applications. You should use our [Swift SDK](https://github.com/realm/realm-cocoa) instead. It's [documented here](https://docs.mongodb.com/realm/sdk/ios/).

Hope that helps!

[2021-08-10 16:35] #4842 closed

[2021-08-10 16:51] jumilla commented on #4842
Hi @bmunkholm

SwiftSDK (realm-cocoa) is not easy to use due to the strong restrictions of ORM, and there are many places that do not catch C ++ and Objective-C exceptions, so we have newly developed a Realm library with an interface suitable for Swift 5. I'm trying to do it.

Please reopen it.

[2021-08-10 23:37] ironage commented on #4841
@cmelchior you are correct that the object store does not proactively send out requests every 30 minutes. This is partly because like Nikola says, it is not necessary to refresh the access token once the session has been created. (certain user operations do require a valid token though). We have a couple other ways to handle this:
- starting a new sync session will check the expiry timestamp on th

[2021-08-11 06:07] cmelchior commented on #4841
I have been talking to @mburdette about this. It looks like the problem is in the middleware somewhere, as the Realm App itself shouldn't be able to return 400 for this request.

This would also explain why your integration test doesn't catch it as we go directly to the integration test server in our tests.

So right now, it looks like there is a bug on the server that needs to be fixed, but I'm k

[2021-08-11 06:41] bmunkholm commented on #4842
Oh, that's very interesting! Do you mind sharing what's not working for you there and what it is you are trying to do better? Could it be that improvements to realm-cocoa would be better?

We don't really provide official support for using realm-core in any standalone way. But all of the Set/Dictionary functionality is implemented in Core - that's what the realm-cocoa and other SDKs use. So I sugg

[2021-08-11 10:25] edualonso opened #4843 "Expose `realm_list_is_valid` in the C-API"
It would be an advantage to have a `realm_list_is_valid` function exposed in the C-API, similarly to `realm_object_is_valid`.

A use case that justifies this addition is the handling of change listeners in the Kotlin SDK, e.g. when a list has been invalidated due to the owner object being deleted -  right now we detect "access to invalidated list object" exceptions being thrown from Core when call

[2021-08-11 10:42] cmelchior commented on #4843
I would expect we would want this for all collections: `List`, `Set` and `Dictionary` 🙏

[2021-08-11 14:23] sync-by-unito[bot] opened #4845 "Bad Changeset w/incorrect prior size in client bootstrapping"
JS SDK > 10.2.0 fails to bootstrap.

RCORE version was changed from 10.1.4 to 10.5.6 in JS SDK 10.3.0 (https://github.com/realm/realm-js/commit/708f1f239debea47e32cd8a4d8a217793dc752f2#diff-4b0401ee7b05302307b9fe385a792e3f5b8c7053c56df397ebf43c4eeeb5bcfcR3)

[2021-08-11 15:01] cmelchior commented on #4841
Digging deeper into this, then it seems that using CURL actually does work as expected. Apparently, Postman (which I was using) did something behind the scenes making the requests fail.

This point to something in the Java network stack which would also explain why the Core integration tests are reporting this as working.

I'm digging deeper into the Realm Java side, but keeping this open until I

[2021-08-12 10:04] sync-by-unito[bot] opened #4846 "Initial implementation of async writes"
Implementation that can be evaluated by SDK's

[2021-08-12 18:30] #4845 closed

[2021-08-12 18:34] #4836 closed

[2021-08-16 14:32] cmelchior commented on #4841
More debugging:

I hacked ObjectStore to refresh the session immediately. Doing it this way makes the HTTP request correctly return 201, both when running against our local dev server and when writing a unit test that ran against the production server.

Unclear exactly what to make of this. Potentially it is an issue that only happens when the token actually expires on the server,  but not when th

[2021-08-16 16:24] nirinchev commented on #4841
If you can get a 400 response using postman, perhaps you can try exporting that to cURL and comparing it to your handwritten cURL request?

[2021-08-17 09:16] cmelchior commented on #4841
After bombarding the code with debug logs I found the root cause: `android.os.NetworkOnMainThreadException`

Apparently, the callback for refreshing happens on the thread that created the app instance. Not surprising, but I think the reason that we didn't catch this earlier is that all other HTTP requests are controlled by the user and they choose what thread to run it on.

So this is clearly some

[2021-08-17 17:04] ironage commented on #4841
Do you know at what point the error is being swallowed? Is Java passing back a `Response` that has an artificial http code? If you are looking for a way to pass up an error that is not a http code, you can set `Response.custom_status_code` and set the body to your message, and the object store should pass that all the way up to the user.

[2021-08-17 19:57] cmelchior commented on #4841
Yes, we are setting a response code. I suspect it isn't happening here because there is no place the error can bubble up to the user as the call originates from within ObjectStore.

Not sure what the best approach is here. Because I could forsee quite a few IOExceptions happening just due to flaky network, so retrying for custom exceptions might be fine. But as a minimum, we should log them so use

[2021-08-18 11:58] cmelchior opened #4852 "More granular errors in the C-API"
The Kotlin SDK has started to look into mapping errors from the C-API into exceptions.

https://github.com/realm/realm-core/blob/master/src/realm.h#L175
https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/error.cpp#L68

This poses a number of problems:

1) It isn't really documented, nor clear, where these errors are coming from.

2) By browsing the mapping code it seems l

[2021-08-18 13:03] r-rebacz commented on #4050
@fealebenpae I'm able to face same kind of crashes with almost identical stack trace. Most of them happen when app is in background, so most likely your assumption is correct. Is there anything that could be improved framework users side (and/or realm dev team) to avoid those?

[2021-08-18 13:05] cmelchior commented on #4852
https://docs.google.com/document/d/1Zu88Jhp05-TsRzyqQM1nDJTBVRnCDJ2YfKRJthcWl7M/edit#heading=h.uqpta4k6ounk would be a massive improvement, but it needs to be expanded with how this information is propagated in the C-API.

[2021-08-18 13:12] JacobOscarGunnarsson opened #4853 "Buffer overflow from sscanf"
Currently working on a [pull request](https://github.com/realm/realm-core/pull/4850) where the CI gives the following error:
![image](https://user-images.githubusercontent.com/44238293/129903241-53ace250-0fcf-4c29-b70e-4a56bc46a685.png)
I'm unsure to why this occurs since we already use sscanf similarly in driver.cpp, line 1184 in my PR

[2021-08-18 17:44] #4268 closed

[2021-08-18 19:55] #4581 closed

[2021-08-19 10:19] bmunkholm commented on #4842
Hi @jumilla, just a quick follow-up on above - anything more info you can share?

[2021-08-19 11:55] jedelbo commented on #3817
Unfortunately the links to code refers to code in some branches that moves, so hard to figure out what was originally pointed to. The way the issue is formulated makes it quite open ended, so with the changes done in #4856 I will close this.

[2021-08-19 17:14] clementetb commented on #4852
It would be great that the API methods got annotated what Exceptions can throw.

Having such information will save time from the SDK side of guessing what behavior to expect from each method, and avoid any duplicate code.

For example:

[code]

Exceptions should also have some kind of categorization to know if they are fatal or not.

[2021-08-19 17:33] jumilla commented on #4842
Hi @bmunkholm,

The implementation of the core functionality of the Realm Swift library I'm writing has settled down, so I've published it on GitHub.

https://github.com/straightspirits/realm-swift

This implementation can CRUD local files.
Check out the example "Blog".
There are also a few test cases.

I tried to implement the missing C-API by imitating it.
Is it necessary to release the memory o

[2021-08-19 19:19] LuilliCapellan opened #4858 "Crashing when inserting multiple data, more than 10k Objects"
#### SDK and version
SDK : Cocoa
Version: 11.2.0

#### Observations
* How frequent do the crash occur?
Everytime i try to start the app and load the data into the Realm Database

* Does it happen in production or during dev/test?
App is only on testing

* Can the crash be reproduced by you?
Not sure
* Can you provide instructions for how we can reproduce it?
i was trying to push 10k contact data i

[2021-08-19 22:31] fealebenpae commented on #4852
I think this is an epic in its own right. I would encourage you to propose a scope document (ideally with a design attached) so that we can better estimate the work needed for realm-core and gather input from the other SDKs as any changes here would impact everyone.

[2021-08-20 13:59] jsflax commented on #4842
Hi @jumilla – interesting stuff! Could you be more specific about the issues you have with the current Swift implementation of Realm?

I reviewed some of your code and the API you designed seems largely similar to ours. In some places, it's even more complicated (like for schema declaration). I'd be more than happy to discuss this as we're always trying to meet the concerns of our users.

[2021-08-20 15:33] jumilla commented on #4842
Hi @jsflax

My design & implementation is more flexible than offical 'realm-cocoa'.
Extending A alone cannot meet my needs. Offical package has to be redesigned for Swift.version >= 5.

--

Concept of my (RealmSwift)[https://github.com/straightspirits/realm-swift] is following to:

- Code design & implementation to suit Swift 5
  - Not tied to implementation from Objective-C specification.
  - No

[2021-08-20 15:45] sync-by-unito[bot] opened #4859 "Add Status/StatusWith/ExceptionForStatus types to represent errors as values in Promises/Futures"

[2021-08-20 16:25] #4859 closed

[2021-08-20 21:16] sync-by-unito[bot] opened #4860 "Set<Mixed> should not consider string and binary data equivilent"
The MongoDB behaviour is to consider a string and a binary different even if they contain the same data, but in a Realm Set<Mixed> they are considered the same. Realm should align to the MongoDB behaviour. In practice this should be a rare case because most strings have a null byte at the end while binaries do not.

[code]

This change will require a file format bump, but no data migration will be

[2021-08-23 13:57] sync-by-unito[bot] opened #4862 "Port Promise/Future from mongo codebase to realm"

[2021-08-23 15:38] jbreams commented on #4596
@ijameelkhan, have you had a chance to upgrade to a newer version of the SDK and see if this crash still occurs?

[2021-08-24 09:06] nirinchev opened #4865 "SyncSession::wait_for_upload_completion notifies too early"
#### Expected results
`SyncSession::wait_for_upload_completion` should complete once the local Realm changes have been uploaded to the server and removed from local history.

#### Actual Results
It completes too early and the local Realm still thinks there are changes that need to be uploaded, which means it'll throw an exception if we try to write a copy of it: `Could not write file as not all cl

[2021-08-24 09:07] #4798 closed

[2021-08-24 09:33] jedelbo commented on #4858
Obviously a problem with memory mappings. @tgoyne would you have any idea about what could cause this? Does the callstack give any hints?

[2021-08-24 11:35] #4608 closed

[2021-08-25 12:25] cmelchior opened #4872 "WriteCopyTo cause "Bad sync progress received" for Synced Realms"
When attempting to use a copied file for a new user I'm getting a "Bad sync progress received" error from the server.

It looks like maybe not all relevant metadata is cleared when making the copy:

[code]

In particular `upload_client_version` probably needs to be reset as well.

There is a Core unit test for this here: https://github.com/realm/realm-core/blob/55910a8c3bc271262fbd4765cfd39aeea743

[2021-08-25 17:32] cmelchior opened #4873 "Server changeset causes "Invalid data type" on Client"
With latest Core 11.3.0, Java is running into a native crash in one of our tests for Client Reset: https://github.com/realm/realm-java/blob/master/realm/realm-library/src/syncIntegrationTest/kotlin/io/realm/SyncSessionTests.kt#L577

[code]

(It says 11.2.0 because I'm using the commit just before the official 11.3.0 release)

The full log is here:

[code]

There is only one class in the schema:

[

[2021-08-25 21:12] sync-by-unito[bot] opened #4875 "Logging out a sync user should update sync user metadata atomically"
We currently update the sync user metadata (access token, refresh token, and state enum) in three separate realm commits. If the process crashes between those commits, we can end up trying to use a logged out user when the process starts back up.

[2021-08-27 19:42] #4873 closed, assigned to ironage

[2021-08-28 00:33] nirinchev commented on #4775
@jsflax it seems that https://github.com/realm/realm-core/pull/4244 solves this, right?

[2021-08-28 00:35] nirinchev commented on #4486
This has been resolved by other means and is no longer something we need.

[2021-08-28 00:35] #4486 closed

[2021-08-28 00:37] nirinchev commented on #3898
@ianpward @fealebenpae can we bump the priority of this? It's been almost a year since we decided to "do it shortly after the launch of embedded objects".

[2021-08-28 09:03] jsflax commented on #4775
Correct, this can now be closed.

[2021-08-28 09:03] #4775 closed

[2021-08-29 06:39] caeduk commented on #3939
@cmelchior any news on this?

[2021-08-30 08:21] cmelchior commented on #4586
We stil have requests for other features though. Just now here: https://github.com/realm/realm-java/issues/4501#issuecomment-908143278

I can see plenty of use cases where sorting on computed properties would be valuable, like length of strings/binaries or lists.

[2021-08-30 08:23] bdkjones commented on #4586
@jedelbo What is your reasoning? Is there a drawback to this powerful functionality?

From the perspective of someone using Realm, the inability to sort by the count of a collection is infuriating—it's as if your collection types didn't have a `count` property and your advice were, "Just loop over the collection and count it manually."

I have frivolous `countOfSomeStupidCollection` properties str

[2021-08-30 08:32] bdkjones commented on #4586
These extra properties come with comments explaining the code bloat to posterity:

![Screen Shot 2021-08-30 at 01 30 09](https://user-images.githubusercontent.com/926566/131310534-d86ed556-7e7f-4cb9-8865-d1cca76c9e87.png)

And here's the UI that this drives. A simple tableView with a column header that can be clicked to change the sort direction:

![Screen Shot 2021-08-30 at 01 31 02](https://user

[2021-08-30 11:01] bmunkholm commented on #4601
As @igorvoytovich was able to work around this in his issue, I'm curious if you @markusfi has also found a way around this or if you are still experiencing this?

[2021-08-30 13:55] jedelbo commented on #4872
#4878 implements a test case that breaks the current assumptions in the test sync server - but also implements a fix. The same fix should probably be done in RealmCloud.

[2021-08-30 13:58] markusfi commented on #4601
Yes, we did: We wrapped it in an autorelease pool and we do any writes on DispatchQueue.main async:

[code]

We do not get any crashes here anymore.
We did not get rid of all crashes when doing realm read or writes, but at least this one is gone.

[2021-08-30 13:58] #4601 closed

[2021-08-30 21:34] nirinchev opened #4882 "Log out user on token expiration"
This is more of a question than a bug report, but looking at `SyncSession::handle_refresh`, I noticed we check for refresh token expiration and terminate the session in that case, however we don't log the user out:

https://github.com/realm/realm-core/blob/779c0a50752d6965fd478e9312626cc5ce3d4854/src/realm/object-store/sync/sync_session.cpp#L375-L382

This seems a bit odd as there's no way for the

[2021-08-30 21:36] nirinchev commented on #4882
@ironage, you had the misfortune to touch this code last and your name is forever engraved in the git history - perhaps you can answer the question part and then, if it turns out it's a legitimate bug, we can negotiate the fixing part 😜

[2021-08-30 22:05] ironage commented on #4882
It would make sense to me to log the user out in this situation as well. The correct thing to do to solve the refresh token being expired is to log in the user again. Looks like Jason was the one who [originally added](https://github.com/realm/realm-object-store/pull/1028) this, @jsflax can you confirm that there's no special reason to keep the user logged in here?

[2021-08-30 22:21] nirinchev commented on #4882
Looking into this more, it appears we're handling `bad_authentication` coming through the sync protocol by invalidating the user, which seems a bit extreme:

https://github.com/realm/realm-core/blob/779c0a50752d6965fd478e9312626cc5ce3d4854/src/realm/object-store/sync/sync_session.cpp#L551-L562

My guess is we should unify all of that handling somewhere and make sure we behave consistently regardle

[2021-08-30 22:40] jsflax commented on #4882
What is the alternative behaviour if their refresh token has expired? I could very well be mistaken, but I thought we had to force them to re-login.

[2021-08-30 23:05] ironage commented on #4882
I'm not sure I quite understand your question, but the current behaviour if the refresh token expires is that the session is closed and an error is reported to the user. If they try to open it again the same thing will happen. The developer might not know to handle this situation and log the user out. But if we change this to log the user out as well, then the app flow should be seamless the next

[2021-08-30 23:17] jsflax commented on #4882
Then that sounds like the solution 😄 . This was my original intention and it somehow got corrupted along the way. The user should be logged out.

[2021-08-31 08:04] jedelbo commented on #4218
Yes, I can confirm that the check is not done if the file is opened in read-only mode. However it does not explain how the 8 bytes at offset 8 are not 0 when the first bytes are 0xff. So based on the information we have here, I don't think we can make more progress. You are welcome to open the issue again, if more information can be given.

[2021-08-31 08:04] #4218 closed

[2021-08-31 08:54] sync-by-unito[bot] opened #4884 "Automatic Client Reset w. “seamless loss”"
#### Provide a less disruptive client reset experience with a new “seamless loss” mode that will reset the clients to the state of the server, but will lose local client changes.
(A version of this with local data update recovery will be considered later).

[2021-08-31 09:08] jedelbo commented on #4355
Not enough information to make any progress. Closing.

[2021-08-31 09:08] #4355 closed

[2021-08-31 10:42] DominicFrei commented on #4729
@nirinchev Which SDK are you using? If we know which language you are looking for we probably point you into the right direction. I've also created a little Q&A document for `EmbeddedObject` since this type seems to produce questions regularly:
https://github.com/realm/realm-dotnet/discussions/2594

[2021-08-31 10:54] niralishaha25 commented on #4729
I am using realm-cocoa for iOS version 10.13.0

[2021-08-31 11:20] carbonete commented on #4775
It's ok.

Thanks

[2021-08-31 14:34] #4834 closed

[2021-08-31 14:38] DominicFrei commented on #4729
@niralishaha25 The Cocoa repository does have [examples for migrations](https://github.com/realm/realm-cocoa/blob/master/examples/ios/swift/Migration/Examples/Example_v5.swift).
You can also look through the [list of issues related to your exception](https://github.com/realm/realm-cocoa/issues?q=At+least+one+object+does+not+have+a+backlink).
And on top of that feel free to [create a new issue](htt

[2021-08-31 18:28] sync-by-unito[bot] opened #4885 "crash when trying to erase an object with a null link"
Investigating a realm sync fuzzer failure (REALMC-10073), discovered that this is likely an issue with the core binary.

This occurs when issuing the following (see the attached json file for a minimal reproduction with the realm sync fuzzer)

1. CreateObject
1. ArrayInsert of a null link
1. EraseObject

steps 1+2 together work fine, and steps 1+3 alone work as well. However, all 3 together cause

[2021-09-02 14:49] #4862 closed

[2021-09-06 08:52] jedelbo commented on #4858
I interpret the last comment as if we can close this issue.

[2021-09-06 08:52] #4858 closed

[2021-09-06 14:11] #4351 closed

[2021-09-06 14:12] #1206 closed

[2021-09-07 07:53] jedelbo commented on #4050
@r-rebacz Could you please add the actual stack trace you are seeing and also inform about the version of Realm you are using?

[2021-09-07 08:05] jedelbo commented on #4882
@ironage is this something you can take further?

[2021-09-07 08:12] jedelbo commented on #4349
Looks like a dead issue.

[2021-09-07 08:12] #4349 closed

[2021-09-07 08:27] cmelchior commented on #4754
It is most likely this issue here: https://github.com/realm/realm-java/issues/6893

It is a change in permissions on Android where access to external storage is now only available using specialized APIs, meaning that we cannot put Realm files there anymore.

[2021-09-07 08:46] #4754 closed

[2021-09-07 08:56] #4186 closed

[2021-09-07 12:32] jedelbo commented on #4773
I don't think this is a memory problem. Looks like we're hitting "Assertion failed: has_refs()". @blazejkrupa Since this can be reproduced, it would be nice to know if the error still exists in a more recent release.

[2021-09-07 13:06] #3038 closed

[2021-09-07 13:11] #3434 closed

[2021-09-07 17:12] ironage commented on #4875
Fixed by https://github.com/realm/realm-core/pull/4876

[2021-09-07 17:12] #4875 closed

[2021-09-07 19:54] cacarlassare opened #4895 "Crash when trying to store data"
#### SDK and version
SDK : iOS, Swift, using SPM
Version: Realm 10.12.0

#### Observations
* How frequent do the crash occur?
Always
* Does it happen in production or during dev/test?
 We don't have production yet
* Can the crash be reproduced by you?
Yes
* Can you provide instructions for how we can reproduce it?
 Try to store an object.

#### Crash log / stacktrace
/Users/u631342/Library/Develop

[2021-09-08 11:23] Dattakunde opened #4897 "Unreachable code"
Error log when try to convert Realm object to JOSN object in react native app run in iOS.

_ZNSt3__1L14__thread_proxyINS_5tupleIJNS_10unique_ptrINS_15__thread_structENS_14default_deleteIS3_EEEEZN5realm3rpc9RPCWorkerC1EvE3$_0EEEEEPvSC_ + 139
14  libsystem_pthread.dylib             0x000000010dd4e109 _pthread_start + 148
15  libsystem_pthread.dylib             0x000000010dd49b8b thread_start + 15!!!

[2021-09-08 11:25] fealebenpae commented on #4897
This looks like a crash in Realm's React Native Chrome Debugger. @kneth can you take over?

[2021-09-09 10:15] jsflax commented on #4769
@flowbe can you send us a sandbox project that reproduces this? Otherwise, can you try running your tests with the thread sanitiser on?

If you cannot send us a sandbox project, it would be useful to see more of what is going on in `UploadQueue`.

[2021-09-10 11:56] #4159 closed

[2021-09-11 01:19] ironage commented on #4181
This will be fixed by https://github.com/realm/realm-core/pull/4809

[2021-09-12 21:59] nirinchev opened #4901 "Immutable schema mode doesn't correctly handle changes"
#### Expected results
Opening a readonly Realm with schema different from what is on disk should fail.

#### Actual Results
Realm is opened successfully and the schema on disk is used.

#### Steps & Code to Reproduce

1. Open a Realm with 1 class in the schema - e.g. `Foo`.
2. Open the same Realm with 2 classes - `Foo` and `Bar` and set `schema_mode = SchemaMode::Immutable`.
3. Observe no error.

[2021-09-13 00:34] tgoyne commented on #4901
This is working as intended. The idea is that only schema changes which require bumping the schema version should require regenerating your bundled Realm file, and not adding or removing types. The SDK should return a default-initialized Results (i.e. a Results in the Empty mode) for queries where the Table doesn't exist, which behaves nearly identically to a Results on an empty table.

[2021-09-13 05:39] nirinchev commented on #4901
I'm not sure this is intuitive for users. This way we don't offer any sort of feedback that they may have a configuration error. A table being empty and a table not existing is not the same thing and it may be confusing that we're silently ignoring this particular mismatch. On the other hand, if that's the current behavior, it's likely that people haven't complained enough, so maybe that's what th

[2021-09-13 05:52] tgoyne commented on #4901
Tables are an implementation detail, and any way to distinguish a table not existing from an empty table other than reading the schema from a file is probably a bug. Adding new types to the schema and opening a Realm silently creates the tables required, and this is just doing the same operation without actually modifying the file.

[2021-09-13 10:09] flowbe opened #4902 "Xcode warning: Invalid Exclude '…/SourcePackages/checkouts/realm-core/src/relam/status_with.hpp': File not found."
#### Expected results
No warning triggered in Xcode (13.0 beta 5).

#### Actual Results
The following warning is triggered when building an iOS app with Realm:

#### Steps & Code to Reproduce
In an iOS app, add Realm as a dependency and compile it.

#### Core version
Core version: 11.3.1

[2021-09-13 11:31] flowbe commented on #4902
Apparently the problem is resolved with version 11.4.1. Sorry about that.

[2021-09-13 11:31] #4902 closed

[2021-09-14 08:54] r-rebacz commented on #4050
Thank you @jedelbo for your interest in the topic. We're using v10.7.4.

[code]

[2021-09-14 19:49] miquellaboria opened #4904 "Assertion failed: currentProperty"
#### SDK and version
SDK : Cocoa
Version: realm-core-11.2.0

#### Observations
The crash appears when I try to access a custom property from Realm, the value was stored correctly, but when try to acces to them crash:

[code]

#### Crash log / stacktrace
/xxx/Pods/Realm/Realm/RLMAccessor.mm:919: [realm-core-11.2.0] Assertion failed: currentProperty
0   Realm                               0x00000001

[2021-09-15 00:11] ironage commented on #3952
This was done by https://github.com/realm/realm-core/pull/4811

[2021-09-15 00:11] #3952 closed

[2021-09-16 21:45] nirinchev commented on #4882
Can we prioritize this. Since anonymous users have 60 day token expiration and you can't have more than one anon user logged in at the same time, it's making life really difficult for developers who chose to use anonymous auth - e.g. [this forum post](https://www.mongodb.com/community/forums/t/error-invalid-session-on-old-client-10-3-or-10-4/124281?u=nirinchev)

[2021-09-16 21:48] jsflax commented on #4882
@nirinchev how does this solve that problem? Logging the user out on refresh expiration seems to be more for their convenience.

[2021-09-16 22:28] nirinchev commented on #4882
It doesn't break their app the very least. Obviously, they'll need to redownload the data when they re-authenticate the anonymous user, but at the very least, they won't have to delete the app data or implement convoluted error handling for it.

[2021-09-18 05:24] jumilla opened #4909 "No longer notify RealmResults changes from other clients"
Synchronized Realm (using MongoDB Realm) no longer notify of RealmResults changes from other clients on Core version 11.4.1.

It have been notified of myself updates.

I have confirmed that the change-set has been downloaded from sync server in a sync log.
I have confirmed that it works on Core version 11.3.1.

Maybe it's due to the following Pull Request:
https://github.com/realm/realm-core/pull/

[2021-09-18 05:36] jumilla commented on #4909
Attach the log.

-- Sync Log - Core version: 11.4.1 on Client A
[RealmSync] 1 Connection[1]: Changeset (parsed):
InternStrings   0="AppReport"
EraseObject     path=AppReport[ObjectId{6144bbd26b2ae61dc239d936}]

[RealmSync] 2 Connection[1]: Session[1]: Received: DOWNLOAD(download_server_version=23, download_client_version=0, latest_server_version=23, latest_server_version_salt=2584454014292725065,

[2021-09-20 07:52] jedelbo commented on #4623
https://github.com/realm/realm-core/pull/4891 has updated the logic in this area to be more robust. Assuming that this may have fixed this error we close it now. You are welcome to open this error again if the problem still exists when the PR is finally released.

[2021-09-20 07:52] #4623 closed

[2021-09-21 09:08] Trailqueen commented on #4882
I'm struggling with this issue as well. On my clients phone the app stopped syncing, but otherwise was working fine. The client was unaware, that he was not getting any server updates anymore. There was no error log on the server, so I only noticed the issue by checking the clients log file:

I didn't know that I have to catch the error. The docs are not very helpful there.

My solution for now wo

[2021-09-22 08:31] #4693 closed

[2021-09-22 08:53] bmunkholm commented on #4804
@nirinchev Have you seen this again? Do you recall what the actual error was?

[2021-09-22 09:07] bmunkholm commented on #4773
@blazejkrupa Can you still repro this? Can we do that remote on a call with you if you can't share?

[2021-09-22 09:49] nirinchev commented on #4804
This was the stacktrace that the Unity editor crash reporter gives us. There was no more information at the time. I haven't worked on Unity for some time, so I haven't seen a crash like this since.

[2021-09-23 06:37] #4779 closed

[2021-09-23 09:15] jedelbo commented on #4909
@tgoyne could you have a look at this to see if this could be caused by the change that is mentioned?

[2021-09-23 11:06] #4769 closed

[2021-09-24 08:43] #4168 closed

[2021-09-24 15:28] sipersso commented on #4729
@DominicFrei The sample doesn't show anything about how to do this migration.  @niralishaha25 If you look at https://github.com/realm/realm-cocoa/issues/7145 there is some info there that could be useful. Migrating to embedded objects is far from trivial I am afraid :/

[2021-09-28 09:20] papafe opened #4919 "Progress notifiers are called after download is complete when opening a synced realm"
One .NET user reported a native crash just after opening a synced realm ([ticket](https://github.com/realm/realm-dotnet/issues/2632)). We figured out this is happening because a managed handle for progress notifiers is being called after being freed. The handle is freed after the download completion is called and the synced realm is opened. We expect that the progress notifiers would be deregister

[2021-09-28 12:31] rorbech commented on #4843
`realm_list_is_valid` was added in #4658. Would still be nice with some generic `collection` methods to avoid having to replicate these methods over and over again.

[2021-09-28 12:31] #4843 closed

[2021-09-29 19:11] #4909 closed

[2021-09-30 03:40] jumilla commented on #4909
@tgoyne could you have a look at this to see if this could be caused by the change that is mentioned?

Why don't you reply for this issue.

Fix on realm-cocoa is not an essential solution.

[2021-09-30 03:41] jumilla commented on #4909
@jedelbo Thanks!

[2021-09-30 03:45] tgoyne commented on #4909
I don't see any reason to think that #4839 is related or that there's a core bug here.

[2021-10-01 10:35] nirinchev commented on #4919
Looking at this, I can see what the issue is. When `wait_for_download_completion` fires, we exchange `m_session` for a `nullptr`:

https://github.com/realm/realm-core/blob/7d65a823e5af960a58a9e57aa6997f054f79ba09/src/realm/object-store/sync/async_open_task.cpp#L42-L45

Which then means that we can't unregister the progress notifier from the SDK because `m_session` is now null:

https://github.com/

[2021-10-01 13:25] nirinchev opened #4930 "Create a GHA workflow to trigger builds in SDK repositories"
Should only happen for PRs with a "Core-Public-API" label applied.

1. Checkout each SDK repo.
2. Upgrade the Core submodule to the PR branch's HEAD.
3. Open a PR with the change for each SDK.
4. When new commits are pushed to the branch, update the SDK PR.
5. When the Core PR is merged to master, retarget the SDK PR to the merge commit.

[2021-10-01 14:31] teotwaki commented on #1699
Hi gang,

Long time no see. Any chance we can close this or get rid of it? It's still hanging around on my GitHub view.

Thanks :)

[2021-10-01 18:34] ironage commented on #1699
Hey Sebastian!
This test was removed by https://github.com/realm/realm-core/pull/4276 so we can close this :)

[2021-10-01 18:34] #1699 closed

[2021-10-01 19:42] tgoyne commented on #4919
It should just be a vector of tokens and not some more complicated data structure, but otherwise makes sense to me. In the other SDKs we're probably currently soft-leaking progress notifiers in a way that just doesn't crash, but progress notifiers added to an async open shouldn't be firing for any progress after that open completes.

[2021-10-05 08:43] jedelbo commented on #4131
@bmunkholm who created this? It may have been fixed

[2021-10-05 08:49] jsflax commented on #4131
It is already fixed.

[2021-10-05 08:49] #4131 closed

[2021-10-05 13:11] JunsW commented on #4773
Same issue here.
  - Realm (10.8.1)
  - RealmSwift (10.8.1)
  - iOS 14.2

My project using Realm to manage user data. In the worst case (**we only use local realm in this case, no sync**),  about 100, 000 data will be parsed and wrote to the local realm database concurrently. Write transactions began from different threads and the main thread holds some data read from the same realm in the meanwhi

[2021-10-06 09:33] papafe opened #4939 "Frozen realm uses the wrong schema"
When creating a frozen realm we are passing an empty schema in config, so the realm gets his schema from disk, and this can be different from the one that was passed by when the realm was created.
This causes a [crash in .NET](https://github.com/realm/realm-dotnet/issues/2670) when property access is attempted on a frozen object, as we rely on property indexes for that.

This seems to be due to th

[2021-10-06 14:56] sync-by-unito[bot] opened #4941 "Don't keep checking whether the access token that was just fetched is already expired"
[https://github.com/realm/realm-js/issues/3985](https://github.com/realm/realm-js/issues/3985)
Likely what’s happening is that if the device time is more than 30 min in the future, it thinks its access token is expired, so it requests a new one. But that one will also (immediately) appear to be expired too, so it tries again, etc. in an infinite loop. 
To mitigate this, the client could check if t

[2021-10-06 15:51] jsflax commented on #4941
That doesn't sound right unless `issued_at` corresponds with the "incorrect" device time. Which if it's the case, fine, but I would have expected `expires_at` to also correspond with the "incorrect" device time.

[2021-10-06 16:02] nirinchev commented on #4941
`issued_at` and `expires_at` are set by the server and should be "correct". The device should not try and validate tokens and instead trust the server - the `expires_at` check is just an optimization to proactively refresh the token and not something that we should be overly strict at enforcing. So if the device time is t0 and `issued_at == t1` and `expires_at == t2`, we should assume that we shou

[2021-10-07 06:50] sync-by-unito[bot] opened #4945 "User account Deletion API"
Add OS API to provide deletion of the user account.

[2021-10-11 09:37] #4595 closed

[2021-10-11 11:06] nirinchev commented on #4939
The schema as exposed by OS doesn't necessarily match the schema on disk. It can be a subset of the on-disk schema as Sync may add columns and properties that the SDK didn't know about. I have filed a ticket to change this behavior here: https://github.com/realm/realm-core/issues/4584 but that hasn't been picked up.

Right now, we have a bug in that the live Realm's schema as reported by OS is dif

[2021-10-12 22:09] nirinchev commented on #4939
Should this be done by OS or the SDK? I.e. do you see a downside of modifying `Realm::freeze` to handle this automatically like:

[code]

Or am I misunderstanding your suggestion? Also, @jedelbo assigned you the issue as he was going on vacation, but I'm not sure if you want to actually work on it. If you don't have time, we can either try and find someone on the core team to take over or go ahead

[2021-10-14 12:59] nirinchev opened #4955 "Deadlock in AsyncOpenTask::cancel"
AsyncOpenTask::cancel will acquire the mutex and call `m_session->log_out` which will complete any pending download waits, invoking the `m_session->wait_for_download_completion` callback which also attempts to acquire the mutex.

[2021-10-14 13:47] ztane opened #4957 "Fix the fix: Make EPERM from `posix_fallocate` work the same way as EINVAL"
#3195 was supposed to fix error handling when `posix_fallocate`. However it does not fix _all of them_: AWS has disabled the Linux `fallocate` and `fallocate64` system calls in Lambda and some other environments by making them return `EPERM` instead of the common `EINVAL`.

The fix would be to handle `EPERM` analogous to `EINVAL` in [util/file.cpp](https://github.com/realm/realm-core/blob/539e2427

[2021-10-14 13:51] fealebenpae commented on #4957
Hey @ztane, thanks for bringing this up and providing additional context. We’ll investigate the fix you propose and try to resolve the Lambda issue.

[2021-10-14 18:33] nirinchev opened #4959 "Add tests for AsyncOpenTask::cancel and un/register_download_progress_notifier"
https://github.com/realm/realm-core/pull/4956 fixed a regression introduced when refactoring `AsyncOpenTask` which was not caught because we don't have tests for `AsyncOpenTask::cancel` or the progress notifier API.

[2021-10-15 20:53] #4957 closed, assigned to nobody

[2021-10-18 17:13] #4955 closed, assigned to nirinchev

[2021-10-18 22:38] nirinchev opened #4971 "Prevent snapshot from being called on non-object collections"
Currently `Collection::snapshot` can be called on any collection, including one that contains primitives. This is not supported and there are methods, such as `size()` that will assert that Results with `UpdatePolicy::Never` are backed by tableview. Core should either assert/verify the preconditions for calling `snapshot` or the Results returned by `snapshot` should work with assertions being trig

[2021-10-18 22:45] tgoyne commented on #4971
TableView-backed results are the only thing which can provide a snapshot. Is this assertion failure coming from a Results of non-objects, or is snapshot() failing to produce the TableView?

[2021-10-18 22:52] nirinchev commented on #4971
That is correct - it's a result of non-objects - i.e. a `Set<string>`.

[2021-10-18 22:57] nirinchev commented on #4971
I guess the behavior is by design then, but I would have expected an exception/assertion a lot earlier than this. If `snapshot` should only be used for collections of objects, can we add a validation that the results it's being called on contains objects?

[2021-10-19 11:14] RedBeard0531 opened #4976 "Remove RaspberryPi builds from CI"
RaspberryPi builders on Raspbian have very old compilers that will make it harder to move to C++20, and there hasn't been much interest in realm on RaspberryPi, so we are removing them from our CI. While we do not plan to break support for RaspberryPi, consumers will need to use an up to date c++ toolchain. This is easiest to achieve using once of the Ubuntu arm64 releases.

[2021-10-19 18:31] #4959 closed, assigned to nobody

[2021-10-20 10:55] #4976 closed, assigned to RedBeard0531

[2021-10-20 21:51] #4971 closed

[2021-10-26 14:51] ericjordanmossman opened #4994 "No notification for write transaction that contains only change to backlink property"
#### Expected results
A write transaction that contains only a change to a backlink property notifies.

#### Actual Results
A write transaction that contains only a change to a backlink property does not notify.

#### Steps & Code to Reproduce
Test reproduction in [realm-core](https://github.com/realm/realm-core/compare/df/test-for-backlinks). The difference between this test and the [previous pas

[2021-11-01 09:41] finnschiermer opened #5010 "Excess use of memory mappings in multiprocess reader-writer scenarios"
#### Expected results
Core should reclaim memory mappings close(r) to the time when they are no longer used.

#### Actual Results
In a multiprocess setting (or any setting with multiple DB objects involved), where one process (or DB) only reads while others write AND these writes cause file growth AND the reader continuously refreshes their realm, stale memory mappings on the reader is not release

[2021-11-02 15:40] #4625 closed

[2021-11-02 16:23] ianpward commented on #4607
we discussed this in core backlog meeting - whats the customer-driven use case for this? if you want to use different users, then you can use username/password login

[2021-11-02 17:22] #3760 closed

[2021-11-03 12:52] sync-by-unito[bot] opened #5018 "Support converting a local realm file to have sync history"
This task consistes of 2 sub-tasks:
* [x] Export a realm to a new file and synthesize a sync history
* [ ] Copy the state from one realm over to a synchronized realm

[2021-11-03 12:56] #4466 closed

[2021-11-03 17:47] #4542 closed

[2021-11-04 12:32] r-rebacz commented on #4050
@jedelbo thank you for feedback. It's iOS app. I mentioned about "iOS file rights" in one of previous comment but I should probably be more clear :) Could you please point out pull requests with fixes, so I can track when they'll get released? Thank you in advance.

[2021-11-04 14:59] jedelbo commented on #4050
@r-rebacz The confusion comes from the fact that the stack trace does not match v10.7.4. It seems to be a newer version. You can follow https://github.com/realm/realm-cocoa/pull/7488.

[2021-11-04 17:06] sipersso commented on #4729
After investigating this further, it looks like the case of removing multiple backlinks by copying data and assigning exactly one backlink isn't possible in the iOS SDK for the moment.

I didn't understand the API to create embedded objects during migration so added a feature request here: https://github.com/realm/realm-cocoa/issues/7508. But apparently it was re-labeled as a bug, so I don't think

[2021-11-05 09:47] DominicFrei commented on #4729
Hi @sipersso,

the other issue you created was turned into a bug because it is already supposed to work but doesn't. Hence bug not enhancement. It's just for our internal prioritization though, for you it's all the same I suppose. Something that you need is missing, sorry about that.

We'll take care of this in the other issue so you can go ahead a finish your migration including EmbeddedObjects w

[2021-11-05 15:42] sync-by-unito[bot] opened #5023 "Enable session multiplexing by default in sync client"

[2021-11-05 17:27] spenceralderson opened #5026 "Error in linking phase when migrating from Cocoapods to Swift Package Manager"
#### Expected results
Migrate from Cocoapods to Swift Package manager and build my project.

#### Actual Results
Error during linking phase while building RealmCore

#### Steps & Code to Reproduce
Getting this error when trying to build after deintegrating pods and adding Realm to the project vis SPM:

[code]
Same error appears for building on device but for arm

#### Core version
Core version: 10

[2021-11-07 16:09] sync-by-unito[bot] opened #5028 "Implement state-change notifications for FLX subscriptions"

[2021-11-08 12:42] jedelbo commented on #5026
@bmunkholm I think this ticket belongs in realm-cocoa.

[2021-11-08 16:08] #4941 closed

[2021-11-08 19:47] #4187 closed

[2021-11-10 13:04] cmelchior opened #5031 "[C-API] implement support for Set and Map"
The Set and Map types are present in the header files, but there is no implementation.

[2021-11-10 13:46] #5028 closed

[2021-11-11 13:22] pavel-ship-it commented on #5026
Hi @spenceralderson
I assume it's RealmSwift framework v10.17.0
`The Apple Security framework is present in the project`
looks like Security.framework isn't added to the target. Could you please check that for me?
What version of Xcode it is?
Can you upgrade to the latest version of RealmSwift?

[2021-11-12 08:38] #4846 closed

[2021-11-12 08:39] sync-by-unito[bot] opened #5036 "Support cancellation of async transactions"

[2021-11-12 08:59] skytoup opened #5037 "use `Results.count` crash"
#### SDK and version
SDK : Cocoa
Version: RealmSwift (10.19.0)

#### Crash log / stacktrace

/Users/realm/workspace/realm_realm-core_release_11.6.0/src/realm/array.hpp:2065: [realm-core-11.6.0] Assertion failed: start <= m_size && (end <= m_size || end == size_t(-1)) && start <= end

0   Realm                               0x0000000108e34bcc _ZN5realm4utilL18terminate_internalERNSt3__118basic_stri

[2021-11-12 11:08] jedelbo commented on #5037
Based in this information is is very hard for me to figure out how you can make the assertion fail in this context. @skytoup Is this behavior something you can reproduce?

[2021-11-13 06:42] skytoup commented on #5037
I don't understand how it happened, it just happened by chance.

[2021-11-15 09:25] jedelbo commented on #5037
Ok. This error indicates that there should be some inconsistencies in data handled by central parts of our code, but as we have never seen this error before, it must be due to some extraordinary circumstances. As we don't have more information, I see no other option than to close this issue as unresolved. But thank you for reporting and should you encounter this issue again, we hope you will get b

[2021-11-15 09:41] #5037 closed

[2021-11-15 13:25] #5036 closed

[2021-11-15 14:34] sync-by-unito[bot] opened #5041 "Add a unique id for FLX Subscriptions"
For non-C++ SDKs, having a unique id that can be used to lookup a subscription from managed code into native will be valuable and save us from writing boilerplate to iterate over the native subscriptions - or even worse - keep a pointer to the native subscription around.

[2021-11-15 14:41] sync-by-unito[bot] opened #5042 "Add a way to cancel a SubscriptionSet update"
We have `SubscriptionSet::commit`, but we also need `SubscriptionSet::cancel_update` or something similar that will roll back the transaction and revert the subscription set to a read-only state. This is needed by SDKs to handle cases where the user code throws an exception - i.e.:

[code]

[2021-11-16 19:39] nirinchev commented on #5042
Ah, I see - that wasn't very obvious, but we can make it work like that. Up to you to decide whether you want to expose an explicit rollback that wraps this interaction.

[2021-11-18 12:26] sync-by-unito[bot] opened #5051 "SubscriptionSet::insert_or_assign with unnamed query should not operate on named subscriptions"
Calling the `SubscriptionSet::insert_or_assign(query)` overload will try and find a subscription where the query/object type matches the passed in query and bump its updated_at field, but it does so even for updated queries. This is inconsistent with the behavior of `SubscriptionSet::insert_or_assign(name, query)` as that ignores unnamed queries. This means that depending on the order of operation

[2021-11-18 12:52] sync-by-unito[bot] opened #5052 "SubscriptionSet::erase doesn't update m_cur_sub"
erasing from a subscription set returns an iterator that is supposed to point to the next element, but dereferencing the returned iterator will crash as `m_cur_sub` that is returned when dereferencing the iterator wraps the now-deleted object. This snippet should reproduce the issue:

[code]

[2021-11-19 09:53] kneth opened #5056 "Expose counters in `realm::Object`"
#### Describe your problem or use case
Currently counters are only exposed in `realm::Obj`. It means that SDKs using `realm::Object` and its accessors cannot support counters easily.

#### Describe the solution you'd like
* Add support for `add_int()` to `realm::Object` (see https://github.com/realm/realm-core/blob/master/src/realm/obj.hpp#L248).

#### Additional context

[2021-11-19 23:49] ironage commented on #5056
Can you use `Object::obj().add_int()` for the time being?

[2021-11-22 08:14] cmelchior opened #5058 "[C-API] Missing support for functions using `DB::call_with_lock(realm_path, [&](std::string path)`"
This API is used for various purposes: Deleting, compaction, migrations, but is currently missing from the C-API.

[2021-11-22 09:00] nirinchev commented on #5058
The C API should not expose call_with_lock. Instead, it should expose the high level operations that would otherwise use it. There are OS API for deleting and compacting files and those use the lock internally.

[2021-11-22 09:10] cmelchior commented on #5058
Yes, that is probably the better way to go about it.

[2021-11-22 15:25] #5052 closed

[2021-11-22 15:41] #4804 closed

[2021-11-22 16:21] LaPeste opened #5061 "Realm::do_refresh() called twice on immutable realm throws an exception"
#### Expected results
Calling [`Realm::refresh()`](https://github.com/realm/realm-core/blob/553ac3ff38c558be4f29065e2bae289063f3c563/src/realm/object-store/shared_realm.cpp#L812), which in turn calls [`Realm::do_refresh()`](https://github.com/realm/realm-core/blob/553ac3ff38c558be4f29065e2bae289063f3c563/src/realm/object-store/shared_realm.cpp#L818), multiple times on an immutable realm should be

[2021-11-22 20:40] #4408 closed

[2021-11-23 11:49] blagoev opened #5063 "realm_error_t object is populated with invalid memory address for the message resulting in crashes when the field is used."
Core C-API relies on undefined behavior when populating realm_error_t objects.
The exact issue is getting a pointer to the exception message here https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/error.cpp#L76 which memory is invalidated when the exception object goes out of scope here https://github.com/realm/realm-core/blob/master/src/realm/object-store/c_api/error.cpp

[2021-11-24 00:54] #5061 closed

[2021-11-25 08:01] cmelchior opened #5067 "[C-API] Add option for adding a query to an existing query"
We need something like this in Kotlin to build up query structures by appending multiple queries.

[code]

See e.g how this is used in Java: https://github.com/realm/realm-java/blob/master/realm/realm-library/src/main/cpp/io_realm_internal_TableQuery.cpp#L466

[2021-11-29 16:46] #5067 closed

[2021-11-29 20:34] #5041 closed

[2021-11-30 01:59] ironage commented on #4053
I looked into this and it is a bit more complicated than it appears at first.
The remaining instances where the string conversion is not handled appropriately are in the InterprocessCondVar.
1. It doesn't actually matter if the name of the InterprocessCondVar has the exact same name as the Realm. As long as the path is mapped the same way each time and is unique per Realm we are fine. The path of

[2021-11-30 01:59] #4053 closed

[2021-11-30 13:39] numen31337 commented on #2875
Xcode: 13.1
Realm versionStr: 11.6.1
iOS: 15.0
SwiftPM

<img width="1599" alt="Screenshot 2021-11-30 at 14 33 24" src="https://user-images.githubusercontent.com/5677845/144057487-c411c106-39e9-45d8-bc38-b0f374b81a59.png">

[2021-11-30 16:36] edualonso opened #5077 "[C-API] Align `realm_results_average` and `Query::average_X` functions"
I have spotted a discrepancy between how the Query API and the Results APIs compute the average value after testing some use cases for aggregators in both the Java SDK and Kotlin SDK: the Query API returns 0 when there are no objects in a particular table whilst the results API returns a null Mixed.

We should find a way on how to align both APIs.

[2021-11-30 17:28] sync-by-unito[bot] opened #5079 "Getting FLX subscriptions when FLX sync is disabled should be an error"
At the object-store level, there should be a way to construct the SyncConfiguration in a way that indicates FLX sync is enabled and getting the subscriptions should fail if FLX sync is disabled.

[2021-12-01 04:20] #5051 closed

[2021-12-01 13:25] edualonso opened #5082 "[C-API] Bug in `realm_query_append_query`"
The return statement in `realm_query_append_query`
[code]
is wrong, it should be
[code]

[2021-12-01 13:36] jedelbo commented on #5082
@ironage Perhaps the test was a bit too superficial. And the review too.

[2021-12-01 18:34] ironage commented on #5082
Oh good catch, yeah I should have caught that with better testing!

[2021-12-02 08:52] #5082 closed

[2021-12-02 13:49] sync-by-unito[bot] opened #5086 "Ensure synchronized realm paths work in FLX sync where there is no partition value"

[2021-12-06 10:48] papafe commented on #3898
@ianpward @nirinchev Can we bump this? We just had another request for this functionality, and unfortunately backlinks don't solve all the needs

[2021-12-08 09:47] sync-by-unito[bot] opened #5098 "Implement Client Reset w/ Recovery"

[2021-12-08 12:29] edualonso opened #5099 "[C-API] - missing `filter`, `find_first` and descriptor functions for `realm_results_t`"
In order to preserve descriptor ordering in queries made on results objects we need to expose these functions in the C-API.

Currently, the only way to do so in the C-API is by creating a `realm_query_t` from a `realm_results_t` using `realm_query_parse_for_results`. This is not optimal as queries created using this function will place the descriptors at the end of the query for an existing result

[2021-12-12 21:47] edualonso opened #5106 "[C-API] - missing `Query::get_description`"
We need access to `Query::get_description` from the C-API.

[2021-12-13 10:09] umarpazir11 opened #5107 "Not able to create realm database on external file storage on Android 11 and plus"
#### Expected results
I want to create a realm database on external storage so two apps can use one single database. So I am using scope storage for android to give permission but I can create all other files but not realm database files. only realm.lock file is there

#### Actual Results
E/REALM: /tmp/realm-java/realm/realm-library/src/main/cpp/realm-core/src/realm/util/file.cpp:1023: [realm-core

[2021-12-14 09:54] cmelchior opened #5109 "App::current_user() gets out of sync with the user in SyncConfig during Sync Auth errors"
See https://github.com/realm/realm-core/pull/5108.

[2021-12-15 08:40] cmelchior commented on #5109
Was a problem with the Java test setup. Closing.

[2021-12-15 08:40] #5109 closed

[2021-12-15 09:26] cmelchior opened #5110 "[C-API] Expose Flexibile Sync API's"
The new Flexible Sync API's also needs to be exposed in the C-API in order for us to add support for this in Kotlin and Dart.

[2021-12-15 13:22] jaltin commented on #2573
Hi,

We also really would like to be able to control the sorting. I have outlined a suggestion in https://github.com/realm/realm-js/issues/3770, perhaps you could do something along those lines?

[2021-12-15 15:00] RedBeard0531 commented on #5063
As a minor nit: It is _unspecified_ whether a copy occurs, but if it does not, the behavior is well-defined. Windows is the only place where the copy happens, so it is the only place where the behavior is actually _undefined_. Of course, since we support windows, we still need to fix this, and we should just fix it the same way everywhere rather than having a separate path for windows.

[2021-12-15 22:27] blagoev commented on #5063
@RedBeard0531 yes indeed. its true as of now. But does it mean that this will be true for future versions of the other compilers. :)
btw thanks for pointing to me this undefined behavior in the first place.

[2021-12-15 22:50] RedBeard0531 commented on #5063
No, but actually yes. No, we don't get any guarantees about it from the C++ standard (unspecified is weaker than implementation defined). But actually, on non-windows platforms that we target, the platform API/ABI (which is a separate standard, frequently referred to as the "itanium" ABI for historical reasons) only allow rethrowing the same object, and don't provide any way to copy it to a new ob

[2021-12-15 22:58] blagoev commented on #5063
I see, thanks for the detailed clarification.

[2021-12-20 14:36] #5063 closed

[2021-12-20 16:41] Stefanos65535 opened #5117 "RealmList<RealmAny> on Android ARM devices works incorrectly"
#### Expected results
list of realm any objects

#### Actual Results
list of NULL objects

#### Steps & Code to Reproduce
[code]
**on realm-java 10.8.1 (realm-core 11.6.0)** this sample crashing with next stacktrace:

[code]

**on realm-java realm-java 10.9.0 (realm-core 11.7.0)**  getEntities(WithRealmAnyTestEntity::class.java)  returns list of "null"
![145781083-90383218-94dc-4acb-b568-4aaa493eb

[2021-12-20 23:39] #5086 closed

[2021-12-22 12:42] liefersfl opened #5121 "Opening encrypted realm db throws DecryptionFailed exception"
#### SDK and version
SDK : Cocoa, Java, MongoDB Realm Studio
Version: iOS: 5.5.2, Java: 7.0.8, MongoDB Realm Studio 11.1.1

#### Observations
* How frequent do the crash occur?
Always

* Does it happen in production or during dev/test?
Production / Test

* Can the crash be reproduced by you?
Yes

* Can you provide instructions for how we can reproduce it?
From several thousand customer databases i

[2021-12-22 17:31] jedelbo opened #5125 "Wrong JSON output if a Mixed property contains a TypedLink"
If standard JSON is selected the TypedLink will be output as "{TableKey(1),ObjKey(0)}" when it should be something like `{"table":"Bar","key":0}`.
In the case of XJSON the output is just blank which makes the output invalid.

[2021-12-27 03:19] kjhk8516 opened #5126 "[realm-core-10.6.0] Assertion failed: err == EEXIST with (err) = [22]"
#### SDK and version
SDK : Cocoa (Cocoa, Java, etc)
Version: 10.7.3

#### Observations
* How frequent do the crash occur?
-> about 10% reproduced

* Does it happen in production or during dev/test?
-> in production

* Can the crash be reproduced by you?
-> can reproduce often in multi-threading circumstance

* Can you provide instructions for how we can reproduce it?

#### Crash log / stacktrace

[2021-12-27 09:24] fealebenpae commented on #5126
Hey @kjhk8516, thanks for submitting this issue! Unfortunately there is little we can glean from just the stack trace alone - could you please help us reproduce the crash by making a small repro project or at least describe the steps necessary?

[2021-12-27 16:35] fealebenpae commented on #5058
The C API allows migration and compaction to be configured on `realm_config_t` (mirroring Object Store's `Realm::Config`). The imperative `realm_compact()` also exists, though I really suggest using just `realm_config_set_should_compact_on_launch_function()`.

I opened https://github.com/realm/realm-core/pull/5127, which should cover realm file deletion.

Please open individual issues for any othe

[2021-12-27 16:35] #5058 closed

[2022-01-03 13:07] nirinchev commented on #3898
@jsflax @ianpward can someone on the core team pick this up please?

[2022-01-03 13:21] nirinchev opened #5129 "Query LIMIT does not appear to be taken into account when evaluating queries"
#### Expected results
A query with a LIMIT clause should stop evaluation as soon as the max number of matches are found. E.g. `Id = oid(...) OR Id = oid(...) ... LIMIT(1)` should stop evaluation after the first match.

#### Actual Results
It looks like the entire query is evaluated before the limit clause is applied. I.e. all matches are found, then only the first one is returned. This is inferred

[2022-01-03 13:28] nirinchev commented on #5129
Note, the code to create a results with a filter can be found [here](https://github.com/realm/realm-dotnet/blob/134936ca02297864dae4664a1412c1f7a17b05ad/wrappers/src/filter.hpp#L34-L64). The call to `.Any()` at the end is basically calling `results.get_query().count()`.

[2022-01-04 13:13] jedelbo commented on #5129
I can see one problem in this test and it appears right above in `results.get_query().count()`. Here you call `count()` directly without the limit parameter. I am sure you would get a different result if you called `results.size()` that internally would call count with the descriptor_ordering in place.

[2022-01-04 14:20] fealebenpae commented on #5121
Hey @liefersfl,
A limitation in encrypted realm files is that they aren't always portable across platforms. The biggest problem in this space is virtual memory page size - for example macOS uses 4kb, and 64bit iOS devices use 16kb, which makes encrypted realm files created on one platform unusable on another platform.
I suspect that the realm files you have troubles with might come from platforms

[2022-01-04 14:33] fealebenpae commented on #5107
Hey @umarpazir11,
This sounds very much like https://github.com/realm/realm-java/issues/6893. I'm not very familiar with the internals myself, but it seems that Android 11 changed the permission model of working around scope storage in a way that breaks filesystem locks used by realm.

[2022-01-04 14:34] nirinchev commented on #5129
Oh, I did not realize that, thank you! This looks like a bug in the SDK that we'll need to fix.

[2022-01-04 14:37] #5017 closed

[2022-01-04 14:58] cmelchior commented on #5107
Yes, with Android 11 scoped storage is now enforced. This means the only way for apps to share files is through the Storage Access Framework (https://developer.android.com/guide/topics/providers/document-provider). Unfortunately, there isn't a way we can support this from the native side.

The only way to use it would be to copy a file from shared storage to internal storage, use it, and then copy

[2022-01-04 15:15] ianpward commented on #3898
@bmunkholm is this on the quick wins list?

[2022-01-04 15:26] RedBeard0531 commented on #4841
Is this the same as #4941? That was solved by #5013.

[2022-01-04 21:35] sync-by-unito[bot] opened #5131 "Adding objects to Realm before creating a subscription should automatically create one"
If you open a FLX Realm and start adding objects to it before creating subscriptions, you'll get a session error along the lines of "must send QUERY before uploading changes to objects (ProtocolErrorCode=109)". We should make it so we automatically create an empty subscription set and send the QUERY message before we start any upload.

[2022-01-04 22:36] sync-by-unito[bot] opened #5132 "Core should eagerly send schema instructions before sending QUERY"
In dev mode, the QUERY message may contain tables/properties that the server doesn't know about, so the client should send an UPLOAD with the schema instructions before sending a QUERY message.

Code for the test:

[code]

[2022-01-05 11:40] liefersfl commented on #5121
Hi @fealebenpae,
thank you for the information. Until now there were no problems with interchanging the database between Android and iOS. I have a database of a customer who didn't change the platform. The database seems to suddenly stopped working. But of course, when i try to open it on my mac the platform changed.

Since these databases contains very sensible and personal data, i would like to

[2022-01-05 11:41] nirinchev commented on #5129
Thanks, this turned out to be a bug in the way we were doing .Count - when I added the descriptor as you suggested, we're seeing significant performance improvement:

[code]

[2022-01-05 11:41] #5129 closed

[2022-01-05 12:59] sync-by-unito[bot] opened #5133 "Client sends query="null" after removal of all subscriptions"
After removing the last FLX subscription, the client will send a query like `QUERY(query_version=2, query_size=4, query="null"` rather than an empty object - {}. The server will then reject this with `Client provided query with bad syntax: expected top-level query data to be an object, but got null`.

The code for this is:

[code]

[2022-01-06 08:17] #5125 closed

[2022-01-06 08:24] bmunkholm commented on #3898
@ianpward Yavor is assigned now.

[2022-01-06 08:47] edualonso opened #5137 "Calling `Results::sum`/`min`/`max` on a `RealmList` field returns its memory address"
From a Slack conversation:

So the question is: should this throw an exception or should it compute the aggregate across multiple lists?

[2022-01-06 17:42] Zanchee commented on #4994
I've attached an example that uses Realm-Swift and `valuePublisher` that shows a short example of this issue happening. Hopefully it helps.

[Example.zip](https://github.com/realm/realm-core/files/7823736/Example.zip)

[2022-01-07 00:28] sync-by-unito[bot] opened #5139 "Handle client reset error when an FLX sync client uploads an object that is out of view"

[2022-01-07 14:43] sync-by-unito[bot] opened #5142 "Immediately return ready future from get_state_change_notification if SubscriptionSet has not been modified"
Currently, if a user has never performed any updates to the `SubscriptionSet` (i.e. no initial query has been sent) and they call `await waitForSynchronisation()`, it will never resolve, as the state will never transition from pending.

It would be helpful if `await waitForSynchronisation()` could immediately throw an error in this situation, so the user is made aware that they need to first creat

[2022-01-07 15:24] sync-by-unito[bot] opened #5143 "Crash: Assertion failed: !m_unbind_message_sent"
I hit this crash once running through our test suite. I have not been able to reproduce it.

I believe it was during running this test [https://github.com/realm/realm-js/blob/td/flexible-sync-final-squash/integration-tests/tests/src/tests/sync/flexible.ts#L276](https://github.com/realm/realm-js/blob/td/flexible-sync-final-squash/integration-tests/tests/src/tests/sync/flexible.ts#L276) (and after r

[2022-01-07 16:29] Bodnar-Dan commented on #4050
We updated to 10.20.0 but we are still able to see the crash. It's an iOS app, still using the objc version of Realm.

In addition to what was already said above. This crash happens for only one RLMObject (from a total of 88 Realm objects that we have), and only when it is added to Realm (not updated/deleted). The object is owner of 3 other objects (on which 2 are RLMArrays) each of them with its

[2022-01-07 16:58] sync-by-unito[bot] opened #5145 ""Bad input message order" when creating an object with no subscriptions"
**Steps to reproduce**

1. Open a FLX enabled app
1. Do not add any subscriptions
1. Create an object

**Expected behaviour**

Client reset error 

**Actual behaviour**

"Bad input message order" error

[2022-01-09 01:46] jbreams commented on #5142
This should be fixed now by #5146

[2022-01-09 01:46] #5142 closed

[2022-01-09 01:47] jbreams commented on #5132
I think this should be fixed by #5135

[2022-01-09 01:47] #5132 closed

[2022-01-09 17:16] sync-by-unito[bot] opened #5148 "Support DiscardLocal client resync modes with FLX sync"

[2022-01-09 19:28] nirinchev commented on #5131
Yeah, I added this before I learned that the server will reject uploads that don't match any subscriptions. I guess we can close this as soon as we add a test that the server responds with something meaningful.

[2022-01-10 10:38] tomduncalf commented on #5142
I still see it waiting indefinitely if I `await realm.getSubscriptions().waitForSynchronization()` on an empty subscription set - maybe let's chat about this later? Not an urgent issue from my perspective anyway

[2022-01-10 10:40] jedelbo opened #5152 "UserIdentity metadata table grows indefinitely"
Every time `SyncUser::update_identities` is called, new objects are created although similar objects already exists,

[2022-01-10 12:34] jedelbo commented on #5121
@liefersfl If I read your stackoverflow post correctly, then you have a file that you can be opened by Realm Studio v5.0.3 without problems, but fails to be opened with MongoDB Realm Studio. Is this correct?

[2022-01-10 12:49] jedelbo commented on #4773
@JunsW your case is not caused by memory allocation error. It seems to be a different error. I encourage you to create a new issue for this if it is still found to be a problem.

[2022-01-10 12:54] desistefanova opened #5154 "Implement function realm_results_snapshot in C API"
It is needed in realm-dart SDK a snapshot of realm results to be made before to iterate through this result.
Function realm_results_snapshot is described in reaml.h,  but its implementation is missing in realm-core.

[2022-01-10 13:03] liefersfl commented on #5121
@jedelbo I have one file which can be opened by Realm Studio v5.0.3 but not with MongoDB Realm Studio. I can view the file but as soon as i try to change something, Realm Studio v5.0.3 immediately crashes with the "DecryptionFailed" exception.

I also have another file which cannot be opened by both Studios (DecryptionFailed).

Both files cannot be opened by the iOS/Android sdk (DecryptionFailed).

[2022-01-10 14:04] jedelbo commented on #3709
Fixed by #5015

[2022-01-10 14:05] #3709 closed

[2022-01-10 14:59] jedelbo commented on #4050
@tgoyne Based on your experience with notifiers, does this ring a bell? This seems to be happening when an object containing a list is created. Could it be that the list object is not properly transferred to the notification transaction?

[2022-01-10 16:55] sync-by-unito[bot] opened #5156 "SubscriptionSets should not hold any database resources"

[2022-01-10 19:19] tgoyne commented on #4050
The crashing line here is https://github.com/realm/realm-core/blob/master/src/realm/object-store/impl/list_notifier.cpp#L100

We check if the List is valid at the start of that function (`!m_list || !m_list->is_attached()`), and any sort of bug in the handover process should result in it just taking the list-was-deleted code path. There's also a call to `size()` before this which had to have retur

[2022-01-10 19:54] ironage commented on #4050
Are the apps that are crashing using Realm sync?
I'm just realizing that the indices reported to the replication for notifications are the full set including unresolved links, and this section of code is using LnkLst which would then translate an index incorrectly to something out of bounds.

[2022-01-10 20:00] #5139 closed

[2022-01-10 20:18] tgoyne commented on #4050
Oh, notification bugs related to unresolved links would be pretty unsurprising, and also would explain why it's only happening on one object (if that object is just the only one with a list with an unresolved link). This hopefully just requires fixing the index in `Replication::list_set()` etc. then? I assume we need to pass the raw index to sync replication so we can't adjust it earlier.

[2022-01-10 20:41] blagoev commented on #5063
this is fixed by https://github.com/realm/realm-core/pull/5064

[2022-01-10 21:15] sync-by-unito[bot] opened #5157 "Interrupting initial bootstrap can cause orphan object"
During the bootstrap phase of a new realm (i.e. when you're transitioning from an empty query to query version 1), if you get disconnected during the bootstrap phase, it's possible that when you reconnect there will be objects that were in view during the initial bootstrap attempt that were sent and integrated that are no longer in view. Since the server has not established a download cursor in hi

[2022-01-10 22:36] #5156 closed

[2022-01-11 11:27] #5152 closed

[2022-01-12 10:33] jedelbo opened #5164 "Indices in change notifications are not reported correctly if unresolved links are present"
If an unresolved link is inserted or deleted, it should not be reported.
If a normal link is replaced with an unresolved link, it should be reported as a deletion.
If an unresolved link is replaced with a normal link, it should be reported as an insertion.
Indices should be "user space" indices (unresolved links should be filtered out)

[2022-01-12 10:33] jedelbo commented on #4050
It should be noted that the client cannot insert unresolved links. But I agree that there are problems in handling replication of unresolved links. Created #5164.

[2022-01-12 13:49] #5018 closed

[2022-01-12 20:01] sync-by-unito[bot] opened #5165 "SubscriptionStore should begin with an empty query for state change notifications"
An empty SubscriptionStore is currently actually empty which means that you can't wait for state change notification on the "0" query version because there's no object available to update when the schema handshake batch is received. We should make it so you wait on the "0" query version for completeness's sake of our Subscriptions API.

[2022-01-14 08:32] cmelchior commented on #5165
This is actually slightly worse.... Calling `get_state_change_notification` on an empty SubscriptionSet just hangs forever, which makes for a really bad user experience. So if this is hard to implement, we should instead throw an exception so people know this isn't working.

[2022-01-14 14:23] #5133 closed

[2022-01-14 14:24] #5145 closed

[2022-01-14 14:36] cmelchior commented on #5165
This test is failing in Java:

[code]

This the the trace log:

[code]

[2022-01-14 14:40] cmelchior commented on #5165
Sure, maybe I just misunderstood the description in the OP... `can't wait for state change notification`

You can wait, it just never completes, which is worse, but this isn't blocking, so I'll just recheck when a fix is merged.

[2022-01-14 15:39] Bodnar-Dan commented on #4050
No. We're using Realm just for persisting data locally.

[2022-01-14 23:36] #5143 closed

[2022-01-17 09:33] liefersfl commented on #5121
@jedelbo, @fealebenpae Is it possible to recover the data in these files? There is important information stored that my customers urgently need...

[2022-01-17 11:37] #5164 closed

[2022-01-17 13:49] mwoollard opened #5173 "Unable to compile Realm when targetting watchOS"
#### Expected results
I can integrate Realm using Package.swift and create Xcode project from Package.swift and then compile.

#### Actual Results

[code]

#### Steps & Code to Reproduce
Setup library project using Package.swift
Integrate Realm in Package.swift
Open Package.swift with Xcode to create project
Build

#### Core version
Core version: 1.21.1

[2022-01-17 15:25] ironage commented on #4195
This was fixed by [#5030](https://github.com/realm/realm-core/pull/5030)

[2022-01-17 15:25] #4195 closed

[2022-01-18 10:33] finnschiermer opened #5174 "exposure of partial writes with encryption (and multiprocess)"
When encryption is enabled, we write sectors of the file in a non-atomic fashion. In case the writing process is aborted (app process terminated) in the midst of such a write, the sector will only be partially written, leading to a corrupted file.

It is unclear if this bug has been observed IRL, but it is clearly possible.

This problem is even more important if/when we want to support multi-proc

[2022-01-18 12:27] cmelchior commented on #5077
I think returning `null` would be more correct if there is 0 objects, this applies to `min`, `max`, `average` and `sum`. The only one that should return 0 is `count` IMO.

This is also what SQLite does.

Note, this might be a breaking change in some SDK's, although it should be trivially convertible in the SDK's where this might be a problem.

[2022-01-18 16:48] tgoyne commented on #5077
The sum of zero values is zero.

[2022-01-18 17:59] cmelchior commented on #5077
SQLite returns `null` in this case as well: https://www.sqlite.org/lang_aggfunc.html, but interestingly enough they also throw if you overflow. We actually talked in the Kotlin SDK about what should happen in that case.

[2022-01-18 18:16] tgoyne commented on #5077
That document specifically calls out sum() returning null as a design flaw in SQL and they provide a nonstandard alternative which does the right thing. `sum(Ø) = null` is about as sensible as `0 * x = null`.

[2022-01-18 18:50] #5165 closed

[2022-01-19 08:48] finnschiermer commented on #4773
I'm closing this, since the OP has not responded for months and the last entry above is for a different error altogether.

[2022-01-19 08:48] #4773 closed

[2022-01-19 09:50] leemaguire commented on #5173
Hi @mwoollard, I cannot reproduce your issue on an Apple Watch Series 7, nor can I reproduce the issue when building against a 32bit WatchOS target. Its best if you move this issue to Realm-Swift and fill out the issue template so we can help you diagnose this better.

[2022-01-19 10:22] jedelbo commented on #5121
@liefersfl Hard to say if the data can be recovered, but I would assume there is a chance with the file you can open and read, but not write to. But it would require that we can get hands on the files. You can send the file to us privately, but I am not sure if you and your customer are willing to do that.

[2022-01-19 12:59] finnschiermer commented on #5174
Initial possible solution:

wrt. incomplete sector write due to process termination:

Before writing a sector, write its payload and metadata to a separate file (the "pending-write-file") and sync it to disk. When a realm is first opened, a check is made and if a valid pending write exists, it is performed and the pending-write-file is marked invalid.
After syncing the pending-write-file, commence

[2022-01-20 15:01] mwoollard commented on #5173
OK will do, have produced a cut down project that reproduces the issue, will add to a new issue in Realm-Swift.

[2022-01-20 15:01] #5173 closed

[2022-01-20 19:16] papafe opened #5180 "SyncManager::run_file_action does not check return value of copy/delete"
Method `SyncManager::run_file_action` in `sync_manager.cpp` does not check for return value of `copy_realm_file` and `remove_realm` (lines 197 and 199)

https://github.com/realm/realm-core/blob/d8cfb353751fe42292446507a8a4846489326bd3/src/realm/object-store/sync/sync_manager.cpp#L180-L205

[2022-01-21 03:54] paulyoung commented on #3691
May I ask how things stand now that there is `realm-js`?

I don’t know anything about how `realm-js` was implemented but I’m particularly interested in using Realm via Wasm if possible.

[2022-01-21 07:27] bmunkholm commented on #3691
@paulyoung ream-js is implemented on top of realm-core via it's external C++ API. So no magic there.
Wasm is still something we would like to use/support, but last time we looked into this there were still limitations preventing that unfortunately.

[2022-01-21 14:11] finnschiermer commented on #4402
Possible further improvement we should add: if a search index is set on the primary sorting key, we can use that index to limit the total number of objects loaded - this will have an even more significant performance impact.

[2022-01-24 09:21] leemaguire opened #5184 "decimal128 does not parse floats correctly"
#### Expected results
`decimal128` to parse numbers correctly

#### Actual Results
When a float is passed into a `decimal128` it is converted to a string. At that point precision is lost.

#### Steps & Code to Reproduce
[Link to original ticket](https://github.com/realm/realm-swift/issues/7608)

- Create a `decimal128` with a float value of `1159336.05`
- The result of the boxed value will be `1.1

[2022-01-24 13:28] sync-by-unito[bot] opened #5185 "Unify error handling in Core"
All exceptions thrown in Core/Storage Core/Parser should derive from ExceptionForStatus.

[2022-01-24 15:32] papafe opened #5187 "Client reset loop on Xamarin.iOS"
We have a reproducible example of a client reset loop happening in Xamarin.iOS with the .NET SDK.
The application is fairly simple, and what happens is:
- A sync realm is opened using the non-sync api (no `AsyncOpenTask` involved)
- We await `_realm.SyncSession.WaitForDownloadAsync()` that internally calls ` session->wait_for_download_completion`
- This causes an exception due to `Bad client ident

[2022-01-25 16:46] #1488 closed

[2022-01-26 01:32] palaniraja opened #5190 "Realm Swift `abort() called `- Encrypted db getting corrupted and can't recover"
#### SDK and version

SDK :  RealmSwift
Version: 10.21.1 (via SPM)

#### Observations

* How frequent do the crash occur?
** Infrequent, but fatal error as our application db is encrypted
* Does it happen in production or during dev/test?
** Reported both in production as well as development. Production uses a old version 10.1.4 with carthage and dev 10.21.1 with SPM
* Can the crash be reproduced

[2022-01-26 15:17] #5184 closed

[2022-01-26 23:30] JRWilding opened #5192 "Realm Kotlin MultiPlatform Sync in jvmApp on Windows"
#### Expected results

Can open a synced Realm database without crashing the app

#### Actual Results

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
C:\jenkins\workspace\realm_realm-kotlin_releases\packages\external\core\src\realm\objec

[2022-01-27 11:30] sync-by-unito[bot] opened #5193 "Trying to intern a string multiple times may lead to duplicates"
The internal map that keeps track of the intern strings created at any point has a bug when finding if a string has an intern or not. This is due to *realm::StringData* and *std::string* types having their **less than** operator behaving differently.

[2022-01-27 14:42] jedelbo commented on #5110
@jbreams You may want to take over this?

[2022-01-27 15:01] sync-by-unito[bot] opened #5195 "Cannot open in-memory Realm decryption failed"
A user has reported that they cannot open an encrypted in-memory Realm.

They initially defined an unencrypted in-memory realm, then updated the app to encrypt such realm.

The issue is caused because the in-memory realm file persists in disk if the Realm instances are not properly closed, this can happen if the user force closes the app, or if the system updates the app.

In the user's case the o

[2022-01-27 15:04] clementetb commented on #5195
fixes realm/realm-java#7573

[2022-01-28 13:19] sync-by-unito[bot] opened #5199 "Unify error handling in sync client"

[2022-01-28 22:34] #5042 closed

[2022-01-31 12:08] finnschiermer commented on #5190
Potential explanation: https://github.com/realm/realm-core/issues/5174

[2022-01-31 15:52] jedelbo commented on #5107
@cmelchior So we can close this?

[2022-01-31 15:57] cmelchior commented on #5107
Yes

[2022-01-31 15:58] umarpazir11 commented on #5107
@jedelbo inside of only closing it will be better if they bring some ContentProvidor for realm database similar to android one.

[2022-01-31 17:17] ironage commented on #4724
@papafe  is this still happening? I think it was most likely fixed by https://github.com/realm/realm-core/pull/4785  but want to double check before closing.

[2022-01-31 20:52] ironage commented on #5126
Given the location of the assertion in the code and this information:

I suspect that this issue has been fixed by https://github.com/realm/realm-core/pull/4768 which was released in core v11.0.4 (cocoa v10.9.0 or later). Please try upgrading the Realm SDK to confirm if it solves your crashes. I will close this issue under the assumption that it has been fixed, but if it still doesn't work for you

[2022-01-31 20:52] #5126 closed

[2022-02-01 08:08] jedelbo commented on #5107
@cmelchior I will now close this, but I hope you have noted the comment above.

[2022-02-01 08:09] #5107 closed

[2022-02-01 08:13] jedelbo commented on #5056
@kneth please comment.

[2022-02-01 08:36] kneth commented on #5056
As Realm JavaScript doesn't expose counters - and it is not on the roadmap - I will suggest that we move the issue to the backlog.

[2022-02-01 08:37] #5099 closed

[2022-02-01 08:39] papafe commented on #4724
I just checked, the test now is passing, thanks!

[2022-02-01 08:39] #4724 closed

[2022-02-01 09:52] #5154 closed

[2022-02-01 10:38] jedelbo commented on #5043
Closing this as there is not a way to pursue the problem in this context. Investigation will continue as part of the further development of frozen objects.

[2022-02-01 10:38] #5043 closed

[2022-02-01 14:34] papafe opened #5208 "Read access violation when refreshing SubscriptionSet"
We are getting a "Read access violation" in here:

https://github.com/realm/realm-core/blob/6b05da97d0a9bd0bf61522a0342222443b35e196/src/realm/sync/subscriptions.cpp#L708

when refreshing the `SubscriptionSet` (line 335) in the callback of `get_state_change_notification `:

https://github.com/realm/realm-dotnet/blob/db0d9023937d06c9df089257a09fd4c16a4ca530/wrappers/src/subscription_set_cs.cpp#L329

[2022-02-01 14:51] RedBeard0531 opened #5209 "Sync client should treat websocket close code 1009 as request for client reset"
The server sends code 1009 when it receive a message larger than it can process. This is done inside the websocket library so it is impractical for it to send a true "in-band" error message which is how we normally signal client reset cases. Given that an oversized message (typically a giant single transaction) is a "sticky" condition that will keep happening whenever we reconnect, we should treat

[2022-02-02 00:54] j0shwheeler opened #5211 "app crash when initializing realm on iOS"
![image](https://user-images.githubusercontent.com/5866571/152076075-694954a1-f5af-4ac7-8168-54f3a9938e49.png)

CoreFoundation                      0x00007fff203a85db __CFRUNLOOP_IS_CALLING_OUT_TO_A_BLOCK__ + 12
9   CoreFoundation                      0x00007fff203a79ef __CFRunLoopDoBlocks + 434
10  CoreFoundation                      0x00007fff203a2a6d __CFRunLoopRun + 2532
11  CoreFoundation

[2022-02-02 09:46] cmelchior opened #5212 "Object Notifications do not trigger when nested objects change"
From Realm Java: https://github.com/realm/realm-java/issues/4786

**Goal**
Detect changes of nested objects of a single Object using Object Notifications .

**Expected Results**
Notifications of a single RealmObject would listen to changes of its nested objects.

**Actual Results**
Notifications from a single Object doesn't listen to changes of its nested objects.
Notifications from Results listen

[2022-02-02 11:31] finnschiermer commented on #5190
@palaniraja A clarifying question: The stack trace you've reported is from the second crash, right?
(you write that first the app crashes in the background, and then it crashes when you try to open the realm)

[2022-02-02 15:19] tgoyne commented on #5212
The rationale for this was basically that deep change checking turned out to be a major performance problem (to the extent that we were telling people to restructure their schema to avoid it), so we wanted to move away from it being the default and instead provide an easy to way to opt-in to it.

[2022-02-02 15:37] cmelchior commented on #5212
I guess it makes sense. I also thought we talked about this before, but couldn't remember the conclusions.

I guess nothing has really changed in performance since then, so will close this for now and implement keypath filtering in Kotlin.

[2022-02-02 15:37] #5212 closed

[2022-02-02 15:52] palaniraja commented on #5190
Yes, most of the time first crash happened in the background. But atleast one instance was reported with first crash when app was in foreground.

[2022-02-02 15:52] tgoyne commented on #5212
Deep change checking is a lot faster than it used to be, but it does still have the potential to take a very long time if an Object has a large List of Objects which themselves have Lists of Objects.

If keypath filters are a poor fit API-wise for what you're doing in Kotlin, supporting a custom max depth for checking (with a default of zero on the core side) would probably be a quick project to i

[2022-02-02 17:56] ironage opened #5215 "Set<Mixed>, Lst<Mixed> do not hide unresolved links well"
While testing collections of links, I found a difference in behaviour between removing an object and invalidating it. `LnkLst`/`LnkSet` hide invalidated links but `Lst<Mixed>` and `Set<Mixed>` do not have this capability. If a link in these collections is invalidated it becomes null and the size of the collection is not changed. Furthermore, the stored link is not a true null because operations li

[2022-02-02 20:07] palaniraja commented on #5190
We may have a scenario that reproduce corruption of encrypted db (realmswift v10.21.0)

 If there is a commit we can test and report back

[2022-02-03 01:19] ironage commented on #5187
@papafe my first thought is to check the stack of the error event handler. Do you initiate the user's error callback from the the event loop somehow, or is it a direct callback from the sync session's error handler? If it is the latter, then the sync session will still be alive. We'll need to track down what is keeping the session alive, so let me know if you want some help there.

[2022-02-03 01:20] ironage commented on #5187
Another approach would be to reduce your app reproduction into a core test case.

[2022-02-03 08:29] cmelchior opened #5216 "[C-API] Missing support for keypaths in change notifications"
ObjectStore support providing keypaths to Object/Results notifications. These are not exposed in the C-API, but should be:

- https://github.com/realm/realm-core/blob/master/src/realm/object-store/object.hpp#L128
- https://github.com/realm/realm-core/blob/master/src/realm/object-store/results.hpp#L299

[2022-02-03 09:19] papafe commented on #5187
@ironage We execute the client reset call inside the session error event handler. And I'm not sure if I'll be able to reproduce it in core easily 😁
@fealebenpae Do you think it would be worth looking at it the three of us together? I feel it would be more effective 😄

[2022-02-03 10:25] rorbech opened #5217 "[C-API] Align notification/callback registration mechanism in the C-API"
#### Describe your problem or use case
Align notification/callback registration mechanism in the C-API (and probably also in the core api itself).

I don't see why we need different "unregistration" mechanism for unregistration of notifications and callback. Notifications are currently release by `realm_release` where as callbacks are explicitly `unregister`'ed.

From SDK side we need to maintain

[2022-02-03 13:20] cmelchior commented on #5031
I don't think Map support is there yet?

[2022-02-03 16:05] jedelbo commented on #5031
This was cloned prematurely

[2022-02-03 23:04] ironage commented on #5211
Hi @j0shwheeler thanks for reaching out. Unfortunately the stack trace you provided doesn't tell us about what is going on at the time of the crash. It is likely that the stack of relevance is from a different thread, can you provide this? Are you able to reproduce this at all? What version of Realm are you using? Before we can help you track this down we will need a bit more information.

[2022-02-03 23:45] ironage commented on #5187
Are you reinitializing the Realm from within the error callback? If so the issue seems clear, you shouldn't be doing this part from within the error callback because that error callback is attached to a live sync session:

I imagine if you open the Realm again outside of the error handler, everything will be fine. If not, can you please direct me to your code so I am not making wrong assumptions?

[2022-02-04 09:15] #5193 closed

[2022-02-04 13:43] takameyer opened #5220 "Access to deleted ObjectIds from collection listener callback"
#### Describe your problem or use case
We are currently implementing a cache of object accessors in `realm-js` that we want be able to prune on modification or deletion events, keyed by the `object_id`.  Currently when I register a listener to a collection, I get a change set containing the indexes that were changed.  In the case of deletions, it is not possible to determine what objects were dele

[2022-02-04 13:53] nirinchev commented on #5220
Related to https://github.com/realm/realm-dotnet/issues/1600.

[2022-02-04 13:55] #5031 closed

[2022-02-04 14:34] cmelchior opened #5222 "[C-API] It isn't possible to clean up callbacks associated with RealmConfiguration"
The `realm::Config` struct has a number of callbacks that can be set on it:

https://github.com/realm/realm-core/blob/master/src/realm.h#L633
https://github.com/realm/realm-core/blob/master/src/realm.h#L658
https://github.com/realm/realm-core/blob/master/src/realm.h#L645

But they only have a `void* userdata` argument, which means there is no way to free SDK resources again. In Javas example, we n

[2022-02-04 14:38] fealebenpae commented on #5222
These callbacks run inside the `realm_open` call always and are not used after it returns. It's safe for the SDK to release their userdata resources after `realm_open` returns.

[2022-02-04 19:14] ironage commented on #5220
I don't think the first solution will work for collections of primitives because they don't have an object_id.

If your cache of objects is not "live", then why can't you use the deleted indices to remove the deleted items? If you update your cache according to the notifications you receive (moves, deletes) then you should be able determine which elements were deleted. This relies on you knowing w

[2022-02-04 21:02] ericjordanmossman opened #5223 "Crash during client reset if `notify_after_client_reset` or `notify_before_client_reset` are nil."
#### SDK and version
SDK : RealmSwift
Version: Core 11.9.0

#### Observations
If an sdk passes in a nil callback to `notify_after_client_reset` or `notify_before_client_reset`, then core will release a .clientResetError.
I believe they should be nullable?

#### Crash log / stacktrace
Exception happens [here](https://github.com/realm/realm-core/blob/master/src/realm/object-store/sync/sync_session.c

[2022-02-04 21:04] ericjordanmossman commented on #5223
This is for discardLocal mode.

[2022-02-05 00:31] pitoneux opened #5224 "fatal error: module map file [...]realm-swift/build/GeneratedModuleMaps-iphoneos/Bid.modulemap' not found"
#### Expected results
compile using Realm with SPM (no pod or carthage).
#### Actual Results
Compile fails
#### Steps & Code to Reproduce
I got ride of using carthage in my iOS project.  Now I'm trying to use spm to include Realm instead to simplify the build system. (tried both Realm 10.20.0 and 10.22.0). I'm using Xcode (13.2.1) GUI to do this. xcode-select point to the right version of xcode.

[2022-02-05 22:36] briannadoubt opened #5225 "SwiftUI / TextField - Typing too fast with an ObservedRealmObject bound value causes memory leak"
#### Expected results
Type text into a `SwiftUI.TextField` very quickly and move on with my day 🤪

#### Actual Results
A memory leak and frozen UI

#### Steps & Code to Reproduce
1. Clone project at https://github.com/briannadoubt/Tofu
2. Build and run app with a debug session
3. Focus cursor on any text field (they are all bound to their own @ObservedRealmObject key value)
4. Observe that typing

[2022-02-05 22:49] briannadoubt commented on #5225
It looks like this is not just binding to a var on ObservedRealmObject because if I set up a project with the bare implementation (below) it works just fine.

Any thoughts on why my project is crashing?

[code]

[2022-02-07 19:47] jbreams commented on #5208
Do you have a full stacktrace of this failure?

[2022-02-08 07:12] papafe commented on #5208
@danieltabacaru I'm not feeling really well, but the failing test is here (https://github.com/realm/realm-dotnet/pull/2797). Feel free to take it with someone else of the .NET team, they should be able to run it with you.

[2022-02-08 07:45] danieltabacaru commented on #5208
@papafe No worries

[2022-02-08 10:23] RedBeard0531 opened #5229 "Simplify FunctionRef special member functions"
The current code has a lot of workarounds for old compilers including gcc < 4.9. I think all of the currently-supported compilers should be fine with just defaulting all of the special member functions.

https://github.com/realm/realm-core/blob/2ea7baa42e676ab121a1fe691d0188507f9dc470/src/realm/util/function_ref.hpp#L59-L99

[2022-02-08 13:25] marcocattai opened #5230 "[realm-core-11.9.0] Assertion failed: local_ndx < m_page_state.size() with (local_ndx, m_page_state.size()) = [213, 128]"
2022-02-08 13:22:36.278558+0000 Hidden App[57128:388341] [Process] 0x11d877e18 - [pageProxyID=5, webPageID=6, PID=57147] WebPageProxy::didFailProvisionalLoadForFrame: frameID=3, domain=WebKitErrorDomain, code=102
/Users/marcocattai/Library/Developer/Xcode/DerivedData/BoardIQ-bfkllaficffjmghegjncueyemgof/SourcePackages/checkouts/realm-core/src/realm/util/encrypted_file_mapping.hpp:150: [realm-core-

[2022-02-08 15:20] c128128 commented on #3766
Same

[2022-02-08 16:43] sync-by-unito[bot] opened #5231 "Unify error handling in ObjectStore"
All exceptions thrown in ObjectStore should derive from ExceptionForStatus.

[2022-02-08 17:36] sync-by-unito[bot] opened #5232 "Implement Asymmetric Sync"

[2022-02-08 17:52] jsflax commented on #5208
Are we safe to close this then?

[2022-02-08 19:00] desistefanova opened #5233 "[C-API] Only for Mac OS: Accessing out of range index in Results throws "Unknown error" instead of OutOfBoundsIndexException"
#### Expected results
Error code: 34 . Message: Requested index 0 in empty Results

#### Actual Results
Error code: 1 . Message: Unknown error

#### Steps & Code to Reproduce
Try to access 0 index in an empty results. In other words try to call realm_results_get_object by index that doesn't exist.
Only for Mac OS the error code is not as expected.
Missing catch Results::OutOfBoundsIndexException i

[2022-02-08 20:38] nirinchev commented on #5208
The second bug is a core bug. We should either change `refresh()` and similar methods to be no-ops when operating on a subscription set with an invalidated `SubscriptionStore` or they should throw exceptions rather than crash.

[2022-02-08 22:03] #5223 closed

[2022-02-09 08:58] cmelchior commented on #5222
Unfortunately, that doesn't work for us, due to the way JNI works.

We are setting the callback in one method and using it in another. `jobject` (the callback) in JNI is only valid for the duration of 1 JNI call, so we are forced to make them Global References that must be manually cleaned up afterward.

Also, a configuration object can be used to open multiple Realms, so we cannot just release it

[2022-02-09 11:02] liefersfl commented on #5121
I was able to recover both of the databases :tada:.

I did this by commenting out the check in `realm-core/src/realm/util/encrypted_file_mapping.cpp:AESCryptor::read` and then open the database with the `readOnly: true` option.
I then used `realm.writeCopy(toFile, encryptionKey)` to create a new realm file which seems to be working fine.

[2022-02-09 12:47] sync-by-unito[bot] opened #5235 "Revisit design of Session/App/SyncManager and friends"
The OS layer wrapping Sync functionality has been a pain point when it comes to clear ownership of resources and proper cleanup when the SDK wants to tear down the machinery (e.g. due to a domain reload in Unity/app reload in MAUI).

We should revisit the component graph, try to simplify it, and improve test coverage, especially for http-based API, such as auth and user registration.

[2022-02-09 12:50] rorbech opened #5236 "[C-API] Ability to retrive schema version of a realm"
#### Describe your problem or use case
As part of migration (https://github.com/realm/realm-core/blob/master/src/realm.h#L72) we need to know the schema version to perform the appropriate migration steps from the old version to the new one. It is currently not possible to retrieve this through the C-API.

#### Describe the solution you'd like
Maybe just expose a `realm_get_schema_version(realm_t)`

[2022-02-09 15:58] jbreams commented on #5230
Hi @marcocattai, in order to troubleshoot this further, we'll need some more information:

* What SDK are you using (Cocoa, Java, Swift, etc) and what version?
* How frequently does the crash occur?
* Does it happen in production or during dev/test?
* Can the crash be reproduced by you?
* Can you provide instructions for how we can reproduce it?

Any hints you can provide about what led to the cra

[2022-02-09 18:33] #5131 closed

[2022-02-09 18:35] sync-by-unito[bot] opened #5237 "Make partitionKey immutable on Realm Sync-Client"
The current behavior of MongoDB Realm Sync when a sync-client updates the partitionKey of an object is for the sync-server to interpret this as a client-reset and send the command across the sync-protocol. The sync-server will reject the operation and cause the client to re-download the entire state of the realm prior to the operation to update the partitionKey. This will have severe performance a

[2022-02-09 22:26] nirinchev opened #5238 "Refreshing user profile after the app has been destroyed leads to an assertion failure"
This is fairly specific to Unity, but I believe the following chain of events will result in assertion failures/segmentation faults in the `get_profile` code:

1. We call `App::log_in_with_credentials`, which at the end calls [`App::get_profile`](https://github.com/realm/realm-core/blob/b7520e11238163d831daf86e80a587a97d23cf5b/src/realm/object-store/sync/app.cpp#L549) for the newly logged-in user.

[2022-02-10 16:23] #5195 closed

[2022-02-11 18:59] anton-plebanovich opened #5241 "realm::Spec::init(realm::MemRef) crash abort() called"
#### SDK and version
SDK : realm-cocoa
Version: 10.22.0

#### Observations
* How frequent do the crash occur? - **Saw just once for ~500 active users**
* Does it happen in production or during dev/test? - **Production**
* Can the crash be reproduced by you? - **No**
* Can you provide instructions for how we can reproduce it? - **No**

#### Crash log / stacktrace
SIGABRT ABORT 0x00000001b7f03964
cr

[2022-02-14 09:52] onelogapp opened #5242 "Assertion failed: mixed.get(m_row_ndx).get<ObjLink>() == target_link"
#### SDK and version
SDK : Realm Swift
Version: 10.10 -> 10.22

#### Observations
* How frequent do the crash occur?
  Every time app starts, in Realm.asyncOpen
* Does it happen in production or during dev/test?
 Dev. App is not released yet. However issue present both in release and debug builds
* Can the crash be reproduced by you?
Yes

* Can you provide instructions for how we can reproduce it?

[2022-02-15 14:15] papafe opened #5246 "Implement RefreshAsync at core level"
The .NET SDK tried to change the implementation of `RefreshAsync` in order to solve an async issue brought up by a user (https://github.com/realm/realm-dotnet/issues/2739). The new implementation (https://github.com/realm/realm-dotnet/pull/2783), even though seemed to work at first sight, was quite hacky, and would probably make more sense to implement the missing functionality at the core level.

[2022-02-15 14:21] marcocattai commented on #5230
@jbreams
- [Cocoa](https://github.com/realm/realm-cocoa.git)  - I tried to use 10.22.0 (error message is above) and 10.21.1 (same problem
- the crash occour very often
- it was happening in dev/test but also in the testflight version of the app
- yes, I can reproduce it.
- unfortunately I will need time for this - I had to revert back to 10.19.0
- One more thing, I can see an alert icon under Pack

[2022-02-15 16:11] ironage commented on #5220
Why were the indexes useless? Sort/Filter should be taken into account when reporting indices on a Results notifier. Perhaps I am not understanding your use case, but can't you iterate through all items in your cache and find the deleted items by checking the index?

[2022-02-15 19:21] takameyer commented on #5220
I'll try to explain my implementation a bit better.  The implementation I have setup for React depends on a shared cached between a `objects` `filtered` and `sorted`. At the moment I have one single listener on the `objects` call, which is all I need to re-render the UI on any change and do any cache pruning.  The `filtered` and `sorted` calls get wrapped in a proxy without a listener registered a

[2022-02-15 20:11] ironage commented on #5220
Copying out objects to an in-memory cache appears to subvert our intention of providing `Results` as a live view. Is there something that the `Results` type does not provide to you that your custom object cache does?

[2022-02-15 20:36] takameyer commented on #5220
It provides the ability to trigger a re-rerender and modifies any object references that have changed in the result.  In the React use case, we would actually just be fine with a frozen result and a listener fires on any change and provides two frozen versions of the result (prevResult and currentResult).  Live results are not helpful in the React context, as the UI doesnt repaint unless a render

[2022-02-15 20:48] nirinchev commented on #5220
While the JS approach here might be fairly specific to the way React does re-rendering, having Core provide a frozen/pinned version of the collection as it was before the change is something that has been discussed previously and will be address a number of different use cases, the one requested by @takameyer included.

[2022-02-16 08:18] oleliabo commented on #5230
I see the same assert running iOS 15.3.1 / react-native / https://github.com/realm/realm-js/releases/tag/v10.13.0

[2022-02-17 12:20] oleliabo commented on #5230
A bit more info. This problem started appearing after upgrading to realm-js v10.13.0 (uses realm-core-11.9.0). It happens on multiple devices. Downgrading to realm-js v10.12.0 (realm-core-11.8.0) does not help. We have encryption enabled.

Here is the callstack from the debugger.

[code]

[2022-02-17 15:54] caeduk commented on #2786
is 2022 the lucky year where we finally see this develop?

[2022-02-17 17:21] desistefanova opened #5249 "[C-API] Setting in_memory member of Config"
We need to implement InMemory realm support in Dart SDK.
Could we have some option to set in_memory member of Config thought C-API?

[2022-02-17 17:43] desistefanova opened #5250 "[C-API] Support for custom FIFO files paths in realm.h"
Missing C-API for setting custom FIFO file paths in realm.h. We need it for Dart SDK.

[2022-02-17 23:55] #5211 closed

[2022-02-18 08:00] wangqiannan opened #5251 "react-native app crashed when debug with chrome"
#### SDK and version
SDK : react-native
Version: realm:10.11.0

#### Observations
* How frequent do the crash occur?  100%
* Does it happen in production or during dev/test? dev
* Can the crash be reproduced by you? yes
* Can you provide instructions for how we can reproduce it? react-native app crashed when debug with chrome

#### Crash log / stacktrace

#### Steps & Code to Reproduce

[2022-02-18 11:42] finnschiermer commented on #5241
@anton-plebanovich Thx for reporting this, we'll take a look.

[2022-02-18 11:46] finnschiermer commented on #5242
@onelogapp Thx for reporting this. We'll investigate.

[2022-02-21 11:14] nirinchev opened #5255 "Revisit client reset errors"
I believe all fatal errors should be considered client reset errors. Currently, we have a fairly peculiar behavior when a user gets a bad changeset, which leaves their Realm in an unsyncable state, but they can't utilize the recovery mechanisms in the client reset handler to restore app functionality. While there's some value in differentiating developer errors from our own errors, we should not b

[2022-02-21 16:11] Bodnar-Dan commented on #4050
I see the issue #5164 was merged, but didn't made it to 11.9.0.
Is there a workaround for this or double check that we can do? It's getting critical for us, as we are facing repetitive crashes for some users. Internally, we were still unable to reproduce the crash, with or without the debugger attached.

We have simplified as much as we could the object structure, we removed properties that were n

[2022-02-22 08:27] #5106 closed

[2022-02-22 09:45] jedelbo commented on #5255
@ironage can you comment on this?

[2022-02-22 10:23] kraenhansen opened #5258 "`LockFileEx() failed: Incorrect function` when opening a Realm on Windows stored on the WSL file system"
#### Expected results

The ability to open Realm files regardless of the file system they are on.

#### Actual Results

Users of Realm Studio experience an exception from Core when opening a Realm file stored on the Windows Subsystem for Linux file system:

[code]

This is most likely related to WSL's lack of support for the `LockFileEx` system call.
See https://github.com/microsoft/WSL/issues/576

[2022-02-22 10:37] jedelbo commented on #5230
As this can be reproduced by you in a test environment, would it be possible for you to share a realm file that triggers this behavior? You can share it privately with me (jorgen.edelbo@mongodb.com).

[2022-02-22 10:40] oleliabo commented on #5230
Yes, thanks, I can share the database. Can you point me to instuctions how to copy it off my phone? We are not using any kind of server sync.

[2022-02-22 10:46] #5121 closed

[2022-02-22 10:48] #4596 closed

[2022-02-22 13:00] #5236 closed

[2022-02-22 16:20] jedelbo commented on #4050
If you are not using sync, #5164 is not relevant for you. We will try to find out what we can do to find the root cause of this problem.

[2022-02-22 18:13] tkaye407 commented on #5255
A lot of these errors dont really exist any more, but I agree with the basic sentiment. Things like BadChangeset should be considered client reset errors it seems like. Otherwise im not sure how a client would get out of the situation

[2022-02-22 20:20] ironage commented on #5255
We can certainly revisit the classification of individual errors and our error handling in general. But I am not convinced that everything should cause a client reset. I think it is useful to have a fatal error when it is known that retrying will not help (eg: bad_query, switch_to_pbs, switch_to_flx_sync, wrong_protocol_version, unknown_message, bad_syntax...)

For BadChangeset specifically, reapp

[2022-02-22 21:12] nirinchev commented on #5255
I think the "they just have to remove all references to the Realm, delete it..." part is rather optimistic. Typically when a client reset happens, the app is in the middle of something and for a modular application like most modern ones are, it's non-trivial to centrally shut down all components that may or may not be using Realm at this time. The fact that we also have a distinction between clien

[2022-02-22 23:11] ironage commented on #5255
I agree it is not trivial to handle manual client resets right now. We are both reducing the complexity and the frequency of occurrence with upcoming features. But we cannot entirely eliminate the possibility of a fatal error.

In my opinion, if the server rejects a changeset which the client believes to be valid, reinstalling the app may actually be the best course of action because that allows t

[2022-02-23 10:46] #5249 closed

[2022-02-23 10:46] #5250 closed

[2022-02-23 10:55] jedelbo commented on #5230
@oleliabo Unfortunately I don't know the debugging environment for iOS. @leemaguire can you help?

[2022-02-23 16:41] finnschiermer commented on #5174
A simulated crash during writing has been shown to produce a corrupt realm-file, confirming the described problem.

[2022-02-24 20:41] oleliabo commented on #5230
@jedelbo  I was a bit lazy, found nice instructions here:
https://www.mongodb.com/developer/how-to/realm-ios-database-access-using-realm-studio/#track-down-realm-data-files---real-ios-devices

Have now sendt you the file.

[2022-02-25 11:38] clementetb opened #5267 "Fallback to anonymous pipes when named pipes are not allowed"
#### Describe your problem or use case
Realm is not compatible with Android Instant Apps, it crashes on startup. It is caused because named pipes are not allowed by SELinux. We have tested that anonymous pipes are allowed though.

#### Describe the solution you'd like
We would like to have a seamless runtime fallback mechanism to use anonymous pipes for the scenarios where, like on Instant Apps, n

[2022-02-25 12:19] jedelbo commented on #5230
@oleliabo Thank you for the file. It turns out that one of the pages in the file, after decryption, contains what looks like random data. Like it has been decrypted with the wrong key. How we end in this state is yet unknown. If some reproducible steps that lead to this situation can be identified, then we might be able to find the root cause.

[2022-02-25 21:21] oleliabo commented on #5230
We started seeing this after upgrading realm-js from v10.11.0 to v10.12.0 / v10.13.0.
We have only seen it on iOS so far, but this could be coincidental.
We see it on both iPhone 8 and 13.

I cant provide any detailed steps to reproduce Im afraid.

[2022-02-26 22:08] tfe opened #5272 "SIGABRT: (header->m_top_ref[1], get_file_path_for_assertions()) > IncidentFeature"
#### SDK and version

SDK: realm-swift
Version: 10.7.5

#### Observations

I was instructed by the stack trace to post here.

This crash is from our first build that started using Realm notifications, so I suspect something related to that. However the methods in the stack trace show it accessing a Realm that we do *not* use notifications on.

* How frequent do the crash occur?
  * This is the fir

[2022-02-28 08:59] Bodnar-Dan commented on #4050
I saw in Realm documents and in this thread https://github.com/realm/realm-swift/issues/7164 that it's recommendable to use GCD rather than Threads for doing background work.
We do have one Thread that is doing a specific task whenever an object that is causing the crash is added to Realm. We use this approach: https://academy.realm.io/posts/realm-notifications-on-background-threads-with-swift/ to

[2022-02-28 09:28] clementetb commented on #5267
Closes realm/realm-java#7640

[2022-02-28 09:38] cmelchior commented on #4613
The primary requirements: Realm changed and Schema callbacks was exposed directly. So closing this as I don't think there is any other need right now.

[2022-02-28 09:38] #4613 closed

[2022-02-28 11:49] rorbech commented on #4808
It probably makes sense to allow during migration, but feels very dangerous that it is allowed for normal writes without a duplicate violation check when committing.  To me it really sounds like "preventing primary key updates" for normal writes should be enforced by core semantics instead of as implementation details throughout the various SDKs.

[2022-02-28 12:02] nirinchev commented on #4808
Sounds like something ideally changed as part of the public API rework when we have something wrapping the entire object interface.

[2022-02-28 12:09] jedelbo commented on #5272
Yes, the stacktrace shows that this is happening during opening of the realm file. The "Application Specific Information" we get here does not say much, but it suggests that the realm file is on what we call "streaming format" which is used when we export a realm into a new file. Do you know how this file has been created? Is it a file that has been opened without problems before, but suddenly fai

[2022-02-28 12:14] #4806 closed

[2022-02-28 12:42] cmelchior commented on #4808
Hi @jedelbo We agree that it should be possible to have the same primary key during migrations, so this cannot be implemented everywhere. But it seems weird that we are forcing all SDK's similar checks that prevent changing primary key values outside that.

Since ObjectStore knows when the migration callback is being invoked, it should be possible for ObjectStore to enable this behavior whether in

[2022-02-28 17:33] desistefanova opened #5275 "[C-API] Exposing config cache in realm.h"
Missing C-API for setting config cache from Dart SDK.

[2022-03-01 00:10] tfe commented on #5272
Ah, I see. We create this file initially by making a copy of a "seed" Realm file included in the app bundle, using realm-swift's `writeCopy(toFile:encryptionKey:)`.

Is there a failure scenario for that operation which could leave the file in a state that it would cause this problem?

[2022-03-01 06:31] ChristianFox opened #5276 "Crash when adding model with polymorphic child. Assertion failed: [objBase->_objectSchema.className isEqualToString:_info.rlmObjectSchema.className]"
#### SDK and version
SDK : Cocoa (Swift)
Version: RealmSwift: 10.23.0, RealmDB: 11.9.0 (latest atm)

#### Observations
* How frequent do the crash occur?
Every time

* Does it happen in production or during dev/test?
dev/tests

* Can the crash be reproduced by you?
Yes

* Can you provide instructions for how we can reproduce it?

**Models**

[code]

**Tests**

[code]

#### Crash log / stacktrace

[2022-03-01 06:33] ChristianFox commented on #5276
That should work right?

[2022-03-01 08:14] jedelbo commented on #5272
Ok, one step closer to solving this. However it is still a bit of a mystery that you are not able to reproduce the error i a test environment. I would assume that all generated files are identical. It this happening for multiple users?

[2022-03-01 10:32] sync-by-unito[bot] opened #5277 "Synced Realm -> synced Realm conversion fails to sync with server"
When invoking `realm->write_copy(<path>, <encryption key>);` to copy one synced Realm to another synced Realm, subsequent attempts to upload changes to the server stall and timeout -- even when there are no changes.

`wait_for_upload_completion` ([here](https://jira.mongodb.org/browse/RCORE-982)) does not not return when called on the newly created Realm.

Reproduction (in JS) and logs are availab

[2022-03-01 14:56] ChristianFox commented on #5276
No it shouldn't, I get it now :)

[2022-03-01 14:56] #5276 closed

[2022-03-01 16:18] tgoyne commented on #4050
There isn't any obvious reason why that would cause problems.

[2022-03-02 11:28] #5233 closed

[2022-03-02 11:58] jedelbo commented on #5275
From reading the comments in `shared_realm.hpp` I get this:
[code]
So is this needed in order to make some tests in the Dart SDK?

[2022-03-02 12:05] nirinchev commented on #5275
The comment is misleading. The configuration options should not be exposed via the SDK API, but should be exposed to SDKs. For example, the .NET SDK sets `cache = true` for all user-opened Realms.

[2022-03-02 12:06] jedelbo commented on #5275
Thanks

[2022-03-02 12:06] desistefanova commented on #5275
Could you please check with @jsflax. It appeared that this comment is not relevant already.
In Dart SDK we are not able to use realm instance caching in any way. It might slow down the performance.

[2022-03-02 12:06] jedelbo commented on #5275
The support will be added.

[2022-03-02 14:11] sync-by-unito[bot] opened #5283 "Updating embedded property results in KeyNotFound exception"
This is the stack trace of an object store test that reproduces the issue:

[code]

[2022-03-03 17:28] sync-by-unito[bot] opened #5288 "Base Recovery feature"
Attempt to recover locally committed changes during client reset.

[2022-03-03 17:35] sync-by-unito[bot] opened #5289 "Client reset cycle detection"
Detect and prevent automatic recovery cycles. This can happen when applying the recovered changes themselves create a new client reset.

[2022-03-03 17:36] sync-by-unito[bot] opened #5290 "Integrate the new server error code"
The server team will provide a new error format describing whether or not a recovery is allowed. This requires bumping the sync client protocol version, parsing the new code, and responding to the reset accordingly.

[2022-03-03 17:43] sync-by-unito[bot] opened #5291 "Performance benchmarking recovery mode"
Provide a performance baseline for recovery and make sure that it scales reasonably well with the number of recovered changesets.

[2022-03-03 18:09] fealebenpae commented on #5187
After some research we determined the issue was in the .NET SDK 😁

[2022-03-03 18:09] #5187 closed

[2022-03-03 20:19] jbreams commented on #5242
@onelogapp , are you able to capture sync client trace-level logs when this crash happens? Would you also be willing to share the realm file that fails to asyncOpen? The assertion is happening [here](https://github.com/realm/realm-core/blob/b2fa44ef12b9eeb89c9e86439bcdbed442506110/src/realm/obj.cpp#L1850) where it looks like we're trying to erase an object and a link to it in another table does no

[2022-03-03 21:50] nirinchev opened #5294 "Failure to perform automatic client reset should throw a more meaningful message"
Currently if automatic client reset fails, the actual error is logged, but the error passed back to the SDK is just a generic "Automatic recovery from client reset failed":

https://github.com/realm/realm-core/blob/96aaf9f2615304e7a99cd4488130f07a7aae64fd/src/realm/sync/noinst/client_impl_base.cpp#L1984-L1985

This is problematic because our users are much more likely to log errors that come in th

[2022-03-03 22:12] nirinchev opened #5295 "Client reset config should capture callbacks rather than a config reference"
When `make_client_reset_config` constructs a `ClientReset` object, it captures a reference to the session config in the notify_after/before lambdas. If the session and its config get destroyed by the time the lambda is invoked, we'll be operating with garbage memory. Since we only use the before/after callbacks from the config, we should just capture those directly.

[2022-03-04 08:23] rist opened #5298 "Cannot initialize value array during object creation"
#### SDK and version
SDK : Cocoa
Version: 11.9.0

This happens on tvOS 15.3

#### Observations
* How frequent do the crash occur?
Haven't seen much instances yet
* Does it happen in production or during dev/test?
Production
* Can the crash be reproduced by you?
Unfortunately no
* Can you provide instructions for how we can reproduce it?
Unfortunately no

#### Crash log / stacktrace
[code]

[2022-03-04 08:25] rist opened #5299 "Trying to remove non-existent backlink"
#### SDK and version
SDK : Cocoa
Version: 11.9.0

This happens on tvOS 15.3

#### Observations
* How frequent do the crash occur?
Haven't seen much instances yet
* Does it happen in production or during dev/test?
Production
* Can the crash be reproduced by you?
Unfortunately no
* Can you provide instructions for how we can reproduce it?
Unfortunately no

#### Crash log / stacktrace

[code]

[2022-03-04 08:26] rist opened #5300 "Crash while consolidating freelist"
#### SDK and version
SDK : Cocoa
Version: 11.9.0

This happens on tvOS 15.3

#### Observations
* How frequent do the crash occur?
Haven't seen much instances yet
* Does it happen in production or during dev/test?
Production
* Can the crash be reproduced by you?
Unfortunately no
* Can you provide instructions for how we can reproduce it?
Unfortunately no

#### Crash log / stacktrace
[code]

[2022-03-04 08:58] sync-by-unito[bot] opened #5301 "Implement sync history compression"

[2022-03-04 10:07] Bodnar-Dan commented on #4050
I can confirm the background thread execution is not at fault. We flagged out the background task and the crash is still happening.
We really need a bit of help understanding better the crash, because I think the key here is that this is happening only on one object.
Could this happen because of a poorly implemented notification block? Or the crash happens before those are even called? We added mo

[2022-03-04 10:30] #5277 closed

[2022-03-04 12:11] leemaguire opened #5303 "Exception when accessing Object from previous transaction"
#### Expected results
Be able to access an Object from a previous transaction

#### Actual Results
Accessing the object from a previous transaction results in  `"No object with key '5' in 'class_object'"` when using `
[code]

but it works successfully retrieving the Object from Results directly like so:
[code]

#### Steps & Code to Reproduce
[code]

#### Core version
Core version: 11.10.0

[2022-03-04 14:17] cmelchior opened #5306 "[C-API] Updating objects does not support ignoring values that are equal (in order to suppress notifications)"
All SDK's currently have a concept of different modes when updating objects.. E.g. in JS: https://docs.mongodb.com/realm-sdks/js/latest/Realm.html#create

This concept is currently not exposed in the C-API.

I suspect doing this might be tricky, since this feature is only available through the Object API in ObjectStore, but we need it eventually in the C-API. So adding this most likely depends on

[2022-03-04 18:55] palaniraja commented on #5174
@finnschiermer  can we have the link to the special version of realm-core? and is it part of [realm-swift (v10.23.0) released 4 days ago](https://github.com/realm/realm-swift/releases/tag/v10.23.0 )?

[2022-03-04 22:06] tfe commented on #5272
@jedelbo It's actually still at just one user (though dozens of times for them). I thought by now we'd be seeing it from more. Perhaps something just went wrong during the copy operation, resulting in a corrupted file?

Is it possible for me to detect this scenario before it happens, or catch this error and recover from it? The current situation where I have a user whose app just crashes on launch

[2022-03-04 23:26] ironage commented on #5298
Hi @rist thanks for reporting this. Do you have some indication of the frequency of this crash?  Are you able to share the schema of the classes that contain embedded objects?

Stating some observations from what I can tell from the stack trace provided, this assertion failure is triggered while writing a new object to the Realm, specifically, setting an non-nullable int property of a linked embed

[2022-03-04 23:29] ironage commented on #5299
Likely related to https://github.com/realm/realm-core/issues/5298

[2022-03-04 23:32] ironage commented on #5300
Related to https://github.com/realm/realm-core/issues/5298 and https://github.com/realm/realm-core/issues/5299#issuecomment-1059603226

[2022-03-05 19:56] rist commented on #5298
those realm crashes seem to become our most frequent crash in our tvOS app.
I see the same crash happening multiple times for a single user.

Embedded objects like this https://docs.mongodb.com/realm/sdk/swift/data-types/embedded-objects/ ?
I think we don't use that feature.

We have some relations like `    @objc dynamic var audioTracks = RLMArray<Track>(objectClassName: Track.className())` and s

[2022-03-06 14:41] Bodnar-Dan commented on #4050
One thing I saw in the latest release, there are certain situations when we have a different stack trace. In this scenario the crash happens inside a notification block, when updating the same object. Specifically, when we iterate the modifications and create a list with the changed objects (we are aware that the modifications reflect the changes in the old results and we do map it to the new resu

[2022-03-07 08:47] rist commented on #5298
Another important observation - our app is available on iOS and tvOS. We see those crashes only on tvOS even though both releases use the same Realm version and the code for the persistence layer is shared between platforms

[2022-03-07 09:55] sync-by-unito[bot] opened #5307 "Create API + Tests for Sectioned Results in Object Store"

[2022-03-07 09:56] sync-by-unito[bot] opened #5308 "Create API + Tests for Sectioned Results in Core C API"

[2022-03-07 13:53] mwoollard opened #5310 "Unable to compile for watchOS simulator on M1 systems"
Expected results
I can integrate Realm using Package.swift and create Xcode project from Package.swift and then compile for watchOS simulator on M1 hardware

Actual Results
/Users/markw/Library/Developer/Xcode/DerivedData/utrealm_apple-bradedzrezbnygezsnaxhbsvzeye/SourcePackages/checkouts/realm-core/src/realm/impl/simulated_failure.cpp:181:1: error: thread-local storage is not supported for the cu

[2022-03-08 09:18] jedelbo commented on #5306
@cmelchior so what you want is a "create_object" method where you can give a list of property values and an "update mode"?

[2022-03-08 09:19] cmelchior commented on #5306
Yes

[2022-03-08 10:13] sync-by-unito[bot] opened #5312 ""in" column name is not supported"
Having a column with the name "in" is not supported since the RQL parser will confuse the column name with the keyword "In".

[2022-03-08 10:59] #5312 closed

[2022-03-08 13:29] jedelbo commented on #5222
Yes, the problem is that we would not know when to call the cleanup function. We could maybe call the cleanup function every time a Realm has been opened, but then the SDK would have to add the callback function with new user data before every call to realm_open().

[2022-03-08 13:31] cmelchior commented on #5222
Having a manual cleanup function for the entire RealmConfiguration would probably be fine with us as we could hook it into our GC logic.

[2022-03-08 13:42] nirinchev opened #5315 "Async operations should terminate with an error if a fatal session error occurs"
All async wait operations - `Realm::get_synchronized_realm`,`wait_for_download_completion`, `get_state_change_notification` will wait forever in the event of a session error. We should instead cancel the wait and propagate the error back to the waiter so that they can handle it. To repro, make an additive schema change when dev mode is off and call `wait_for_upload_completion`. The logs should say

[2022-03-08 15:41] nicola-cab opened #5316 "Dictionary does not preserve keys stability between x64/x86 builds"
#### Expected results
Given a Dictionary, when accessing the values in a result that belong to a dictionary, the order of these values must always be the same no matter the target platform (x64/x86). Essentially, given 2 identical dictionaries, the hash function used should always keep the values in the same order.

#### Actual Results
Because we use a different hash function based on the target p

[2022-03-08 17:26] peytonshetler opened #5317 "App won't build after upgrading to latest version (SPM): "Thread-local storage is not supported for the current target""
#### Expected results
The app to build.

#### Actual Results
I recently upgrade our app from Realm 10.03.0 to 10.24.0 using Swift Package Manager. The app fails to build with the error "Thread-local storage is not supported for the current target".  The package specifies an iOS version of 11 but our deployment target is iOS 13.

Error: thread_local bool (*s_mmap_predicate)(size_t);
(line 181 of fi

[2022-03-08 17:38] nicola-cab opened #5318 "Enable the rest of object store tests for windows"
#### Describe your problem or use case
In order to enable object store tests for windows, we had to comment out some tests that did not run because of issues within the test itself, most probably related to how the realm file handle is used, opened and closed during the test itself.

#### Describe the solution you'd like
We need to enable these tests and figure out why or how to make the test comp

[2022-03-09 16:18] jbreams commented on #5255
Would an acceptable compromise be to allow users to manually trigger a client reset? So if they receive an error message that wouldn't automatically kick off a client reset they can tell the sync client to behave as though they had received a client reset error. Seems like if our answer to all kinds of problems is to just DiscardLocal reset yourself (which I'm not sure how I feel about as a policy

[2022-03-09 16:28] nirinchev commented on #5255
I think this would be wrong. It increases the burden on users to understand every single error code and figure out what to do when they occur and increases the burden on us to explain it to them and then support them when they mess up.

[2022-03-09 16:40] jbreams commented on #5255
Well I think just making all error codes trigger a client reset is wrong. Some of these errors indicate that real invariants in the sync protocol have been violated and it is unsafe to continue. If you get say "bad_compression" or "bad_message_order" - that means something has gone really wrong with how you're communicating with the server and we need to fix it. Client resets are unlikely to actua

[2022-03-09 17:48] nirinchev commented on #5255
If we can't say whether a client reset is the right response to a bad changeset error, how would a user be able to? For some of these the discussion is purely theoretical and I don't think it makes sense to spend too much time on it. E.g. I don't think we've ever seen `bad_compression` or `bad_message_order` out in the wild.

But my overarching point is that right now our SDKs expose two types of

[2022-03-10 12:58] finnschiermer commented on #5317
Hi! Is this the same problem as described here: https://github.com/realm/realm-swift/issues/7694 ?

[2022-03-10 13:15] mpobrien commented on #5255
Another consideration: in partition based sync, it's highly likely that a client that re-downloads the partition after a bad changeset will just end up getting the same error again, since it'll just be receiving the same history data each time.
In flexible sync, for bootstrapping clients the server synthesizes changesets directly from the state store so they are always guaranteed to be valid, and

[2022-03-10 13:43] nirinchev commented on #5255
A bad changeset can be triggered by an UPLOAD message in which case a client reset that discards the local realm will recover the client.

[2022-03-10 13:44] mpobrien commented on #5255
I think we're talking about two different bad changeset errors then: one in which the server rejects an incoming upload, vs. the client rejecting an incoming download - the case I was referring to above is just the latter.

[2022-03-10 13:47] nirinchev commented on #5255
Yeah, my point was that neither currently results in a client reset.

With the download path, there are realistic cases where a client reset could still recover the client. For example, there may be a bug in Core that randomly ignores CREATE_OBJECT instructions. In this case the client would be erroneously rejecting incoming downloads based on its current state. When the bug is fixed, a client res

[2022-03-10 15:56] finnschiermer commented on #5174
@palaniraja sorry for the late reply: We don't want to do an actual release containing something like this. I'll push a branch with it tomorrow.

We're proceeding to fix the issue described here (for single process scenarios), however my current assessment is that this is unfortunately not the root cause of any of the reported errors.

[2022-03-10 16:27] peytonshetler commented on #5317
Hey! I thought it _might_ be but I downloaded the fix posted for that issue and it's still failing for me. I'll attach the error message as well! All of our minimum deployment targets are at the recommended or higher than the  versions that I saw on MongoDB site.

Here's the details. Looks like it may not like watchOS 8.3?  For reference, we're targeting watchOS 6.2. Thanks!
<img width="652" alt="

[2022-03-11 08:46] cmelchior opened #5320 "String query predicate normalization should put field name first"
When roundtripping a query in Core, this happens:

Input: `left < $0 AND right > $1 AND top < $2 AND bottom > $3`
Output: `3460.57129 > left and 1460.57141 < right and 3460.57129 > top and 1460.57141 < bottom `

I would think that reading it like `property < some_value` is more readable as your mental model normally starts from the property name. Right now, I have to go through several mental hoop

[2022-03-11 12:27] finnschiermer commented on #5303
This is very creative use of the Core API.

For example, in
[code]
1) the variable prev_table_view is associated with the transaction prev_rt.
2) the variable prev_results is constructed from a realm that does not correspond to the transaction prev_rt.
3) but is carries the imported data belonging in prev_rt

It is still unclear exactly why it fails as it does, but in any case, it is not supposed

[2022-03-11 12:39] jedelbo commented on #5303
Yes, when you try to construct the Object it will use the transaction held by prev_results, which does not contain the object whereas the get() function will call try_get_object on the TableView which is created in the old transaction.

[2022-03-11 12:42] #5303 closed

[2022-03-11 14:31] jedelbo commented on #5298
It should be noted that the crashes shared above seem to be happening in totally different scenarios. So based on this, I don't have a good guess on what could be wrong here. If we can get a realm file, we might be able to find out more.

[2022-03-11 16:28] #4782 closed

[2022-03-12 00:54] palaniraja commented on #5190
ok I  have some additional info this time.

### Instance 1:

`Invalid top array size (ref: 29731232, size: 0)`

### Instance 2 & 3:

`libc++abi: terminating with uncaught exception of type realm::util::DecryptionFailed: Decryption failed`

but both failed with different call stack

<img width="1797" alt="failed-to-decrypt-instance2" src="https://user-images.githubusercontent.com/124864/157996570-9

[2022-03-15 12:32] #5216 closed

[2022-03-15 16:10] jedelbo commented on #5306
@cmelchior Would you only need support for setting simple properties or would you also need the ability to update list/sets/dictionaries and embedded objects?

[2022-03-16 16:02] nirinchev opened #5328 "Core enums should have explicit values"
A lot of SDKs are interfacing with Core by a C API where enums are passed between SDK/Core as an integer and translated into their respective enum values at the relevant layer. This means that any change to enum values in Core needs to be reflected in SDKs, which is error prone. Instead, Core should assign explicit values to the enums so that adding new values, regardless of its place in the file

[2022-03-16 16:05] cmelchior commented on #4852
After some discussion with @jsflax and @jedelbo this is what we need.

Ideally, errors from Core should fall into 3 broad exception types (as seen from a public consumer point of view):

- `std::illegal_argument`: This should only be thrown at the public API boundary and only validate input. This commonly turns into `IllegalArgumentException` in Kotlin.

- `std::logic_error`: This indicates misuse

[2022-03-17 01:23] thecoolwinter opened #5332 "Crash On Write w/ Encrypted Realm (instructed to report)"
#### SDK and version
SDK : Cocoa (Swift)
Version: Core: 11.9.0 RealmSwift: 10.22.0

#### Observations
* How frequent do*es* the crash occur? => semi-often.
* Does it happen in production or during dev/test? => Production
* Can the crash be reproduced by you? => No it's seemingly random. It looks like it has something to do with encryption of the realm file.
* Can you provide instructions for how w

[2022-03-17 01:34] thecoolwinter commented on #5332
After updating to Core: 11.11 & Swift 10.24.1 The problem persists.

And more info: This happens immediately after setting the realm configuration, the first time the realm is opened in the app. It does happen on a background thread but nothing has been done on any other threads yet so it's the realm is being opened only on that one thread.

Why isn't this being caught in the normal Realm error ha

[2022-03-17 07:33] #5238 closed

[2022-03-17 09:27] #5283 closed

[2022-03-17 10:30] jedelbo commented on #5283
An issue is automatically closed when we merge a PR that claims to fix the issue.

[2022-03-17 10:40] papafe opened #5336 "Add support for replaced indexes in CollectionChangeSet"
At the moment `CollectionChangeSet` support `modifications`, but this can indicate both that some properties of the object at that index changed, or that object was replaced by another one. It will be good if we could make a distinction between those two cases.

Related to https://github.com/realm/realm-dotnet/issues/2854

[2022-03-17 19:38] dianaafanador3 commented on #5317
Hi @peytonshetler would you mind testing this branch [dp/watchos_simulator_old_architecture_target_not_thread_local](https://github.com/realm/realm-swift/tree/dp/watchos_simulator_old_architecture_target_not_thread_local) and check if the fix works.

[2022-03-17 20:59] peytonshetler commented on #5317
@dianaafanador3 Hey! I just gave it a shot and it gave the same error 😬

[2022-03-17 21:01] dianaafanador3 commented on #5317
Are you using an M1, if so I just updated the branch with support for M1 Simulator as well.

[2022-03-17 21:05] dianaafanador3 commented on #5310
Hi @mwoollard I just pushed a branch with a possible fix for this. Can you test this on your side [dp/watchos_simulator_old_architecture_target_not_thread_local](https://github.com/realm/realm-swift/tree/dp/watchos_simulator_old_architecture_target_not_thread_local).

[2022-03-18 10:01] dianaafanador3 commented on #5317
Hi @peytonshetler someone else confirmed that this is working for M1 as well. Can you confirm it so we can put this on review.

[2022-03-18 13:34] peytonshetler commented on #5317
Hey! @dianaafanador3 I'm currently on an Intel Mac.

[2022-03-18 13:36] dianaafanador3 commented on #5317
Hey @peytonshetler u supposed that I'm not covering your simulator architecture on the conditional, would you happen to know which architecture is used?

[2022-03-18 14:25] peytonshetler commented on #5317
Here's our Watch architecture. I'm a pretty unfamiliar with sim architecture so let me know if there's any more info I can get you, thanks!

<img width="505" alt="Screen Shot 2022-03-18 at 9 23 06 AM" src="https://user-images.githubusercontent.com/42751684/159020854-d03ce2c3-4e1d-44d9-a300-e049e06e5b96.png">

[2022-03-18 19:42] dianaafanador3 commented on #5317
I uploaded a new condition to the test branch, I hope this one works @peytonshetler.

[2022-03-19 02:54] peytonshetler commented on #5317
@dianaafanador3 So it doesn't build but we do get a new error with this, haha. Here's an screenshot:

<img width="1199" alt="Screen Shot 2022-03-18 at 9 53 04 PM" src="https://user-images.githubusercontent.com/42751684/159104032-d6c9848e-3769-4c83-bba9-36213a01cab2.png">

[2022-03-21 08:45] sync-by-unito[bot] opened #5343 "App crashes when updating subscription while refreshing the access token"

[2022-03-21 12:23] michalrentka opened #5344 "Startup crash"
#### SDK and version
SDK : Cocoa
Version: 10.23.0

#### Observations
A user reported crashing on each startup. It was an existing user who probably recently updated the app, so it could be a migration issue. I can't reproduce it myself. The stack trace said to share the crash log.

#### Crash log / stacktrace
[code]

#### Steps & Code to Reproduce
From the crash report it looks like it's crashing

[2022-03-21 14:41] #5295 closed

[2022-03-21 23:28] palaniraja commented on #5190
Here you go another stacktrace with `DecryptionFailed` (ios 15.3.1) - #5174?

[code]

[2022-03-22 00:08] ironage commented on #5344
It is a shame we don't have the std::cerr output from this report. I assume from the stack trace that the cookie [check](https://github.com/realm/realm-core/blob/master/src/realm/alloc.hpp#L590) fails. I wonder if there be a race on the allocator's `m_ref_translation_ptr`? @finnschiermer does this look familiar?
@michalrentka does your application have other threads operating on this Realm as well

[2022-03-22 07:57] michalrentka commented on #5344
@ironage no, I always open a new realm when I work with database. So each thread should have separate realms.

To explain a bit how I work with Realm, I made this simple wrapper to access the database: https://github.com/zotero/zotero-ios/blob/master/Zotero/Controllers/Database/RealmDbStorage.swift

The app has a single `DbStorage` instance which holds a realm configuration. When I want to access

[2022-03-22 09:02] #5217 closed

[2022-03-22 23:07] nikitazernov opened #5345 "Crash when upserting a document with string _id field"
#### SDK and version
SDK : Realm Swift
Version: 10.24.2

#### Observations
Crash occurs when trying to upsert a document into a collection with `_id` field of type `String`.
Initial insert operation crashes, but update operation works well.
However, despite of crash, the document inserted successfully in the database.
When using `ObjectId` instead of `String` no crash occurs.

Crashes when documen

[2022-03-23 13:29] cmelchior opened #5347 "[C-API] Google credentials does not support. both IdToken and AccessCode"
Currently, the C-API only exposes:

[code]

But Google and ObjectStore support two different tokens:

[code]

So we need an API that can distinguish between these. Maybe something like

[code]

[2022-03-23 14:09] danieltabacaru commented on #5345
Hi @nikitazernov. Thank you for filling this. We are looking into it.

[2022-03-23 15:19] cmelchior opened #5348 "[C-API] AppCredentials::serialize_as_json() is missing"
`AppCredentials::serialize_as_json()` https://github.com/realm/realm-core/blob/master/src/realm/object-store/sync/app_credentials.hpp#L133 is missing from the C-API.

We need this for testing.

[2022-03-24 09:22] sync-by-unito[bot] opened #5349 "Create tool for obfuscating Realm data"
For many github issues that deal with core crashes, we often ask for the user's clientside Realm file. This creates friction for our users and support process since many of these realms can contain sensitive information. Would it be valuable and useful to create a tool, for instance a command line utility, which took as input a user's realm file, and overwrote the actual payload data with dummy ob

[2022-03-24 09:38] dianaafanador3 commented on #5317
@peytonshetler did you solve your issue?. Did you try cleaning the project and rebuild.

[2022-03-24 10:49] #778 closed

[2022-03-24 10:49] #2406 closed

[2022-03-24 11:07] #2239 closed

[2022-03-24 11:57] #2786 closed

[2022-03-24 13:46] sync-by-unito[bot] opened #5350 "Flexible Sync: Creating objects without subscriptions pins flexible session as "pending""
### How frequently does the bug occur?
All the time

### Description
Creating objects which isn't subscribed to, will experience the `Promise` returned from a call to `realm.subscriptions.update` will never resolve and the `state` won't ever be `Completed`.

### Stacktrace & log output
#### Client logs
This is the output from the logs:

[code]

#### Server logs
![server-logs](https://user-images.g

[2022-03-24 20:00] NZQN23 opened #5351 "Corrupt database after hard device reboot"
#### SDK and version
SDK : Cocoa (Cocoa, Java, etc)
Version: 10.24.1

#### Observations
* How frequent do the crash occur? => Just once, but affected two different apps at the same time
* Does it happen in production or during dev/test? => Dev
* Can the crash be reproduced by you? => No
* Can you provide instructions for how we can reproduce it? => No

#### Crash log / stacktrace
/Users/realm/work

[2022-03-25 08:09] danieltabacaru commented on #5351
@NZQN23 Thank you for reporting this. @jedelbo @finnschiermer Is this something you have seen before?

[2022-03-25 12:13] #1954 closed

[2022-03-26 16:41] driq commented on #5174
The report at https://github.com/realm/realm-swift/issues/7629 suggests that this might be a regression introduced in realm-core v11.7.0 or v11.8.0

[2022-03-28 07:39] cmelchior commented on #5328
Ah, sorry, I just ran into this in Kotlin in the C-API and noticed this issue which I thought was the same.

[2022-03-28 09:43] finnschiermer commented on #5174
The torn write problem (this issue) is much older, so there must be some other root cause for the recent reports of corruption with encryption enabled. We are investigating.

[2022-03-28 12:48] xxtz2018 opened #5357 "Failed to open database"
Hello, why did I fail to open the realm database with vs2019 on Windows platform? I set the realm browser as the startup item and compiled successfully, but failed to open the realm database. What is the reason? I can open it normally with realm studio.

The error message is that ：
error_prefix = "CreateFile(\"C:\\Users\\Administrator\\Desktop\\demo-v22\") failed: "
[screenshot.docx](https://githu

[2022-03-28 21:49] #5343 closed

[2022-03-29 12:17] finnschiermer opened #5360 "Crash with encryption - meta-issue"
# This is a meta-issue used to link up reports of crashes with encryption.

## All issues reported after introduction of async writes/commits:

Crash during commit: https://github.com/realm/realm-core/issues/5332, https://github.com/realm/realm-swift/issues/7659

Out of bounds during read_barrier: https://github.com/realm/realm-core/issues/5230, https://github.com/realm/realm-core/issues/5190 (las

[2022-03-29 16:33] #5110 closed

[2022-03-29 21:33] nirinchev opened #5363 "Realm::get_shared_realm should close the Realm in case of an error"
When an error occurs during `Realm::get_shared_realm`, the error gets propagated to the developer, but the Realm instance remains open, which then prevents deleting it. There's no way for the developer to then close it because they never get a reference to it. To repro, open a Realm with `initialization_function` set to something that throws, then try to delete the Realm file.